<template>
	<div class="accordion width" role="tablist" :id="'horiz-accordion-'+offerNr">
		<div class="card has-overlay" >
			<div class="side-button" id="collapse-btn-1" @click="changeTab(1)" :class="{'open' : activeTab >= 1 }">
				<ArrowCircle></ArrowCircle>
				<p class="e-tiny-text">DZĪVOKĻA ATRAŠANĀS VIETA</p>
			</div>
			<div
				class="collapse"
				id="collapse-1"
				v-bind:style="[activeTab == 1 ? { width: tabWidth} : {}]"
				:class="{'show' : activeTab == 1 }"
			>
				<div class="card-body" v-bind:style="{width: tabWidth}">
					<div class="image-container">
						<img
							src="/images/location/complex_03.svg"
							alt="lindenholma apartment loaction"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="card overlay-card" >
			<div class="side-button" id="collapse-btn-2" @click="changeTab(2)" :class="{'open' : activeTab >= 2 }">
				<ArrowCircle></ArrowCircle>
				<p class="e-tiny-text">IEDVESMAI</p>
			</div>
			<div
				class="collapse overlay-collapse"
				id="collapse-2"
				:class="{'show' : activeTab == 2 }"
				v-bind:style="[activeTab == 2 ? { width: windowWidth } : {}]"
			>
				<div class="card-body" v-bind:style="{width: windowWidth}">
					  <div class="carousel-wrapper">
						<VueSlickCarousel v-bind="slickOptions">
							<div class="slide" :key="0">
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/1.jpg', 1250) + ')'}" alt="galerijas bilde 1">
								</div>
							</div>
							<div class="slide" :key="1">
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/2.jpg', 1250) + ')'}" alt="galerijas bilde 2">
								</div>
							</div>
							<div class="slide col-2" :key="2">
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/3.jpg', 800) + ')'}" alt="galerijas bilde 3">
								</div>
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/4.jpg', 800) + ')'}" alt="galerijas bilde 4">
								</div>
							</div>
							<div class="slide" :key="3">
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/5.jpg', 1250) + ')'}" alt="galerijas bilde 5">
								</div>
							</div>
							<div class="slide" :key="4">
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/6.jpg', 1250) + ')'}" alt="galerijas bilde 6">
								</div>
							</div>
							<div class="slide col-2" :key="4">
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/7.jpg', 800) + ')'}" alt="galerijas bilde 7">
								</div>
								<div class="img-wrapper" :style="{backgroundImage:'url('+ global_statically('/images/apartments/inspiration/8.jpg', 800) + ')'}" alt="galerijas bilde 8">
								</div>
							</div>
						</VueSlickCarousel>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

export default {
	props: [
        "offerNr",
	],
	data() {
		return {
			activeTab: "",
			tabWidth: 0,
			windowWidth: 0,
			slickOptions: {
				slidesToScroll: 1,
				slidesToShow: 1,
				arrows: false,
				infinite: true,
				pauseOnHover: true,
				dots: true
			}
		};
	},
	methods: {
		changeTab(tab) {
			if (this.activeTab !== tab) {
				this.activeTab = tab;
			} else {
				this.activeTab = 0;
			}
			this.$emit("openOverlay", this.activeTab)
		},
	},
	mounted() {
		const horizontalAccordion = this.$el
		const tabWidth = horizontalAccordion.parentElement.offsetWidth
		const windowWidth = horizontalAccordion.parentElement.parentElement.offsetWidth
		const buttons = horizontalAccordion.getElementsByClassName("card")
		const buttonsPix = buttons.length * buttons[0].offsetWidth
		this.tabWidth = tabWidth - buttonsPix + 1 + "px";
		if (windowWidth < 950) {
			this.windowWidth = windowWidth + "px";
		} else {
			this.windowWidth = windowWidth - 91 * 2 + "px";
		}
	},
};
</script>

<style lang="scss" scoped>
	.accordion {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		display: flex;
		.card {
			flex-direction: row;
			flex-grow: 0;
			flex-shrink: 1;
			min-width: min-content;
			background-color: $beige;
			#collapse-1 {
				.image-container {
					height: 100%;
					img {
						height: 100%;
						width: auto;
					}
				}
			}
			#collapse-btn-2 {
				p {
					left: -18px;
				}
			}
			.collapse {
				transition: width 0.89s ease;
				height: auto;
				width: 0;
				overflow: hidden;
				.card-body {
					height: 100%;
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;
				}
			}
			&.has-overlay {
				margin-right: 46px;
			}
			&.overlay-card {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 100%;
				transition: width 0.89s ease;
				width: 0px;
			}
		}
		.carousel-wrapper {
			width: 100%;
			height: 100%;
			padding: 30px 0px;
			.slide {
			}
			.img-wrapper {
				display: flex !important;
				justify-content: space-evenly;
				align-items: center;
				align-content: center;
				img {
					user-drag: none;
					user-select: none;
					-moz-user-select: none;
					-webkit-user-drag: none;
					-webkit-user-select: none;
					-ms-user-select: none;
					height: 100%;
					width: auto;
				}
			}
		}
	}
</style>
