<template>
	<div class="accordion width" role="tablist" :id="'horiz-accordion-'+offerNr">
		<div class="card has-overlay" >
			<div class="side-button" id="collapse-btn-1" @click="changeTab(1)" :class="{'open' : activeTab >= 1 }">
				<ArrowCircle></ArrowCircle>
				<p class="e-tiny-text">{{$t('offers.tab1')}}</p>
			</div>
			<div
				class="collapse"
				id="collapse-1"
				v-bind:style="[activeTab == 1 ? { width: tabWidth} : {}]"
				:class="{'show' : activeTab == 1 }"
			>
				<div class="card-body" v-bind:style="{width: tabWidth}">
					<div class="image-container">
						<img
							:src="content.position_picture.path"
							alt="lindenholma apartment loaction"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="card overlay-card" >
			<div class="side-button" id="collapse-btn-2" @click="changeTab(2)" :class="{'open' : activeTab >= 2 }">
				<ArrowCircle></ArrowCircle>
				<p class="e-tiny-text">{{$t('offers.tab2')}}</p>
			</div>
			<div
				class="collapse overlay-collapse"
				id="collapse-2"
				:class="{'show' : activeTab == 2 }"
				v-bind:style="[activeTab == 2 ? { width: windowWidth } : {}]"
			>
				<div class="card-body" v-bind:style="{width: windowWidth}">
					<SectionOffersGallery v-if="content.gallery" :content="content.gallery.images"> </SectionOffersGallery>
					<SectionOffersGallery v-else > </SectionOffersGallery>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

export default {
	props: [
		"offerNr",
		"content"
	],
	data() {
		return {
			activeTab: "",
			tabWidth: 0,
			windowWidth: 0,
			slickOptions: {
				slidesToScroll: 1,
				slidesToShow: 1,
				arrows: false,
				infinite: true,
				pauseOnHover: true,
				dots: true
			}
		};
	},
	methods: {
		changeTab(tab) {
			if (this.activeTab !== tab) {
				this.activeTab = tab;
			} else {
				this.activeTab = 0;
			}
			this.$emit("openOverlay", this.activeTab)
		},
	},
	mounted() {
		const horizontalAccordion = this.$el
		const tabWidth = horizontalAccordion.parentElement.offsetWidth
		const windowWidth = horizontalAccordion.parentElement.parentElement.offsetWidth
		const buttons = horizontalAccordion.getElementsByClassName("card")
		const buttonsPix = buttons.length * buttons[0].offsetWidth
		this.tabWidth = tabWidth - buttonsPix + 1 + "px";
		if (windowWidth < 950) {
			this.windowWidth = windowWidth + "px";
		} else {
			this.windowWidth = windowWidth - 91 * 2 + "px";
		}
	},
};
</script>

<style lang="scss" scoped>
	.accordion {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		display: flex;
		.card {
			flex-direction: row;
			flex-grow: 0;
			flex-shrink: 1;
			min-width: min-content;
			background-color: $beige;
			#collapse-1 {
				.image-container {
					height: 100%;
          width: 100%;
					img {
            height: 100%;
            width: 100%;

            object-fit: contain;
					}
				}
			}
			#collapse-btn-2 {
				p {
					left: -18px;
				}
			}
			.collapse {
				transition: width 0.89s ease;
				height: auto;
				width: 0;
				overflow: hidden;
				.card-body {
					height: 100%;
					display: flex;
					justify-content: center;
					align-content: center;
					align-items: center;

          overflow: hidden;

          position: relative;
				}
			}
			&.has-overlay,&.overlay-card {
				&::before,&::after {
					content: '';
					z-index: -1;
					position: absolute;
					background-color: $beige;
					height: 100px;
					left: 0px;
					width: 100%;
					@media (max-width: 950px) {
						margin-left: 35px;
					}
				}
				&::before {
					top: -30px;
				}
				&::after {
					bottom: -30px;
				}
			}
			&.has-overlay {
				margin-right: 46px;
				z-index: 3;
			}
			&.overlay-card {
				position: absolute;
				top: 0px;
				right: 0px;
				z-index: 4;
				height: 100%;
				transition: width 0.89s ease;
				width: 0px;
			}
		}
		.carousel-wrapper {
			width: 100%;
			height: 100%;
			padding: 30px 0px;
			.slide {
			}

		}
	}
</style>
