<template>
  <div class="carousel-wrapper">
    <VueSlickCarousel
      ref="slick"
      v-if="showCarousel"
      v-bind="slickOptions"
    >
      <div
        v-for="(slide, index) in newSlidesArray"
        class="slide bg-image"
        :class="{'col-2': !slide.hasOwnProperty('info')}"
        :key="slideId(slide)"
      >
        <div
          v-if="slide.hasOwnProperty('info')"
          class="img-wrapper"
          :style="{ backgroundImage: 'url(' + global_statically(slide.path) + ')' }"
        >
        </div>
        <div v-else class="img-wrapper" 
          v-for="(vSlide,indexV) in slide" :key="indexV"
          :style="{ backgroundImage: 'url(' + global_statically(vSlide.path) + ')' }"
        >
        </div>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
let vertCount = 0;
export default {
  props: {
    content: {
      type: Array,
      default: () => {
        return [];
      },
    },
  },

  data() {
    return {
      showSlick: true,
      computedNext2Vertical: [],
      slickOptions: {
        slidesToScroll: 1,
        slidesToShow: 1,
        arrows: false,
        infinite: true,
        pauseOnHover: true,
        dots: true,
      },
    };
  },

  methods: {
    /**
     * Maybe unique ID for slide means that VUE knows
     * what to do when slides changes.
     *
     * Later Real Image ID could be used
     */
    slideId(slide) {
      let id = Math.floor(Math.random() * 100);
      return id;
    }
  },

  computed: {
    newSlidesArray() {
      let i = 0
      const newArray = []
      const elements = this.content
      while (i < elements.length-1) {
        if (elements[i].info.height > elements[i].info.width) {
            const newSlide = [elements[i], elements[i+1]]
            i+=2;
            newArray.push(newSlide)
        } else {
            newArray.push(elements[i])
            i++;
        }
      }
      return newArray
    },
    showCarousel() {
      // Main rule.
      if (!this.showSlick) {
        return false;
      }

      // Other rules
      let doShow = false;
      let content = this.content;

      if (content.length > 0) {
        doShow = true;
      }

      // mybe some other tests will be needed
      return doShow;
    },

  },

  mounted() {
  },

  watch: {
    content(newVal, oldVal) {
      let me = this;

      /**
       * Hide slider for one tick
       * so it refreshes
       */
      me.showSlick = false;
      this.$nextTick(() => {
          me.showSlick = true;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.carousel-wrapper {
  height: 665px;
  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    width: 100% !important;
    height: 100% !important;

    object-fit: cover;
    object-position: center;
  }
}

</style>
