<template>
    <div ref="offerIntro" class="intro" :class="{'destroy' : destroyIntro, 'closed' : closeIntro }">
        <div class="logo-text-container">
            <img class="logo" src="/images/logo/logo.svg" alt="Lindenholma logotips"/>
            <img class="logo-text" src="/images/logo/logo-text.svg" alt="Lindenholma logotips"/>
        </div>
        <div class="bg-image desktop">
            <img src="/images/apartments/edamistaba_01.png" alt="kitchen"/>
        </div>
        <div class="bg-image-mobile mobile" :style="{backgroundImage:'url(/images/apartments/edamistaba_01.png)'}">

        </div>
        <div class="overlay-text">
            <LineSplit text="Sveiks, Andrej"></LineSplit>
        </div>
        <div class="side-overlay" :class="{'closed' : closeIntro }">
            <div class="side-button" @click="collapseIntro()">
                <ArrowCircle></ArrowCircle>
                <p class="e-tiny-text">APSKATI SAVU PIEDĀVĀJUMU</p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: [

    ],
    data() {
        return {
            closeIntro: false,
            destroyIntro: false
        };
    },
    methods: {
        collapseIntro() {
            this.closeIntro = true
            const self = this
            window.setTimeout(function() {
                self.destroyIntro = true
            }, 1300)
        }
    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
.intro {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding: 31.5px 143px 31.5px 0px;
        overflow: hidden;
        opacity: 1;
        display: block;
        transition: opacity 0.89s ease;
        transition-delay: 0.7s;
        background-color: $beige;
        z-index: 5;
        display: flex;
        &.closed {
            opacity: 0;
        }
        .logo-text-container {
            position: absolute;
            top: 45px;
            left: 54px;
            display: flex;
            align-items: center;
            .logo {
                margin-right: 12px;
                height: 48px;
            }
            .logo-text {

            }
        }
        .bg-image {
            height: 100%;
            margin-right: 0px;
            margin-left: auto;
            padding: 30px 0;
            img {
                height: 100%;
                width: auto;
            }
        }
        .overlay-text {
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            h4 {
                line-height: 125px;
                font-family: $main-font;
                color: $pitch;
            }
        }
        .side-overlay {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            padding-top: 31.5px;
            padding-bottom: 31.5px;
            transition: width 0.89s ease;
            background-color: $beige;
            width: 111px;
            &.closed {
                width: 110%;
            }
            .side-button {
                height: 100%;
            }
        }
    }
</style>
