<template>
    <div class="offer">
        <div class="offer__details">
            <div class="address"> <img class="logo" src="/images/logo/logo.svg" alt="Lindenholma logotips"/>
            <p class="small-text fadeable" :class="{'fade' : openTab == 2 }">{{apartment.building.address}}</p></div>
            <div class="has-superscript building-type fadeable" :class="{'fade' : openTab == 2}">
                <h4 class="large-text">{{apartment.building.code}}</h4><LineSplit :text="apartment.layout.name" :superscript="true"></LineSplit>
                <!-- <p class="superscript">{{apartment.layout.name}}</p> -->
            </div>
            <div class="lines-box info fadeable" :class="{'fade' : openTab == 2 }">
                <div class="line-box tiny-text"><p>{{$t('offers.info.apartmentNr')}}</p> <p>{{apartment.nr}}</p></div>
                <div class="line-box tiny-text"><p>{{$t('offers.info.floor')}}</p> <p>{{apartment.floor}}</p></div>
                <div class="line-box tiny-text"><p>{{$t('offers.info.rooms')}}</p> <p>{{apartment.rooms}}</p></div>
                <div class="line-box tiny-text"><p>{{$t('offers.info.livingArea')}}</p> <p>{{apartment.living_area}}</p></div>
                <div class="line-box tiny-text"><p>{{$t('offers.info.outdoorArea')}}</p> <p>{{apartment.balcony_area}}</p></div>
                <div class="line-box tiny-text"><p>{{$t('offers.info.totalArea')}}</p> <p>{{apartment.total_area}}</p></div>
            </div>
            <div class="lines-box price fadeable" :class="{'fade' : openTab == 2}">
                <div class="line-box tiny-text"><p>{{apartment.is_for_rent ? $t('offers.info.priceRent') : $t('offers.info.price') }}</p></div>
                <div><h3 class="medium-text-3">{{Math.floor(apartment.is_for_rent ? apartment.rent_price : apartment.price)}}</h3></div>
            </div>
        </div>
        <div class="offer__side-tabs">

            <a v-if="apartment.layout.layout_pdf && activeTab != 0" class="pdf-button" :href="apartment.layout_pdf_url_without_lang + '/'+ selectedLocale" target="_blank">Print PDF <img src="/images/pdf.svg" alt=""/></a>
            <div class="apartment_layout">
                <div class="apartment_layout__container desktop" :class="{'wide': isWide}">
                    <img v-if="apartment.layout.image_base" ref="layoutBg" class="apartment_layout__bg" :src="apartment.layout.image_base.path|statically(900,900)" alt="apartment layout"/>
                    <div v-if="apartment.layout.clean_layout_svg" class="apartment_layout__fg" v-html="apartment.layout.clean_layout_svg"></div>
                    <div class="apartment_layout__pop-up" :class="area == 'none'?'hidden':''" div ref="popUp" >
                        <div class="room">
                            <p class="room-text"></p>
                        </div>
                        <div class="area">
                            <p class="has-superscript"><span class="area-text"></span> m<span class="superscript">2</span></p>
                        </div>
                    </div>
                </div>
                <div class="apartment_layout__container mobile">
                    <div class="map-wrap">
                        <client-only>
                        <l-map
                        :max-bounds="[[-69.70081290280357, -160.26963806152345],[75.82991732677597, 95.08716201782228]]"
                        :zoom="3"
                        :maxZoom="4"
                        :minZoom="2"
                            >
                                  <l-image-overlay
                                    :url="apartment.layout.image_base.path"
                                    :bounds="[[-60.70081290280357, -110.26963806152345],[60.82991732677597, 50.08716201782228]]"
                                    />
                        </l-map>
                        </client-only>
                    </div>
                </div>
            </div>

            <SectionOffersAccordion :offerNr="offerNr" :content="apartment" @openOverlay="openOverlay($event)"></SectionOffersAccordion>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        'offerNr',
        'apartment',
        'activeTab'
    ],
    computed: {
      selectedLocale() {
        return this.$i18n.locale;
      },
      isWide() {
          if (this.apartment.layout.image_base.info.width > this.apartment.layout.image_base.info.height) {
              return true
          }
      },
      price() {
          if (this.apartment.is_for_rent) {
              return this.$t('offers.info.priceRent')
          } else {
              return this.$t('this.offers.info.price')
          }
      }
    },
    data() {
        return {
            openTab: 0,
            area: "none"
        };
    },
    methods: {
        openOverlay(tab) {
            this.openTab = tab
            this.$emit("openOverlay", this.openTab)
        },
        hoverArea(area) {
            const hoverArea = area.dataset.id.split("--")[1]
            this.area = hoverArea
            const areaCenterElement = document.querySelector('.line[data-id="area--'+this.area+'"]')
            if (areaCenterElement !== null ) {
                const areaCenter = areaCenterElement.getBoundingClientRect()
                const areaParent = document.querySelector(".apartment_layout__fg").getBoundingClientRect()
                const x = (areaCenter.left + areaCenter.width/2) - areaParent.left
                const y = (areaCenter.top + areaCenter.width/2) - 10  - areaParent.top
                this.$refs.popUp.style.top = y + "px"
                this.$refs.popUp.style.left = x + "px"
                this.$refs.popUp.querySelector('.area-text').innerHTML = this.apartment.layout_data[this.area].area
                this.$refs.popUp.querySelector('.room-text').innerHTML = this.apartment.layout_data[this.area].name
            } else {
                this.area = "none"
            }
        },
        exitArea() {
            this.area = "none"
        }
    },
    mounted() {
        const layout = document.querySelector(".apartment_layout__fg")
        if (layout) {
            const allAreas = layout.firstElementChild.children
            const self = this
            allAreas.forEach(function(area){
                if (area.classList.contains('room')) {
                    area.addEventListener("mouseenter", function() {
                        self.hoverArea(area)
                    })
                    area.addEventListener("mouseleave", function() {
                        self.exitArea()
                    })
                }
            });
        }
        let self = this
        window.setTimeout(function(){
            self.$refs.layoutBg.style.display = "inline";
        }, 20);
    }
};
</script>
<style lang="scss" scoped>
@use '@/assets/variables';

.offer {
    padding: 31.5px 0px 31.5px 55px;
    display: flex;
    &__details {
        max-width: 25.5%;
        flex: 0 0 25.5%;
        padding-right: 43px;
        border-right: 1px solid $pitch;
        background-color: $beige;
        z-index: 2;
        .address {
            margin-top: 9px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            .logo {
                height: 48px;
            }
            p {
                padding-left: 13px;
            }
            > * {
                display: inline-block;
            }
        }
        .building-type {
            .large-text {
                line-height: 110px;
            }
            .superscript {
                font-size: 24px !important;
                top: 19px;
                line-height: 24px !important;
                span {
                }
            }
            margin-bottom: 35px;
        }
        .info {
            .line-box {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
        .price {
            margin-top: 79px;
        }
    }
    &__side-tabs {
        max-width: 74.5%;
        display: flex;
        flex: 0 0 74.5%;
        position: relative;
        .pdf-button {
            z-index: 99999;
            bottom: 0px;
            right: 100px;
            position: absolute;
            display: flex;
            justify-content: center;
            img {
                margin-left: 10px;
                display: inline-block;
            }
        }
        .apartment_layout {
            height: 100%;
            width: 100%;
            margin-left: -45px;
            position: relative;

            &__container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                margin: auto;

                // transform: translateX(-50%);
                height: 100%;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 900px) {
                    &.desktop {
                    display: none;
                    }
                }

                .apartment_layout__fg {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.desktop.wide {
                    // top: 50%;
                    // transform: translate(-50%,-50%);
                    height: 100%;
                    width: 70%;

                    .apartment_layout__bg, .apartment_layout__fg svg {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &__bg, &__fg {
                height: 100%;

            }
            &__bg {
                display: none;
                width: auto;
            }
            &__fg, &__pop-up {
                position: absolute;
            }
            &__fg {
                top: 0px;
                left: 0px;
                z-index: 2;
                svg {
                    height: 100% !important;
                    width: auto !important;
                }
            }
            &__pop-up {
                z-index: 1;
                transform: translate(-50%,-100%);
                opacity: 1;
                transition: opacity 0.21s ease-in;
                background-color: $bronze;
                padding: 8px 21px;
                p {
                    color: $beige;
                    font-size: 17px;
                }
                .area {
                        padding-right: 8px;
                    p {
                        .superscript {
                            line-height: 22px;
                            font-size: 11px;
                        }
                    }
                }
                &.hidden {
                    opacity: 0;
                }
            }
        }
    }
}
</style>
