<template>
    <div class="offer">
        <div class="offer__details">
            <div class="address"> <img class="logo" src="/images/logo/logo.svg" alt="Lindenholma logotips"/>
            <p class="small-text fadeable" :class="{'fade' : openTab == 2 }">Malduguņu iela 31</p></div>
            <div class="has-superscript building-type fadeable" :class="{'fade' : openTab == 2}">
                <h4 class="large-text">CH</h4><p class="superscript medium-text-2">04</p>
            </div>
            <div class="lines-box info fadeable" :class="{'fade' : openTab == 2 }">
                <div class="line-box tiny-text"><p>Dzīvokļa Nr.</p> <p>NA</p></div>
                <div class="line-box tiny-text"><p>Stāvs</p> <p>4</p></div>
                <div class="line-box tiny-text"><p>Istabu skaits</p> <p>4</p></div>
                <div class="line-box tiny-text"><p>Dzīvojamā platība</p> <p>102,5</p></div>
                <div class="line-box tiny-text"><p>Ārtelpu platība</p> <p>20,7</p></div>
                <div class="line-box tiny-text"><p>Kopējā platība</p> <p>122,2</p></div>
            </div>
            <div class="lines-box price fadeable" :class="{'fade' : openTab == 2}">
                <div class="line-box tiny-text"><p>Cena €</p></div>
                <div><h3 class="medium-text-3">123 000</h3></div>
            </div>
        </div>
        <div class="offer__side-tabs">
            <div class="apartment_layout">
                <div class="apartment_layout__container desktop">
                    <img class="apartment_layout__bg" src="/images/plans/apartment_layout.png" alt="apartment layout"/>
                    <svg class="apartment_layout__fg" viewBox="0 0 2008 2487" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="area--gulamistaba" d="M553 764.5L170 998.5L446.5 1458L833 1227L553 764.5Z" fill="#EE0044" fill-opacity="0.2" stroke="#EE0044"/>
                        <path id="area--viesu-istaba" d="M916.5 547.5L571 756L770.5 1090L943 988L983 1053L1158.5 949.5L916.5 547.5Z" fill="#EE0044" fill-opacity="0.2" stroke="#EE0044"/>
                        <path id="area--tolete" d="M770.5 1284L468.5 1465.5L583.5 1662.5L886 1480L770.5 1284Z" fill="#EE0044" fill-opacity="0.2" stroke="#EE0044"/>
                        <path id="area--dusa" d="M703 1885L625 1755.5L845 1625L811.5 1567L979.5 1464L1090 1652L703 1885Z" fill="#EE0044" fill-opacity="0.2" stroke="#EE0044"/>
                        <path id="area--virtuve-viesistaba" d="M1266.5 1559L711.5 1901L1012.5 2396.5L1786.5 2131.5L1854.5 2092.5L1575 1626.5L1510.5 1662.5L1467.5 1589L1334.5 1670L1266.5 1559Z" fill="#EE0044" fill-opacity="0.2" stroke="#EE0044"/>
                        <path id="area--balkons" d="M165.5 935.5L36 723.5L778.5 275.5L906.5 491L165.5 935.5Z" fill="#EE0044" fill-opacity="0.2" stroke="#EE0044"/>
                        <!-- <line id="viesu-istaba" x1="817" y1="951" x2="857" y2="951" stroke="black" stroke-width="4"/>
                        <line id="tolete" x1="657" y1="1471" x2="697" y2="1471" stroke="black" stroke-width="4"/>
                        <line id="dusa" x1="894" y1="1700" x2="934" y2="1700" stroke="black" stroke-width="4"/>
                        <line id="virtuve-viesistaba" x1="1205" y1="1827" x2="1245" y2="1827" stroke="black" stroke-width="4"/>
                        <line id="gulamistaba" x1="404" y1="1118" x2="444" y2="1118" stroke="black" stroke-width="4"/> -->
                    </svg>
                </div>
                <div class="apartment_layout__container mobile">
                    <div class="map-wrap">
                        <client-only>
                        <l-map
                            >
                                  <l-image-overlay
                                    url="/images/plans/apartment_layout.png"
                                    :bounds="[[0, 0], [712, 256]]"
                                    />
                        </l-map>
                        </client-only>
                    </div>
                </div>

            </div>
            <SectionOffersAccordionDemo :offerNr="offerNr" @openOverlay="openOverlay($event)"></SectionOffersAccordionDemo>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        'offerNr',
    ],
    data() {
        return {
            openTab: 0
        };
    },
    methods: {
        openOverlay(tab) {
            this.openTab = tab
            this.$emit("openOverlay", this.openTab)
        }
    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
@use '@/assets/variables';

.offer {
    padding: 31.5px 0px 31.5px 55px;
    display: flex;
    &__details {
        max-width: 25.5%;
        flex: 0 0 25.5%;
        padding-right: 43px;
        border-right: 1px solid $pitch;
        .address {
            margin-top: 9px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            .logo {
                height: 48px;
            }
            p {
                padding-left: 13px;
            }
            > * {
                display: inline-block;
            }
        }
        .building-type {
            .large-text {
                line-height: 110px;

            }
            margin-bottom: 35px;
        }
        .info {
            .line-box {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }
        .price {
            margin-top: 79px;
        }
    }
    &__side-tabs {
        max-width: 74.5%;
        display: flex;
        flex: 0 0 74.5%;
        position: relative;
        .apartment_layout {
            height: 100%;
            width: 100%;
            margin-left: -45px;
            position: relative;

            &__container {
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                margin-right: 50px;
            }
            &__bg, &__fg {
                height: 100%;

            }
            &__bg {

                width: auto;
            }
            &__fg, &__pop-up {
                position: absolute;
            }
            &__fg {
                top: 0px;
                left: 0px;
                z-index: 2;
                svg {
                    height: 100% !important;
                    width: auto !important;
                }
            }
            &__pop-up {
                z-index: 1;
                transform: translate(-50%,-100%);
                opacity: 1;
                transition: opacity 0.21s ease-in;
                background-color: $bronze;
                padding: 8px 21px;
                p {
                    color: $beige;
                    font-size: 17px;
                }
                .area {
                        padding-right: 8px;
                    p {
                        .superscript {
                            line-height: 22px;
                            font-size: 11px;
                        }
                    }
                }
                &.hidden {
                    opacity: 0;
                }
            }
        }
    }
}
</style>
