<template>
    <div class="mobile-intro">
        <div class="logo-text-container">
            <img class="logo" src="/images/logo/logo.svg" alt="Lindenholma logotips"/>
            <img class="logo-text" src="/images/logo/logo-text.svg" alt="Lindenholma logotips"/>
        </div>
        <div class="overlay-text-one">
            <h4 class="huge-text">Sveiks</h4>
            <h4 class="huge-text">{{client}}</h4>
        </div>
        <div class="overlay-text-two">
            <p>Lūdzu apskati piedāvājumu savā datorā vai planšetes ekrānā</p>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        "client"
    ],
    data() {
        return {}
    },
    methods: {

    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
    .mobile-intro {

    }
</style>
