<template>
    <div class="mobile-portrait">
            <img src="/images/other/rotate.png" alt="lindenholma rotate prompt"/>
            <p>{{content}}</p>
    </div>
</template>
<script>
export default {
    props: [
        "content"
    ],
    data() {
        return {}
    },
    methods: {

    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
    .mobile-portrait {
        width: 100%;
        height: 100%;
        background-color: $pitch;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
            img {
                width: 150px;
                height: auto;
            }
            p {
                width: 130px;
                text-align: center;
                margin-top: 40px;
                color: $beige !important;
                font-size: 18px;
            }
    }
</style>
