<template>
    <div class="mobile-intro">
        <div class="logo-text-container">
            <img class="logo" src="/images/logo/logo.svg" alt="Lindenholma logotips"/>
            <img class="logo-text" src="/images/logo/logo-text.svg" alt="Lindenholma logotips"/>
        </div>
        <div class="overlay-text-one">
            <h4 class="huge-text">Sveiks</h4>
            <h4 class="huge-text">{{client}}</h4>
        </div>
        <div class="overlay-text-two">
            <p>Lūdzu apskati piedāvājumu savā datorā vai planšetes ekrānā</p>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        "client"
    ],
    data() {
        return {}
    },
    methods: {

    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
    .mobile-intro {
        height: 100%;
        background-image: url('/images/apartments/mobile-bg.jpg');
        background-size: cover;
        background-position-y: center;
        .logo-text-container {
            position: absolute;
            top: 34px;
            left: 57px;
            display: flex;
            align-items: center;
            .logo {
                margin-right: 8px;
                height: 32px;
            }
        }
        .overlay-text-one, .overlay-text-two {
            position: absolute;
        }
        .overlay-text-one {
            top: 110px;
            left: 26px;
            h4 {
                line-height: 61px;
                font-weight: 600;
                font-family: $main-font;
                color: $pitch;
                &:last-child {
                    margin-left: 34px;
                }
            }
        }
        .overlay-text-two {
            top: 67px;
            right: 31px;
            width: 25%;
            p {
                font-size: 26px;
            }
        }
    }
    @media(max-width: 650px) {
        .huge-text {
            font-size: 77px !important;
        }
        .mobile-intro {
            .logo-text-container {
                position: absolute;
                top: 53px;
                left: 32px;
            }
            .overlay-text-one {
                top: 125px;
                left: -13px;
                h4 {
                    line-height: 55px;
                    &:last-child {
                        margin-left: 34px;
                    }
                }
            }
            .overlay-text-two {
                top: 270px;
                left: 51px;
                right: unset;
                width: 70%;

            }
        }
    }
</style>
