@font-face {
    font-family: 'Noe Display';
    src: url('NoeDisplay.eot');
    src: url('NoeDisplay.eot?#iefix') format('embedded-opentype'),
        url('NoeDisplay.woff2') format('woff2'),
        url('NoeDisplay.woff') format('woff'),
        url('NoeDisplay.ttf') format('truetype'),
        url('NoeDisplay.svg#NoeDisplay') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noe Display';
    src: url('NoeDisplay-Bold.eot');
    src: url('NoeDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('NoeDisplay-Bold.woff2') format('woff2'),
        url('NoeDisplay-Bold.woff') format('woff'),
        url('NoeDisplay-Bold.ttf') format('truetype'),
        url('NoeDisplay-Bold.svg#NoeDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Bold.eot');
    src: url('Axiforma-Bold.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-Bold.woff2') format('woff2'),
        url('Axiforma-Bold.woff') format('woff'),
        url('Axiforma-Bold.ttf') format('truetype'),
        url('Axiforma-Bold.svg#Axiforma-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Regular.eot');
    src: url('Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-Regular.woff2') format('woff2'),
        url('Axiforma-Regular.woff') format('woff'),
        url('Axiforma-Regular.ttf') format('truetype'),
        url('Axiforma-Regular.svg#Axiforma-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Ramillas';
    src: url('TTRamillas-Regular.eot');
    src: url('TTRamillas-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTRamillas-Regular.woff2') format('woff2'),
        url('TTRamillas-Regular.woff') format('woff'),
        url('TTRamillas-Regular.ttf') format('truetype'),
        url('TTRamillas-Regular.svg#TTRamillas-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Ramillas';
    src: url('TTRamillas-Bold.eot');
    src: url('TTRamillas-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTRamillas-Bold.woff2') format('woff2'),
        url('TTRamillas-Bold.woff') format('woff'),
        url('TTRamillas-Bold.ttf') format('truetype'),
        url('TTRamillas-Bold.svg#TTRamillas-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

