<template>
	<div class="awards-box container flex-container">
        <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <slot></slot>
        <div class="top">
            <h4 class="awards-text" :class="{'hidden': noDecor}">{{content.headline}}</h4>
            <div class="awards-list">
                <p v-for="(project,index) in content.projects" :key="index" class="cursor-plus" @mouseenter="highlightAwards(project.slug)">{{project.text}}</p>
            </div>
            <div class="all-awards">
                <div v-for="(award,index) in content.award" :key="index" class="image-box award-image-box" :class="award.projects">
                    <div class="image-wrapper">
                        <img :src="'../'+award.path" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="text-box">
                <div class="mobile-center logo-container">
                    <img class="logo" :src="'../'+content.logo" alt="vastint logo"/>
                </div>
                <p class="text main-text mobile-center">{{content.text}}</p>
                <p class="text text-ext mobile-center">{{content.textExt}}</p>
                <a class="button cursor-plus mobile-center" href="https://vastint.eu">{{content.button.text}}</a>
            </div>
            <div class="image">
                <img :src="(content.sideImage) | statically(900)" alt="vastint construction"/>
            </div>
        </div>
	</div>
</template>
<script>
export default {
	props: {
        index:null,
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        }
    },
	data() {
        return {

        }
    },
	methods: {
        highlightAwards(project) {
            let allawards = document.getElementsByClassName("award-image-box")
            allawards.forEach(function(itm) {
                itm.classList.remove("highlight")
            })
            let highlight = document.getElementsByClassName(project)
            highlight.forEach(function(itm) {
                itm.classList.add("highlight")
            })
        }
    },
	mounted() {},
};
</script>
<style lang="scss" scoped>
.awards-box {
    flex-wrap: wrap;

    .section-index {
        transform: rotateZ(-90deg);
        right: -77px;
        top: 110px;
    }
    .top, .bottom {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .top {
        display: flex;
        flex-direction: row;
        @media (max-width:950px) {
            padding-top: 150px;
        }
        .awards-text {
            display: inline-block;
            width: min-content;
            text-align: right;
            font-size: 180px;
            word-spacing: 9999px;
            line-height: 130px;
            max-width: 435px;
            width: 435px;
            flex: 0 0 435px;
            &.hidden {
                visibility: hidden;
            }
            @media (max-width: 1056px) {
                max-width: 380px;
                width: 380px;
                flex: 0 0 380px;
            }
            @media (max-width: 990px) {
                max-width: 330px;
                width: 330px;
                flex: 0 0 330px;
            }
            @media (max-width:950px) {
                display: none;
            }
        }
        .awards-list {
            position: absolute;
            top: 396px;
            left: 349px;
            p {
                font-size: 18px;
            }
            @media (max-width: 1400px) {
                left: 250px;
            }
            @media (max-width: 1050px) {
                left: 160px;
            }
            @media (max-width: 950px) {
                display: none;
            }
        }
        .all-awards {
            margin-top: 247px;
            margin-left: 182px;
            display: inline-block;
            width: 495px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media (max-width: 1400px) {
                margin-left: 5%;
            }
            .image-box {
                padding: 8px 10px;
                max-width: 33%;
                flex: 0 0 33%;
                opacity: 0.3;
                transition: opacity 0.3s ease;
                &.highlight {
                    opacity: 1;
                }
                @media (max-width: 950px) {
                    opacity: 1;
                }
                .image-wrapper {
                    padding: 10px;
                    border-radius: 50%;
                    border: 1px solid $beige;
                    width: 143px;
                    height: 143px;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .bottom {
        display: flex;
        flex-direction: row;
        margin-top: 352px;
        .text-box {
            width: 422px;
            margin-left: auto;
            .logo, .text {
                margin-left: 44px;
            }
            @media (max-width: 950px) {
                .logo {
                    margin-top: 0px;
                    margin-left: 0px;
                }
                .logo-container {
                    margin-top: 0px !important;
                }
            }
            .logo {
                height: 16.5px;
                width: auto;
            }
            .text {
                font-size: 15px;
                line-height: 25px;
            }
            .main-text {
                margin-top: 26px;
            }
            .text-ext {
                margin-top: 20px;
                margin-bottom: 40px;
            }
            .button {
                font-size: 11px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }
        .image {
            margin-left: 126px;
            margin-right: 123px;
            width: 576px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
</style>
