<template>
    <div class="mobile-list container flex-container">
        <Headline :content="content.headline"></Headline>
        <SectionIndex v-if="index" :index="index"></SectionIndex>
        <div class="text-slider">
            <TextGallery :content="content.boxes"></TextGallery>
        </div>
    </div>
</template>
<script>
export default {
    props: [
        'index',
        'content'
    ],
    data() {
        return {}
    },
    methods: {

    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
    .mobile-intro {

    }
</style>