<template>
	<div class="projects-list container flex-container">
        <div class="boxes">
            <div v-for="(box, index) in content.projects"
            itemscope
            itemtype="https://schema.org/Project"
            :key="index" class="box">
                <v-lazy-image v-if="box.image" :src="(box.image) | statically(910)" :alt="box.title" itemprop="image"/>
                <p class="title" v-html="box.title" itemprop="name"></p>
                <p class="text" v-html="global_fixSquareMeters(box.text)" itemprop="description"></p>
                <a :href="box.link" class="button cursor-plus">WEB</a>
            </div>
		</div>
        <Headline v-if="content.headline && !noDecor" :content="content.headline"></Headline>
        <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <slot></slot>
	</div>
</template>
<script>
export default {
	props: {
        index:null,
        cols:null,
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        }
    },
	data() {
        return {

        }
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.boxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    .box {
        max-width: 31%;
        flex: 0 0 31%;
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin-right: 3.5%;
        }
        img {
            width: 100%;
            height: auto;
        }
        .title,.text {
            width: 200px;
        }
        .title {
            font-size: 18px;
            margin-top: 53px;
        }
        .text {
            font-size: 13px;
            margin-top: 21px;
            margin-bottom: 15px;
        }
        .button {
            width: 63px;
            height: 63px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: auto;
            margin-bottom: 0px;
            display: inline-block;
            border: 1px solid $pitch;
            padding: 22px 11px;
            text-align: center;
            letter-spacing: 3px;
            font-size: 11px;
        }
    }
}
</style>
