<template>
   <div class="filter-list">
     <div class="page-title">
       <h1 class="medium-text-4">
        {{$t('filter_list.title')}}
       </h1>
       <p class="v-medium-text">
         {{$t('filter_list.title_apt_list')}}
       </p>
     </div>
     <div class="filters-flex-wrapper">
       <div class="filter-list-sidemenu-wrapper" v-show="menuOpen">
        <div class="filter-list-sidemenu">
          <FilterGroup v-for="(filter,index) in filters" :key="index"
          :content="filter" @input="updateFilters($event, filter)" :value="filter.values"></FilterGroup>
        </div>
       </div>
      <div class="filter-results">
        <div class="sort-menu">
          <p class="small-text e-medium-text description">{{$t('filter_list.sort_by')}}</p>
          <p class="e-medium-text sort-by-btn cursor-plus" :class="{'disabled' : sortBy !== 'total_area'}" @click="sortByAct('total_area')">{{$t('filter_list.sort_by_area')}}</p>
          <p class="e-medium-text sort-by-btn cursor-plus" :class="{'disabled' : sortBy !== 'rooms'}" @click="sortByAct('rooms')">{{$t('filter_list.sort_by_rooms')}}</p>
          <p class="e-medium-text sort-by-btn cursor-plus" :class="{'disabled' : (sortBy !== 'price' && sortBy !== 'rent_price')}" @click="sortByAct('price')">{{$t('filter_list.sort_by_price')}}</p>

          <div class="sort-order-btn desc cursor-plus" :class="{'disabled' : sortOrder == 'asc'}" @click="sortDesc">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.665" height="11.669" viewBox="0 0 9.665 11.669">
              <g id="Component_10_1" data-name="Component 10 – 1" transform="translate(0.332)">
                <line id="Line_702" data-name="Line 702" y2="11" transform="translate(4.5)" fill="none" stroke="#19191c" stroke-width="1"/>
                <path id="Path_666" data-name="Path 666" d="M-8410.961-2137l4,4.5-4,4.5" transform="translate(-2128 8417.961) rotate(90)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </div>

          <div class="sort-order-btn asc cursor-plus" :class="{'disabled' : sortOrder == 'desc'}" @click="sortAsc">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.665" height="11.669" viewBox="0 0 9.665 11.669">
              <g id="Component_11_1" data-name="Component 11 – 1" transform="translate(0.332 0.669)">
                <line id="Line_703" data-name="Line 703" y2="11" transform="translate(4.5 11) rotate(180)" fill="none" stroke="#9797a8" stroke-width="1"/>
                <path id="Path_667" data-name="Path 667" d="M-8410.961-2137l4,4.5-4,4.5" transform="translate(2137 -8406.961) rotate(-90)" fill="none" stroke="#9797a8" stroke-width="1"/>
              </g>
            </svg>
          </div>

        </div>
        <div class="apt-list">
          <!-- <NuxtLink v-for="(apartment,index) in paginatedApartments"
          :key="index" class="cursor-plus"
          :to="localePath({name: 'apartment-apartment', params: {apartment: apartment.id}})">

          </NuxtLink> -->
          <a :href="apartment.layout_pdf_url" target="_blank" v-for="(apartment,index) in paginatedApartments"
          :key="index" class="cursor-plus">
            <ListItemApartment
            :data="getAptValues(apartment)"
            ></ListItemApartment>
          </a>
          <div v-if="pages.length == 0" class="no-results-box">
            <p class="v-small-text">{{$t('filter_list.no_results')}}</p>
          </div>
        </div>


        <div class="pagination" v-if="pages.length != 0">
          <div class="page cursor-plus prev-page" :class="{'disabled' : currentPage == 0 }" @click="prevPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.707" height="18.707" viewBox="0 0 12.707 18.707">
              <g id="Component_13_1" data-name="Component 13 – 1" transform="translate(0.354 0.707)">
                <line id="Line_720" data-name="Line 720" y2="18" transform="translate(6 18) rotate(180)" fill="none" stroke="#19191c" stroke-width="1"/>
                <path id="Path_682" data-name="Path 682" d="M-8410.961-2137l6,6-6,6" transform="translate(2137 -8404.961) rotate(-90)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </div>

          <div class="page-wrapper" v-for="(page,index) in pages" :key="index">
            <div class="cursor-plus" :class="{'margin' : inRange(index) || index == pages.length -1}">
              <div v-if="inRange(index) || index == pages.length -1"
              class="page" :class="{'active' : index == currentPage}"
              @click="changePage(index)">
                <p class="v-tiny-text">{{index + 1}}</p>
              </div>

            </div>
            <div class="page margin" v-if="!inRange(index) && index != pages.length -1 && index == pages.length -2">
              <p class="v-tiny-text">...</p>
            </div>
          </div>

          <div class="page cursor-plus next-page" :class="{'disabled' : currentPage == pages.length -1}" @click="nextPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.707" height="18.707" viewBox="0 0 12.707 18.707">
              <g id="Component_14_1" data-name="Component 14 – 1" transform="translate(0.354 0.707)">
                <line id="Line_720" data-name="Line 720" y2="18" transform="translate(6 18) rotate(180)" fill="none" stroke="#19191c" stroke-width="1"/>
                <path id="Path_682" data-name="Path 682" d="M-8410.961-2137l6,6-6,6" transform="translate(2137 -8404.961) rotate(-90)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
     </div>
     <div class="bottom-nav">
       <transition name="fade">
         <div class="apt-nav" v-show="!menuOpen">
          <button class="open-filter btn-arrow" @click="openMenu">
            <p class="v-tiny-text">{{$t('filter_list.open_filter')}}</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="11.803" height="9.797" viewBox="0 0 11.803 9.797">
              <g id="Component_15_1" data-name="Component 15 – 1" transform="translate(0 0.399)">
                <line id="Line_716" data-name="Line 716" y1="11" transform="translate(11 4.5) rotate(90)" fill="none" stroke="#19191c" stroke-width="1.2"/>
                <path id="Path_679" data-name="Path 679" d="M0,9,4,4.5,0,0" transform="translate(7)" fill="none" stroke="#19191c" stroke-width="1.2"/>
              </g>
            </svg>
          </button>
         </div>
       </transition>
       <transition name="fade">
         <div class="filter-nav" v-show="menuOpen">
            <!-- <button class="reset-filter" @click="openMenu">
              <p class="v-tiny-text">{{$t('filter_list.reset_filter')}}</p>
            </button> -->
            <button class="close-filter black-btn" @click="openMenu">
              <p class="v-tiny-text">{{$t('filter_list.close_filter')}}</p>
            </button>
         </div>
       </transition>

     </div>
   </div>
</template>
<script>
import _flatten from "lodash/flatten"
import _merge from "lodash/merge"
import _union from "lodash/union"
import _sortBy from "lodash/sortBy"
import _reverse from "lodash/reverse"
import _chunk from "lodash/chunk"
import _concat from "lodash/concat"
import _get from "lodash/get"

export default {
    props: {
      allApartments: null
    },
    data() {
        return {
          loading: true,
          lastFilterUpdate: null,
          menuOpen: false,
          sortBy: null,
          sortOrder: 'asc',
          apartments: [],
          currentPage: 0,
        }
    },
    computed: {
      filters() {
        return this.$store.state.filters.filters
      },
      pages() {
        this.currentPage = 0
        let apartments = this.filteredApartments
        let pages = _chunk(apartments,10)
        return pages
      },
      paginatedApartments() {
        return this.pages[this.currentPage]
      },
      filteredApartments() {
        let apartments = this.allApartments
        let filters = this.filters
        // posted and available
        apartments = apartments.filter((item) => {
          return item.status == 1 && item.is_published == 1
        });



        // address filter
        if (filters.address_filter.values.length > 0) {
          apartments = apartments.filter((item) => {
              let values = this.getFilterValues(filters.address_filter.values)
              return values.indexOf(item.building_id) != -1
          });
        }

        // rooms filter
        if (filters.rooms_filter.values.length > 0) {
          apartments = apartments.filter((item) => {
              let values = this.getFilterValues(filters.rooms_filter.values)
              return values.indexOf(parseInt(item.rooms)) != -1
          });
        }

        // garden filter
        if (filters.garden_filter.values == true) {
          apartments = apartments.filter((item) => {
            return item.layout.has_garden
          });
        }

        // area filter
        apartments = apartments.filter((item) => {
          let values = filters.area_filter.values
          return (item.total_area >= values[0]) && (item.total_area <= values[1])
        });

        // floor filter
        if (filters.floor_filter.values.length > 0) {
          apartments = apartments.filter((item) => {
              let values = this.getFilterValues(filters.floor_filter.values)
              return values.indexOf(item.floor) != -1
          });
        }

        // block filter
        if (filters.block_filter.values.length > 0) {
          apartments = apartments.filter((item) => {
              let values = this.getFilterValues(filters.block_filter.values)
              return values.indexOf(item.building_id) != -1
          });
        }

        // pay filter
        if (filters.pay_filter.values.length > 0) {
          apartments = apartments.filter((item) => {
              let values = this.getFilterValues(filters.pay_filter.values)
              return values.indexOf(item.is_for_rent) != -1
          });
        }

        // check if each filter would return any values

        let apartmentsLength = apartments.length

        let testApartments

        if (process.client) {
          setTimeout(() => {
            filters.address_filter.choices.forEach(filter => {
              testApartments = apartments.filter((item) => {
                let values = filter.values.values
                // values = _concat(values,this.getFilterValues(filters.address_filter.values))
                return values.indexOf(item.building_id) != -1
              });
              if (testApartments.length == 0 && filters.address_filter.values.length == 0) {
                document.querySelector(`#checkbox-${filter.values.title} input`).disabled = true
              } else {
                document.querySelector(`#checkbox-${filter.values.title} input`).disabled = false
              }
            });

            filters.rooms_filter.choices.forEach(filter => {
              testApartments = apartments.filter((item) => {
                let values = filter.values.values
                return parseInt(item.rooms) == values
              });
              if (testApartments.length == 0 && filters.rooms_filter.values.length == 0) {
                document.querySelector(`#checkbox-square-${filter.values.title} input`).disabled = true
                document.querySelector(`#checkbox-square-${filter.values.title}`).classList.add('disabled')
              } else {
                document.querySelector(`#checkbox-square-${filter.values.title} input`).disabled = false
                document.querySelector(`#checkbox-square-${filter.values.title}`).classList.remove('disabled')
              }
            });

            // testApartments = apartments.filter((item) => {
            //   return item.layout.has_garden
            // });
            // if (testApartments.length == 0) {
            //   document.querySelector(`#${filter.title} input`).disabled = true;
            // } else {
            //   document.querySelector(`#${filter.title} input`).disabled = false;
            // }

            filters.floor_filter.choices.forEach(filter => {
              testApartments = apartments.filter((item) => {
                let values = filter.values.values
                return parseInt(item.floor) == values
              });
              if (testApartments.length == 0 && filters.floor_filter.values.length == 0) {
                document.querySelector(`#checkbox-${filter.values.title} input`).disabled = true
              } else {
                document.querySelector(`#checkbox-${filter.values.title} input`).disabled = false
              }
            });

            filters.block_filter.choices.forEach(filter => {
              testApartments = apartments.filter((item) => {
                let values = filter.values.values
                return values.indexOf(item.building_id) != -1
              });
              if (testApartments.length == 0 && filters.block_filter.values.length == 0) {
                document.querySelector(`#checkbox-square-${filter.values.title} input`).disabled = true
                document.querySelector(`#checkbox-square-${filter.values.title}`).classList.add('disabled')
              } else {
                document.querySelector(`#checkbox-square-${filter.values.title} input`).disabled = false
                document.querySelector(`#checkbox-square-${filter.values.title}`).classList.remove('disabled')
              }
            });

            filters.pay_filter.choices.forEach(filter => {
              testApartments = apartments.filter((item) => {
                let values = filter.values.values
                return values == item.is_for_rent
              });
              let title = filter.values.title
              title = title.replace('.','_')
              if (testApartments.length == 0 && filters.pay_filter.values.length == 0) {
                document.querySelector(`#checkbox-${title} input`).disabled = true
              } else {
                document.querySelector(`#checkbox-${title} input`).disabled = false
              }
            });
          }, 600);
        }

        // sort by
        if (this.sortBy !== null) {
          let me = this
          apartments = _sortBy(apartments, function(o) {return o[me.sortBy]})
          if (this.sortOrder == 'desc') {
            apartments = _reverse(apartments)
          }
        }

        return apartments
      }
    },
    methods: {
      openMenu() {
          this.menuOpen = !this.menuOpen
          if (this.menuOpen) {
              document.body.classList.add("menu-open")
          } else {
              document.body.classList.remove("menu-open")
          }
      },
      inRange(index) {
        let minRange = this.currentPage - 2
        let maxRange = this.currentPage + 2
        return index > minRange && index < maxRange
      },
      updateFilters(newVal, filter) {
        //let filtersz = this.filters
        //filtersz[filter.slug]['values'] = newVal
        this.$store.commit('filters/setFilters', {
          newVal: newVal,
          filter: filter
        })
      },
      // setCursor(state) {
      //   this.$store.commit('setCursor', state)
      // },
      prevPage() {
        if (this.currentPage > 0) {
          this.currentPage--
        }
      },
      nextPage() {
        if (this.currentPage < this.pages.length -1) {
          this.currentPage++
        }
      },
      changePage(page) {
        this.currentPage = page
      },
      selectApartment(apartment) {
        this.$emit('selectApartment', apartment)
      },
      sortDesc() {
        this.sortOrder = 'desc'
      },
      sortAsc() {
        this.sortOrder = 'asc'
      },
      sortByAct(sortFilter) {
        if (sortFilter !== 'price') {
          this.sortBy = sortFilter
        } else {
          let payFilter = this.getFilterValues(this.filters.pay_filter.values)
          if (payFilter.length == 1 && payFilter[0] == 0) {
            this.sortBy = sortFilter
          } else {
            this.sortBy = 'rent_price'
          }
        }
      },
      getAptValues(apartment) {
        return {
          nr: apartment.nr,
          address: apartment.building.address,
          block_type: apartment.building.code,
          code: apartment.code,
          bedrooms: apartment.rooms,
          area: apartment.total_area,
          floor: apartment.floor,
          price: apartment.is_for_rent ? apartment.rent_price : apartment.price,
          is_for_rent: apartment.is_for_rent,
          rent_price_with_heating: apartment.rent_price_with_heating,
          is_duplicate: apartment.is_duplicate,
          furnished: apartment.furnished
        }
      },
      getFilterValues(data) {
        let result = []
        data.forEach(value => {
          result.push(value.values)
        });
        return _flatten(result)
      },
      getMin(attribute) {
        let minCount = 9001
        this.allApartments.forEach(apartment => {
          if (minCount > apartment[attribute]) {
            minCount = apartment[attribute]
          }
        });
        return minCount
      },
      getMax(attribute) {
        let maxCount = 0
        this.allApartments.forEach(apartment => {
          if (maxCount < parseInt(apartment[attribute])) {
            maxCount = parseInt(apartment[attribute])
          }
        });
        return maxCount
      }
    },
    mounted() {
      /**
       * This is temp.
       * Filter apartments for the banner
       */
      const filterBanner = _get(this.$route, 'query.filter', null);
      if (filterBanner == 'banner') {
        let pay_filter   = _get(this.filters, 'pay_filter',   null);
        let rooms_filter = _get(this.filters, 'rooms_filter', null);

        if (pay_filter) {
          try {
            let values = pay_filter.choices[0].values;
            this.updateFilters([values],pay_filter);
          } catch (error) {}
        }

        if (rooms_filter) {
          try {
            let values = rooms_filter.choices[2].values;
            this.updateFilters([values],rooms_filter);
          } catch (error) {}
        }
      }

    },
};
</script>
<style lang="scss" scoped>

</style>
