<template>
	<div class="sales-tool-page" ref="salesToolPage">
		<SectionOffers :visit="visit" :contentLocal="$t('offers')"></SectionOffers>
		<Cookiebar></Cookiebar>
	</div>
</template>
<script>
export default {
	async asyncData({ $axios, params }) {
		const visit = await $axios.$get('salestool/visit/' + params.visit);
		return { visit }
	},
	methods: {},

	mounted() {
		
		this.$i18n.setLocale(this.visit.client.language)
	},
};
</script>
