<template>
    <div class="portfolio">
        <Headline v-if="!noDecor" :content="content.headline"></Headline>
        <slot></slot>
        <div class="container flex-container">
            <div class="left">
                <div class="text-box mobile-center">
                    <img class="vastint-logo" src="/images/logo/vastint-logo.svg" alt=""/>
                    <p class="main-text ">
                        {{content.text}}
                    </p>
                    <a v-if="content.button" href="https://vastint.eu/portfolio/" target="_blank" class="button cursor-plus">{{content.button.text}}</a>
                </div>
                <div class="map">
                    <img :src="global_statically('/images/location/vastint-map-new-2.svg', 900)" alt="Vastint karte"/>
                </div>
            </div>
            <div class="right">
                <div class="scroll-container mobile-center">
                    <div class="scroll-down">
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="9" viewBox="0 0 11 9">
                            <path id="Polygon_3" data-name="Polygon 3" d="M5.5,0,11,9H0Z" transform="translate(11 9) rotate(180)" fill="#fff"/>
                        </svg>
                    </div>
                    <div class="scroll-box">
                        <div class="projects-list">
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                            <a class="project-item cursor-plus" href="#">Hannover Messe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
        };
    },
    methods: {
    },
    computed: {
		selectedLocale() {
			return this.$i18n.locale;
		},
	},
    mounted() {
    }
};
</script>
<style lang="scss" scoped>
    .portfolio {
        background-color: $pitch;
        width: 100%;
        display: flex;
        justify-content: center;
        .headline {
            transform: unset;
            top: 60px;
            right: 360px;
        }
        a,p,h3 {
            color: $green !important;
        }
        .container {
            border-top: 1px solid $green;
            border-bottom: 1px solid $green;
            background-color: $pitch;
            padding-bottom: 0px;
            .left {
                //max-width: 77%;
                //flex: 0 0 77%;
                max-width: 100%;
                flex: 0 0 100%;
                position: relative;
                .button {
                    text-transform: uppercase;
                }
                .text-box {
                    margin-left: 207px;
                    margin-top: 119px;
                    margin-bottom: 135px;
                    width: 363px;

                    .vastint-logo {
                        height: 17px;
                        width: auto;
                    }
                    .main-text {
                        margin-top: 26px;
                        margin-bottom: 65px;
                        font-size: 15px;
                    }
                }
                .map {
                    position: absolute;
                    //right: -174px;
                    right: 36px;
                    top: -74px;
                    height: 100%;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }

            }
            .right {
                display: none;
                background-color: $pitch;
                position: absolute;
                right: 0px;
                top: 0px;
                width: 23%;
                padding-top: 24px;
                padding-bottom: 36px;
                height: 100%;
                .scroll-container {
                    height: 100%;
                    border-left: 1px solid $green;
                    padding-left: 45px;
                    padding-bottom: 44px;
                    position: relative;
                    .scroll-down {
                        position: absolute;
                        bottom: 15px;
                        left: 46px;
                    }
                    .scroll-box {
                        height: 100%;
                        overflow-y: scroll;
                        -ms-overflow-style: none;  /* IE and Edge */
                        scrollbar-width: none;  /* Firefox */
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .projects-list {
                            padding-top: 45px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }

            }
        }
    }
</style>
