<template>
  <div class="container">
    <div class="video-wrapper cursor-plus" @click="openModal = true">
      <h3 class="video-title">{{content.title}} <span>{{content.titleYear}}</span> {{content.finalist}}</h3>
      <div class="play-prompt">
        <svg xmlns="http://www.w3.org/2000/svg" width="99" height="100" viewBox="0 0 99 100">
          <g id="Group_157" data-name="Group 157" transform="translate(-837.173 -2998.121)">
            <g id="Ellipse_12" data-name="Ellipse 12" transform="translate(837.173 2998.121)" fill="none" stroke="#f0f4f0" stroke-width="1">
              <ellipse cx="49.5" cy="50" rx="49.5" ry="50" stroke="none"/>
              <ellipse cx="49.5" cy="50" rx="49" ry="49.5" fill="none"/>
            </g>
            <g id="Polygon_2" data-name="Polygon 2" transform="translate(911.173 3026.121) rotate(90)" fill="none">
              <path d="M22,0,44,38H0Z" stroke="none"/>
              <path d="M 22 1.995872497558594 L 1.734451293945312 37 L 42.26554870605469 37 L 22 1.995872497558594 M 22 0 L 44 38 L 0 38 L 22 0 Z" stroke="none" fill="#f0f4f0"/>
            </g>
          </g>
        </svg>
        <!-- <p class="e-tiny-text">{{content.watchVideo}}</p> -->
      </div>
      <div class="bg-video">
        <video ref="aboutVideo" autoplay="true" muted="true" loop="true" class="bg-video-wrapper">
          <source :src="content.loopVideoSource" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="video-modal cursor-play" :class="{'open': openModal}">
      <div class="bg-video">
        <video ref="mainVideo" controls class="bg-video-wrapper">
          <source :src="video" type="video/mp4">
        </video>
      </div>

      <div class="close-modal cursor-plus" @click="closeModal()">
        <div class="cursor-wrapper">
				  <img src="/images/burger/close.png" alt=""/>
        </div>
			</div>
    </div>
  </div>
</template>
<script>
export default {
    props: {
        content:null,
    },
    data() {
        return {
          openModal: false
        };
    },
    methods: {
      closeModal() {
        this.openModal = false
        this.$refs.mainVideo.pause()
      }
    },
    computed: {
      video() {
        return this.content.mainVideoSource.split('.mp4')[0]+'_'+this.selectedLocale+'.mp4'
      },
      selectedLocale() {
        return this.$i18n.locale;
      },
	},
  mounted() {
    console.log(this.content.mainVideoSource)
    console.log(this.selectedLocale)
    this.$refs.aboutVideo.volume = 0
    this.$refs.aboutVideo.muted = true
    this.$refs.aboutVideo.play()
  },
};
</script>
<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  .video-wrapper {
    position: relative;
    height: 100%;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.33);
    }
    .video-title, .play-prompt {
      position: absolute;
    }
    .video-title {
      left: 212px;
      top: 112px;
      width: 500px;
      font-size: 88px;
      color: $beige !important;
      line-height: 75%;
      @media (max-width: 1600px) {
        left: 100px;
      }
      @media (max-width: 1300px) {
        left: 40px;
        top: 40px;
      }

      span {
        font-size: 129px;
        font-family: inherit;
        color: $beige !important;
        line-height: 95%;
        margin-top: 20px;
      }
      @media (max-width: 950px) {
        width: 320px;
        font-size: 42px;
        span {
          font-size: 48px;
        }
      }
    }
    .play-prompt {
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      p {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(0%,-50%);
        width: 178px;
        text-align: center;
        color: $beige !important;
        letter-spacing: 2px;
      }
    }
  }
  .bg-video {
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    .bg-video-wrapper {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    video {
        width: 100%;
        height: auto;
    }
    video::-webkit-media-controls-fullscreen-button {
        display: none !important;
    }
  }
  .video-modal {
    position: fixed;
    z-index: 10000;
    top: -100vh;
    transition: top 0.3s ease, opacity 0.3s ease;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $pitch;
    opacity: 0;
    .close-modal {
      position: absolute;
      top: 23px;
      right: 50px;
      z-index: 1000;
      border-radius: 100px;
      background-color: $beige;
      padding: 20px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .bg-video {
      .bg-video-wrapper {
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    &.open {
      top: 0px;
      opacity: 1;
    }
  }

}
</style>
