<template>
	<div class="box-image container flex-container align-right">
		<div class="image" id="apartments-complex">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 788 611.2" style="enable-background:new 0 0 788 611.2;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#19191C;}
                    .st1{fill:#96A591;}
                    .st2{fill:none;stroke:#96A591;stroke-width:0.8;stroke-linejoin:bevel;}
                    .st3{fill:none;stroke:#96A591;stroke-width:0.8;stroke-miterlimit:10;}
                </style>
                <rect id="bg" y="0" class="st0" width="788" height="611.2"/>
                <g id="base">
                    <g>
                        <path class="st1" d="M407.1,391.4l2.8-1.5c1.1-0.7,2.4-0.9,3.6-0.6c2.5,0.7,3.9,3.3,3.2,5.8c-0.4,1.2-1.3,2.2-2.4,2.8l-2.8,1.5
                            L407.1,391.4z M413.4,396.7c0.9-0.4,1.5-1.2,1.8-2.1c0.4-1.6-0.5-3.2-2.1-3.8c-0.9-0.3-1.9-0.1-2.7,0.4l-1.3,0.7l3,5.5
                            L413.4,396.7z"/>
                        <path class="st1" d="M424.1,392.5l-0.3-0.5c-0.2,0.7-0.7,1.2-1.3,1.5c-0.6,0.3-1.3,0.4-2,0.3c-1.8-0.4-3-2.2-2.6-4
                            c0-0.2,0.1-0.3,0.1-0.5c0.3-0.7,0.7-1.2,1.4-1.5c0.6-0.3,1.3-0.4,2-0.3L421,387l1.2-0.7l3,5.5L424.1,392.5z M423,390.8l-1.1-1.9
                            c-0.6-0.2-1.2-0.2-1.7,0.1c-0.9,0.5-1.2,1.7-0.7,2.6c0.5,0.8,1.5,1.2,2.4,0.8C422.5,391.9,422.9,391.4,423,390.8z"/>
                        <path class="st1" d="M423.4,382.1c0.5-0.2,1-0.1,1.3,0.4c0.2,0.5,0.1,1-0.4,1.3c-0.4,0.2-1,0.1-1.2-0.4
                            C422.9,382.9,423,382.4,423.4,382.1z M427.3,390.7l-3-5.5l1.3-0.7l3,5.5L427.3,390.7z"/>
                        <path class="st1" d="M426.2,380.8l1.3-0.7l1.7,3.1c0.2-0.6,0.7-1.1,1.2-1.4c0.6-0.3,1.3-0.5,2-0.3c1.8,0.4,3,2.2,2.6,4
                            c0,0.2-0.1,0.3-0.1,0.5c-0.5,1.3-1.9,2.1-3.3,1.8l0.3,0.5l-1.2,0.7L426.2,380.8z M433.4,383.8c-0.4-0.9-1.5-1.3-2.4-0.8
                            c0,0-0.1,0-0.1,0c-0.5,0.3-0.9,0.8-1,1.4l1.1,1.9c0.6,0.3,1.2,0.2,1.8-0.1C433.7,385.8,433.9,384.7,433.4,383.8
                            C433.4,383.8,433.4,383.8,433.4,383.8L433.4,383.8z"/>
                        <path class="st1" d="M441.4,379.8l-4,2.2c0.5,0.8,1.6,1,2.4,0.5c0.6-0.3,1-0.8,1.1-1.5l1.1,0.3c-0.2,1-0.8,1.8-1.7,2.3
                            c-1.5,0.9-3.4,0.5-4.3-1c-0.1-0.1-0.1-0.2-0.1-0.3c-0.9-1.4-0.5-3.2,0.9-4.2c0.1-0.1,0.2-0.1,0.3-0.2c1.5-0.8,3.3-0.2,4,1.3
                            c0,0,0,0.1,0.1,0.1C441.3,379.6,441.3,379.7,441.4,379.8z M437.7,379.2c-0.6,0.4-0.9,1.1-0.7,1.8l2.6-1.4
                            C439.1,379,438.3,378.8,437.7,379.2L437.7,379.2z"/>
                        <path class="st1" d="M443.5,381l0.2-1.2c0.6,0.1,1.3,0,1.8-0.3c0.4-0.2,0.7-0.7,0.5-1c-0.3-0.6-1.4,0-2.5,0
                            c-0.7,0.1-1.3-0.2-1.6-0.8c-0.5-1.1,0-2.3,1.1-2.8c0,0,0,0,0.1,0c0.6-0.4,1.4-0.5,2.1-0.4l-0.1,1.2c-0.5-0.1-0.9,0-1.3,0.2
                            c-0.5,0.2-0.7,0.7-0.5,1s0.9,0.1,1.6,0c0.9-0.4,2,0,2.5,0.8c0.5,1.1-0.1,2.4-1.2,2.8c0,0,0,0,0,0C445.3,381,444.4,381.2,443.5,381
                            z"/>
                        <path class="st1" d="M448.9,368.1c0.5-0.2,1-0.1,1.3,0.4c0.2,0.5,0.1,1-0.4,1.3c0,0,0,0,0,0c-0.4,0.2-1,0.1-1.3-0.4c0,0,0,0,0,0
                            C448.3,369,448.5,368.4,448.9,368.1z M452.8,376.7l-3-5.5l1.3-0.7l3,5.5L452.8,376.7z"/>
                        <path class="st1" d="M459.6,369.8l-4,2.2c0.5,0.8,1.6,1,2.4,0.5c0.6-0.3,1-0.8,1.1-1.5l1.1,0.3c-0.2,1-0.8,1.8-1.7,2.3
                            c-1.5,0.9-3.4,0.5-4.3-1c-0.1-0.1-0.1-0.2-0.1-0.3c-0.9-1.4-0.5-3.2,0.8-4.2c1.4-0.9,3.2-0.5,4.2,0.8c0.1,0.1,0.2,0.3,0.2,0.4
                            C459.5,369.6,459.5,369.7,459.6,369.8z M455.9,369.2c-0.6,0.4-0.9,1.1-0.7,1.8l2.6-1.4C457.3,369,456.5,368.8,455.9,369.2z"/>
                        <path class="st1" d="M458.1,363.3l1.3-0.7l4.4,8.1l-1.3,0.7L458.1,363.3z"/>
                        <path class="st1" d="M469.9,367.4l-0.3-0.5c-0.5,1.3-1.9,2.1-3.3,1.9c-1.8-0.4-3-2.2-2.6-4c0-0.2,0.1-0.3,0.1-0.5
                            c0.3-0.7,0.7-1.2,1.4-1.5c0.6-0.3,1.3-0.4,2-0.3l-0.3-0.5l1.2-0.7l3,5.5L469.9,367.4z M468.8,365.6l-1.1-1.9
                            c-0.6-0.2-1.2-0.2-1.7,0.1c-0.9,0.5-1.3,1.6-0.8,2.5c0.5,0.9,1.6,1.3,2.5,0.8C468.3,366.8,468.7,366.3,468.8,365.6z"/>
                    </g>
                    <g>
                        <path class="st1" d="M83.6,411.9l0.6,1.4l-7.1,2.9l1.5,3.6l-1.3,0.5l-2.1-5L83.6,411.9z"/>
                        <path class="st1" d="M77.9,421.9l5.8-2.4l0.6,1.4l-5.8,2.4L77.9,421.9z M86.9,419c0.2,0.5-0.1,1-0.5,1.2c-0.5,0.2-1-0.1-1.2-0.6
                            c-0.1-0.4,0.1-0.9,0.5-1.1C86.1,418.3,86.7,418.6,86.9,419L86.9,419z"/>
                        <path class="st1" d="M84,429.5l-1.7-4.2c-0.8,0.5-1.2,1.5-0.8,2.3c0.3,0.6,0.7,1.1,1.3,1.3l-0.4,1.1c-0.9-0.3-1.7-1-2.1-1.9
                            c-0.7-1.6-0.1-3.4,1.5-4.2c0.1,0,0.2-0.1,0.3-0.1c1.5-0.8,3.3-0.2,4,1.3c0,0.1,0.1,0.2,0.1,0.3c0.6,1.5-0.2,3.3-1.7,3.9
                            c-0.1,0-0.1,0-0.2,0.1L84,429.5z M85.1,425.9c-0.3-0.7-1-1.1-1.7-0.9l1.1,2.7C85.1,427.3,85.3,426.5,85.1,425.9z"/>
                        <path class="st1" d="M90.7,428.7l0.6,1.4l-8.5,3.5l-0.6-1.4L90.7,428.7z"/>
                        <path class="st1" d="M85.3,439.9l0.5-0.2c-0.6-0.3-1.1-0.8-1.4-1.5c-0.3-0.6-0.3-1.3-0.1-2c0.6-1.8,2.5-2.8,4.2-2.2
                            c0.2,0.1,0.4,0.1,0.5,0.2c0.6,0.3,1.1,0.9,1.4,1.5c0.2,0.6,0.2,1.4,0,2l0.5-0.2l0.5,1.3l-5.8,2.4L85.3,439.9z M87.2,439.1l2-0.8
                            c0.3-0.5,0.4-1.2,0.1-1.7c-0.4-0.9-1.6-1.3-2.5-0.9c-0.9,0.4-1.3,1.4-1,2.3C86,438.5,86.5,438.9,87.2,439.1L87.2,439.1z M91,433.9
                            l1-0.4l1.5,3.6l-1,0.4L91,433.9z"/>
                        <path class="st1" d="M88.1,446.6l5.8-2.4l0.6,1.4l-5.8,2.4L88.1,446.6z M97.1,443.7c0.2,0.5,0,1-0.5,1.2c-0.5,0.2-1,0-1.2-0.5
                            s0-1,0.5-1.2C96.3,443,96.9,443.2,97.1,443.7z"/>
                        <path class="st1" d="M94.2,454.1l-1.7-4.1c-0.8,0.5-1.2,1.5-0.8,2.3c0.3,0.6,0.7,1.1,1.3,1.3l-0.4,1.1c-0.9-0.3-1.7-1-2.1-1.9
                            c-0.7-1.6-0.1-3.4,1.5-4.2c0.1,0,0.2-0.1,0.3-0.1c1.5-0.8,3.3-0.2,4,1.3c0,0.1,0.1,0.2,0.1,0.3c0.6,1.6-0.2,3.3-1.8,3.9
                            c0,0-0.1,0-0.1,0L94.2,454.1z M95.2,450.5c-0.3-0.7-1-1.1-1.7-0.9l1.1,2.7C95.2,452,95.5,451.2,95.2,450.5L95.2,450.5z"/>
                        <path class="st1" d="M100.9,453.4l0.6,1.4l-8.5,3.5l-0.6-1.4L100.9,453.4z"/>
                        <path class="st1" d="M95.5,464.6l0.5-0.2c-0.6-0.3-1.1-0.8-1.4-1.5c-0.3-0.6-0.3-1.3-0.1-2c0.6-1.8,2.5-2.8,4.2-2.2
                            c0.2,0.1,0.4,0.1,0.5,0.2c0.6,0.3,1.1,0.9,1.4,1.5c0.3,0.6,0.3,1.3,0.1,2l0.5-0.2l0.5,1.3l-5.8,2.4L95.5,464.6z M97.4,463.8l2-0.8
                            c0.3-0.5,0.3-1.2,0.1-1.7c-0.4-0.9-1.4-1.4-2.3-1.1c0,0-0.1,0-0.1,0.1c-0.9,0.3-1.4,1.3-1.1,2.2c0,0,0,0.1,0.1,0.1
                            C96.2,463.1,96.7,463.6,97.4,463.8z"/>
                    </g>
                    <g>
                        <path class="st0" d="M485,182l-3.1,22.5l129.6,72.9c0,0,24.1-7.9,25.3-8.4s72.6-39.9,72.6-39.9l6.8-28.2l-128.8-52.8l-28.9,6.2
                            L485,182z"/>
                        <polygon class="st0" points="276.5,248.9 279,272.7 331.4,315.3 438.3,274.7 449.4,295.8 503.6,336 585.7,292.4 585.7,262.1 
                            466,195.8 		"/>
                        <path class="st0" d="M65.1,319.8l80.2,188.1l195.3-95.4l-4.1-35c0,0-46.3-82.4-46.4-83.5c0-1-36.6-36.1-38.6-35.2
                            C249.5,259.8,65.1,319.8,65.1,319.8z"/>
                        <polygon class="st2" points="96.9,386 111.6,374.5 129.4,374.2 162.4,434.4 293,378.1 281.1,364.8 285.9,361 276.2,349.9 
                            265.6,354.1 259.6,342.7 254.9,341.7 290.8,327.9 313.4,351.7 299.8,351.6 296.9,353.8 308.2,353.8 333,379.9 297,396.3 
                            299.5,401 187.8,452 184.9,447.1 136.4,469.4 		"/>
                        <polyline class="st3" points="111.6,374.5 148.1,445.7 177.8,432.5 		"/>
                        <polyline class="st3" points="140.9,395.2 122.6,396 107.5,408.4 116.1,434.1 		"/>
                        <polyline class="st3" points="153.5,418.2 134.9,419.9 119.1,432.8 128.5,460.2 		"/>
                        <polyline class="st3" points="162.4,434.4 148.1,445.7 136.4,469.4 146.8,498.7 		"/>
                        <polyline class="st3" points="187.8,452 179.9,434.8 174.6,429.1 		"/>
                        <line class="st3" x1="290.7" y1="385.7" x2="179.9" y2="434.8"/>
                        <polyline class="st3" points="283.2,382.3 290.7,385.7 297,396.3 		"/>
                        <polyline class="st3" points="213.1,412.5 219.1,417.4 227.4,433.9 232.5,463.4 		"/>
                        <polyline class="st3" points="249.2,397 255.8,401.2 264.2,417.1 267.8,446.2 		"/>
                        <polyline class="st3" points="285.9,361 294.8,353.9 312.6,373.7 287.9,384.4 		"/>
                        <line class="st3" x1="294.8" y1="353.8" x2="296.9" y2="353.8"/>
                        <polyline class="st3" points="259.6,342.7 283,333.4 299.8,351.6 		"/>
                        <polygon class="st3" points="163.8,379.2 168.4,384.2 172.8,392.8 189.8,385.7 192.9,389.6 227.5,375.5 221.6,364.8 216.9,361.1 
                            183.9,374.1 181.8,372.1 		"/>
                        <polyline class="st3" points="221.6,364.8 187.4,378.4 183.9,374.1 183.9,374.1 		"/>
                        <polyline class="st3" points="168.4,384.2 185.7,377.4 189.8,385.7 193.4,401.1 		"/>
                        <polyline class="st3" points="187.4,378.4 192.9,389.6 197,408.1 		"/>
                        <polyline class="st3" points="223,367.2 236.2,361.8 241.3,365.2 247.3,375.7 230.1,383 226.1,376.1 		"/>
                        <line class="st3" x1="225.4" y1="371.7" x2="241.3" y2="365.2"/>
                        <polyline class="st3" points="96.9,386 105.8,412.4 146.8,498.7 152.1,496.2 153.4,498.9 178.7,486.5 177.8,483.8 192.4,476.9 
                            195,481.6 301.4,429.9 301.1,425 333.3,409.2 333.2,380.2 312.6,373.7 293,378.1 		"/>
                        <line class="st3" x1="184.9" y1="447.1" x2="192.4" y2="476.9"/>
                        <line class="st3" x1="299.5" y1="401" x2="301.4" y2="429.9"/>
                        <line class="st3" x1="282.7" y1="382.5" x2="281" y2="364.7"/>
                        <polyline class="st3" points="254.9,341.6 258.9,371.1 268.7,383.1 279,378.7 276.2,349.9 283,333.4 290.8,327.9 		"/>
                        <line class="st3" x1="265.6" y1="354.1" x2="268.7" y2="383.1"/>
                        <line class="st3" x1="279" y1="378.7" x2="282.3" y2="382.5"/>
                        <line class="st3" x1="313.4" y1="351.7" x2="313.7" y2="359.6"/>
                        <polyline class="st3" points="163.6,379.1 168.1,395.6 177.1,410.8 189.1,405.7 184.8,387.8 		"/>
                        <polyline class="st3" points="188.5,403.2 193.4,401.1 197,408.1 229.5,395 232.6,399.1 249.6,391.9 247.5,375.9 		"/>
                        <line class="st3" x1="232.6" y1="399.1" x2="230.1" y2="383"/>
                        <line class="st3" x1="229.5" y1="395" x2="226.4" y2="376.7"/>
                        <line class="st3" x1="172.8" y1="392.8" x2="177.1" y2="410.8"/>
                        <polygon class="st3" points="115.5,315.1 73.3,327.9 95.1,371.2 108.6,360 126.5,359.9 109.3,329.3 120.6,325.6 		"/>
                        <polyline class="st3" points="73.3,327.9 84.5,356.4 97.8,385.2 		"/>
                        <line class="st3" x1="95.1" y1="371.2" x2="99.6" y2="383.9"/>
                        <line class="st3" x1="126.6" y1="360" x2="131.7" y2="378.4"/>
                        <polyline class="st3" points="123.3,354.1 128.3,352.5 120.6,325.6 		"/>
                        <polyline class="st3" points="108.6,360 89.1,323.1 109.3,329.3 		"/>
                        <polyline class="st3" points="85.2,351.6 98.7,341.2 116,341.1 		"/>
                        <polygon class="st3" points="145.7,331.2 149.1,333.1 155.9,346.7 288.8,298.5 271.7,281.4 261.9,279.3 253.4,288.2 257.7,292.6 
                                    "/>
                        <polyline class="st3" points="149.1,333.1 272.4,290.5 261.9,279.3 		"/>
                        <polyline class="st3" points="179.1,319.7 182.9,321.4 189.5,334.5 195.2,362.6 		"/>
                        <polyline class="st3" points="210.1,309 214.5,310.5 221,323.1 225.4,350.9 		"/>
                        <polyline class="st3" points="239.2,299 244.3,300.2 251,312.2 254.6,339.6 		"/>
                        <polyline class="st3" points="145.3,331 153.1,359.5 163,375.2 290.7,325.5 289,298.8 272.4,290.5 257.7,292.6 		"/>
                        <line class="st3" x1="155.9" y1="346.7" x2="163" y2="375.2"/>
                        <polygon class="st3" points="311.2,263.1 312.8,289.7 332.2,307.5 336.4,306 337.5,307 352.6,301 352.6,299.9 359,297.4 
                            361.8,299.7 427.5,274.1 429.6,248.7 422.8,239 415.2,238.8 341.9,264.6 331.9,256.3 321.7,254.8 		"/>
                        <polyline class="st3" points="311.2,263.1 331.4,280.9 359.4,270.8 362.4,273 429.6,248.7 		"/>
                        <polyline class="st3" points="321.7,254.8 336.5,267.7 354.4,261.4 362.4,273 361.8,299.7 		"/>
                        <line class="st3" x1="422.8" y1="239" x2="355.4" y2="262.8"/>
                        <polyline class="st3" points="336.5,267.7 331.4,280.9 332.2,307.5 		"/>
                        <polyline class="st3" points="349.3,262 354.4,261.4 359.4,270.8 359,297.4 		"/>
                        <polyline class="st3" points="371.9,254 379,254.4 385.7,264.5 385,290.6 		"/>
                        <polyline class="st3" points="393.3,246.5 401.3,246.6 408.1,256.5 406.3,282.3 		"/>
                        <polygon class="st3" points="136.7,299.8 144.5,313 188,298.2 180,286.2 		"/>
                        <polyline class="st3" points="136.5,299.6 140.2,316.6 146.9,326.6 190.3,311.3 188.1,298.4 		"/>
                        <line class="st3" x1="144.5" y1="313" x2="146.9" y2="326.6"/>
                        <polyline class="st3" points="159,292.8 166.7,305.4 169.4,318.7 		"/>
                        <polyline class="st3" points="253.2,289.6 219,301.6 211.5,292.3 208.2,277 247.9,264.2 256.6,275.2 257.4,284 		"/>
                        <line class="st3" x1="253.3" y1="288.2" x2="254.1" y2="293.8"/>
                        <polyline class="st3" points="208.2,277 216.9,288.8 256.6,275.2 		"/>
                        <polyline class="st3" points="228.9,270.3 237.5,281.7 239.2,294.5 		"/>
                        <line class="st3" x1="216.9" y1="288.8" x2="219" y2="301.6"/>
                        <polyline class="st3" points="481.9,277.1 486.1,282.3 474.6,286.9 468.6,278.9 460.9,277.6 471.3,273.2 478.8,274.7 		"/>
                        <polygon class="st3" points="480.9,277.5 502,269.1 495.2,261.4 487.7,260.1 466.8,268.4 474.7,269.4 		"/>
                        <line class="st3" x1="468.6" y1="278.9" x2="478.8" y2="274.7"/>
                        <polyline class="st3" points="499.5,266.2 506.9,263.1 501.7,257.5 492.6,255.8 482.2,260 486.4,260.6 		"/>
                        <line class="st3" x1="474.7" y1="269.4" x2="495.2" y2="261.4"/>
                        <line class="st3" x1="501.7" y1="257.5" x2="492.9" y2="261"/>
                        <polyline class="st3" points="460.1,277.7 458.9,292.4 472.8,301.6 484.6,296.4 486.2,282.3 		"/>
                        <line class="st3" x1="474.7" y1="286.5" x2="472.8" y2="301.6"/>
                        <line class="st3" x1="466" y1="268.5" x2="465.4" y2="275.7"/>
                        <polyline class="st3" points="485.1,292.1 499.2,285.5 502,269.1 		"/>
                        <polyline class="st3" points="507.1,263.1 504.5,278.8 500,280.7 		"/>
                        <polyline class="st3" points="509.4,240.4 517.6,239.3 522.8,247.2 528.5,244.8 555.9,259.9 510.4,279.4 509.5,284.4 488.5,293.5 
                            485.3,316.1 502.7,328.7 563.7,298.7 564.8,294 580.1,286.9 586.4,261.3 530.7,231.2 528.5,244.8 		"/>
                        <polyline class="st3" points="530.6,231.1 509.4,240.4 505.8,262 		"/>
                        <polyline class="st3" points="488.5,293.5 498.4,294.7 506.5,306 527.7,296 519.6,285.2 509.5,284.4 		"/>
                        <line class="st3" x1="498.4" y1="294.7" x2="519.6" y2="285.2"/>
                        <polyline class="st3" points="510.4,279.4 520.6,280.3 528.9,291.2 569.4,273.1 560.5,263 550.3,262.4 		"/>
                        <line class="st3" x1="520.6" y1="280.3" x2="560.5" y2="263"/>
                        <line class="st3" x1="506.5" y1="306" x2="502.7" y2="328.7"/>
                        <line class="st3" x1="528.9" y1="291.2" x2="523.7" y2="318.3"/>
                        <polyline class="st3" points="530.7,270.7 541,271.5 549.4,282 543.3,308.7 		"/>
                        <line class="st3" x1="569.4" y1="273.1" x2="564.8" y2="294"/>
                        <polyline class="st3" points="566.7,270 585.7,262.1 571,256.4 530.5,234.3 517.6,239.3 		"/>
                        <polyline class="st3" points="555.9,259.9 571,256.4 556.5,262.7 		"/>
                        <polyline class="st3" points="557.8,245.9 550.1,245 541.9,252.2 538.8,267.3 		"/>
                        <polyline class="st3" points="522.8,247.2 518.1,272.9 506.5,265.9 		"/>
                        <line class="st3" x1="481.2" y1="262.8" x2="481.5" y2="260.1"/>
                        <polyline class="st3" points="518.2,273.1 523.8,270.3 528.5,244.8 		"/>
                        <line class="st3" x1="523.8" y1="270.3" x2="527" y2="272.3"/>
                        <polyline class="st3" points="672,212.4 626.6,232.2 634.2,241.5 680,220.8 672,212.4 661.5,212.6 611.2,234.4 583.9,220.9 
                            589.4,219 583.7,211.4 575.5,212.5 555.5,219.5 611.5,248.1 630.5,239.3 624.4,231.2 617,231.9 		"/>
                        <line class="st3" x1="626.6" y1="232.2" x2="625" y2="232"/>
                        <path class="st3" d="M555.5,219.5c0.9,0.1,15.8-3.4,15.8-3.4l41.2,20.5l11.8-5.4"/>
                        <polyline class="st3" points="583.7,211.4 571.3,216.1 583.9,220.9 		"/>
                        <polyline class="st3" points="597,227.4 591.2,226 583,233.5 577.6,256.6 		"/>
                        <polyline class="st3" points="611.2,234.4 612.6,236.6 611.5,248.1 604.4,273.1 622.6,264.4 626.4,266.4 671.5,244.9 680.2,220.8 
                                    "/>
                        <line class="st3" x1="634.2" y1="241.5" x2="626.4" y2="266.4"/>
                        <line class="st3" x1="604.1" y1="273.4" x2="586.1" y2="263.1"/>
                        <line class="st3" x1="555.1" y1="219.5" x2="550.5" y2="241.9"/>
                        <line class="st3" x1="630.5" y1="239.3" x2="622.6" y2="264.4"/>
                        <polyline class="st3" points="631.8,225.5 642.4,225.3 650.2,234.3 642,259 		"/>
                        <polyline class="st3" points="646.5,219.1 657.2,218.8 665.2,227.5 656.8,251.9 		"/>
                        <polyline class="st3" points="673.7,238.9 678.8,241.2 693,234.5 701.7,210.9 693.8,202.8 683.2,203.2 669.1,209.4 680.3,208.8 
                            687.7,217.1 701.7,210.9 		"/>
                        <line class="st3" x1="680.3" y1="208.8" x2="693.8" y2="202.8"/>
                        <line class="st3" x1="687.7" y1="217.1" x2="678.8" y2="241.2"/>
                        <line class="st3" x1="668.2" y1="209.6" x2="667.4" y2="212.4"/>
                        <polyline class="st3" points="656.4,214.7 652.6,213.3 648.1,215.3 636,209.7 642.6,186.9 657.6,181.1 712.5,203 704,226.2 
                            694.5,230.2 		"/>
                        <polyline class="st3" points="643,186.7 651.3,185.7 655.5,192.4 659.9,190.7 687.4,201.9 683.9,203.2 		"/>
                        <polyline class="st3" points="651.3,185.7 659.7,182 659.9,190.7 652.6,213.3 		"/>
                        <polyline class="st3" points="680,190 673.2,196.1 669.1,209.4 		"/>
                        <polyline class="st3" points="687.4,201.9 700.7,198.3 689.8,203 		"/>
                        <line class="st3" x1="699.5" y1="208.7" x2="712.5" y2="203"/>
                        <line class="st3" x1="655.5" y1="192.4" x2="648.1" y2="215.3"/>
                        <polyline class="st3" points="587.9,216.9 592.5,214.9 605,215.7 611.4,222.2 626.6,215.7 620,209.9 611.8,209.1 596.9,215.2 		
                            "/>
                        <polyline class="st3" points="594.2,219.1 601.7,215.7 606.7,220.6 598.9,224.1 594.2,219.1 589.4,219 588.5,223.2 		"/>
                        <polyline class="st3" points="621.2,211 622.5,210.4 630.8,210.9 637.5,217.1 629.6,220.2 625.4,216.5 621.9,229.8 		"/>
                        <line class="st3" x1="598.9" y1="224.1" x2="598.1" y2="228"/>
                        <line class="st3" x1="606.7" y1="220.6" x2="604.3" y2="231"/>
                        <line class="st3" x1="611.4" y1="222.2" x2="608.8" y2="233.2"/>
                        <line class="st3" x1="629.6" y1="220.2" x2="627.8" y2="227.1"/>
                        <line class="st3" x1="637.7" y1="217.1" x2="635.9" y2="223.7"/>
                        <line class="st3" x1="605" y1="215.7" x2="620" y2="209.9"/>
                        <line class="st3" x1="624.2" y1="213.6" x2="630.8" y2="210.9"/>
                        <polygon class="st3" points="437.1,233 435.1,258.9 449.1,268.2 486.9,252.7 490.6,228.2 483.7,219.3 475.4,219.7 		"/>
                        <polyline class="st3" points="437.1,233 444.9,233.2 451.7,242.6 490.6,228.2 		"/>
                        <line class="st3" x1="444.9" y1="233.2" x2="483.7" y2="219.3"/>
                        <polyline class="st3" points="456.7,226.2 464.6,226.3 471.4,235.3 468.1,260.2 		"/>
                        <line class="st3" x1="449.1" y1="268.2" x2="451.7" y2="242.6"/>
                        <polyline class="st3" points="469,221.9 470,211.1 477.5,204.5 485.1,206.4 507.6,219.1 504.2,242.8 487.5,248.9 		"/>
                        <line class="st3" x1="507.6" y1="219.1" x2="489" y2="226.1"/>
                        <polyline class="st3" points="476.6,205.3 494,214.8 481,219.4 		"/>
                        <polyline class="st3" points="470,211.1 481.7,217.7 494,214.8 507.6,219.1 		"/>
                        <line class="st3" x1="475.4" y1="219.7" x2="481.7" y2="217.7"/>
                        <polyline class="st3" points="311.7,272.2 293.4,278.9 282.9,268.9 281.4,252.7 316.9,241.1 327.2,251.6 327.1,255.5 		"/>
                        <line class="st3" x1="281.4" y1="252.7" x2="292.3" y2="263.7"/>
                        <polyline class="st3" points="293.4,278.9 292.3,263.7 327.2,251.6 		"/>
                        <polyline class="st3" points="299.8,246.7 309.9,257.4 310.4,272.7 		"/>
                        <polyline class="st3" points="512.1,177.5 487.5,185.2 531.7,207.5 552,201 546.2,193.8 539.9,194.6 534.5,196.6 512.6,185.9 
                            532.7,179.6 526.2,172.1 517.3,172.9 503.2,177.3 503,180.3 		"/>
                        <polyline class="st3" points="503.2,177.3 511.6,176.8 517.6,184.3 		"/>
                        <line class="st3" x1="511.6" y1="176.8" x2="526.2" y2="172.1"/>
                        <polyline class="st3" points="500.1,181.2 534.1,197.8 546.2,193.8 		"/>
                        <line class="st3" x1="534.5" y1="196.6" x2="534.1" y2="197.8"/>
                        <line class="st3" x1="512.6" y1="185.9" x2="500.5" y2="181.4"/>
                        <polyline class="st3" points="517.3,172.9 517.4,171.7 536.4,165.8 551.4,171.5 555.5,173.8 552.5,190 		"/>
                        <polyline class="st3" points="517.4,171.7 523.9,171 525,172.5 		"/>
                        <polyline class="st3" points="531.2,177.9 540,174.9 538.1,166.6 523.9,171 		"/>
                        <path class="st3" d="M551.4,171.5c0,0.7-5.7,5.9-5.7,5.9l-2.9,16.8"/>
                        <polyline class="st3" points="545.7,177.4 540,174.9 536.2,196 		"/>
                        <line class="st3" x1="532.7" y1="179.6" x2="530.5" y2="194.6"/>
                        <line class="st3" x1="487.5" y1="185.2" x2="485.1" y2="206.4"/>
                        <polyline class="st3" points="507.4,220.5 527.2,231.3 547,223.7 552,201 		"/>
                        <line class="st3" x1="531.7" y1="207.5" x2="527.2" y2="231.3"/>
                        <polyline class="st3" points="549.2,197.6 550.7,190.3 565.6,185.4 574,184.7 580.8,192.4 576.1,212.4 		"/>
                        <line class="st3" x1="548.8" y1="215.4" x2="556.7" y2="219.2"/>
                        <path class="st3" d="M550.7,190.3l8.7-0.5l37.3-13c0,0,9.3-1.1,9-1.1s6.4,7.2,6.4,7.2l-6,22.5l-20.8,8.1"/>
                        <polyline class="st3" points="559.3,189.8 565.7,197.9 580.8,192.4 		"/>
                        <polyline class="st3" points="612,182.9 583.5,193.6 576.8,185.7 605.7,175.7 		"/>
                        <line class="st3" x1="583.5" y1="193.6" x2="579.3" y2="212"/>
                        <line class="st3" x1="576.8" y1="185.7" x2="574.9" y2="185.7"/>
                        <line class="st3" x1="565.7" y1="197.9" x2="561.5" y2="217.4"/>
                        <polyline class="st3" points="584.1,181.2 591.2,180.7 597.9,188.2 592.2,210.7 		"/>
                        <polyline class="st3" points="547.4,170 548.9,160.8 566.9,155.1 575,154.1 561.3,158.3 573,162.8 577.6,165.8 573.5,184.7 		"/>
                        <polyline class="st3" points="564.5,185.8 567.9,169 548.9,160.8 		"/>
                        <line class="st3" x1="567.9" y1="169" x2="573" y2="162.8"/>
                        <line class="st3" x1="561.3" y1="158.3" x2="549.4" y2="160.8"/>
                        <polyline class="st3" points="609.1,193.9 625,200.7 635.7,196 641.5,174.7 637.7,171.8 585.8,151.5 575,154.7 580.5,160.9 
                            584.6,159.3 630.9,178.1 637.7,171.8 		"/>
                        <polyline class="st3" points="576.1,154.4 580.5,160.9 576.1,182.6 573.7,183.5 		"/>
                        <line class="st3" x1="580.5" y1="160.9" x2="574" y2="163.5"/>
                        <line class="st3" x1="630.9" y1="178.1" x2="625" y2="200.7"/>
                        <polyline class="st3" points="620,164.9 613.1,170.9 610.4,181.1 		"/>
                        <polyline class="st3" points="602.5,158.1 595.9,163.9 592.3,178.3 		"/>
                        <polyline class="st3" points="585.8,151.5 584.6,159.3 579.8,181.2 576.1,182.6 		"/>
                        <line class="st3" x1="579.8" y1="181.2" x2="581.9" y2="181.9"/>
                        <line class="st3" x1="467.6" y1="201.8" x2="485.6" y2="195.8"/>
                        <line class="st3" x1="325" y1="249.5" x2="344" y2="243.1"/>
                        <line class="st3" x1="254.8" y1="273" x2="282.1" y2="263.8"/>
                        <line class="st3" x1="186.4" y1="295.8" x2="210.5" y2="287.8"/>
                        <line class="st3" x1="117.3" y1="318.9" x2="139.1" y2="311.6"/>
                        <path class="st3" d="M707.8,216.7l15.6,6.6c8.8,3.8,13,14,9.2,22.8c-1.6,3.7-4.4,6.7-7.9,8.6L139.9,561.6
                            c-8.5,4.5-19,1.2-23.5-7.3c-0.2-0.4-0.4-0.9-0.6-1.3l-79-187.4c-3.7-8.8,0.4-19,9.3-22.8c0.4-0.2,0.8-0.3,1.3-0.5l28-9.4"/>
                        <line class="st3" x1="385.3" y1="241.6" x2="392.5" y2="246.8"/>
                        <polyline class="st3" points="384.2,224.4 391,224.5 396.4,233 471.2,208.1 465.7,200.1 458.2,200.9 384.2,224.4 384,233 		"/>
                        <line class="st3" x1="471.2" y1="210" x2="471.3" y2="208.2"/>
                        <line class="st3" x1="423.4" y1="239.9" x2="437" y2="235.2"/>
                        <line class="st3" x1="396.4" y1="233" x2="396.1" y2="245.5"/>
                        <line class="st3" x1="391" y1="224.5" x2="465.7" y2="200.1"/>
                        <polyline class="st3" points="403.5,218.2 410.4,218.2 416.3,226.4 415.8,238.8 		"/>
                        <polyline class="st3" points="422.4,212.1 429.4,212 435.4,220 434.2,236.2 		"/>
                        <polyline class="st3" points="441.2,206.3 447.6,206 453.4,214 452.3,227.7 		"/>
                        <g>
                            <polygon class="st3" points="354.8,256.8 385.2,245.9 385.5,234.6 375.4,224.9 343.8,233.9 344.1,248.7 			"/>
                            <polyline class="st3" points="359.6,229.2 370.5,239.4 370.5,251.2 354.8,256.8 355,244.3 343.8,233.9 355,244.3 385.5,234.6 			
                                "/>
                        </g>
                        <line class="st3" x1="385.6" y1="241.9" x2="392.2" y2="246.6"/>
                    </g>
                </g>
                <g id="buildings-area-3">
                    <g>
                        <polyline class="st1" points="673.5,238.9 678.8,241.2 693,234.5 694.5,230.2 704,226.2 712.5,203 657.5,180.8 642,187.2 
                            635.4,209.9 648.1,215.3 652.6,213.3 656.4,214.7 		"/>
                        <polyline class="st1" points="609.1,193.9 625,200.7 635.7,196 641.5,174.7 637.7,171.8 585.8,151.5 575.6,154.1 567.4,154.2 
                            548.9,160.8 547.4,169.1 537,165.1 517.4,170.8 517.3,172.9 503.2,177.3 503,180.3 486.5,185.2 484.3,205.8 507.9,220.1 
                            527.2,230.5 547.1,223.2 549,214.5 557.1,218.5 		"/>
                        <polyline class="st1" points="585.9,213.8 606,205.3 612,182.9 605.7,175.7 596,176.3 574,184.7 566,185.1 550.7,190.3 549,197.2 
                            552,201 547.1,223.2 		"/>
                        <polyline class="st1" points="553.2,189.5 556.2,173.8 552.2,171 537,165.1 		"/>
                        <polyline class="st1" points="586,263.9 603.6,273.9 622.6,264.4 626.8,266.9 671.2,245.1 680.2,220.8 672,212.4 661.5,212.6 
                            611.4,233.8 584.4,220.4 589.1,218.5 584.1,211.2 575.5,211.9 554.5,219.4 549.9,241.6 		"/>
                        <polygon class="st1" points="611.4,233.8 584.4,220.4 589.1,218.5 587.9,216.5 592.2,214.9 597,215 611.8,209.1 620,209.6 
                            621.2,210.7 622.7,210 631.2,210.6 637.7,217.1 636,223.4 		"/>
                    </g>
                </g>
                <g id="buildings-area-2">
                    <g>
                        <polyline class="st1" points="327.1,255.5 327.2,251.6 316.9,241.1 281.4,252.7 282.9,268.9 293.4,279.4 311.7,272.2 		"/>
                        <polygon class="st1" points="312.8,289.7 331.5,307.5 336.4,306 338.1,307.7 352.9,301.6 352.6,299.9 358.5,297.6 361.8,299.7 
                            427.5,274.1 429.6,248.7 422.8,238.6 415,238.4 341.9,264.6 332.2,256.6 322.1,255.1 312.1,263.2 		"/>
                        <polygon class="st1" points="465.6,267.9 465,275.1 460,277.2 458.9,292.4 472.8,301.6 485.2,296 485.9,291.7 499.2,285.5 
                            500,280.7 504.5,278.8 506.9,263.1 501.7,257.5 492.6,255.8 481.5,260.1 480.9,261.9 		"/>
                        <polyline class="st1" points="505.6,261.5 509.3,239.6 531.1,231.4 586.4,261.3 580.1,286.9 564.8,294 563.7,298.7 502.7,328.7 
                            485.3,316.1 488.5,293.5 509.5,284.4 510.4,278.9 526.6,272.1 523.8,270.3 517.8,272.8 506.5,266.5 		"/>
                        <polygon class="st1" points="435.1,258.9 449.1,268.2 486.9,252.7 487.5,248.9 504.2,242.8 507.6,219.1 485.1,206.4 477.5,204.5 
                            470,211.1 469,221.9 437.1,233 		"/>
                        <polygon class="st1" points="375.4,224.9 344.2,233.6 344.1,248.7 354.3,256.7 385.2,245.9 385.5,234.6 		"/>
                        <polygon class="st1" points="472.5,208.9 470,211.1 469,221.9 437.1,233 436.7,235.8 424.2,239.9 423.8,240.1 422.8,238.6 
                            415,238.4 385.2,249.1 385.5,234.6 383.4,232.6 383.6,224 457.7,200.3 465.7,199.4 472.1,208.2 		"/>
                    </g>
                </g>
                <g id="buildings-area-1">
                    <polygon class="st1" points="146.8,498.7 152.1,496.2 153.4,498.9 178.7,486.5 177.8,483.8 192.4,476.9 195,481.6 301.4,429.9 
                        301.1,425 333.3,409.2 333.2,380.2 313.7,359.6 313.4,351.7 290.8,327.9 255.1,341.7 258.9,371.1 268.7,383.1 279,378.7 
                        282.3,382.5 162.4,434.4 130.6,374.4 111.6,374.5 96.9,386 105.6,411.7 	"/>
                    <polygon class="st1" points="163.6,379.1 168.1,395.6 177.1,410.8 189.1,405.7 188.5,403.2 193.4,401.1 197,408.1 229.5,395 
                        232.6,399.1 249.6,391.9 247.3,375.4 241.3,365.2 236.2,361.8 223,367.2 221.6,364.8 216.9,361.1 183.9,374.1 181.8,372.1 	"/>
                    <polyline class="st1" points="97.8,385.2 83.6,354.1 73.3,327.9 115.5,315.1 120.6,325.6 128.6,352.6 123.4,354.4 126.9,360.1 
                        130.1,373.8 	"/>
                    <polygon class="st1" points="145.3,331.6 153.1,359.5 163,374.5 290.7,325.2 289,298.8 271.7,281.4 262.5,279.4 253.4,288.2 
                        254.4,293.7 	"/>
                    <polygon class="st1" points="136.5,299.6 140.2,316.6 146.9,326.6 190.3,311.3 188.1,298.4 180,286.2 	"/>
                    <polyline class="st1" points="253.3,290 219,302 211.5,292.3 208.2,277 247.9,264.2 256.6,275.2 257.4,284.2 	"/>
                </g>

                <g id="buildings-1">
                    <polygon points="146.75 498.69 152.13 496.17 153.45 498.85 178.7 486.49 177.84 483.82 192.35 476.85 194.99 481.59 301.4 429.9 301.07 425.03 333.32 409.24 333.25 380.21 313.71 359.57 313.44 351.7 290.76 327.9 255.12 341.73 258.94 371.15 268.73 383.08 278.97 378.68 282.32 382.52 162.35 434.38 130.59 374.42 111.55 374.49 96.86 385.95 105.62 411.74 146.75 498.69" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="163.63 379.07 168.08 395.62 177.05 410.81 189.13 405.69 188.53 403.22 193.36 401.15 196.98 408.11 229.46 394.96 232.63 399.08 249.57 391.85 247.33 375.4 241.27 365.21 236.2 361.81 222.96 367.19 221.62 364.75 216.92 361.06 183.93 374.08 181.8 372.1 163.63 379.07" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="97.83 385.19 83.6 354.14 73.32 327.94 115.5 315.08 120.55 325.65 128.56 352.65 123.41 354.37 126.89 360.06 130.06 373.81" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="145.32 331.58 153.13 359.55 162.98 374.49 290.69 325.24 289.04 298.75 271.73 281.4 262.5 279.42 253.45 288.25 254.44 293.7 145.32 331.58" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="136.53 299.59 140.22 316.64 146.86 326.59 190.33 311.31 188.11 298.4 180.01 286.16 136.53 299.59" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="253.29 290.01 219.01 302.01 211.47 292.34 208.23 277.02 247.89 264.21 256.56 275.22 257.4 284.17" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                </g>
                <g id="buildings-2">
                    <g>
                    <polyline points="327.07 255.46 327.16 251.63 316.85 241.07 281.37 252.66 282.87 268.91 293.44 279.38 311.73 272.19" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="312.79 289.71 331.54 307.51 336.36 305.95 338.07 307.67 352.86 301.64 352.65 299.9 358.46 297.61 361.84 299.68 427.45 274.09 429.6 248.67 422.8 238.55 415.04 238.37 341.89 264.58 332.19 256.6 322.06 255.09 312.06 263.18 312.79 289.71" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="465.61 267.94 465.01 275.11 459.98 277.21 458.88 292.35 472.8 301.65 485.22 295.96 485.87 291.72 499.23 285.53 500.05 280.72 504.54 278.79 506.89 263.14 501.7 257.47 492.59 255.8 481.49 260.12 480.88 261.94 465.61 267.94" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="505.64 261.51 509.33 239.63 531.14 231.45 586.37 261.33 580.1 286.86 564.76 293.95 563.68 298.66 502.68 328.67 485.29 316.08 488.48 293.5 509.48 284.39 510.38 278.92 526.62 272.08 523.81 270.32 517.82 272.78 506.46 266.5" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="435.11 258.85 449.06 268.25 486.94 252.7 487.51 248.89 504.24 242.77 507.58 219.11 485.07 206.36 477.5 204.54 470.02 211.06 469.03 221.93 437.15 233.02 435.11 258.85" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polygon points="375.43 224.93 344.24 233.59 344.12 248.68 354.27 256.73 385.2 245.93 385.47 234.6 375.43 224.93" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="383.4 231.75 383.58 223.97 457.69 200.27 465.74 199.35 472.07 208.25" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <line x1="424.21" y1="239.93" x2="436.68" y2="235.77" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    </g>
                </g>
                <g id="buildings-3">
                    <g>
                    <polyline points="586.04 263.93 603.59 273.9 622.59 264.42 626.83 266.87 671.22 245.05 680.18 220.84 672.02 212.36 661.46 212.55 611.4 233.84 584.37 220.38 589.12 218.51 584.11 211.22 575.45 211.94 554.49 219.44 549.86 241.58" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="673.49 238.93 678.78 241.25 692.97 234.47 694.52 230.25 703.99 226.16 712.55 202.98 657.54 180.84 642 187.25 635.44 209.93 648.08 215.32 652.59 213.31 656.37 214.71" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="587.9 216.49 592.18 214.85 596.99 214.96 611.82 209.09 620.05 209.57 621.24 210.68 622.7 209.97 631.19 210.65 637.65 217.06 635.95 223.4" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="609.07 193.92 625.01 200.68 635.65 196.04 641.52 174.68 637.71 171.78 585.75 151.52 575.61 154.1 567.37 154.18 548.89 160.75 547.39 169.15 536.97 165.14 517.4 170.82 517.35 172.93 503.25 177.27 502.98 180.34 486.54 185.16 484.28 205.79" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="507.93 220.07 527.21 230.5 547.13 223.18 549.03 214.48 557.12 218.49" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="585.88 213.79 606.01 205.34 612.03 182.86 605.65 175.66 596.04 176.27 574.03 184.73 565.95 185.05 550.66 190.32 548.99 197.25 551.98 200.98 547.13 223.18" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    <polyline points="553.15 189.46 556.18 173.79 552.17 171 536.97 165.14" style="fill: none;stroke: #96a591;stroke-miterlimit: 10;stroke-width: 2.8000000000000003px"/>
                    </g>
                </g>

                <g id="number-1">
                    <circle class="st3" cx="200.5" cy="180.1" r="21.5"/>
                    <g>
                        <path class="st1" d="M202.2,179.9c0,2.8-2.3,5.1-5.1,5c-2.8,0-5.1-2.3-5-5.1c0-2.8,2.3-5,5.1-5c2.8,0,5,2.2,5.1,4.9
                            C202.2,179.8,202.2,179.8,202.2,179.9z M200.4,179.9c-0.1-1.9-1.7-3.3-3.6-3.2c-1.9,0.1-3.3,1.7-3.2,3.6c0.1,1.8,1.6,3.2,3.4,3.2
                            c1.9,0,3.4-1.6,3.4-3.5C200.5,180,200.5,180,200.4,179.9z"/>
                        <path class="st1" d="M205.7,176.9l-1.9,1v-1.6l2.4-1.4h1.2v10h-1.7L205.7,176.9z"/>
                    </g>
                    <line class="st3" x1="200.5" y1="201.6" x2="200.5" y2="312.3"/>
                </g>
                <g id="number-2">
                    <circle class="st3" cx="396.4" cy="91.8" r="21.5"/>
                    <g>
                        <path class="st1" d="M396.7,91.6c0,2.8-2.3,5.1-5.1,5s-5.1-2.3-5-5.1c0-2.8,2.3-5,5.1-5c2.8,0,5,2.2,5.1,4.9
                            C396.7,91.4,396.7,91.5,396.7,91.6z M395,91.6c-0.1-1.9-1.7-3.3-3.6-3.2s-3.3,1.7-3.2,3.6c0.1,1.8,1.6,3.2,3.4,3.2
                            c1.9,0,3.4-1.5,3.4-3.4C395,91.7,395,91.6,395,91.6L395,91.6z"/>
                        <path class="st1" d="M405.3,96.6h-6.6v-1.1l3.5-3.3c0.8-0.6,1.3-1.5,1.4-2.5c0-0.9-0.7-1.7-1.7-1.7s-1.7,0.7-1.7,1.7
                            c0,0.3,0.1,0.7,0.2,1l-1.5,0.7c-0.8-1.6-0.2-3.6,1.5-4.5c1.6-0.8,3.6-0.2,4.5,1.5c0.2,0.4,0.3,0.9,0.4,1.4c0,1.1-0.4,2.2-1.9,3.6
                            l-1.8,1.6h3.8V96.6z"/>
                    </g>
                    <line class="st3" x1="396.4" y1="113.3" x2="396.4" y2="237"/>
                </g>
                <g id="number-3">
                    <circle class="st3" cx="585.7" cy="63" r="21.5"/>
                    <g>
                        <path class="st1" d="M586.2,62.8c0,2.8-2.3,5-5.1,5s-5-2.3-5-5.1c0-2.8,2.3-5,5.1-5c2.8,0,5,2.2,5.1,4.9
                            C586.2,62.6,586.2,62.7,586.2,62.8z M584.5,62.8c-0.1-1.9-1.7-3.3-3.6-3.1c-1.9,0.1-3.3,1.7-3.1,3.6c0.1,1.8,1.6,3.2,3.4,3.1
                            c1.9,0,3.4-1.6,3.4-3.5C584.5,62.8,584.5,62.8,584.5,62.8z"/>
                        <path class="st1" d="M590.8,61.6c0.5,0.1,1-0.1,1.4-0.4c0.2-0.2,0.3-0.5,0.3-0.7c0-0.7-0.6-1.3-1.2-1.3c0,0,0,0-0.1,0
                            c-0.7,0-1.3,0.4-1.6,1l-1.3-0.7c0.6-1.1,1.7-1.8,3-1.8c1.5-0.1,2.8,1.1,2.9,2.6c0,0,0,0,0,0.1c0,0.8-0.4,1.6-1.1,2
                            c0.9,0.5,1.4,1.5,1.4,2.5c0,1.7-1.4,3.1-3.1,3.1c-0.1,0-0.2,0-0.2,0c-1.5,0.1-3-0.8-3.6-2.2L589,65c0.4,0.8,1.2,1.3,2.1,1.3
                            c0.9,0,1.6-0.7,1.7-1.5c0,0,0,0,0-0.1c0-0.4-0.2-0.8-0.5-1.1c-0.4-0.4-0.9-0.5-1.5-0.5h-0.5v-1.5H590.8z"/>
                    </g>
                    <line class="st3" x1="585.7" y1="84.5" x2="585.7" y2="151.5"/>
                </g>
            </svg>



			<NuxtLink :to="content.mediaInfo.href" class="media-info cursor-plus">{{
				content.mediaInfo.text
			}}</NuxtLink>
		</div>
		<div class="text">
			<div class="text-box">
				<p v-if="content.title" class="title-text mobile-center">
					{{ content.title }}
				</p>
				<p class="main-text mobile-center">
					{{ content.text }}
				</p>
				<p v-if="content.subText" class="sub-text mobile-center">
					{{ content.subText }}
				</p>
			</div>
			<Headline
				v-if="content.headline"
				:content="content.headline"
				:lineSplit="lineSplit"
			></Headline>
		</div>
		<SectionIndex v-if="index" :index="index"></SectionIndex>
	</div>
</template>
<script>
export default {
	props: ["index", "content"],
	data() {
		return {};
	},
	methods: {

    },
	mounted() {
    },
};
</script>
<style lang="scss" scoped>
.box-image {
	.text {
		.main-text {
			font-size: 15px;
			font-weight: 400;
		}
	}
	.image {
        svg {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            // #buildings-1,#buildings-2,#buildings-3 {
            //     background-color: transparent !important;
            //     fill: transparent !important;
            //     polygon {
            //     }
            // }
            #buildings-1,#buildings-2,#buildings-3,#buildings-area-1,#buildings-area-2,#buildings-area-3,#number-1,#number-2,#number-3 {
                opacity: 0;
                transition: opacity 0.3s ease;
                &.show, &:hover {
                }
            }
            #buildings-area-1:hover ~ #buildings-1,#buildings-area-1:hover ~ #number-1 {
                opacity: 1 !important;
            }
            #buildings-area-2:hover ~ #buildings-2,#buildings-area-2:hover ~ #number-2 {
                opacity: 1 !important;
            }
            #buildings-area-3:hover ~ #buildings-3,#buildings-area-3:hover ~ #number-3 {
                opacity: 1 !important;
            }
            // #building-area-1:hover ~ #buildings-1 {
            //     opacity: 1;
            // }
            // #building-area-2:hover ~ #buildings-2 {
            //     opacity: 1;
            // }
            // #building-area-3:hover ~ #buildings-3 {
            //     opacity: 1;
            // }
        }
		img {
			height: auto;
			width: 100%;
		}

	}
	&.align-right {
		flex-direction: row-reverse;
	}
}
</style>