<template>
    <div class="mobile-comfort-ext container flex-container">
        <Headline v-if="!noDecor" :content="content.headline"></Headline>
        <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <div class="text-slider">
            <TextGallery :content="content.boxes"></TextGallery>
        </div>
        <slot></slot>
    </div>
</template>
<script>
export default {
    props: {
        index:null,
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {}
    },
    methods: {

    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
    .mobile-intro {

    }
</style>