<template>
	<div class="box-image container flex-container absolute">
        <div class="image-collage">
            <v-lazy-image :src="('/images/'+content.imageCollage.topLeft) | statically(146)" alt="tableware element" class="topLeft"/>
            <v-lazy-image :src="('/images/'+content.imageCollage.topRight) | statically(146)" alt="chair element" class="topRight"/>
            <v-lazy-image :src="('/images/'+content.imageCollage.botLeft) | statically(146)" alt="stairs element" class="botLeft"/>
            <v-lazy-image :src="('/images/'+content.imageCollage.botRight) | statically(146)" alt="natural chair element" class="botRight"/>
		</div>
		<div class="text absolute">
            <NuxtLink
              v-if="content.cube"
              :to="localePath(content.cube.href)"
              class="cube mobile-center"
            >
              {{ content.cube.text }}
            </NuxtLink>

            <Headline v-if="content.headline && !noDecor" :content="content.headline"></Headline>
		</div>
		<SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <slot></slot>
	</div>
</template>
<script>
export default {
	props: {
        index:null,
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        },
    },
	data() {
        return {

        }
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.box-image {
	.text {
        &.absolute {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            .main-text, .cube {
                position: absolute;
            }
        }
	}
    .image-collage {
        width: 100%;
        height: 100%;
        .topLeft,.topRight,.botLeft,.botRight {
            position: absolute;
            width: 146px;
            height: 146px;
            z-index: 2;
        }
        .topLeft {
            top: 310px;
            left: 29px;
        }
        .topRight {
            top: 190px;
            right: 32px;
        }
        .botLeft {
            bottom: 10px;
            left: 29px;
        }
        .botRight {
            bottom: 10px;
            right: 32px;
        }
    }
    &.absolute {
        .image {
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}
</style>
