<template>
   <div class="single-apartment">
     <Nav></Nav>
     <div class="page-container">
       <div class="view-nav">
        <BackBtn @click.native="goBack()"></BackBtn>
        <p class="right v-medium-text">{{content.nav_title}}</p>
        <!-- <div class="switch-view-btn">
          <p class="v-tiny-text">{{$t(content.switch_to_graphic)}}</p>
        </div> -->
      </div>
      <div class="view-body">
        <div class="left-info">
          <p class="medium-text-4">{{content.apply_see}}</p>
          <div class="furniture-switch">
            <SwitchBox class="filter-item"
            v-model="showFurniture" :content="content.show_furniture"></SwitchBox>
          </div>
        </div>

          <div class="apartment-box">
            <div class="apartment_layout">
            <div class="apartment_layout__container desktop" :class="{'wide': isWide}">
                <img v-if="apartment.layout.image_base" ref="layoutBg" class="apartment_layout__bg" :src="apartment.layout.image_base.path|statically(900,900)" alt="apartment layout"/>
                <div v-if="apartment.layout.clean_layout_svg" class="apartment_layout__fg cursor-plus" v-html="apartment.layout.clean_layout_svg"></div>
                <div class="apartment_layout__pop-up" :class="area == 'none'?'hidden':''" div ref="popUp" >
                    <div class="room">
                        <p class="room-text"></p>
                    </div>
                    <div class="area">
                        <p class="has-superscript"><span class="area-text"></span> m<span class="superscript">2</span></p>
                    </div>
                </div>
            </div>
            <div class="apartment_layout__container mobile">
                <div class="map-wrap">
                    <client-only>
                      <l-map
                      :max-bounds="[[-69.70081290280357, -160.26963806152345],[75.82991732677597, 95.08716201782228]]"
                      :zoom="3"
                      :maxZoom="4"
                      :minZoom="2"
                          >
                                <l-image-overlay
                                  :url="apartment.layout.image_base.path"
                                  :bounds="[[-60.70081290280357, -110.26963806152345],[60.82991732677597, 50.08716201782228]]"
                                  />
                      </l-map>
                    </client-only>
                </div>
            </div>
            </div>
          </div>

          <div class="side-info-view">

            <div class="scroll-wrapper">
              <div class="scroll-box">
                <div class="info-box">
                  <p class="e-medium-text info-box-title">{{content.general_info}}</p>
                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.address}}</p>
                    <p class="v-tiny-text">{{apartment.building.address}}</p>
                  </div>

                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.apt_nr}}</p>
                    <p class="v-tiny-text">{{apartment.nr}}</p>
                  </div>

                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.sector}}</p>
                    <p class="v-tiny-text">{{fullSectorName}}</p>
                  </div>
                </div>

                <div class="info-box">
                  <p class="e-medium-text info-box-title">{{content.apartment_info}}</p>
                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.bedrooms}}</p>
                    <p class="v-tiny-text">{{apartment.rooms}}</p>
                  </div>
                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.total_area}}</p>
                    <p class="v-tiny-text">{{apartment.total_area}}<span v-html="global_fixSquareMeters('m2')"></span></p>

                    <div class="secondary-row">
                      <p class="v-tiny-text left">{{content.balcony_area}}</p>
                      <p class="v-tiny-text">{{apartment.balcony_area}}<span v-html="global_fixSquareMeters('m2')"></span></p>
                    </div>
                  </div>
                  <div class="info-row" v-if="apartment.furnished !== 'empty'">
                    <p class="v-tiny-text left">{{$t(`filter_single.furnished_${apartment.furnished}`)}}</p>
                    <p class="v-tiny-text">
                      <FurnishedFully v-if="apartment.furnished == 'fully'" />
                      <FurnishedPartially v-if="apartment.furnished == 'partially'" />
                    </p>
                  </div>
                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.price}}</p>
                    <p class="v-tiny-text">€{{price}}</p>
                  </div>
                  <div v-if="apartment.has_duplicate && apartment.rent_price_with_heating" class="info-row">
                    <p class="has-bronze-color e-medium-text left">{{$t('filter_single.good_price')}}</p>
                  </div>
                  <div v-if="apartment.has_duplicate && apartment.rent_price_with_heating" class="info-row">
                    <p class="has-bronze-color e-medium-text left">{{content.price_with_heating}}</p>
                    <p class="has-bronze-color e-medium-text">€{{apartment.rent_price_with_heating}}</p>
                  </div>
                  <!-- <div class="info-row" v-if="apartment.layout.has_garden">
                    <p class="v-tiny-text left">{{content.exit_to_garden}}</p>
                    <p class="v-tiny-text">{{content.garden}}</p>
                  </div> -->
                  <div class="info-row">
                    <p class="v-tiny-text left">{{content.floor}}</p>
                    <p class="v-tiny-text">{{apartment.floor}}</p>
                  </div>
                </div>

                <div class="info-box">
                  <div v-if="apartment.position_picture" class="image-container">
                    <img
                      :src="apartment.position_picture.path"
                      alt="lindenholma apartment loaction"
                    />
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="view-footer">
        <div class="footer-box">
          <div class="center">
            <a :href="apartment.layout_pdf_url_without_lang + '/'+ selectedLocale" target="_blank" class="dash-btn cursor-plus v-tiny-text">{{content.save_pdf}}</a>
            <div class="dash-btn cursor-plus" @click="openPdfForm = !openPdfForm">
              <p class="v-tiny-text">{{content.send_to_email}}</p>
            </div>
            <div class="dash-btn cursor-plus highligted" @click="openContactForm = !openContactForm">
              <p class="v-tiny-text">{{content.apply_to_see}}</p>
            </div>
          </div>
        </div>
      </div>
     </div>
     <div class="modal" :class="{'open' : openContactForm}">
       <div class="form-wrapper">
          <div class="close-btn cursor-plus" @click="openContactForm = false">
            <img src="/images/burger/close.png" alt=""/>
          </div>
          <Form></Form>
        </div>
     </div>

     <div class="modal" :class="{'open' : openPdfForm}">
       <div class="form-wrapper">
          <div class="close-btn cursor-plus" @click="openPdfForm = false">
            <img src="/images/burger/close.png" alt=""/>
          </div>
          <PdfForm></PdfForm>
        </div>
     </div>

   </div>
</template>
<script>
export default {
    async asyncData({ $axios, params }) {
      const apartment = await $axios.$get("apartments/single/" + params.apartment);
      return {
        apartment: apartment,
      };
    },
    props: {

    },
    data() {
        return {
          showFurniture: {
            values: true
          },
          area: "none",
          openContactForm: false,
          openPdfForm: false
        }
    },
    computed: {
      selectedLocale() {
        return this.$i18n.locale;
      },
      content() {
        return this.$t('filter_single')
      },
      fullSectorName() {
        let fullSector = {
          'TH': 'Town House',
          'CH': 'Corner House',
          'YH': 'Yard House',
          'VL': 'Villa'
        }
        return fullSector[this.apartment.building.code]
      },
      price() {
        return this.apartment.is_for_rent ? this.apartment.rent_price : this.apartment.price
      },
      isWide() {
          if (this.apartment.layout.image_base.info.width > this.apartment.layout.image_base.info.height) {
              return true
          }
      },
    },
    methods: {
      hoverArea(area) {
        const hoverArea = area.dataset.id.split("--")[1]
        this.area = hoverArea
        const areaCenterElement = document.querySelector('.line[data-id="area--'+this.area+'"]')
        if (areaCenterElement !== null ) {
          const areaCenter = areaCenterElement.getBoundingClientRect()
          const areaParent = document.querySelector(".apartment_layout__fg").getBoundingClientRect()
          const x = (areaCenter.left + areaCenter.width/2) - areaParent.left
          const y = (areaCenter.top + areaCenter.width/2) - 10  - areaParent.top
          this.$refs.popUp.style.top = y + "px"
          this.$refs.popUp.style.left = x + "px"
          this.$refs.popUp.querySelector('.area-text').innerHTML = this.apartment.layout_data[this.area].area
          this.$refs.popUp.querySelector('.room-text').innerHTML = this.apartment.layout_data[this.area].name
        } else {
          this.area = "none"
        }
      },
      exitArea() {
        this.area = "none"
      },
      goBack() {
        this.$router.back()
      },
    },
    mounted() {
      console.log(this.apartment)
      const layout = document.querySelector(".apartment_layout__fg")
      if (layout) {
          const allAreas = layout.firstElementChild.children
          const self = this
          allAreas.forEach(function(area){
              if (area.classList.contains('room')) {
                  area.addEventListener("mouseenter", function() {
                      self.hoverArea(area)
                  })
                  area.addEventListener("mouseleave", function() {
                      self.exitArea()
                  })
              }
          });
      }
      let self = this
      window.setTimeout(function(){
          self.$refs.layoutBg.style.display = "inline";
      }, 20);
    }
};
</script>
<style lang="scss" scoped>
@use '@/assets/variables';

.single-apartment {
  flex: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $beige;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
  .page-container {
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .view-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: $beige;
    border-bottom: 1px solid $pitch;
    .right {
      margin-left: 57px;
      margin-right: 0px;
    }
  }
  .view-body {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    padding-top: 79px;
    .left-info {
      padding-top: 40px;
      max-width: 344px;
      flex: 0 0 344px;
      display: flex;
      flex-direction: column;
      .medium-text-4 {
        margin-bottom: auto;
        margin-top: 0px;
      }
      .furniture-switch {
        margin-bottom: 190px;
        width: 198px;
        border-top: 1px solid $pitch;
        border-bottom: 1px solid $pitch;
        max-width: 198px;
        height: 57px;
        display: flex;
        align-content: center;
        align-items: center;

        display: none;
      }
    }
    .apartment-box {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 160px;
    }
    .apartment_layout {
      height: 100%;
      width: 100%;
      margin-left: -45px;
      position: relative;

      margin-right: 324px;

      &__container {
          position: absolute;
          top: 0;
          left: 50%;
          // right: 0;
          bottom: 0;
          // margin: auto;
          transform: translate(-50%,-10%);
          height: 110%;
          // width: 100%;
          // display: flex;
          display: block;
          align-items: center;
          justify-content: center;

          @media (max-width: 900px) {
            &.desktop {
              display: none;
            }
          }

          .apartment_layout__fg {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          &.desktop.wide {
              // top: 50%;
              // transform: translate(-50%,-50%);
              height: 100%;
              width: 70%;

              .apartment_layout__bg, .apartment_layout__fg svg {
                  width: 100%;
                  height: auto;
              }
          }
      }
      &__bg, &__fg {
          height: 100%;

      }
      &__bg {
          display: none;
          width: auto;
      }
      &__fg, &__pop-up {
          position: absolute;
      }
      &__fg {
          top: 0px;
          left: 0px;
          z-index: 2;
          svg {
              height: 100% !important;
              width: auto !important;
          }
      }
      &__pop-up {
          z-index: 1;
          transform: translate(-50%,-100%);
          opacity: 1;
          transition: opacity 0.21s ease-in;
          background-color: $bronze;
          padding: 8px 21px;
          p, p span{
              color: $beige;
              font-size: 17px;
          }
          .area {
                  padding-right: 8px;
              p {
                  .superscript {
                      line-height: 22px;
                      font-size: 11px;
                  }
              }
          }
          &.hidden {
              opacity: 0;
          }
      }
    }
    .side-info-view {
      //position: absolute;
      //top: 0px;
      //right: 0px;
      //padding-top: 72px;
      //padding-bottom: 100px;
      //height: 100%;
      //z-index: 2;
      height: calc(90vh - 100px - 72px);
      // margin-right: 0px;
      // margin-left: auto;
      max-width: 324px;
      flex: 0 0 324px;
      // height: 100%;
      .scroll-wrapper {
        height: 100%;
        .scroll-box {
          height: 100%;
          overflow: scroll;

        }
      }

      .info-box {
        border-bottom: 1px solid $pitch;
        padding-top: 38px;
        padding-bottom: 11px;
        display: flex;
        flex-direction: column;
        &:last-child {
            margin-bottom: 50px;
          }
        .info-row {
          display: flex;
          margin-bottom: 9px;
          margin-top: 9px;
          flex-wrap: wrap;
          .secondary-row {
            max-width: 100%;
            flex: 0 0 100%;
            display: flex;
          }
          .left {
            margin-right: auto;
            margin-left: 0px;
          }
        }
      }
    }
  }
  .view-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 117px;
    padding-bottom: 60px;
    background-color: $beige;
    .footer-box {
      height: 100%;
      border-bottom: 1px solid $pitch;
      border-top: 1px solid $pitch;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      .prev-btn {
      }
      .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        height: 100%;
      }
    }
  }
  .modal {
    position: fixed;
    top: -100vh;
    height: 100vh;
    left: 0px;
    width: 100vw;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: 0.45);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: top 0.34s ease, opacity 0.34s ease;
    .form-wrapper {
      position: relative;
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 777;
        width: 25px;
        height: 25px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &.open {
      opacity: 1;
      top: 0px;
    }
  }
}
</style>
