<template>
	<div class="box-image container flex-container absolute">
        <div class="image">
            <div class="gallery">
                <b-tabs class="tabs" >
                    <b-tab class="tab" v-model="tabIndex" v-for="(tab,index) in gallery.tabs" :key="index" :class="{'active show' : index==tabIndex}" :active="index==tabIndex" :ref="tab.slug">
                        <Gallery :content="tab.images" :ref="tab.slug+'Gallery'"></Gallery>
                    </b-tab>
                </b-tabs>
            </div>
		</div>
		<div class="text absolute">
        <div class="cube cube-multi mobile-center">
            <p v-for="(link, index) in gallery.tabs" :key="index" @click="changeTab(link.slug, index)" class="cursor-plus">{{link.title}}</p>
        </div>
        <Headline v-if="content.headline && !noDecor" :content="content.headline"></Headline>
		</div>
        <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <slot></slot>
	</div>
</template>
<script>
export default {
	props: {
        index:null,
        content:null,
        gallery:null,
        noDecor: {
            type: Boolean,
            default: false,
        },
    },
	data() {
        return {
          tabIndex: 1
        }
    },
	methods: {
      changeTab(link,index) {
        this.tabIndex = index
        let gallery = this.$refs[link+'Gallery'][0]
        setTimeout(() => {
          gallery.$refs.slick.goTo(0)
        }, 50);
      }
  },
	mounted() {},
};
</script>
<style lang="scss" scoped>
.box-image {
	.text {
        &.absolute {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            .main-text, .cube {
              position: absolute;
            }
        }
		.main-text {
			font-size: 15px;
            font-weight: 400;
        }
        .cube-multi {
            p {
                text-transform: uppercase;
                &:hover {
                    cursor: pointer;
                }
                &:not(:last-child) {
                    margin-bottom: 21px;
                }
            }
        }
	}
	.image {
        img {
            height: auto;
            width: 100%;
        }
        .map-wrap {
        }
    }

    &.simple-box {
        .text {
            max-width: 52%;
            flex: 0 0 52%;
            position: relative;
        }
        .image {
            max-width: 48%;
            flex: 0 0 48%;
        }
        .text-box {
            position: absolute;
            right: 205px;
            width: 300px;
            .main-text {
                margin-top: 38.5px;
                margin-bottom: 44.5px;
            }
        }
        .sub-image-wrapper {
            width: 447px;
            position: absolute;
            bottom: -167px;
            left: 28px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &.align-right {
            .text-box {
                left: 125px;
            }
            .sub-image-wrapper {
                left: unset;
                right: 57px;
                bottom: -181px;
            }
        }
    }
    &.absolute {
        .image {
            img {
                width: auto;
                height: 100%;
            }
        }
    }
    &.align-right {
        flex-direction: row-reverse;
    }
}
</style>
