<template>
	<div class="enter-filters-block container">

    <div class="left">
      <svg xmlns="http://www.w3.org/2000/svg" width="453.14" height="409.746" viewBox="0 0 453.14 409.746">
        <g id="Component_10_1" data-name="Component 10 – 1" transform="translate(2.652 2.331)">
          <g id="Component_9_1" data-name="Component 9 – 1">
            <path id="Path_667" data-name="Path 667" d="M622,1486.793l-59.119,20.7-13.012-16.682-5.6-26.428,68.414-22.1,14.957,19,1.457,15.446" transform="translate(-311.571 -1442.282)" fill="#f0f4f0"/>
            <g id="Component_8_1" data-name="Component 8 – 1">
              <path id="Path_664" data-name="Path 664" d="M482.837,1606.792l7.667,28.542,15.478,26.2,20.848-8.831-1.045-4.263,8.341-3.57,6.234,12,56.035-22.693,5.47,7.121,29.22-12.484-3.873-28.364-10.448-17.574L608.013,1577l-22.847,9.28-2.3-4.2-8.1-6.373-56.918,22.471-3.672-3.43Z" transform="translate(-327.057 -1408.648)" fill="#f0f4f0"/>
              <path id="Path_665" data-name="Path 665" d="M457.607,1553.216l13.469,48.248,16.991,26.967,220.2-87.294-2.753-44.548-29.856-29.934-15.929-3.41-15.6,15.231,1.713,9.406Z" transform="translate(-333.417 -1436.998)" fill="#f0f4f0"/>
              <g id="Component_7_1" data-name="Component 7 – 1">
                <path id="Path_666" data-name="Path 666" d="M445.5,1495.689l6.368,29.411,11.445,17.165,74.983-26.351-3.83-22.271-13.959-21.114Z" transform="translate(-336.469 -1434.658)" fill="#f0f4f0"/>
                <path id="Path_662" data-name="Path 662" d="M476.908,1824.629l9.286-4.341,2.261,4.614,43.56-21.316-1.472-4.594,25.022-12.025,4.547,8.163,183.563-89.148-.567-8.412,55.623-27.224-.131-50.088-33.7-35.6-.466-13.565-39.125-41.052-63.029,23.5,8.139,51.106,16.9,20.563,17.659-7.589,5.789,6.631L503.82,1713.7l-54.78-103.42-32.845.12-25.352,19.769,15.113,44.487Z" transform="translate(-350.247 -1420.162)" fill="#f0f4f0"/>
                <path id="Path_663" data-name="Path 663" d="M400.7,1633.307l-24.55-53.567-17.729-45.183,72.749-22.185,8.716,18.23,13.812,46.582-8.876,2.957,6.007,9.808,5.464,23.729" transform="translate(-358.42 -1424.614)" fill="#f0f4f0"/>
                <g id="Component_6_1" data-name="Component 6 – 1">
                  <g id="Group_435" data-name="Group 435" transform="translate(-222.515 -2182.26)">
                    <path id="Path_658" data-name="Path 658" d="M-1068.794-8492.758l-17.425-27.455-12.82-47.736,163.476-56.712,6.846,2.462,11.914,20.605,6.212,46.272Z" transform="translate(1445.78 10866.58)" fill="#a06e64"/>
                    <path id="Path_659" data-name="Path 659" d="M-1110.984-8399.474l-32.237,2.561-27.455,22.187,13.959,40.512-37.328-76.838-14.846-44.646,1.695-1.316-21.882-57.7,23.16-17.809h29.542l19.66,31.954,5.165,24.367Z" transform="translate(1472.216 10847.848)" fill="#a06e64"/>
                    <path id="Path_660" data-name="Path 660" d="M-1000.573-8273.522l-4.833-7.385-12.527-51.37-8.448-21.06-9.557-10.029,187.275-80.714,13.168,6.052,15.24,26.438,3.369,49.652Z" transform="translate(1432.951 10829.868)" fill="#a06e64"/>
                  </g>
                  <g id="Group_6" data-name="Group 6">
                    <path id="Path_23" data-name="Path 23" d="M390.843,1630.166l25.352-19.769,30.822-.488,56.8,103.789,225.376-97.13L708.7,1593.588l8.152-6.5-16.731-19.141-18.145,7.274-10.393-19.9-8.055-1.811,61.781-23.47,39.125,41.052-23.5-.149-5.026,3.732,19.552.056,42.784,44.988-62.093,28.327,4.157,8-192.672,88.072-4.936-8.426-83.66,38.357Z" transform="translate(-350.247 -1420.162)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_24" data-name="Path 24" d="M411.091,1594.218,474.061,1717l51.343-22.668" transform="translate(-345.143 -1403.983)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_25" data-name="Path 25" d="M463.15,1622.753l-31.575,1.452-26.1,21.237,14.891,44.339" transform="translate(-346.559 -1396.791)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_26" data-name="Path 26" d="M480.852,1654.462l-32.165,2.967-27.242,22.21,16.277,47.25" transform="translate(-342.533 -1388.798)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_27" data-name="Path 27" d="M490.09,1676.722,465.435,1696.2l-20.123,40.869,17.866,50.582" transform="translate(-336.516 -1383.187)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_28" data-name="Path 28" d="M520.629,1708.98l-13.519-29.705-9.116-9.845" transform="translate(-323.237 -1385.024)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_1" data-name="Line 1" x1="191.146" y2="84.73" transform="translate(183.873 209.52)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_29" data-name="Path 29" d="M647.533,1604.984" transform="translate(-285.542 -1401.27)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_30" data-name="Path 30" d="M647.532,1604.984l13.028,5.805,10.889,18.364" transform="translate(-285.542 -1401.27)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_31" data-name="Path 31" d="M550.959,1646.6l10.332,8.49,14.385,28.376,8.817,50.835" transform="translate(-309.885 -1390.779)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_32" data-name="Path 32" d="M600.673,1625.179l11.371,7.263,14.611,27.4,6.234,50.276" transform="translate(-297.354 -1396.179)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_33" data-name="Path 33" d="M651.221,1578.072l15.4-12.253,30.745,34.166L654.7,1618.464" transform="translate(-284.612 -1411.141)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_2" data-name="Line 2" x2="3.602" y2="0.01" transform="translate(382.063 154.5)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_34" data-name="Path 34" d="M615.065,1553.4l40.367-15.768,28.984,31.389" transform="translate(-293.726 -1418.246)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_35" data-name="Path 35" d="M483.1,1607.091l7.8,8.494,7.648,14.873,29.42-12.175,5.273,6.711,59.727-24.329L582.8,1582.085l-8.105-6.373-56.918,22.471-3.672-3.43Z" transform="translate(-326.99 -1408.648)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_36" data-name="Path 36" d="M575.821,1580.8l-59.471,23.524L510.8,1596.9h0" transform="translate(-320.009 -1407.366)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_37" data-name="Path 37" d="M489.332,1609.923l29.99-11.75,7.078,14.45,6.088,26.591" transform="translate(-325.42 -1402.987)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_38" data-name="Path 38" d="M523.631,1594.608" transform="translate(-316.774 -1403.885)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_39" data-name="Path 39" d="M515.232,1599.59l9.911,19.386,7.049,31.884" transform="translate(-318.891 -1402.63)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_40" data-name="Path 40" d="M564.565,1586.022l22.847-9.279,8.749,5.881,10.436,18.081-29.628,12.655-6.956-11.969" transform="translate(-306.456 -1408.389)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_3" data-name="Line 3" y1="11.241" x2="27.304" transform="translate(262.401 174.235)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_41" data-name="Path 41" d="M390.843,1614.268l15.513,45.662,70.553,148.8,9.286-4.341,2.261,4.613,43.56-21.316-1.472-4.594,25.022-12.026,4.547,8.162,183.563-89.148-.567-8.411,55.623-27.225-.131-50.088L763,1593.107l-33.8,7.562" transform="translate(-350.247 -1404.263)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_4" data-name="Line 4" x2="12.862" y2="51.274" transform="translate(192.456 315.53)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_5" data-name="Line 5" x2="3.364" y2="49.935" transform="translate(390.064 235.884)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_6" data-name="Line 6" x1="2.862" y1="30.793" transform="translate(358.233 173.307)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_42" data-name="Path 42" d="M607.635,1553.536l8.14,51.106,16.9,20.563,17.659-7.589-4.852-49.666,11.83-28.4,13.359-9.514" transform="translate(-295.599 -1420.162)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_7" data-name="Line 7" x2="5.338" y2="49.982" transform="translate(331.732 155.062)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_8" data-name="Line 8" x2="5.789" y2="6.631" transform="translate(354.729 197.455)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_9" data-name="Line 9" x2="0.466" y2="13.565" transform="translate(414.19 150.928)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_43" data-name="Path 43" d="M482.837,1600.534l7.667,28.542,15.478,26.206,20.848-8.832-7.555-30.8" transform="translate(-327.058 -1402.391)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_44" data-name="Path 44" d="M517.137,1643.3l8.341-3.569,6.234,12,56.035-22.693,5.471,7.121,29.22-12.484-3.647-27.55" transform="translate(-318.411 -1403.502)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_10" data-name="Line 10" x1="4.294" y1="27.685" transform="translate(270.513 204.972)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_11" data-name="Line 11" x1="5.19" y1="31.519" transform="translate(264.146 194.017)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_12" data-name="Line 12" x2="7.364" y2="31.081" transform="translate(171.56 221.81)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_45" data-name="Path 45" d="M431.169,1512.372l-72.749,22.185,37.541,74.656,23.34-19.31,30.844-.285-29.594-52.683,19.334-6.333Z" transform="translate(-358.42 -1424.614)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_46" data-name="Path 46" d="M358.42,1530.09l19.282,49.141,23,49.609" transform="translate(-358.42 -1420.148)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_13" data-name="Line 13" x2="7.71" y2="21.775" transform="translate(37.542 184.599)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_14" data-name="Line 14" x2="8.786" y2="31.564" transform="translate(91.892 165.322)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_47" data-name="Path 47" d="M428.166,1576.018l8.643-2.766-13.325-46.32" transform="translate(-342.019 -1420.945)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_48" data-name="Path 48" d="M413.837,1587.1,380.1,1523.48l34.989,10.654" transform="translate(-352.955 -1421.815)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_49" data-name="Path 49" d="M374.831,1566.383l23.161-17.9,29.838-.264" transform="translate(-354.283 -1415.578)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_50" data-name="Path 50" d="M458.166,1552.57l5.845,3.381,11.693,23.38L705,1496.176,675.52,1466.7l-17.024-3.645-14.508,15.467,7.329,7.469Z" transform="translate(-333.276 -1437.045)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_51" data-name="Path 51" d="M462.834,1555.951l212.674-73.615-18.189-19.279" transform="translate(-332.1 -1437.045)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_52" data-name="Path 52" d="M504.143,1518.7l6.654,3.017,11.257,22.574,9.9,48.541" transform="translate(-321.687 -1423.02)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_53" data-name="Path 53" d="M546.906,1503.961l7.461,2.66,11.294,21.664,7.554,48.038" transform="translate(-310.907 -1426.735)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_54" data-name="Path 54" d="M586.929,1490.165l8.886,2.094,11.558,20.717,6.065,47.267" transform="translate(-300.818 -1430.213)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_55" data-name="Path 55" d="M457.625,1548.449l13.447,49.181,16.991,26.968,220.306-85.633-2.856-46.21-28.691-14.3-25.367,3.657" transform="translate(-333.413 -1433.164)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_15" data-name="Line 15" x2="12.221" y2="49.148" transform="translate(142.428 142.285)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_63" data-name="Path 63" d="M445.691,1496.1l13.537,22.663,74.961-25.439-13.729-20.793Z" transform="translate(-336.421 -1434.658)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_64" data-name="Path 64" d="M445.5,1491.44l6.368,29.409,11.445,17.166,74.983-26.351-3.83-22.272" transform="translate(-336.469 -1430.407)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_17" data-name="Line 17" x2="4.037" y2="23.503" transform="translate(122.808 84.104)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_65" data-name="Path 65" d="M476.424,1481.666l13.38,21.789,4.609,22.84" transform="translate(-328.674 -1432.355)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_66" data-name="Path 66" d="M621.945,1486.1,562.9,1506.872l-13.027-16.065-5.6-26.428,68.414-22.1,14.957,19,1.463,15.206" transform="translate(-311.571 -1442.282)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_18" data-name="Line 18" x2="1.293" y2="9.738" transform="translate(310.505 41.361)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_67" data-name="Path 67" d="M544.273,1460.555,559.2,1480.8l68.443-23.34" transform="translate(-311.571 -1438.458)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_68" data-name="Path 68" d="M572.812,1450.713l14.815,19.636,2.927,22.108" transform="translate(-304.377 -1440.158)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <line id="Line_19" data-name="Line 19" x2="3.696" y2="22.251" transform="translate(247.63 42.338)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="1"/>
                    <path id="Path_141" data-name="Path 141" d="M482.837,1606.792l7.667,28.542,15.478,26.2,20.848-8.831-1.045-4.263,8.341-3.57,6.234,12,56.035-22.693,5.47,7.121,29.22-12.484-3.873-28.364-10.448-17.574L608.013,1577l-22.847,9.28-2.3-4.2-8.1-6.373-56.918,22.471-3.672-3.43Z" transform="translate(-327.058 -1408.648)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="4"/>
                    <path id="Path_142" data-name="Path 142" d="M400.7,1633.307l-24.55-53.567-17.729-45.183,72.749-22.185,8.716,18.23,13.812,46.582-8.876,2.957,6.007,9.808,5.464,23.729" transform="translate(-358.42 -1424.614)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="4"/>
                    <path id="Path_143" data-name="Path 143" d="M457.607,1553.216l13.469,48.248,16.991,26.967,220.2-87.294-2.753-44.548-29.856-29.934-15.929-3.41-15.6,15.231,1.713,9.406Z" transform="translate(-333.417 -1436.998)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="4"/>
                    <path id="Path_144" data-name="Path 144" d="M445.5,1495.689l6.368,29.411,11.445,17.165,74.983-26.351-3.83-22.271-13.959-21.114Z" transform="translate(-336.469 -1434.658)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="4"/>
                    <path id="Path_145" data-name="Path 145" d="M622,1486.793l-59.119,20.7-13.012-16.682-5.6-26.428,68.414-22.1,14.957,19,1.457,15.446" transform="translate(-311.571 -1442.282)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="4"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
          <path id="Path_661" data-name="Path 661" d="M476.908,1824.629l9.286-4.341,2.261,4.614,43.56-21.316-1.472-4.594,25.022-12.025,4.547,8.163,183.563-89.148-.567-8.412,55.623-27.224-.131-50.088-33.7-35.6-.466-13.565-39.125-41.052-63.029,23.5,8.139,51.106,16.9,20.563,17.659-7.589,5.789,6.631L503.82,1713.7l-54.78-103.42-32.845.12-25.352,19.769,15.113,44.487Z" transform="translate(-350.247 -1420.162)" fill="none" stroke="#19191c" stroke-miterlimit="10" stroke-width="4"/>
        </g>
      </svg>
    </div>

    <div class="right">
      <h1 class="enter-filter-title">{{$t(content.title)}}</h1>
      <div class="buttons">
        <div class="col col-search-tool">
          <NuxtLink
          :to="localePath('interface')"
          class="cube mobile-center cursor-plus">
          {{$t(content.searchTool.cube.text)}}
          </NuxtLink>
          <p class="v-tiny-text desc">{{$t(content.searchTool.desc)}}</p>
        </div>

        <div class="col col-apt-list">
          <NuxtLink
          :to="localePath('filters')"
          class="cube mobile-center cursor-plus">
          {{$t(content.aptList.cube.text)}}
          </NuxtLink>
          <p class="v-tiny-text desc">{{$t(content.aptList.desc)}}</p>
        </div>

      </div>
    </div>

    <!-- <h1 class="medium-text-4">{{$t(content.title)}}</h1>
    <div class="block-container">
      <NuxtLink
        :to="localePath(content.cube.link)"
        class="cube mobile-center cursor-plus">
        {{$t(content.cube.text)}}
      </NuxtLink>
      <div class="background-image" :style="{ backgroundImage: 'url(/images/' + content.image + ')' }">
      </div>
      <div class="more-info">
        <p class="v-medium-text">{{$t(content.all_apartments_list)}}</p>
        <div class="more-info-block">
          <p class="v-small-text">{{$t(content.view_all)}}</p>
        </div>
      </div>
    </div> -->
	</div>
</template>
<script>


export default {
  props: {
    content: Object
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {

  },
};
</script>
<style lang="scss" scoped>
.enter-filters-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 198px;
  padding-left: 117px;
  .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 58px;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .right {
    max-width: 596px;
    flex: 0 0 596px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 76px;
    .enter-filter-title {
      margin-bottom: 23px;
      font-size: 76px;
      line-height: 59px;
    }
    .buttons {
      display: flex;
      .col {
        max-width: 270px;
        flex: 0 0 270px;
        &:first-child {
          margin-right: 56px;
        }
        .cube {
          margin-bottom: 28px;
          word-spacing: 5000px;
          text-align: center;
          line-height: 30px;
        }
        .desc {
          width: 200px;
        }
      }
    }
  }
  // h1.medium-text-4 {
  //   width: 520px;
  //   margin-bottom: 35px;
  //   padding-left: 126px;
  // }
  // .block-container {
  //   padding-left: 236px;
  //   padding-right: 126px;
  //   position: relative;
  //   .cube {
  //     left: 0px;
  //     top: 100px;
  //     position: absolute;
  //   }
  //   .background-image {
  //     width: 100%;
  //     height: 660px;
  //     background-size: contain;
  //   }
  //   .more-info {
  //     position: absolute;
  //     bottom: 0px;
  //     right: 0px;
  //     background-color: $beige;
  //     padding-top: 107px;
  //     padding-left: 80px;
  //     .more-info-block {
  //       margin-top: 20px;
  //       border-top: 1px solid $pitch;
  //       border-bottom: 1px solid $pitch;
  //       padding-top: 20px;
  //       padding-bottom: 20px;
  //     }
  //   }
  // }
}
</style>
