<template>
	<div class="enter-filters-block container">

    <div class="right">
      <h1 class="enter-filter-title">{{$t(content.title)}}</h1>
      <div class="buttons absolute">
        <div class="col col-apt-list ">
          <NuxtLink
          :to="localePath('filters')"
          class="cube mobile-center cursor-plus mobile-center">
          {{$t(content.aptList.cube.text)}}
          </NuxtLink>
        </div>
      </div>
      <div class="text-wrapper">
        <p class="v-tiny-text desc">{{$t(content.aptList.desc)}}</p>
      </div>
    </div>
	</div>
</template>
<script>


export default {
  props: {
    content: Object
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {

  },
};
</script>
<style lang="scss" scoped>
.enter-filters-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 198px;
  padding-left: 117px;
  .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 58px;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .right {
    max-width: 596px;
    flex: 0 0 596px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 76px;
    .enter-filter-title {
      margin-bottom: 23px;
      font-size: 76px;
      line-height: 59px;
    }
    .buttons {
      display: flex;
      .col {
        max-width: 270px;
        flex: 0 0 270px;
        &:first-child {
          margin-right: 56px;
        }
        .cube {
          margin-bottom: 28px;
          word-spacing: 5000px;
          text-align: center;
          line-height: 30px;
        }
        .desc {
          width: 200px;
        }
      }
    }
  }
  // h1.medium-text-4 {
  //   width: 520px;
  //   margin-bottom: 35px;
  //   padding-left: 126px;
  // }
  // .block-container {
  //   padding-left: 236px;
  //   padding-right: 126px;
  //   position: relative;
  //   .cube {
  //     left: 0px;
  //     top: 100px;
  //     position: absolute;
  //   }
  //   .background-image {
  //     width: 100%;
  //     height: 660px;
  //     background-size: contain;
  //   }
  //   .more-info {
  //     position: absolute;
  //     bottom: 0px;
  //     right: 0px;
  //     background-color: $beige;
  //     padding-top: 107px;
  //     padding-left: 80px;
  //     .more-info-block {
  //       margin-top: 20px;
  //       border-top: 1px solid $pitch;
  //       border-bottom: 1px solid $pitch;
  //       padding-top: 20px;
  //       padding-bottom: 20px;
  //     }
  //   }
  // }
}
</style>
