<template>
    <div class="full-container">
        <div class="plan">

            <div class="plan-wrapper">
                <div class="text">
                    <p class="title">{{content.title}}</p>
                    <p class="desc">{{content.desc}}</p>
                </div>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 888.48 613.54" style="enable-background:new 0 0 888.48 613.54;" xml:space="preserve">
                    <rect class="st0" width="888.48" height="613.54"/>
                    <g id="PlanLetters">
                        <g>
                            <polygon class="st1" points="311.1,298.15 329.96,283.44 352.9,283.08 395.16,360.3 562.85,288.03 547.6,270.94 553.67,266.1 
                                541.22,251.86 527.72,257.27 519.98,242.59 513.99,241.37 559.96,223.65 589.07,254.2 571.58,254.08 567.85,256.86 582.39,256.9 
                                614.23,290.38 568.03,311.45 571.12,317.41 427.76,382.94 424.09,376.67 361.84,405.2 		"/>
                            <polyline class="st2" points="329.96,283.44 376.82,374.8 415.02,357.93 		"/>
                            <polyline class="st2" points="367.64,310.02 344.15,311.1 324.73,326.9 335.81,359.89 		"/>
                            <polyline class="st2" points="383.81,339.56 359.88,341.77 339.61,358.3 351.72,393.45 		"/>
                            <polyline class="st2" points="395.16,360.3 376.82,374.8 361.84,405.2 375.14,442.84 		"/>
                            <polyline class="st2" points="427.76,382.94 417.7,360.83 410.92,353.51 		"/>
                            <line class="st2" x1="559.92" y1="297.79" x2="417.7" y2="360.83"/>
                            <path class="st2" d="M550.23,293.47"/>
                            <polyline class="st2" points="550.23,293.47 559.92,297.79 568.03,311.45 		"/>
                            <polyline class="st2" points="460.26,332.24 467.95,338.56 478.65,359.67 485.21,397.5 		"/>
                            <polyline class="st2" points="506.58,312.28 515.04,317.69 525.91,338.07 530.55,375.48 		"/>
                            <polyline class="st2" points="553.67,266.1 565.12,256.99 588,282.41 556.26,296.16 		"/>
                            <line class="st2" x1="565.17" y1="256.85" x2="567.85" y2="256.86"/>
                            <polyline class="st2" points="519.98,242.59 550.02,230.73 571.58,254.08 		"/>
                            <polygon class="st2" points="397.05,289.55 402.85,295.87 408.54,306.93 430.43,297.88 434.36,302.87 478.23,285.05 
                                470.38,270.94 465.2,266.2 422.85,282.92 420.12,280.37 		"/>
                            <polyline class="st2" points="471.23,270.94 427.37,288.45 422.85,282.92 422.85,282.92 		"/>
                            <polyline class="st2" points="402.85,295.87 425.17,287.13 430.43,297.88 434.96,317.66 		"/>
                            <path class="st2" d="M434.81,283.8"/>
                            <polyline class="st2" points="427.37,288.45 434.36,302.87 439.6,326.59 		"/>
                            <polyline class="st2" points="472.94,274.07 489.94,267.16 496.45,271.54 504.21,284.99 482.61,294.12 478.28,285.22 		"/>
                            <line class="st2" x1="475.51" y1="280.16" x2="496.45" y2="271.54"/>
                            <polyline class="st2" points="311.1,298.15 322.64,332.13 375.14,442.84 382.05,439.61 383.73,443.04 416.14,427.18 
                                415.04,423.76 433.66,414.82 437.04,420.89 573.62,354.56 573.2,348.3 614.59,328.05 614.49,290.78 588,282.41 562.85,288.03 		
                                "/>
                            <line class="st2" x1="424.09" y1="376.67" x2="433.66" y2="414.82"/>
                            <line class="st2" x1="571.12" y1="317.41" x2="573.62" y2="354.56"/>
                            <line class="st2" x1="549.56" y1="293.76" x2="547.44" y2="270.85"/>
                            <polyline class="st2" points="513.96,241.26 519.12,279.16 531.69,294.46 544.83,288.81 541.22,251.86 550.02,230.73 
                                559.96,223.65 		"/>
                            <line class="st2" x1="527.72" y1="257.27" x2="531.69" y2="294.46"/>
                            <line class="st2" x1="544.83" y1="288.81" x2="549.14" y2="293.75"/>
                            <line class="st2" x1="589.07" y1="254.2" x2="589.42" y2="264.29"/>
                            <polyline class="st2" points="396.8,289.33 402.51,310.56 414.02,330.06 429.53,323.49 423.91,300.57 		"/>
                            <polyline class="st2" points="428.76,320.32 434.96,317.66 439.6,326.59 481.29,309.71 485.36,315.01 507.1,305.72 504.39,285.22 
                                        "/>
                            <line class="st2" x1="485.65" y1="315.01" x2="482.61" y2="294.12"/>
                            <line class="st2" x1="481.29" y1="309.71" x2="477.29" y2="285.43"/>
                            <line class="st2" x1="408.54" y1="306.93" x2="414.02" y2="330.06"/>
                            <polygon class="st2" points="335.02,207.19 280.9,223.7 308.83,279.25 326.19,264.88 349.14,264.67 327.12,225.47 341.51,220.76 
                                        "/>
                            <polyline class="st2" points="280.9,223.7 295.24,260.26 312.35,297.17 		"/>
                            <line class="st2" x1="308.83" y1="279.25" x2="314.56" y2="295.45"/>
                            <line class="st2" x1="349.27" y1="264.91" x2="355.8" y2="288.39"/>
                            <polyline class="st2" points="344.99,257.28 351.42,255.22 341.51,220.76 		"/>
                            <polyline class="st2" points="326.19,264.88 301.09,217.54 327.12,225.47 		"/>
                            <polyline class="st2" points="296.18,254.1 313.42,240.79 335.62,240.59 		"/>
                            <polygon class="st2" points="373.82,227.85 378.17,230.37 386.87,247.77 557.47,185.9 535.54,163.97 522.87,161.25 512.08,172.76 
                                517.53,178.32 		"/>
                            <polyline class="st2" points="378.17,230.37 536.41,175.6 522.87,161.25 		"/>
                            <polyline class="st2" points="416.65,213.09 421.6,215.34 429.98,232.13 437.34,268.25 		"/>
                            <polyline class="st2" points="456.49,199.36 462.04,201.34 470.44,217.46 476.06,253.2 		"/>
                            <polyline class="st2" points="493.77,186.51 500.39,188.06 508.98,203.48 513.5,238.65 		"/>
                            <polyline class="st2" points="373.31,227.68 383.32,264.27 395.96,284.33 559.88,220.62 557.75,186.24 536.41,175.6 
                                517.53,178.32 		"/>
                            <line class="st2" x1="386.87" y1="247.77" x2="395.96" y2="284.33"/>
                            <polygon class="st2" points="362.2,187.61 372.27,204.48 428.04,185.55 417.83,170.08 		"/>
                            <polyline class="st2" points="362.02,187.31 366.76,209.19 375.27,221.96 431.06,202.36 428.21,185.79 		"/>
                            <line class="st2" x1="372.27" y1="204.48" x2="375.27" y2="221.96"/>
                            <polyline class="st2" points="390.83,178.59 400.78,194.8 404.21,211.79 		"/>
                            <polyline class="st2" points="511.83,174.5 467.89,189.96 458.2,178 454.04,158.34 504.94,141.9 516.07,156.03 517.16,167.35 		
                                "/>
                            <line class="st2" x1="511.92" y1="172.67" x2="512.89" y2="179.92"/>
                            <polyline class="st2" points="454.04,158.34 465.14,173.4 516.07,156.03 		"/>
                            <polyline class="st2" points="480.62,149.75 491.64,164.36 493.82,180.81 		"/>
                            <line class="st2" x1="465.14" y1="173.4" x2="467.89" y2="189.96"/>
                        </g>
                        <g>
                            <g>
                                <polygon class="st3" points="375.14,442.84 382.05,439.61 383.73,443.04 416.14,427.18 415.04,423.76 433.66,414.82 
                                    437.04,420.89 573.62,354.56 573.2,348.3 614.59,328.05 614.49,290.78 589.42,264.29 589.07,254.2 559.96,223.65 514.22,241.39 
                                    519.12,279.16 531.69,294.46 544.83,288.81 549.14,293.75 395.16,360.3 354.4,283.35 329.96,283.44 311.1,298.15 322.35,331.25 
                                                "/>
                                <polygon class="st3" points="396.8,289.33 402.51,310.56 414.02,330.06 429.53,323.49 428.76,320.32 434.96,317.66 439.6,326.59 
                                    481.29,309.71 485.36,315.01 507.1,305.72 504.22,284.61 496.45,271.54 489.94,267.16 472.94,274.07 471.23,270.94 465.2,266.2 
                                    422.85,282.92 420.12,280.37 			"/>
                                <polyline class="st3" points="312.35,297.17 294.09,257.32 280.9,223.7 335.02,207.19 341.51,220.76 351.79,255.42 
                                    345.18,257.62 349.65,264.91 353.72,282.57 			"/>
                                <polygon class="st3" points="373.3,228.37 383.32,264.27 395.96,283.43 559.88,220.23 557.75,186.24 535.54,163.97 
                                    523.69,161.43 512.08,172.76 513.35,179.76 			"/>
                                <polygon class="st3" points="362.02,187.31 366.76,209.19 375.27,221.96 431.06,202.36 428.21,185.79 417.83,170.08 			"/>
                                <polyline class="st3" points="511.87,175.02 467.88,190.42 458.2,178 454.04,158.34 504.94,141.9 516.07,156.03 517.15,167.53 
                                                "/>
                            </g>
                        </g>
                    </g>
                    <g id="TownHouseField" :class="{'st9' : activeArea !== 'th'}" >
                        <g>
                            <path class="st6" d="M410.88,353.51l6.96,7.32l7.98,17.93c0,0-1.79-2-1.73-1.5s9.88,38.41,9.88,38.41l2.83,5.49l136.83-66.34
                                l-2.5-37.16l-11.24-19.85l-9.65-4.06L410.88,353.51z"/>
                            <polygon class="st6" points="383.25,264.36 373.3,228.3 494.59,186.36 500.04,188.21 508.97,203.47 513.5,238.65 395.4,283.44 		
                                "/>
                            <polygon class="st6" points="296.18,254.1 313.42,240.93 335.62,240.59 349.67,265.04 353.72,283.35 384.18,339.56 359.81,341.85 
                                339.61,358.3 350.17,389.41 321.94,330.06 311.1,298.46 311.7,295.76 304.04,279.25 		"/>
                        </g>
                        <circle class="st7" cx="231.83" cy="333.33" r="55.46"/>
                        <g>
                            <line class="st8" x1="340.18" y1="333.33" x2="287.29" y2="333.33"/>
                            <circle class="st4" cx="340.76" cy="333.35" r="2.35"/>
                        </g>
                        <g>
                            <g>
                                <g>
                                    <line class="st3" x1="549.14" y1="293.75" x2="409.09" y2="354.28"/>
                                    <polyline class="st3" points="433.66,414.82 437.04,420.89 573.62,354.56 573.2,348.3 				"/>
                                    <polyline class="st3" points="384.57,340.31 354.4,283.35 329.96,283.44 311.1,298.15 322.35,331.25 352.54,395.07 				"/>
                                    <polyline class="st3" points="345.18,257.62 349.65,264.91 353.72,282.57 				"/>
                                    <line class="st3" x1="312.35" y1="297.17" x2="294.09" y2="257.32"/>
                                    <polyline class="st3" points="494.79,186.2 373.3,228.37 383.32,264.27 395.96,283.43 513.96,237.94 				"/>
                                </g>
                            </g>
                            <g>
                                <polyline class="st2" points="367.64,310.02 344.15,311.1 324.73,326.9 335.81,359.89 			"/>
                                <polyline class="st2" points="383.81,339.56 359.88,341.77 339.61,358.3 351.72,393.45 			"/>
                                <polyline class="st2" points="427.76,382.94 417.7,360.83 410.92,353.51 			"/>
                                <line class="st2" x1="559.92" y1="297.79" x2="417.7" y2="360.83"/>
                                <path class="st2" d="M550.23,293.47"/>
                                <polyline class="st2" points="550.23,293.47 559.92,297.79 568.03,311.45 			"/>
                                <polyline class="st2" points="460.26,332.24 467.95,338.56 478.65,359.67 485.21,397.5 			"/>
                                <polyline class="st2" points="506.58,312.28 515.04,317.69 525.91,338.07 530.55,375.48 			"/>
                                <path class="st2" d="M434.81,283.8"/>
                                <line class="st2" x1="424.09" y1="376.67" x2="433.66" y2="414.82"/>
                                <line class="st2" x1="571.12" y1="317.41" x2="573.62" y2="354.56"/>
                                <path class="st2" d="M312.35,297.17"/>
                                <line class="st2" x1="308.83" y1="279.25" x2="314.56" y2="295.45"/>
                                <line class="st2" x1="349.27" y1="264.91" x2="355.8" y2="288.39"/>
                                <polyline class="st2" points="335.62,240.59 313.42,240.79 296.18,254.1 			"/>
                                <polyline class="st2" points="416.65,213.09 421.6,215.34 429.98,232.13 437.34,268.25 			"/>
                                <polyline class="st2" points="456.49,199.36 462.04,201.34 470.44,217.46 476.06,253.2 			"/>
                                <polyline class="st2" points="493.77,186.51 500.39,188.06 508.98,203.48 513.5,238.65 			"/>
                                <line class="st2" x1="386.87" y1="247.77" x2="395.96" y2="284.33"/>
                                <line class="st2" x1="326.19" y1="264.88" x2="313.42" y2="240.79"/>
                                <polyline class="st2" points="296.18,254.1 308.83,279.25 326.19,264.88 349.14,264.67 335.62,240.59 			"/>
                                <line class="st2" x1="378.17" y1="230.37" x2="500.39" y2="188.06"/>
                                <polyline class="st2" points="493.77,186.51 373.82,227.85 378.17,230.37 386.87,247.77 508.98,203.48 			"/>
                                <polyline class="st1" points="568.03,311.45 571.12,317.41 427.76,382.94 424.09,376.67 			"/>
                                <line class="st2" x1="329.96" y1="283.44" x2="359.88" y2="341.77"/>
                                <line class="st1" x1="410.92" y1="353.51" x2="550.97" y2="293.15"/>
                                <polyline class="st1" points="339.61,358.3 311.1,298.15 329.96,283.44 352.9,283.08 383.81,339.56 			"/>
                            </g>
                        </g>
                    </g>
                    <g id="CornerHouseField" :class="{'st9' : activeArea !== 'ch'}">
                        <g class="st10">
                            <polygon class="st6" points="296.18,254.1 306.06,283.43 293.41,255.59 280.9,223.7 334.59,207.33 341.51,220.76 351.42,255.22 
                                344.99,257.28 335.62,240.59 313.42,240.79 		"/>
                            <polygon class="st6" points="339.61,358.3 350.64,390.32 375.14,442.84 382.05,439.61 383.73,443.04 416.14,427.18 415.04,423.76 
                                433.66,414.82 424.09,376.67 425.8,379.58 417.7,360.83 410.92,353.51 395.39,360.14 383.81,339.56 359.88,341.77 		"/>
                            <polygon class="st6" points="614.49,290.78 614.59,328.05 573.2,348.3 571.12,317.41 559.92,297.79 550.23,293.47 544.83,288.81 
                                531.69,294.46 519.12,279.16 514.22,241.39 559.88,223.71 588.96,254.08 589.42,263.79 		"/>
                            <path class="st6" d="M513.43,238.14l-4.45-34.66l-8.6-15.41L495,186.8c0,0,17.93-6.53,17.88-6.88s-0.48-6.83-0.48-6.83
                                l11.28-11.67c0,0,11.46,2.14,11.85,2.54c0.39,0.39,21.93,21.93,21.93,21.93l2.41,34.34L513.43,238.14z"/>
                        </g>
                        <g class="st10">
                            <circle class="st7" cx="647.3" cy="204.51" r="55.46"/>
                            <g>
                                <line class="st8" x1="549.36" y1="204.88" x2="591.83" y2="204.88"/>
                                <circle class="st4" cx="548.78" cy="204.87" r="2.35"/>
                            </g>
                        </g>
                        <g class="st10">
                            <g>
                                <g>
                                    <polyline class="st3" points="351.13,392.09 375.14,442.84 382.05,439.61 383.73,443.04 416.14,427.18 415.04,423.76 
                                        433.66,414.82 				"/>
                                    <polyline class="st3" points="354.4,283.35 329.96,283.44 311.1,298.15 				"/>
                                    <polyline class="st3" points="410.91,353.49 395.16,360.3 383.35,338.01 				"/>
                                    <polyline class="st3" points="573.2,348.3 614.59,328.05 614.49,290.78 589.42,264.29 589.07,254.2 559.96,223.65 
                                        514.22,241.39 519.12,279.16 531.69,294.46 544.83,288.81 549.14,293.75 				"/>
                                    <polyline class="st3" points="312.35,297.17 294.09,257.32 280.9,223.7 335.02,207.19 341.51,220.76 351.79,255.42 
                                        345.18,257.62 349.65,264.91 353.72,282.57 				"/>
                                    <polyline class="st3" points="512.12,238.65 559.88,220.23 557.75,186.24 535.54,163.97 523.69,161.43 512.08,172.76 
                                        513.35,179.76 493.77,186.55 				"/>
                                </g>
                            </g>
                            <g>
                                <polyline class="st2" points="383.81,339.56 359.88,341.77 339.61,358.3 351.72,393.45 			"/>
                                <polyline class="st2" points="395.16,360.3 376.82,374.8 361.84,405.2 375.14,442.84 			"/>
                                <polyline class="st2" points="427.76,382.94 417.7,360.83 410.92,353.51 			"/>
                                <polyline class="st2" points="550.23,293.47 559.92,297.79 568.03,311.45 			"/>
                                <polyline class="st2" points="553.67,266.1 565.12,256.99 588,282.41 556.26,296.16 			"/>
                                <line class="st2" x1="565.17" y1="256.85" x2="567.85" y2="256.86"/>
                                <polyline class="st2" points="519.98,242.59 550.02,230.73 571.58,254.08 			"/>
                                <polyline class="st2" points="614.49,290.78 588,282.41 562.85,288.03 			"/>
                                <line class="st2" x1="424.09" y1="376.67" x2="433.66" y2="414.82"/>
                                <line class="st2" x1="571.12" y1="317.41" x2="573.62" y2="354.56"/>
                                <line class="st2" x1="549.56" y1="293.76" x2="547.44" y2="270.85"/>
                                <polyline class="st2" points="544.83,288.81 541.22,251.86 550.02,230.73 559.96,223.65 			"/>
                                <line class="st2" x1="527.72" y1="257.27" x2="531.69" y2="294.46"/>
                                <polygon class="st2" points="335.02,207.19 280.9,223.7 308.83,279.25 326.19,264.88 349.14,264.67 327.12,225.47 341.51,220.76 
                                                "/>
                                <polyline class="st2" points="326.19,264.88 301.09,217.54 327.12,225.47 			"/>
                                <polyline class="st2" points="296.18,254.1 313.42,240.79 335.62,240.59 			"/>
                                <polyline class="st2" points="493.77,186.51 500.39,188.06 508.98,203.48 513.5,238.65 			"/>
                                <polyline class="st2" points="513.5,238.65 559.88,220.62 557.75,186.24 536.41,175.6 517.53,178.32 			"/>
                                <polyline class="st2" points="359.88,341.77 376.82,374.8 415.02,357.93 			"/>
                                <polyline class="st1" points="427.76,382.94 424.09,376.67 361.84,405.2 339.61,358.3 			"/>
                                <polyline class="st1" points="589.07,254.2 571.58,254.08 567.85,256.86 582.39,256.9 614.23,290.38 568.03,311.45 
                                    571.12,317.41 			"/>
                                <polyline class="st1" points="548.86,294.06 562.85,288.03 547.6,270.94 553.67,266.1 541.22,251.86 527.72,257.27 
                                    519.98,242.59 513.99,241.37 			"/>
                                <polyline class="st2" points="500.39,188.06 536.41,175.6 522.87,161.25 			"/>
                                <polyline class="st2" points="512.08,172.76 517.53,178.32 493.77,186.51 			"/>
                                <line class="st2" x1="508.98" y1="203.48" x2="557.47" y2="185.9"/>
                            </g>
                        </g>
                    </g>
                    <g id="YardHouseField" :class="{'st9' : activeArea !== 'yh'}">
                        <polygon class="st11" points="414.02,330.06 402.51,310.56 397.05,289.55 420.12,280.37 422.85,282.92 465.2,266.2 471.23,270.94 
                            472.94,274.07 489.94,267.16 496.45,271.54 504.22,284.61 507.1,305.72 485.36,315.01 481.29,309.71 439.35,326.11 434.96,317.66 
                            428.76,320.32 429.53,323.49 	"/>
                        <g class="st10">
                            <circle class="st7" cx="497.5" cy="472.55" r="55.46"/>
                            <g>
                                <line class="st8" x1="497.42" y1="301.31" x2="497.42" y2="417.09"/>
                                <circle class="st4" cx="497.44" cy="300.73" r="2.35"/>
                            </g>
                        </g>
                        <g class="st10">
                            <polygon class="st3" points="396.8,289.33 402.51,310.56 414.02,330.06 429.53,323.49 428.76,320.32 434.96,317.66 439.6,326.59 
                                481.29,309.71 485.36,315.01 507.1,305.72 504.22,284.61 496.45,271.54 489.94,267.16 472.94,274.07 471.23,270.94 465.2,266.2 
                                422.85,282.92 420.12,280.37 		"/>
                            <polygon class="st2" points="397.05,289.55 402.85,295.87 408.54,306.93 430.43,297.88 434.36,302.87 478.23,285.05 
                                470.38,270.94 465.2,266.2 422.85,282.92 420.12,280.37 		"/>
                            <polyline class="st2" points="471.23,270.94 427.37,288.45 422.85,282.92 422.85,282.92 		"/>
                            <polyline class="st2" points="402.85,295.87 425.17,287.13 430.43,297.88 434.96,317.66 		"/>
                            <polyline class="st2" points="427.37,288.45 434.36,302.87 439.6,326.59 		"/>
                            <polyline class="st2" points="472.94,274.07 489.94,267.16 496.45,271.54 504.21,284.99 482.61,294.12 478.28,285.22 		"/>
                            <line class="st2" x1="475.51" y1="280.16" x2="496.45" y2="271.54"/>
                            <polyline class="st2" points="396.8,289.33 402.51,310.56 414.02,330.06 429.53,323.49 423.91,300.57 		"/>
                            <line class="st2" x1="485.65" y1="315.01" x2="482.61" y2="294.12"/>
                            <line class="st2" x1="481.29" y1="309.71" x2="477.29" y2="285.43"/>
                            <line class="st2" x1="408.54" y1="306.93" x2="414.02" y2="330.06"/>
                        </g>
                    </g>
                    <g id="VillasField" :class="{'st9' : activeArea !== 'vl'}">
                        <g class="st10">
                            <path class="st6" d="M375.27,221.96l-8.52-12.77l-4.56-21.58l55.63-17.54l10.22,15.47c0,0,4.64,16.24,3.02,16.81
                                S375.27,221.96,375.27,221.96z"/>
                            <polygon class="st6" points="454.04,158.34 458.2,178 467.88,190.42 511.18,174.36 510.74,172.35 515.89,167.34 516.07,156.03 
                                504.94,141.9 		"/>
                        </g>
                        <g class="st10">
                            <circle class="st7" cx="376.21" cy="105.02" r="55.46"/>
                            <g>
                                <line class="st8" x1="376.18" y1="190.8" x2="376.18" y2="160.48"/>
                                <circle class="st4" cx="376.16" cy="191.38" r="2.35"/>
                            </g>
                        </g>
                        <g class="st10">
                            <polygon class="st3" points="362.02,187.31 366.76,209.19 375.27,221.96 431.06,202.36 428.21,185.79 417.83,170.08 		"/>
                            <polyline class="st3" points="511.87,175.02 467.88,190.42 458.2,178 454.04,158.34 504.94,141.9 516.07,156.03 517.15,167.53 		
                                "/>
                            <polygon class="st2" points="362.2,187.61 372.27,204.48 428.04,185.55 417.83,170.08 		"/>
                            <line class="st2" x1="372.27" y1="204.48" x2="375.27" y2="221.96"/>
                            <polyline class="st2" points="390.83,178.59 400.78,194.8 404.21,211.79 		"/>
                            <polyline class="st2" points="454.04,158.34 465.14,173.4 516.07,156.03 		"/>
                            <polyline class="st2" points="480.62,149.75 491.64,164.36 493.82,180.81 		"/>
                            <line class="st2" x1="465.14" y1="173.4" x2="467.89" y2="189.96"/>
                        </g>

                    </g>
                </svg>
                <div class="controls">
                    <div class="controls-letters">
                        <div id="ch-text" @click="showArea('ch')" class="cursor-plus">
                            <p class="letters-title">CH</p>
                            <p class="letters-text">Corner House</p>
                        </div>
                        <div id="th-text" @click="showArea('th')" class="cursor-plus">
                            <p class="letters-title">TH</p>
                            <p class="letters-text">Town House</p>
                        </div>
                        <div id="vl-text" @click="showArea('vl')" class="cursor-plus">
                            <p class="letters-title">VL</p>
                            <p class="letters-text">Urban Villas</p>
                        </div>
                        <div id="yh-text" @click="showArea('yh')" class="cursor-plus">
                            <p class="letters-title">YH</p>
                            <p class="letters-text">Yard House</p>
                        </div>
                    </div>
                    <div id="th-plus" @click="showArea('th')" class="cursor-plus" :class="{'hidden' : activeArea == 'th'}">
                        <svg>
                            <circle class="st5" cx="15.73" cy="15.73" r="12.8"/>
                            <g>
                                <line class="st2" x1="15.73" y1="9.08" x2="15.73" y2="22.38"/>
                                <line class="st2" x1="9.08" y1="15.73" x2="22.38" y2="15.73"/>
                            </g>
                        </svg>
                    </div>
                    <div id="yh-plus" @click="showArea('yh')" class="cursor-plus" :class="{'hidden' : activeArea == 'yh'}">
                        <svg>
                            <circle class="st5" cx="15.73" cy="15.73" r="12.8"/>
                            <g>
                                <line class="st2" x1="15.73" y1="9.08" x2="15.73" y2="22.38"/>
                                <line class="st2" x1="9.08" y1="15.73" x2="22.38" y2="15.73"/>
                            </g>
                        </svg>
                    </div>
                    <div id="ch-plus" @click="showArea('ch')" class="cursor-plus" :class="{'hidden' : activeArea == 'ch'}">
                        <svg>
                            <circle class="st5" cx="15.73" cy="15.73" r="12.8"/>
                            <g>
                                <line class="st2" x1="15.73" y1="9.08" x2="15.73" y2="22.38"/>
                                <line class="st2" x1="9.08" y1="15.73" x2="22.38" y2="15.73"/>
                            </g>
                        </svg>
                    </div>
                    <div id="vl-plus" @click="showArea('vl')" class="cursor-plus" :class="{'hidden' : activeArea == 'vl'}">
                        <svg>
                            <circle class="st5" cx="15.73" cy="15.73" r="12.8"/>
                            <g>
                                <line class="st2" x1="15.73" y1="9.08" x2="15.73" y2="22.38"/>
                                <line class="st2" x1="9.08" y1="15.73" x2="22.38" y2="15.73"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

        </div>

    </div>
</template>
<script>
export default {
	props: [
        "content",
        ],
	data() {
        return {
            activeArea: 'th'
        }
    },
    computed: {
	},
	methods: {
        showArea(area) {
            this.activeArea = area
        }
    },
	mounted() {},
};
</script>
<style lang="scss" scoped>
.st0{fill:#F0F4F0;}
.st1{fill:none;stroke:#19191C;stroke-width:0.8;stroke-linejoin:bevel;stroke-miterlimit:10;}
.st2{fill:none;stroke:#19191C;stroke-width:0.8;stroke-miterlimit:10;}
.st3{fill:none;stroke:#19191C;stroke-width:2.5;stroke-miterlimit:10;}
.st4{fill:#19191C;}
.st5{fill:#F0F4F0;stroke:#19191C;stroke-width:0.72;stroke-miterlimit:10;}
.st6{fill:#A06E64;}
.st7{fill:none;stroke:#000000;stroke-width:0.7291;stroke-miterlimit:10;}
.st8{fill:none;stroke:#19191C;stroke-width:0.7291;stroke-miterlimit:10;}
.st9{opacity:0 !important;}
.st10{display:inline;}
.st11{display:inline;fill:#A06E64;}
.full-container {
    width: 100%;
    .plan {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .text {
            position: absolute;
            top: 22%;
            left: 11%;
            width: 193px;
            z-index: 6;
            @media (max-width: 1440px) {
                left: 9%;
            }
            @media (max-width: 1240px) {
                top: 20%;
                left: 5%;
            }
            .title,.desc {
                text-align: right;
            }
            .title {
                margin-bottom: 10px;
                font-size: 26px;
            }
            .desc {
                font-size: 15px;
            }
        }
        .plan-wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            position: relative;
            > svg {
                width: 100%;
                height: auto;
                #TownHouseField,#CornerHouseField,#YardHouseField,#VillasField {
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }
            .controls {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                .controls-letters {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    #ch-text,#th-text,#vl-text,#yh-text {
                        position: absolute;
                        width: 158px;
                        height: 113px;
                        .letters-title {
                            font-size: 81px;
                            line-height: 94px;
                            font-weight: 500;
                            letter-spacing: -0.005em;
                            color: #232328;
                            text-align: center;
                        }
                        .letters-text {
                            font-size: 18px;
                            font-weight: 500;
                            color: #232328;
                            text-align: center;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                        }
                        @media (max-width: 1620px) {
                            width: 9.4vw;
                            height: 6.8vw;
                            .letters-title {
                                font-size: 4.9vw;
                                line-height: 5.6vw;
                            }
                            .letters-text {
                                font-size: 1vw;
                            }
                        }
                    }
                    #ch-text {
                        left: 67.2%;
                        top: 27.2%;
                    }
                    #th-text {
                        top: 48.2%;
                        left: 20.8%;
                        @media (max-width: 1620px) {
                            top: 47.7%;
                            left: 20.8%;
                        }
                    }
                    #vl-text {
                        left: 37%;
                        top: 10.3%;
                    }
                    #yh-text {
                        left: 50.5%;
                        top: 70.7%;
                    }
                }
                #th-plus,#yh-plus,#ch-plus,#vl-plus {
                    position: absolute;
                    width: 31.46px;
                    height: 31.46px;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    &.hidden {
                        opacity: 0;
                    }
                    >svg {
                        height: 100%;
                        width: 100%;
                    }
                }
                #th-plus {
                    top: 51.5%;
                    left: 36.9%;
                }
                #yh-plus {
                    top: 46.5%;
                    left: 49.7%;
                }
                #ch-plus {
                    top: 47.4%;
                    left: 64.9%;
                }
                #vl-plus {
                    top: 29.1%;
                    left: 42.9%;
                }
            }
        }
    }
}
</style>