<template>
	<div class="apartments-list container flex-container">
		<div class="apartments-box">
			<div class="left">
				<Gallery :content="filteredApartments" :code="true"></Gallery>
			</div>
			<div class="right">
				<form action="#">
					<div class="form-box flat-types">
						<p>{{ content.form.flatTypeTitle}}</p>
						<div class="choices">
							<label for="rent" class="choice cursor-plus">
								<input
									v-model="filters.flatType"
									id="rent"
									type="radio"
									name="flatType"
									value="rent"
									checked
								/>
								<span class="button">{{
									content.form.flatTypeRent
								}}</span>
								<Plus></Plus>
							</label>

							<label for="buy" class="choice cursor-plus">
								<input
									v-model="filters.flatType"
									id="buy"
									type="radio"
									name="flatType"
									value="buy"
								/>
								<span class="button">{{
									content.form.flatTypeBuy
								}}</span>
								<Plus></Plus>
							</label>
						</div>
					</div>

					<div class="form-box rooms">
						<p>{{ content.form.bedroomCount }}</p>
						<div class="choices">
							<label for="one" class="choice cursor-plus">
								<input
									v-model="filters.rooms"
									type="radio"
									id="one"
									name="rooms"
									value="1"
								/>
								<span class="button">1</span>
								<Plus></Plus>
							</label>
							<label for="two" class="choice cursor-plus">
								<input
									v-model="filters.rooms"
									type="radio"
									id="two"
									name="rooms"
									value="2"
								/>
								<span class="button">2</span>
								<Plus></Plus>
							</label>
							<label for="three" class="choice cursor-plus">
								<input
									v-model="filters.rooms"
									type="radio"
									id="three"
									name="rooms"
									value="3"
								/>
								<span class="button">3</span>
								<Plus></Plus>
							</label>
						</div>
					</div>

					<div class="form-box garden">
						<p>{{ content.form.extraGain }}</p>
						<div class="choices">
							<label for="no" class="choice cursor-plus">
								<input
									v-model="filters.garden"
									id="no"
									type="radio"
									name="garden"
									:value="false"
								/>
								<span class="button">{{
									content.form.noGarden
								}}</span>
								<Plus></Plus>
							</label>

							<label for="yes" class="choice cursor-plus">
								<input
									v-model="filters.garden"
									id="yes"
									type="radio"
									name="garden"
									:value="true"
									checked
								/>
								<span class="button">{{
									content.form.garden
								}}</span>
								<Plus></Plus>
							</label>

						</div>
					</div>

				</form>
					<div class="price-range">
						<p class="label">{{ content.form.price }} €</p>
						<p class="prices">{{minPrice}} - {{maxPrice}}</p>
					</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
    props: [
        "content",
		"allApartments",
		"rentApartments",
		"buyApartments"
    ],
	computed: {
		filteredApartments() {
			let allApartments
			if (this.filters.flatType == 'rent') {
				allApartments = Object.values(this.rentApartments);
			} else {
				allApartments = Object.values(this.buyApartments);
			}
      const filters = this.filters;

      let filteredApartments = allApartments.map(obj => {
        obj.path = obj.layout.image_base.path
        return obj;
      })

			// No filters meen all results
			if (this.filters.rooms == null && this.filters.garden == null) {
				return allApartments;
            }
			filteredApartments = filteredApartments.filter((itm) => {
				// by default keep all
				let keep = true;

				for (const property in filters) {
					// if value exist in itm and filter is NOT null, try to match
					if (
						typeof itm[property] !== "undefined" &&
						filters[property] != null
					) {
						// keep in mind previous result.. all trys must result true to keep itm
						keep = keep && itm[property] == filters[property];
					}
				}

				return keep;
			});
			return filteredApartments;
        },
        minPrice() {
			let minPrice = 9000000
			if (this.filteredApartments.length > 0) {
				this.filteredApartments.map(el => {
					if (minPrice > el.price.min) {
						minPrice = el.price.min
					}
				})
				minPrice = minPrice.toString()
				minPrice = minPrice.substring(0,minPrice.length - 3) + " " + minPrice.substring(minPrice.length - 3,minPrice.length)
			} else {
				minPrice = null
			}
            return minPrice
        },
        maxPrice() {
			let maxPrice = 0
			if (this.filteredApartments.length > 0) {
				this.filteredApartments.map(el => {
					if (maxPrice < el.price.max) {
						maxPrice = el.price.max
					}
				})
				maxPrice = maxPrice.toString()
				maxPrice = maxPrice.substring(0,maxPrice.length - 3) + " " + maxPrice.substring(maxPrice.length - 3,maxPrice.length)
			} else {
				maxPrice = null
			}
            return maxPrice
        },
	},
	data() {
		return {
			filters: {
				flatType: 'buy',
				rooms: 2,
				garden: false
            },
		};
	},
	methods: {},
	mounted() {
    },
};
</script>
<style lang="scss" scoped>
.apartments-list {
	.apartments-box {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.left {
		max-width: 60%;
		flex: 0 0 60%;
	}
	.left,
	.right {
	}
	.right {
		max-width: 40%;
		flex: 0 0 40%;
		display: flex;
		align-content: center;
		align-items: center;
		padding-left: 43px;
		flex-wrap: wrap;
		form {
			max-width: 100%;
			flex: 0 0 100%;
			width: fit-content;
			display: flex;
			flex-direction: column;
			.form-title {
				font-size: 28px;
			}
			.form-box {
				display: flex;
				flex-direction: column;
				p {
					font-size: 15px;
				}
				.choices {
					display: flex;
					flex-direction: row;
					.choice {
						position: relative;
						display: flex;
						align-content: center;
						align-items: center;
						&:hover {
							cursor: pointer;
						}
						svg {
							overflow: visible;
							margin-left: 5px;
						}
					}
					.button {
						transition: color 0.3s ease;
					}
					input {
						top: 0px;
						left: 0px;
						position: absolute;
						visibility: hidden;
					}
					input:checked ~ .button {
						color: $bronze !important;
					}
				}
			}
			.flat-types {

			}
			.rooms {
				margin-top: 30px;
				p {
				}
				.choices {
					.choice {
						&:not(:last-child) {
							margin-right: 47px;
						}
						.button {
							font-size: 60px;
							line-height: 67px;
						}
						svg {
							margin-top: 14px;
							margin-bottom: auto;
						}
					}
				}
			}
			.garden {
				margin-top: 28px;
				.choices {
					flex-wrap: wrap;
					.choice {
						max-width: 100%;
						flex: 0 0 100%;
					}
				}
			}
			.garden,.flat-types {
				p {
					font-size: 15px;
				}
				.choices {
					.choice {
						&:not(:last-child) {
							margin-right: 30px;
						}
						.button {
							font-size: 26px;
						}
					}
				}
			}
		}
		.price-range {
			margin-top: 40px;
			padding: 38px 34px;
			position: relative;
			border: 1px solid $pitch;
			.label {
				position: absolute;
				top: 6px;
				left: 14px;
			}
			.prices {
				font-size: 37px;
					@media (max-width: 1206px) {
                        font-size: 21px;
                    }
			}
		}
	}
}
</style>
