<template>
  <div class="apartments-list container flex-container">
    <div class="apartments-box">
      <div class="left">
        <div class="carousel-wrapper">
          <VueSlickCarousel
            ref="slick"
            v-if="showCarousel"
            v-bind="slickOptions"
          >
            <div
              v-for="(slide, index) in filteredApartments"
              class="slide bg-image"
              :key="slideId(slide)"
            >
              <div class="map-wrap">
                <client-only>
                <l-map
                  gestureHandling
                  :options="mapOptions"
                >
                  <l-image-overlay
                    :url="slide.path"
                    :bounds="[[-60.70081290280357, -110.26963806152345],[70.82991732677597, 50.08716201782228]]"
                  />
                </l-map>
                </client-only>
              </div>

              <p v-if="slide.bedroom_code" class="apartment-code">{{slide.bedroom_code}}</p>
            </div>
          </VueSlickCarousel>
        </div>
      </div>
      <div class="right">
        <form action="#">
          <div class="form-box flat-types">
      <p>{{ content.form.flatTypeTitle}}</p>
      <div class="choices">
        <label for="rent" class="choice">
        <input
          v-model="filters.flatType"
          id="rent"
          type="radio"
          name="flatType"
          value="rent"
          checked
        />
        <span class="button">{{
          content.form.flatTypeRent
        }}</span>
                <Plus></Plus>
        </label>

        <label for="buy" class="choice">
        <input
          v-model="filters.flatType"
          id="buy"
          type="radio"
          name="flatType"
          value="buy"
        />
        <span class="button">{{
          content.form.flatTypeBuy
        }}</span>
                <Plus></Plus>
        </label>
      </div>
      </div>
          <div class="form-box rooms">
            <p>{{content.form.bedroomCount}}</p>
            <div class="choices">
              <label for="one" class="choice">
                <input v-model="filters.rooms" type="radio" id="one" name="rooms" value="1">
                <span class="button">1</span>
                <Plus></Plus>
              </label>
              <label for="two" class="choice">
                <input v-model="filters.rooms" type="radio" id="two" name="rooms" value="2">
                <span class="button">2</span>
                <Plus></Plus>
              </label>
              <label for="three" class="choice">
                <input v-model="filters.rooms" type="radio" id="three" name="rooms" value="3">
                <span class="button">3</span>
                <Plus></Plus>
              </label>

            </div>
          </div>
          <div class="form-box garden">
            <p>{{content.form.extraGain}}</p>
            <div class="choices">
              <label for="no" class="choice">
                <input v-model="filters.garden" id="no" type="radio" name="garden" :value="false">
                <span class="button">{{content.form.noGarden}}</span>
                <Plus></Plus>
              </label>
              <label for="yes" class="choice">
                <input v-model="filters.garden" id="yes" type="radio" name="garden" :value="true">
                <span class="button">{{content.form.garden}}</span>
                <Plus></Plus>
              </label>
            </div>
          </div>
        </form>
        <div class="price-range">
          <p class="label">{{content.form.price}} €</p>
          <p class="prices"> <span class="min">{{minPrice}}</span></br> - </br><span class="max">{{maxPrice}}</span></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["content", "allApartments", "rentApartments", "buyApartments"],

  computed: {
    filteredApartments() {
      let allApartments;
      if (this.filters.flatType == "rent") {
        allApartments = Object.values(this.rentApartments);
      } else {
        allApartments = Object.values(this.buyApartments);
      }
      const filters = this.filters;

      // return null;

      let filteredApartments = allApartments.map((obj) => {
        obj.path = obj.layout.image_base.path;
        return obj;
      });

      // No filters meen all results
      if (this.filters.rooms == null && this.filters.garden == null) {
        return allApartments;
      }
      filteredApartments = filteredApartments.filter((itm) => {
        // by default keep all
        let keep = true;

        for (const property in filters) {
          // if value exist in itm and filter is NOT null, try to match
          if (
            typeof itm[property] !== "undefined" &&
            filters[property] != null
          ) {
            // keep in mind previous result.. all trys must result true to keep itm
            keep = keep && itm[property] == filters[property];
          }
        }

        return keep;
      });
      return filteredApartments;
    },
    minPrice() {
      let minPrice = 9000000;
      if (this.filteredApartments.length > 0) {
        this.filteredApartments.map((el) => {
          if (minPrice > el.price.min) {
            minPrice = el.price.min;
          }
        });
        minPrice = minPrice.toString();
        minPrice =
          minPrice.substring(0, minPrice.length - 3) +
          " " +
          minPrice.substring(minPrice.length - 3, minPrice.length);
      } else {
        minPrice = null;
      }
      return minPrice;
    },
    maxPrice() {
      let maxPrice = 0;
      if (this.filteredApartments.length > 0) {
        this.filteredApartments.map((el) => {
          if (maxPrice < el.price.max) {
            maxPrice = el.price.max;
          }
        });
        maxPrice = maxPrice.toString();
        maxPrice =
          maxPrice.substring(0, maxPrice.length - 3) +
          " " +
          maxPrice.substring(maxPrice.length - 3, maxPrice.length);
      } else {
        maxPrice = null;
      }
      return maxPrice;
    },
    showCarousel() {
      // Main rule.
      if (!this.showSlick) {
        return false;
      }
      // Other rules
      let doShow = false;
      let content = this.filteredApartments;

      if (content.length > 0) {
        doShow = true;
      }
      // mybe some other tests will be needed
      return doShow;
    },
  },

  data() {
    return {
      filters: {
        flatType: "buy",
        rooms: 2,
        garden: false,
      },
      showSlick: true,
      slickOptions: {
        slidesToScroll: 1,
        slidesToShow: 1,
        arrows: false,
        infinite: true,
        pauseOnHover: true,
        dots: true,
        swipeToSlide: true,
        swipe: true,
      },

      mapOptions: {
        maxBounds: [
          [-69.70081290280357, -160.26963806152345],
          [85.82991732677597, 95.08716201782228],
        ],
        zoom: 2,
        maxZoom: 4,
        minZoom: 2,
        center: [16.92526, -24.01168],
        gestureHandling: true,
      },
    };
  },
  methods: {
    slideId(slide) {
      let id = Math.floor(Math.random() * 100);
      return id;
    },
    mapReady() {},
  },
  watch: {
    filteredApartments(newVal, oldVal) {
      let me = this;
      /**
       * Hide slider for one tick
       * so it refreshes
       */
      me.showSlick = false;
      this.$nextTick(() => {
        me.showSlick = true;
      });
    },
  },
};
</script>
<style lang="scss" scoped>

.apartments-list {
  .apartments-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .left,
  .right {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .right {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    order: 0;
    margin-bottom: 76px;
    form {
      max-width: 80%;
      flex: 0 0 80%;
      margin: 0 auto 0 70px;
      width: fit-content;
      display: flex;
      flex-direction: column;
      .form-title {
        font-size: 28px;
        width: 240px;
        line-height: 28px;
      }
      .form-box {
        display: flex;
        flex-direction: column;
        p {
          font-size: 15px;
        }
        .choices {
          display: flex;
          flex-direction: row;
          .choice {
            position: relative;
            &:hover {
              cursor: pointer;
            }
            svg {
              overflow: visible;
            }
          }
          .button {
            transition: color 0.3s ease;
          }
          input {
            top: 0px;
            left: 0px;
            position: absolute;
            visibility: hidden;
          }
          input:checked ~ .button {
            color: $bronze !important;
          }
        }
      }
      .rooms {
        margin-top: 36px;

        .choices {
          .choice {
            display: flex;
            &:not(:last-child) {
              margin-right: 21px;
            }
            .button {
              font-size: 63px;
              line-height: 75px;
            }
            svg {
              margin-top: 14px;
              margin-left: 3px;
            }
          }
        }
      }
      .garden,
      .flat-types {
        margin-top: 31px;
        .choices {
          flex-wrap: wrap;
          .choice {
            max-width: 100%;
            flex: 0 0 100%;
            display: flex;
            &:not(:last-child) {
              margin-right: 82px;
            }
            .button {
              font-size: 26px;
            }
            svg {
              margin-top: 10px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .price-range {
      width: 73%;
      padding-top: 73%;
      margin-top: 49px;
      position: relative;
      border: 1px solid $pitch;
      text-align: center;
      span {
      }
      .label {
        position: absolute;
        top: 6px;
        left: 14px;
      }
      .prices {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 37px;
        line-height: 30px;
        span {
          line-height: 30px;
        }
      }
    }
  }
  .left {
    padding: 0px;
    order: 1;
    .carousel-wrapper {
      height: 555px !important;
      padding-bottom: 50px;
      padding-top: 0px;
    }
  }
}
</style>
