<template>
    <div class="pixel-counter">
        <p ref="counter">
            <span class="thousands counter">0</span>
            <span class="hundreds counter">0</span>
            <span class="tens counter">0</span>
            <span class="ones counter">0</span>
        </p>
    </div>
</template>
<script>
export default {
  props: [
  ],
  data() {
      return {
          inDark: false
      }
  },
  methods: {
    handleScroll(e) {
        let thousands =  Math.floor(window.scrollY / 1000)
        let hundreds =  Math.floor((window.scrollY - thousands * 1000)/ 100)
        let tens =  Math.floor((window.scrollY - thousands * 1000 - hundreds * 100) / 10)
        let ones = Math.floor((window.scrollY - thousands * 1000 - hundreds * 100 - tens * 10))
        this.$refs.counter.querySelector(".ones").innerHTML = ones
        this.$refs.counter.querySelector(".tens").innerHTML = tens
        this.$refs.counter.querySelector(".hundreds").innerHTML = hundreds
        this.$refs.counter.querySelector(".thousands").innerHTML = thousands
        const darkSections = document.querySelectorAll('.dark-section');
        const counters =  document.querySelectorAll('.counter');
        counters.forEach((counter) => {
            counter.classList.remove("inDark")
            let counterRect = counter.getBoundingClientRect()
            darkSections.forEach((section) => {
                let sectionRect = section.getBoundingClientRect()
                if (sectionRect.top < counterRect.bottom && sectionRect.bottom > counterRect.bottom) {
                    counter.classList.add("inDark")
                }
                
            });
        });
    }
  },
  	beforeMount () {
		window.addEventListener('scroll', this.handleScroll, {
		passive: true,
		});
	},

	beforeDestroy() {
		window.removeEventListener('scroll', this.handleScroll);
	},
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
    .pixel-counter {
        position: fixed;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 55;
        p {
            transform: rotateZ(-90deg);
            span {
                display: inline-block;
                height: 13.64px;
                width: 8.64px;
                font-size: 9.5px;
                color: $pitch;
                transition: color ease-in-out 0.13s;
                &.inDark {
                    color: $beige;
                }
            }
        }
    }
</style>