<template>
    <footer class="dark-section cursor-up">
        <div class="footer-container">
            <div class="footer-col-1 footer-col">
                <div class="soc-icons">
                    <a href="https://www.facebook.com/Lindenholma/" target="_blank" class="fb-icon cursor-plus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
                            <g id="Group_454" data-name="Group 454" transform="translate(0 -0.001)">
                                <g id="Ellipse_194" data-name="Ellipse 194" transform="translate(0 0.001)" fill="none" stroke="#f0f4f0" stroke-width="2">
                                <circle cx="13.5" cy="13.5" r="13.5" stroke="none"/>
                                <circle cx="13.5" cy="13.5" r="12.5" fill="none"/>
                                </g>
                                <line id="Line_695" data-name="Line 695" x2="7.495" transform="translate(9.144 13.974)" fill="none" stroke="#f0f4f0" stroke-width="2"/>
                                <path id="Path_662" data-name="Path 662" d="M-15658.094-1120.234v-18.633h4.571" transform="translate(15670.164 1146.307)" fill="none" stroke="#f0f4f0" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/lindenholma.kvartals/" target="_blank" class="ig-icon cursor-plus">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                            <g id="Group_452" data-name="Group 452" transform="translate(1.217 0.963)">
                                <rect id="Rectangle_313" data-name="Rectangle 313" width="24" height="24" rx="7" transform="translate(-0.217 0.037)" fill="none" stroke="#f0f4f0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_661" data-name="Path 661" d="M17.729,12.112a4.869,4.869,0,1,1-4.1-4.1A4.869,4.869,0,0,1,17.729,12.112Z" transform="translate(-1.356 -0.478)" fill="none" stroke="#f0f4f0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <line id="Line_694" data-name="Line 694" x2="0.012" transform="translate(18.199 5.705)" fill="none" stroke="#f0f4f0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                        </svg>
                    </a>
                    
                </div>
                <NuxtLink v-for="(link,index) in $t('footer.links')" :key="index" :to="localePath(link.link)" @click.native="checkIfActivePage(link.link)" class="cursor-plus link">{{link.text}}</NuxtLink>
                <a class="cursor-plus link" target="_blank" href="https://lindenholma.id.brandbox.digital/lv/statements#brokeriem">{{$t('footer.brokers')}}</a>
            </div>
            <div class="footer-col-2 footer-col">
                <p v-for="(contact,index) in $t('footer.address')" :key="index">{{contact}}</p>
            </div>
            <div class="footer-col-3 footer-col">
                <template v-if="path == 'rent'">
                    <NuxtLink :to="localePath('filters')" class="cursor-plus rent-button">{{$t('footer.filter')}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="43.921" height="30.082" viewBox="0 0 43.921 30.082">
                            <g id="Group_457" data-name="Group 457" transform="translate(-1014.472 -7798.459)">
                                <line id="Line_696" data-name="Line 696" x2="43.214" transform="translate(1014.472 7813.391)" fill="none" stroke="#a06e64" stroke-width="1"/>
                                <path id="Path_663" data-name="Path 663" d="M-8410.961-2137l14.688,14.688-14.687,14.688" transform="translate(9453.959 9935.813)" fill="none" stroke="#a06e64" stroke-width="1"/>
                            </g>
                        </svg>
                    </NuxtLink>
                </template>
                <template v-else>
                    <NuxtLink :to="localePath('rent')" class="cursor-plus rent-button" @click.native="checkIfActivePage('rent')">{{$t('footer.rent')}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="43.921" height="30.082" viewBox="0 0 43.921 30.082">
                            <g id="Group_457" data-name="Group 457" transform="translate(-1014.472 -7798.459)">
                                <line id="Line_696" data-name="Line 696" x2="43.214" transform="translate(1014.472 7813.391)" fill="none" stroke="#a06e64" stroke-width="1"/>
                                <path id="Path_663" data-name="Path 663" d="M-8410.961-2137l14.688,14.688-14.687,14.688" transform="translate(9453.959 9935.813)" fill="none" stroke="#a06e64" stroke-width="1"/>
                            </g>
                        </svg>
                    </NuxtLink>    
                </template>
            </div>
            <div class="footer-col-4 footer-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="181.885" height="32.283" viewBox="0 0 181.885 32.283" class="vastint-logo">
                    <g id="Group_52" data-name="Group 52" transform="translate(-75.802 -56.381)">
                        <g id="Group_3" data-name="Group 3" transform="translate(75.802 56.862)">
                        <path id="Path_2" data-name="Path 2" d="M86.758,64.422a.216.216,0,0,0,0,.171A8,8,0,0,1,84.641,68a15.54,15.54,0,0,1-3.775,2.484c-.171.072-.487-.049-.656-.049-.2,0-.561.219-.684.219-.169,0-.268-.049-.291-.122v-.049a.577.577,0,0,0-.293.462c-.169.39-.219,1.072-.414,1.654a13.2,13.2,0,0,0-.462,1.266,4.2,4.2,0,0,1-.439,1.779l-.217.291c-.074,0-.1.05-.27.05-.1,0-.217-.146-.34-.146-.171,0-.146.1-.243.1-.074-.12-.025-.315-.2-.315s-.072.023-.146.023c0-.072.049.025.049-.148s-.243-.363-.439-.68c.074-.1-.023-.146-.023-.317,0-.464.536-1.218.608-1.583.39-1.485.852-3,1.218-4.456.61-2.555,1.291-5.21,1.948-7.767.074-.317.074-.852.148-1.315a2.006,2.006,0,0,1-.975-2,1.408,1.408,0,0,1,.39-.194,2.778,2.778,0,0,1,.876-.122c.365-.025.561-.025.633-.025.171,0,.025.049.1.074a4.489,4.489,0,0,1,1.437.536c.074.072.39.122.487.194,2.41,1.559,4.309,3.482,4.309,5.552A6.639,6.639,0,0,1,86.758,64.422Zm-4.965-5.26c-.074,0,.049-.049-.074-.049s-.245.049-.342.049v.293a9.334,9.334,0,0,1,.194,1.118c-.1.781-.243,1.608-.365,2.266-.266,1.144-.656,2.555-.851,3.359a19.468,19.468,0,0,0-.464,1.973A3,3,0,0,0,80.7,68c-.194-.317.268-.342.439-.511a.182.182,0,0,1,.025.072v.025c-.1.072.023.072.12.072a7.028,7.028,0,0,0,.633-.536c-.023,0-.023.025-.1.025h-.049c-.074-.1.025-.049.025-.122a6.823,6.823,0,0,0,3.383-5.113C85.175,61.037,82.814,59.162,81.793,59.162Z" transform="translate(-75.802 -56.239)"/>
                        <path id="Path_3" data-name="Path 3" d="M88.335,64.669a3.613,3.613,0,0,0-1.023,0,6.787,6.787,0,0,0-.122-.7A5.978,5.978,0,0,0,84.8,66.422c0-.072-.023-.12-.1-.12-.074.146-.1.243-.05.291a.087.087,0,0,0-.072.025.74.74,0,0,1-.074.1c-.023.074.074.1.074.2-.074,0-.074.049-.171.049h-.023c-.051,0-.074.023-.074.047-.074.1.1.146.1.173a6.888,6.888,0,0,1-.585.9c0,.1.074.146.049.171a1.654,1.654,0,0,1-.414.511c-.122.171-.1.414-.194.61a3.085,3.085,0,0,0-.414,2.142.813.813,0,0,1-.464.148,3.838,3.838,0,0,1-.682-.268c-.1-.1,0-.416-.268-.342a4.8,4.8,0,0,1-.414-1.266c0-.146.39-1.485.439-2.142a17.158,17.158,0,0,0,.462-2.754c.074-.559.171-1.289.243-2,.074-.462.1-1,.219-1.46h.293a1.267,1.267,0,0,1,.876.682,4.254,4.254,0,0,1,.245,1.072c.023.268-.074.485-.074.852A3.557,3.557,0,0,1,86.094,62.4a3.39,3.39,0,0,1,2.338,1.1c.1.122.146.344.268.538C88.6,64.255,88.238,64.452,88.335,64.669Z" transform="translate(-70.878 -52.105)"/>
                        <path id="Path_4" data-name="Path 4" d="M88.481,70.916c-.1.074-.122.268-.2.365a2.92,2.92,0,0,1-1.509.511,2.5,2.5,0,0,1-1.631-.851c-.171-.122-.268-.73-.561-.73a8.725,8.725,0,0,1-.194-.975A9.8,9.8,0,0,1,85.559,65.8c.074-.074.025-.293.122-.39a9.037,9.037,0,0,0,.559-.876c.1-.074.1-.049.194-.074s.05-.169.148-.293c.12-.217.437-.338.608-.559.1-.122.049-.317.148-.485-.074,0-.219-.122-.318.049a.206.206,0,0,0-.049-.148c-.049.025-.072.1-.072.2,0-.122-.049-.171-.171-.171l.049-.025c.025,0,.049-.023.1-.072-.12-.926,1.534-1.243,1.8-1.511.122.268.317.1.584.219.122.1.536.511.755.73,0,.025.023.049.049.1a.482.482,0,0,0,.1.169c.074.025.171,0,.243.074a5.3,5.3,0,0,1,1.266,3.043C91.67,67.557,90.258,69.359,88.481,70.916Zm.876-6.818c-.268.511-.827,1.144-1.047,1.511a27.993,27.993,0,0,0-1.534,3.14v.219a8.276,8.276,0,0,1,.973-.73c.171,0-.12.146.074.146.219,0,1.218-1.583,1.266-1.7A12.239,12.239,0,0,0,89.648,65,3.184,3.184,0,0,0,89.357,64.1Zm-.268-.194v-.365h-.122V63.9Z" transform="translate(-67.714 -52.094)"/>
                        <path id="Path_5" data-name="Path 5" d="M95.683,67.722c-.1.487-.049.852-.122,1.169-.072.268-.023,1.1-.1,1.606-.219,1.439-.656,2.874-.852,4.408-.074.1.025.342-.074.462a4.045,4.045,0,0,0-.34,1.291A2.263,2.263,0,0,1,93.638,78c.072.12-.074.34-.148.536-.072.169.05.437.025.656a8.583,8.583,0,0,1-.633,1.68c-.316.61-.61,1.266-.975,1.876-.146.194-1.07.973-.95,1.264a6.782,6.782,0,0,1-3.334,1.975,5.269,5.269,0,0,1-1.047-.293c-1.753-.513-2.557-2.68-2.752-4.066a6.761,6.761,0,0,0,0-1.557,8.566,8.566,0,0,0,.217-.926c0,.219-.072.365,0,.559.2-.462.219-1.072.39-1.557a16.263,16.263,0,0,1,.876-1.973c0,.074.025.2.1.2q.038,0,0,.146l.025,2c.1,0,.2.049.2.219a5.9,5.9,0,0,0-.122.584,6.97,6.97,0,0,1-.074.9,4.752,4.752,0,0,0-.1.684,3.581,3.581,0,0,0,.268.852c0,.1-.171,1.971.584,1.971,1.606,0,4.041-2.435,4.723-3.507.1-.12.074-.34.171-.511a6.727,6.727,0,0,0,1.047-2.678,23.473,23.473,0,0,0,.755-3.359,11.274,11.274,0,0,0,.317-1.146c.194-1.07.268-2.167.439-3.26.194-1,.317-2.1.534-3.093a3.918,3.918,0,0,0,.025-1.511c.1,0,.1-.072.268-.072a1.912,1.912,0,0,1,.852.437,1.311,1.311,0,0,1,.365.755,7.977,7.977,0,0,1,.194,1.144C95.877,67.115,95.706,67.5,95.683,67.722ZM84.24,78.63l-.148.464-.072-.049.12-.416ZM97.362,62a2.82,2.82,0,0,1-.95.342c-.268,0-1.021-.876-1.218-1.072a8.478,8.478,0,0,0-.291-1.68c.1-.12.194-.365.388-.365.122,0,.536.414.829.633.12.122.437.268.633.462.217.2.779.755.779.95A3.239,3.239,0,0,1,97.362,62Z" transform="translate(-68.245 -54.184)"/>
                        <path id="Path_6" data-name="Path 6" d="M96.615,69.9c0,.124.1.2.268.245a3.373,3.373,0,0,0-.268.584c-.414-.1-.633.439-.633.829a2.893,2.893,0,0,1-.95.146c-.122.072,0,.1.1.1-.268.025-.633.243-.9.268v.072c0,.025-.025.049-.1.049-.293,0-1-.485-1.072,0l-.268-.363a2.448,2.448,0,0,1-1.509-1c-.439-.388-.219.219-.682-1.728A4.1,4.1,0,0,1,90.8,67.22a12.156,12.156,0,0,1,.827-2.167,16.625,16.625,0,0,1,.8-1.532,7.118,7.118,0,0,0,.633-.9c.365-.317.414-.559.9-.851.219-.1.73-.245.658-.511-.025.023-.05.023-.05.049,0,.047.025.072.1.072.194,0-.049-.072.146-.072a6.082,6.082,0,0,1,.682.291c.074.219,0,.462.171.462.194,0,0-.072.169-.072.122,0,.2.12.293.217,0,1.023.487.487.487,1.12a15.822,15.822,0,0,1-.462,1.971,11.7,11.7,0,0,1-1.12,1.633,25.989,25.989,0,0,0-2.1,2.46c0,.194.439.485.732.608a1.747,1.747,0,0,0,.7.072c.268,0,.464-.243.852-.072.658-.194,1.266-.414,1.753-.536a.34.34,0,0,0,.243.1C96.955,69.655,96.833,69.826,96.615,69.9Z" transform="translate(-61.898 -52.27)"/>
                        <path id="Path_7" data-name="Path 7" d="M101.747,67.714c-.171,0-.074-.1-.148,0,0,.1-.1.12.025.12.171,0,.072-.025.171-.025-.1.1-.219.367-.146.464-.293.266-.684.511-.952.779,0,.074.049.1.122.1v.245c-.584.316-1.218.755-2.093,1.266-.1.1-.171.315-.293.414a7.225,7.225,0,0,1-2.068.584,2.742,2.742,0,0,1-2.435-2.412c0-.194-.025-.437-.025-.608a7.644,7.644,0,0,1,.171-1.462,5.02,5.02,0,0,1,.536-1.583c.072-.023.049-.194.072-.317a5.97,5.97,0,0,1,.781-1.338,2.345,2.345,0,0,0,.559-.658A.09.09,0,0,0,96,63.208c-.074.072-.1.1-.1.12.291-.365.631-1.047,1.021-1.46.1-.171.365-.146.559-.243.171-.1.219-.27.414-.27a4.288,4.288,0,0,1,1.023.245,2.722,2.722,0,0,1,.95.95,3.052,3.052,0,0,1,.243.926c0,.243-.266,1.678-.534,1.825a.685.685,0,0,1-.365.074c-.39,0-.584-.293-.682-.658-.1-.268-.318-.487-.219-.755v-.023H98.24a17.252,17.252,0,0,0-2.021,3.313,15.467,15.467,0,0,0-.656,2.091v.342a2.442,2.442,0,0,0,.707.171,7.687,7.687,0,0,0,1.07-.439c.876-.365,2-.73,3.14-1.315.293-.171,1.072-.608,1.656-.878C102.015,67.347,101.941,67.714,101.747,67.714Z" transform="translate(-58.751 -52.177)"/>
                        <path id="Path_8" data-name="Path 8" d="M106.728,67.2c0,.074.049.1.122.1-.074.217-.317.169-.049.388-.268.122-.61.268-.829.39,0,.1.1.12.2.194-.171.414-.755.536-1.243.633-.1.169-.388.559-.559.559-.122,0,.023-.049-.074-.122-.072,0-.1.074-.1.221a15.91,15.91,0,0,0-1.68.534c-.074.025,0,.074,0,.148-.074,0,0-.049-.194-.049a6.994,6.994,0,0,0-1.12.388l-.194.293a2.253,2.253,0,0,0-.707.39c-.2.8-.462,2.336-.462,2.507s.243,1.1.243,1.218c0,.169-.291.342-.291.559-.074,0-.27.05-.39.05-.171,0-.194-.3-.291-.39a2.433,2.433,0,0,1-.732-1.9c-.1-.365.1-1.315.074-2.509,0-.171-.682-.973-.682-1.12,0-.12.122-.61.122-.973a.455.455,0,0,0,.12-.171c.1-.023.171-.1.293-.1.194,0,.023.074.217.074.122,0,.317-.2.342-.367.268-.73.559-3.02.829-4.066.266-1.07.631-2.167.924-3.262a17.636,17.636,0,0,1,.536-1.8c.169-.485.194-1.289.682-1.606a.816.816,0,0,1,.414-.171c.194,0,.365.39.536.39s.171-.025.268-.025a.184.184,0,0,1-.074.025v.12c0,.219.462.95.462,1.169a3.38,3.38,0,0,1-.291,1.023,1.468,1.468,0,0,1,.072.414c-.485,1.656-1,3.262-1.484,4.8a19.747,19.747,0,0,1-.487,2.144v.12c.169.1.268.049.487.049a1.419,1.419,0,0,1,.511-.072c.171,0,.025.12.219.12.171,0,.388-.12.608-.146,1.1-.194,2.313-.291,3.847-.414C106.922,67.056,106.825,67.1,106.728,67.2Z" transform="translate(-55.114 -56.05)"/>
                        <path id="Path_9" data-name="Path 9" d="M109.872,57.75a1.5,1.5,0,0,1,.072.95l-.146.829c-.39,1.8-1.218,4.893-1.874,7.255a20.262,20.262,0,0,1-.732,2.167l.1.1a1.677,1.677,0,0,1,1-.437,2.611,2.611,0,0,1,2.849,2.068,8.668,8.668,0,0,1-.245,1.439c-.12.363-.414,1.1-.608,1.557a15.607,15.607,0,0,1-1.68,2.509c-.171,0,0-.122-.2-.122-.12.023-.414.388-.631.462l.049-.025v-.072c-.171-.025-.317-.148-.487-.122-.2.023,0,.074-.171.1-.171,0-.268-.146-.365-.243s-.8-.926-.8-1.291a1.887,1.887,0,0,1,.293-.852c.485.268.1.61.559.61.317-.074,1.1-1.412,1.291-1.948.317-.658.584-1.656.8-2.264L108.9,70.1c-.169,0-.217.363-.437.487a1.432,1.432,0,0,0-.755.852c-.1.023-.1-.025-.194-.025.12.365-.852,1.363-1.049,1.851.074.1.148.1.219-.025-.194.171-.462.536-.633.559-.194.025-.656-.047-.827-.023-.342.023-1.144-1.631-1.12-1.631a19.062,19.062,0,0,1,.682-2.9c.975-3.239,2.313-7.864,3.165-10.787a10.424,10.424,0,0,1,.584-1.728,1.5,1.5,0,0,1,.633-.1c.171-.05.852.827.852.851C110.043,57.678,109.944,57.652,109.872,57.75Z" transform="translate(-49.154 -56.629)"/>
                        <path id="Path_10" data-name="Path 10" d="M117.255,64.756a1.664,1.664,0,0,1-.025.781c-.072.363-.291.753-.365,1.169,0,.1.049.266-.023.388-.219,1.1-.561,2.313-.779,3.385l-.171.171c-.317,1.437-.682,2.823-.9,4.26-.074.171.023.561,0,.781a1.609,1.609,0,0,0-.194.462c0,.73-.219,1.922-.171,2.093l.023.365c.1.074,0,.12.2.12a3.4,3.4,0,0,0,1.047-.584l.1.829c-.536.194-.171.755-.414.827-.171,0-.049-.047-.171-.047-.194.023-.365.243-.536.266a3.783,3.783,0,0,1-.707-.266c-.169-.076-.34-.39-.437-.561a3.7,3.7,0,0,1-.8-1.608c-.293-3.262,1.728-11.3,2.021-12.393l-.025-.025a.093.093,0,0,0-.025-.074c-1.338,1.585-2.484,3.021-3.944,4.579a3.819,3.819,0,0,1-.656.487,2.137,2.137,0,0,1-.732.317c-1.021.122-1.46-1.072-1.534-1.8-.12-1.169,1.608-5.016,1.851-5.478.293-.416.61-1.023.926-1.511a1.1,1.1,0,0,1,1.291.8,2.121,2.121,0,0,1,.023.291A9.364,9.364,0,0,0,111.51,64c-.365.779-.781,1.9-1.243,2.946a1.343,1.343,0,0,0-.243.365A1.111,1.111,0,0,0,110,67.9l5.381-6.429c1.585.561,2.021.8,2.1,1.95A3.581,3.581,0,0,1,117.255,64.756Z" transform="translate(-45.458 -52.07)"/>
                        </g>
                        <g id="Group_7" data-name="Group 7" transform="translate(153.946 56.381)">
                        <g id="Group_4" data-name="Group 4" transform="translate(68.711 0.006)">
                            <path id="Path_11" data-name="Path 11" d="M169.343,56.384h-4.964V66.529l-8.533-10.145h-4.416V74.691h4.927v-10.2l8.557,10.2h4.429V60.835h4.685V74.691h5.507V60.835h4.936l1.989-4.451Z" transform="translate(-151.429 -56.384)"/>
                        </g>
                        <g id="Group_5" data-name="Group 5" transform="translate(16.413)">
                            <path id="Path_12" data-name="Path 12" d="M168.765,56.387H150.088c-.068,0-.134-.006-.2-.006a8.172,8.172,0,0,0-3.544.7,4.716,4.716,0,0,0-2.862,4.455,4.821,4.821,0,0,0,.7,2.625,6.084,6.084,0,0,0,1.8,1.816,19.92,19.92,0,0,0,2.569,1.344,18.435,18.435,0,0,1,2.016,1.017c.365.235.522.34.61.682.043.3.066,1.254-1.346,1.249h-5.348L138.3,56.381h-5.639L124.5,74.7h5.464l1.206-2.9h3.988l1.375-3.3h-3.989l2.936-7.043L140.995,74.7h5.464l0,0h3.357l.072,0a8.926,8.926,0,0,0,3.5-.649,5.414,5.414,0,0,0,2.381-1.868,4.925,4.925,0,0,0,.854-2.891,4.281,4.281,0,0,0-.7-2.509A6.471,6.471,0,0,0,154,65a33.043,33.043,0,0,0-3.287-1.734,7.97,7.97,0,0,1-1.606-.936,1.279,1.279,0,0,1-.437-.847c0-.373.179-1.072,1.41-1.068H159V74.694H164.5V60.408h4.262V74.694h5.523V56.387Z" transform="translate(-124.497 -56.381)"/>
                        </g>
                        <g id="Group_6" data-name="Group 6" transform="translate(0 0.001)">
                            <path id="Path_13" data-name="Path 13" d="M132.543,56.381l-5.517,12.15-5.517-12.15h-5.464L124.205,74.7h5.641l8.161-18.317Z" transform="translate(-116.045 -56.381)"/>
                        </g>
                        </g>
                    </g>
                </svg>
                <p>{{$t('footer.copyright')}}</p>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    props: [
    ],
    data() {
        return {
            path: 'page'
        }
    },
    methods: {
        checkIfActivePage(newLink) {
			if (newLink === this.$route.name.split('___')[0]) {
                this.$parent.$parent.$parent.$refs["cursor"].classList.remove("hovering");
                this.$parent.$parent.$parent.$refs["cursor"].classList.remove("rotate-up");
                this.$parent.$parent.$parent.$refs["cursor"].classList.add("anim");
                window.scrollTo(0, 0);
			}
		},
    },
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
    mounted() {
        this.checkRoute()
    },
    methods: {
        checkRoute() {
            if ($nuxt.$route.name == 'rent___lv' || $nuxt.$route.name == 'rent___en' || $nuxt.$route.name == 'rent___ru') {
                this.path = 'rent'
            }
        }
    }
};
</script>
<style lang="scss" scoped>
    footer {
        //height: 411px;
        background-color: $pitch;
        display: flex;
        justify-content: center;
        padding-top: 200px;
        .footer-container {
            max-width: 1205px;
            width: 100%;
            display: flex;
            height: 137px;
            margin-top: 96px;
            margin-bottom: 115px;
            margin-left: 90px;
            margin-right: 90px;
            .footer-col {
                height: 100%;
                display: flex;
                flex-direction: column;
                &.footer-col-1 {
                    justify-content: space-between;
                    margin-right: 70px;
                    @media (max-width: 1280px) {
                        margin-right: 3vw;
                    }
                    .soc-icons a {
                        &:hover {
                            svg {
                                line,path,g,rect {
                                    stroke: $bronze;
                                }
                            }
                        }
                        svg {
                            line,path,g,rect {
                                transition: stroke 0.3s ease;
                            }
                        }
                    }
                    .soc-icons {
                        margin-bottom: auto;
                        margin-top: 0px;
                        margin-bottom: 10px;
                        a {
                            width: 24px;
                            height: 24px;
                            display: inline-block;
                            svg {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .fb-icon {
                            margin-right: 21px;
                        }
                    }
                    .link {
                        text-transform: uppercase;
                        color: $beige !important;
                        font-size: 11px;
                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }
                        transition: color 0.3s ease;
                        &:hover {
                            color: $bronze !important;
                        }
                    }
                }
                &.footer-col-2 {
                    justify-content: space-between;
                    margin-right: 134px;
                    @media (max-width: 1280px) {
                        margin-right: 4vw;
                    }
                    p {
                        text-transform: uppercase;
                        color: #727272 !important;
                        font-size: 11px;
                        &:not(:last-child) {
                        }
                    }
                }
                &.footer-col-3 {
                    max-width: 345px;
                    flex: 0 0 345px;
                    @media (max-width: 1280px) {
                        max-width: 250px;
                        flex: 0 0 250px;
                    }
                    .rent-button {
                        width: 100%;
                        height: 55px;
                        border: 1px solid $bronze;
                        color: $bronze !important;
                        text-transform: uppercase;
                        font-size: 11px;
                        letter-spacing: 3.5px;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        position: relative;
                        svg {
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                     
                            transition: right 0.49s ease;
                        }
                        &:hover {
                            @media (min-width: 950px) {
                                svg {
                                    right: -50px;
                                }
                            }
                        }
                    }
                }
                &.footer-col-4 {
                    margin-left: auto;
                    margin-right: 0px;
                    align-items: flex-end;
                    align-content: flex-end;
                    svg {
                        path {
                            fill: $beige;
                        }
                    }
                    p {
                        margin-top: auto;
                        margin-bottom: 0px;
                        font-size: 11px;
                        color: #727272 !important;
                    }
                }
            }
            @media (max-width: 950px) {
                margin-left: 6.9vw;
                margin-right: 6.9vw;
                margin-bottom: 90px;
                flex-direction: column;
                height: auto;
                .footer-col {
                    &.footer-col-4 {
                        order: 1;
                        margin-bottom: 70px;
                        p {
                            display: none;
                        }
                    }
                    &.footer-col-1 {
                        order: 2;
                        position: relative;
                        margin-bottom: 50px;
                        .soc-icons {
                            position: absolute;
                            top: 0px;
                            right: 0px;
                        }
                    }
                    &.footer-col-3 {
                        order: 3;
                        flex: unset;
                        max-width: 100%;
                        margin-bottom: 50px;
                        .rent-button {
                            svg {
                                opacity: 1;
                                right: -20px;
                            }
                        }
                    }
                    &.footer-col-2 {
                        order: 4;
                        p {
                            &:not(:last-child) {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>