<template>
	<header class="def-padding" :class="[{'retract' : retractHeader},{'open':menuOpen}]">
		<div class="logo-container">
			<NuxtLink :to="'/' + selectedLocale" class="cursor-plus">
      	<img
          class="logo"
          src="/images/logo/logo.svg"
          alt="Lindenholma logotips"
				/>
			</NuxtLink>
		</div>
		<div class="push-right">
			<a :href="`tel:${$t('menu.contact.phone')}`" class="cursor-plus">
				<p class="phone">{{$t('menu.contact.phone')}}</p>
			</a>
			<div
				class="hamburger hamburger--collapse cursor-plus"
				:class="{'open' : menuOpen}"
				ref="hamburger"
			>
				<img v-if="!menuOpen" src="/images/burger/open.png" alt=""/>
				<img v-else src="/images/burger/close.png" alt=""/>
			</div>
		</div>
	</header>
</template>
<script>
let SCROLL_OFFSET = 100;
let prevScroll = 0;
let currentScroll = 0

export default {
	props: ["menuOpen"],
	data() {
		return {
			retractHeader: false
		}
	},
	computed: {
		selectedLocale() {
			return this.$i18n.locale;
		},
	},
	methods: {
		openMenu() {
			this.$emit("openMenu");
		},
		handleScroll(e) {
			currentScroll = window.pageYOffset;
			if (prevScroll < currentScroll && window.scrollY > SCROLL_OFFSET) {
				this.retractHeader = true;
			} else {
				this.retractHeader = false;
			}
			prevScroll = currentScroll;
		}
	},
	beforeMount () {
		window.addEventListener('scroll', this.handleScroll, {
		passive: true,
		});
	},

	beforeDestroy() {
		window.removeEventListener('scroll', this.handleScroll);
	},
	mounted() {
		const hamburger = this.$refs.hamburger;
		hamburger.addEventListener("click", () => {
			this.openMenu();
		});
	},
};
</script>
<style lang="scss" scoped>
header {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	height: 87px;
	padding-top: 21.8px;
	padding-bottom: 17.5px;
	background-color: $beige;
	transition: top ease-in-out 0.3s;
	&.open {
		.push-right {
		}
	}
	&.retract {
		top: -87px;
	}
	.logo-container {
		height: 100%;
		.logo {
			height: 100%;
			width: auto;
		}
	}
	.push-right {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		.phone {
			font-size: 12px;
			letter-spacing: 4px;
			font-family: $third-font;
			margin-right: 19px;
		}
		.hamburger {
			height: 19px;
			width: 19px;
			img {
				width: 100%;
				height: auto;
			}
			&:hover {
				cursor: pointer;
				span {
					//transition: margin 0.15s ease-in 0.2s;
					// &:nth-child(1) {
					// 	margin-left: 5px;
					// }
					// &:nth-child(3) {
					// 	margin-right: 5px;
					// }
				}
			}
			// &.open {
			// 	span {
			// 		&:nth-child(1) {
			// 			transform: rotateZ(-45deg) translate(-7px,4px);
			// 			margin-left: 0px;
			// 			width: 19.22px;
			// 		}
			// 		&:nth-child(2) {
			// 			opacity: 0;
			// 		}
			// 		&:nth-child(3) {
			// 			transform: rotateZ(45deg) translate(-6px, -3px);
			// 			margin-right: 0px;
			// 			width: 19.22px;
			// 		}
			// 	}
			// }
			// span {
			// 	height: 2px;
			// 	background-color: $pitch;
			// 	display: block;
			// 	//transition: margin 0.15s ease-in 0.2s;
			// 	&:nth-child(1) {
			// 		width: 19.22px;
			// 	}
			// 	&:nth-child(2) {
			// 		width: 19.22px;
			// 	}
			// 	&:nth-child(3) {
			// 		width: 19.22px;
			// 	}
			// }
		}
	}
}
</style>
