<template>
  <div class="menu full-section " :class="{ open: menuOpen }">
    <div class="def-padding">
      <div class="center">
        <div class="picture">
          <div
            class="picture-container"
            :style="{
              backgroundImage:
                'url(' + global_statically(content.picture, 2100) + ')'
            }"
          ></div>
        </div>
        <div class="map">
          <div class="map-wrap" ref="menuMap">
            <client-only>
              <l-map
                :zoom="12"
                :maxZoom="18"
                :minZoom="8"
                :center="mapCenter"
                ref="map"
                @onResize="initMap"
              >
                <l-tile-layer
                  url="https://api.mapbox.com/styles/v1/adxlv/ckl83dsgo0kec17qielp011d4/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiYWR4bHYiLCJhIjoiYk5abi1vayJ9.PoajAncLFRbY0dLsYSQOHg"
                ></l-tile-layer>
                <l-marker :lat-lng="mapCenter">
                  <l-icon
                    :icon-size="[93 / 2, 124 / 2]"
                    :icon-anchor="[93 / 4, 124 / 2]"
                    icon-url="/images/other/marker.png"
                  />
                </l-marker>
              </l-map>
            </client-only>
          </div>
        </div>
        <div class="menu-nav">
          <div class="lang-menu">
            <a
              v-if="$i18n.locale !== 'lv'"
              class="border-box lang-item cursor-plus"
              :href="switchLocalePath('lv')"
            >
              LV
            </a>
            <a
              v-if="$i18n.locale !== 'en'"
              class="border-box lang-item cursor-plus"
              :href="switchLocalePath('en')"
            >
              EN
            </a>
            <a
              v-if="$i18n.locale !== 'ru'"
              class="border-box lang-item cursor-plus"
              :href="switchLocalePath('ru')"
            >
              RU
            </a>
          </div>
          <div class="pages">
            <NuxtLink
              :to="localePath('index')"
              @click.native="checkIfActivePage('index')"
              class="cursor-plus"
              >{{ content.home }}</NuxtLink
            >
            <NuxtLink
              :to="localePath('about')"
              @click.native="checkIfActivePage('about')"
              class="cursor-plus"
              >{{ content.about }}</NuxtLink
            >
            <NuxtLink
              :to="localePath('standards')"
              @click.native="checkIfActivePage('standards')"
              class="cursor-plus"
              >{{ content.standards }}</NuxtLink
            >
            <NuxtLink
              :to="localePath('location')"
              @click.native="checkIfActivePage('location')"
              class="cursor-plus mb-40"
              >{{ content.location }}</NuxtLink
            >


            <NuxtLink
              :to="localePath('apartments')"
              @click.native="checkIfActivePage('apartments')"
              class="cursor-plus"
              >{{ content.apartments }}</NuxtLink
            >
            <NuxtLink
              :to="localePath('rent')"
              @click.native="checkIfActivePage('rent')"
              class="cursor-plus"
              >{{ content.rent }}</NuxtLink
            >
          </div>
          <div class="contact">
            <a :href="`tel:${content.contact.phone}`" class="cursor-plus">
              <p class="phone">{{ content.contact.phone }}</p>
            </a>
            <a :href="`mailto:${content.contact.email}`" class="cursor-plus">
              <p class="email">{{ content.contact.email }}</p>
            </a>
            <p class="address">{{ content.contact.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["menuOpen", "content"],
  data() {
    return {
      mapCenter: [56.925214, 24.035924]
    };
  },
  computed: {
    selectedLocale() {
      return this.$i18n.locale;
    }
  },
  methods: {
    reload(lang) {
      this.$i18n.setLocale(lang);
      // let getUrl = window.location;
      // location.href = getUrl.protocol + "//" + getUrl.host + "/" + lang;
      // window.setTimeout(function() {
      // 	location.reload();
      // 	return true;
      // },250)
    },
    checkIfActivePage(newLink) {
      if (newLink === this.$route.name.split("___")[0]) {
        this.$emit("openMenu");
      }
    },
    initMap() {
      let map = this.$refs.map.mapObject;
      let markerBounds = L.latLngBounds([this.mapCenter]);
      map.fitBounds(markerBounds);
      map.setZoom(13);
      map.invalidateSize();
    },
    changeUrlParam: function(param) {
      this.$router.push({ path: this.$route.path, query: { lang: param } });
    }
  },
  watch: {
    menuOpen() {
      let self = this;
      window.setTimeout(function() {
        self.initMap();
      }, 50);
    }
  },
  mounted() {}
};
</script>
<style lang="scss" scoped>
@use '@/assets/variables';

.menu {
  position: fixed;
  z-index: 9;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 100vh;
  background-color: $beige;
  //transition: width 0.5s ease-in;
  overflow: hidden;
  padding-top: 87px;
  .def-padding {
    height: 100%;
  }
  .center {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .map,
  .menu-nav {
    min-width: 300px;
  }
  .picture {
    overflow: hidden;
    position: relative;
    .picture-container {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
      background-position: center;
      // background-position-x: 89%;
      background-position-x: 20%;
      background-size: cover;
    }
  }
  .map {
    .map-wrap {
      width: 100%;
      height: 100%;
    }
  }
  .picture,
  .map,
  .menu-nav {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }
  .menu-nav {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $beige;
    z-index: 5;
    .lang-menu {
      display: flex;
      flex-direction: row;
      margin-right: 0px;
      margin-left: auto;
      .lang-item {
        margin-left: 12px;
        min-width: 46px;
        width: 46px;
        height: 46px;

        letter-spacing: 5px;
        font-size: 11px;
        padding-left: 5px;
      }
    }
    .pages {
      margin-top: 33px;
      margin-left: auto;
      margin-right: 0px;
      display: flex;
      flex-direction: column;
      a {
        display: block;
        width: auto;
        text-align: right;
        font-size: 28px;
        &:not(:first-child) {
        }
      }
    }
    .contact {
      margin-top: 63px;
      p {
        text-align: right;
        font-size: 11px;
        letter-spacing: 3.5px;
        &:not(:first-child) {
          margin-top: 21px;
        }
      }
      .email {
        margin-top: 21px;
      }
    }
    .pdf-download {
      margin-top: 33px;
      margin-left: auto;
      margin-right: 0px;
      width: 180px;
      height: 46px;
      font-size: 12px;
      letter-spacing: 3px;
      padding-left: 2px;
    }
  }
  &.open {
    width: 100%;
  }
}
</style>
