<template>
    <div class="nav">
        <Header :menuOpen="menuOpen" @openMenu="openMenu()"></Header>
        <Menu :menuOpen="menuOpen" :content="$t('menu')" @openMenu="openMenu()"></Menu>
    </div>
</template>
<script>
export default {
  props: [
  ],
  data() {
      return {
          menuOpen: false
      }
  },
  methods: {
      openMenu() {
          this.menuOpen = !this.menuOpen
          if (this.menuOpen) {
              document.body.classList.add("menu-open")
          } else {
              document.body.classList.remove("menu-open")
          }
      }
  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
    .nav {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999;
        width: 100%;
    }
</style>