@use "variables";

@font-face {
    font-family: variables.$main-font;
    src:  url("/fonts/NoeDisplayRegular.eot") format("embedded-opentype");
    src: url("/fonts/NoeDisplayRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: variables.$main-font;
    src: url("/fonts/NoeDisplayBold.eot") format("embedded-opentype");
    src: url("/fonts/NoeDisplayBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: variables.$secondary-font;
    src: url("/fonts/Axiforma-Bold.eot");
    src: url("/fonts/Axiforma-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Axiforma-Bold.woff2") format("woff2"), url("/fonts/Axiforma-Bold.woff") format("woff"),
        url("/fonts/Axiforma-Bold.ttf") format("truetype"), url("/fonts/Axiforma-Bold.svg#Axiforma-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: variables.$secondary-font;
    src: url("/fonts/Axiforma-Regular.eot");
    src: url("/fonts/Axiforma-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/Axiforma-Regular.woff2") format("woff2"), url("/fonts/Axiforma-Regular.woff") format("woff"),
        url("/fonts/Axiforma-Regular.ttf") format("truetype"),
        url("/fonts/Axiforma-Regular.svg#Axiforma-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: variables.$rus-font;
    src: url("/fonts/TTRamillas-Regular.eot");
    src: url("/fonts/TTRamillas-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/TTRamillas-Regular.woff2") format("woff2"), url("/fonts/TTRamillas-Regular.woff") format("woff"),
        url("/fonts/TTRamillas-Regular.ttf") format("truetype"),
        url("/fonts/TTRamillas-Regular.svg#TTRamillas-Regular") format("svg");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: variables.$rus-font;
    src: url("/fonts/TTRamillas-Bold.eot");
    src: url("/fonts/TTRamillas-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/TTRamillas-Bold.woff2") format("woff2"), url("/fonts/TTRamillas-Bold.woff") format("woff"),
        url("/fonts/TTRamillas-Bold.ttf") format("truetype"),
        url("/fonts/TTRamillas-Bold.svg#TTRamillas-Bold") format("svg");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: variables.$rus-font;
    src: url("/fonts/TTRamillas-ExtraBold.eot");
    src: url("/fonts/TTRamillas-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/TTRamillas-ExtraBold.woff2") format("woff2"), url("/fonts/TTRamillas-ExtraBold.woff") format("woff"),
        url("/fonts/TTRamillas-ExtraBold.ttf") format("truetype"),
        url("/fonts/TTRamillas-ExtraBold.svg#TTRamillas-Bold") format("svg");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: variables.$third-font;
    src: url("/fonts/BrownLLWeb-Medium3.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: variables.$third-font-rus;
    src: url("/fonts/BrownLLCyr-Medium.woff") format("woff"),
        url("/fonts/BrownLLCyr-Medium.woff2") format("woff2");
    font-display: swap;
}

.e-tiny-text {
    font-size: 11px;
}
.v-tiny-text {
  font-size: 13px;
}
.tiny-text {
    font-size: 14px;
}
.v-small-text {
  font-size: 15px;
}
.small-text {
    font-size: 17px;
}
.e-medium-text {
  font-size: 18px;
}
.v-medium-text {
  font-size: 26px;
}
.medium-text {
    font-size: 38px;
}
.medium-text-2 {
    font-size: 48px;
}
.medium-text-3 {
    font-size: 51px;
}
.medium-text-4 {
  font-size: 76px;
  line-height: 76px;
}
.large-text {
    font-size: 93px;
}
.huge-text {
    font-size: 180px;
}
