/** Colors */
$black: #000000;
$pitch: #19191C;
$beige: #F0F4F0;
$c-black: #171818;
// $c-old-black: #2c2f30;
$c-light: #f0f4f0;
$bronze: #A06E64;
$green: #96A591;
$light-green: #E1E6DC;

$main-font: "Noe Display";
$rus-font: "TT Ramillas";
$secondary-font: "Axiforma";
$third-font: "BrownLL";
$third-font-rus: "Brown LL Cyr Medium";
