body,
html {
  height: 100%;
}

.flex-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
}

.logo-image {
  position: fixed;
  top: 60px;
}

.real-home {
  position: absolute;
  left: 0;
  width: 451px;
  font-size: 140px;
  line-height: 100px;
  color: #171818;
  mix-blend-mode: multiply;
  font-weight: bold;
}

.director-self {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 451px;
  font-size: 140px;
  line-height: 100px;
  color: #f0f4f0;
  mix-blend-mode: multiply;
  font-weight: bold;
}

.first-box {
  position: relative;
}

.scroll-images {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: -1;
  height: 3457px;
}

.scroll-images--second {
  /* position: fixed;
  bottom: 0; */
  z-index: 0;
  top: 1728px;
}

.stop-image .scroll-images--first {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.stop-image .scroll-images--second {
  margin-top: 1728px;
}

.brand-name {
  padding: 60px 0;
}
