<template>
   <div class="interface-apartment-step">
     <div class="floor-plan-container">
      <div v-if="floorPlan != null" class="apartment-floor-plan" v-html="floorPlan.clean_floor_layout_svg">
      </div>
      <div class="floor-plan-image-overlay">
        <img v-if="floorPlan != null" :src="floorPlan.floor_base_image.path" alt="">
      </div>
     </div>

    <div class="apartment-floor-info">
      <div v-if="selectedApartment == null" class="floor-info-general">
        <p class="floor-info-title e-medium-text">{{$t('filters_interface.available_apt_title')}}</p>
        <div class="floor-info-box">
          <p class="v-tiny-text">{{$t('filters_interface.available_apt_1')}}</p>
          <p v-if="singleRoomApartments.available > 0" class="right v-tiny-text">{{singleRoomApartments.available}} {{$t('filters_interface.from')}} {{singleRoomApartments.total}}</p>
          <p v-else class="right v-tiny-text">{{$t('filters_interface.not_available')}}</p>
        </div>
        <div class="floor-info-box">
          <p class="v-tiny-text">{{$t('filters_interface.available_apt_2')}}</p>
          <p v-if="twoRoomApartments.available > 0" class="right v-tiny-text">{{twoRoomApartments.available}} {{$t('filters_interface.from')}} {{twoRoomApartments.total}}</p>
          <p v-else class="right v-tiny-text">{{$t('filters_interface.not_available')}}</p>
        </div>
        <div class="floor-info-box">
          <p class="v-tiny-text">{{$t('filters_interface.available_apt_3')}}</p>
          <p v-if="threeRoomApartments.available > 0" class="right v-tiny-text">{{threeRoomApartments.available}} {{$t('filters_interface.from')}} {{threeRoomApartments.total}}</p>
          <p v-else class="right v-tiny-text">{{$t('filters_interface.not_available')}}</p>
        </div>
        <div class="floor-info-box" v-if="gardenApartments.total > 0">
          <p class="v-tiny-text">{{$t('filters_interface.available_apt_garden')}}</p>
          <p v-if="gardenApartments.available > 0" class="right v-tiny-text"> {{gardenApartments.available}} {{$t('filters_interface.from')}} {{gardenApartments.total}}</p>
          <p v-else class="right v-tiny-text">{{$t('filters_interface.not_available')}}</p>
        </div>
      </div>
      <div v-if="selectedApartment != null" class="floor-info-specific">
        <div class="floor-info-container">
          <p class="e-medium-text">{{selectedApartment.nr}}. {{$t('filters_interface.desc_apt_nr')}}</p>
          <div class="v-tiny-text" v-html="selectedApartment.comment">
          </div>
        </div>

        <div class="floor-info-container">
          <div class="text-box">
            <p class="e-medium-text">{{$t('filter_single.price')}}</p>
            <p class="e-medium-text right">{{price}}</p>
          </div>
          <div v-if="selectedApartment.has_duplicate && selectedApartment.rent_price_with_heating" class="text-box">
            <p class="has-bronze-color v-medium-text">{{$t('filter_single.good_price')}}</p>
          </div>
          <div v-if="selectedApartment.has_duplicate && selectedApartment.rent_price_with_heating" class="text-box">
            <p class="has-bronze-color v-medium-text">{{$t('filter_single.price_with_heating')}}</p>
            <p class="has-bronze-color v-medium-text right">{{selectedApartment.rent_price_with_heating}}</p>
          </div>
          <div class="text-box">
            <p class="v-tiny-text">{{$t('filters_interface.desc_apt_price_type')}}</p>
            <p v-if="selectedApartment.is_for_rent" class="v-tiny-text right">{{$t('filters_interface.desc_apt_price_type_rent')}}</p>
            <p v-else class="v-tiny-text right">{{$t('filters_interface.desc_apt_price_type_buy')}}</p>
          </div>
        </div>

        <div class="floor-info-container">
          <p class="e-medium-text">{{$t('filters_interface.desc_apt_data')}}</p>
          <div class="text-box">
            <p class="v-tiny-text">{{$t('filter_single.bedrooms')}}</p>
            <p class="v-tiny-text right">{{selectedApartment.rooms}}</p>
          </div>
          <div class="text-box">
            <p class="v-tiny-text">{{$t('filter_single.total_area')}}</p>
            <p class="v-tiny-text right">{{selectedApartment.total_area}} m²</p>
          </div>
          <div class="text-box" v-if="selectedApartment.furnished !== 'empty'">
            <p class="v-tiny-text">{{$t(`filter_single.furnished_${selectedApartment.furnished}`)}}</p>
            <p class="v-tiny-text right">
              <FurnishedFully v-if="selectedApartment.furnished == 'fully'" />
              <FurnishedPartially v-if="selectedApartment.furnished == 'partially'" />
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="prompt" ref="promptApt" :class="{'enabled' : selectedRoom != null}">
          <p class="v-tiny-text prompt-text">{{$t('filters_interface.choose_building')}}</p>
          <NuxtLink class="cursor-plus black-btn" ref="continueBtnApt"
          :to="localePath({name: 'apartment-apartment', params: {apartment: apartmentId}})">
            <p class="v-tiny-text cursor-plus">{{$t('filters_interface.continue')}}</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="11.669" height="9.664" viewBox="0 0 11.669 9.664">
                <g id="Component_16_1" data-name="Component 16 – 1" transform="translate(0 0.332)">
                  <line id="Line_716" data-name="Line 716" y1="11" transform="translate(11 4.5) rotate(90)" fill="none" stroke="#f0f4f0" stroke-width="1"/>
                  <path id="Path_679" data-name="Path 679" d="M0,9,4,4.5,0,0" transform="translate(7)" fill="none" stroke="#f0f4f0" stroke-width="1"/>
                </g>
              </svg>
          </NuxtLink>

        </div>
      </div>
    </div>
   </div>
</template>

<script>
export default {
    props: {
      filteredApartments: null,
      floorPlan: null
    },
    data() {
        return {
          hoverRoom: null,
          selectedRoom: null,
          apartmentId: null
        }
    },
    computed: {
      price() {
        return this.selectedApartment.is_for_rent ? this.selectedApartment.rent_price : this.selectedApartment.price
      },
      selectedApartment() {
        if (this.selectedRoom) {
          let apartment = this.filteredApartments.filter((item) => {
            let value = this.selectedRoom
            return value == item.nr
          });
          return apartment[0]
        } else {
          return null
        }
      },
      singleRoomApartments() {
        if (this.filteredApartments) {
          let apartments = this.filteredApartments
          let total = apartments.filter((item) => {
            return item.rooms == 1
          });
          let available = this.availableApartments(total)
          return {
            total: total.length,
            available: available.length
          }
        }
        return {
          total: 0,
          available: 0
        }
      },
      twoRoomApartments() {
        if (this.filteredApartments) {
          let apartments = this.filteredApartments
          let total = apartments.filter((item) => {
            return item.rooms == 2
          });
          let available = this.availableApartments(total)
          return {
            total: total.length,
            available: available.length
          }
        }
        return {
          total: 0,
          available: 0
        }
      },
      threeRoomApartments() {
        if (this.filteredApartments) {
          let apartments = this.filteredApartments
          let total = apartments.filter((item) => {
            return item.rooms == 3
          });
          let available = this.availableApartments(total)
          return {
            total: total.length,
            available: available.length
          }
        }
        return {
          total: 0,
          available: 0
        }
      },

      gardenApartments() {
        if (this.filteredApartments) {
          let apartments = this.filteredApartments
          let total = apartments.filter((item) => {
            return item.layout.has_garden == 1
          });
          let available = this.availableApartments(total)
          return {
            total: total.length,
            available: available.length
          }
        }
        return {
          total: 0,
          available: 0
        }
      },

    },
    methods: {
      availableApartments(apartments) {
        let filterApartments = apartments
        filterApartments = filterApartments.filter((item) => {
          return item.status == 1 && item.is_published == 1
        });
        return filterApartments
      },
      takenApartments(apartments) {
        let filterApartments = apartments
        filterApartments = filterApartments.filter((item) => {
          return item.status != 1
        });
        return filterApartments
      },

      enterRoom(element) {
        let roomNr = element.id.replace(/Dzivoklis/g,'').replace(/Laukums/g,'').replace(/Studio/g,'').split('_')[0];
        let apartment = this.filteredApartments.filter((item) => {
          let value = roomNr
          return value == item.nr
        });
        if (apartment[0].status == 1) {
          this.hoverRoom = roomNr
        }
      },
      leftRoom(element) {
        this.hoverRoom = null
      },
      selectRoom() {
        let continueBtn = this.$refs.continueBtnApt
        let prompt = this.$refs.promptApt
        prompt.style.width = continueBtn.offsetWidth + 'px'

        this.apartmentId = this.selectedApartment.id

        const rooms = document.getElementsByClassName("st0");
        rooms
          ? rooms.forEach((element) => {
              element.classList.remove('selected')
            })
          : "";
        let isStudio = false
        let room = document.getElementById('Dzivoklis'+this.selectedRoom+"Laukums")
        if (room == null) {
          isStudio = true
          room = document.getElementById('DzivoklisStudio'+this.selectedRoom+"Laukums")
        }
        const roomContainer = room.parentElement
        const parent = roomContainer.parentElement
        const children = parent.childNodes
        const clone = roomContainer.cloneNode()
        parent.insertBefore(roomContainer, children[children.length])
        room.classList.add('selected')
      },
      clickRoom() {
        if ((this.selectedRoom == this.hoverRoom) && this.hoverRoom != null) {
          this.$router.push(this.localePath({name: 'apartment-apartment', params: {apartment: this.apartmentId}}))
        } else {
          this.selectedRoom = null
          this.$emit('chooseRoom', this.selectedRoom)
          if (this.hoverRoom) {
            this.selectedRoom = this.hoverRoom
            this.$emit('chooseRoom', this.selectedRoom)
            this.selectRoom()
          } else {
            const rooms = document.getElementsByClassName("st0");
            rooms
            ? rooms.forEach((element) => {
                element.classList.remove('selected')
              })
            : "";
          }
        }

      },
      floorLoad() {
        let self = this
        const rooms = document.querySelectorAll('.st0')

        if (this.filteredApartments) {
          rooms
          ? rooms.forEach((element) => {
              // go through each room and add available, taken class
              let room = element.id.replace(/Dzivoklis/g,'').replace(/Laukums/g,'').split('_')[0];
              let isStudio = false
              if (room.includes('Studio')) {
                isStudio = true
                room = room.replace(/Studio/g,'')
              }
              this.filteredApartments.forEach(apartment => {
                if (room == apartment.nr) {
                  if (apartment.status != 1) {
                    element.classList.add('taken')
                  } else {
                    if (isStudio) {
                      element.classList.add('rooms-studio')
                    } else {
                      element.classList.add('rooms-'+apartment.rooms)
                    }
                  }
                }
              });
              element.addEventListener("mouseenter", function() {
                self.enterRoom(element)
              });
              element.addEventListener("mouseleave", function() {
                self.leftRoom(element)
              });
            })
          : "";
        const numbers = document.querySelectorAll("g[id*='Nr'][id$='Istabas']")
        numbers
          ? numbers.forEach((element) => {
              // go through each room and add available, taken class
              let room = element.id.replace(/Nr/g,'').replace(/Istabas/g,'');
              this.filteredApartments.forEach(apartment => {
                if (room == apartment.nr) {
                  element.classList.add('room-nr')
                  if (apartment.status != 1) {
                    element.classList.add('taken')
                  } else {
                    element.classList.add('rooms-'+apartment.rooms)
                  }
                }
              });
              element.addEventListener("mouseenter", function() {
                self.enterRoom(element)
              });
              element.addEventListener("mouseleave", function() {
                self.leftRoom(element)
              });
            })
          : "";

        const numbersStudio = document.querySelectorAll("g[id*='NrStudio'][id$='Istabas']")
        numbersStudio
          ? numbersStudio.forEach((element) => {
              // go through each room and add available, taken class
              let room = element.id.replace(/NrStudio/g,'').replace(/Istabas/g,'');
              this.filteredApartments.forEach(apartment => {
                if (room == apartment.nr) {
                  element.classList.add('room-nr')
                  if (apartment.status != 1) {
                    element.classList.add('taken')
                  } else {
                    element.classList.add('rooms-studio')
                  }
                }
              });
              element.addEventListener("mouseenter", function() {
                self.enterRoom(element)
              });
              element.addEventListener("mouseleave", function() {
                self.leftRoom(element)
              });
            })
          : "";
        }

      }
    },
    mounted() {
      this.selectedRoom = null
      this.hoverRoom = null
      let self = this
      setTimeout(() => {
        let a = document.getElementById("Plans")
        a.addEventListener("load",self.floorLoad())
      }, 30)



    },
    created() {
      if (process.client) {
        setTimeout(() => {
          window.addEventListener("click", this.clickRoom)
        }, 300)
      }
    },
    destroyed() {
      if (process.client) {
        setTimeout(() => {
          window.removeEventListener("click", this.clickRoom)
        }, 300)
      }
    },
    watch: {
      filteredApartments(newVal,oldVal) {
        let self = this
        setTimeout(() => {
          let a = document.getElementById("Plans")
            a.addEventListener("load",self.floorLoad())
        }, 30)
      },
      floorPlan(newVal,oldVal) {
        let self = this
        setTimeout(() => {
          let a = document.getElementById("Plans")
            a.addEventListener("load",self.floorLoad())
        }, 30)
      }
    }
};
</script>
<style lang="scss" scoped>
</style>
