<template>
    <div class="interface-building-step">
      <div class="base-image" @mousemove="moveImage" ref="imageContainer">
        <div class="move-dirs" v-if="stretchImg">
          <div class="carousel-prev">
          </div>
          <div class="carousel-next">
          </div>
        </div>
        <div class="building-buttons" :class="{'no-stretch': !stretchImg}" ref="overlayContainer">
          <button class="building-btn building-btn-0 cursor-plus" @click="selectSector('mald_6')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g id="Group_377" data-name="Group 377" transform="translate(0.131 0.063)">
                <line id="Line_556" data-name="Line 556" y2="16" transform="translate(7.869 -0.063)" fill="none" stroke="#19191c" stroke-width="1"/>
                <line id="Line_557" data-name="Line 557" x2="16" transform="translate(-0.131 7.937)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </button>
          <button class="building-btn building-btn-1 cursor-plus" @click="selectSector('mald_8')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g id="Group_377" data-name="Group 377" transform="translate(0.131 0.063)">
                <line id="Line_556" data-name="Line 556" y2="16" transform="translate(7.869 -0.063)" fill="none" stroke="#19191c" stroke-width="1"/>
                <line id="Line_557" data-name="Line 557" x2="16" transform="translate(-0.131 7.937)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </button>
          <button class="building-btn building-btn-2 cursor-plus" @click="selectSector('mald_10')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g id="Group_377" data-name="Group 377" transform="translate(0.131 0.063)">
                <line id="Line_556" data-name="Line 556" y2="16" transform="translate(7.869 -0.063)" fill="none" stroke="#19191c" stroke-width="1"/>
                <line id="Line_557" data-name="Line 557" x2="16" transform="translate(-0.131 7.937)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </button>
          <button class="building-btn building-btn-3 cursor-plus" @click="selectSector('mald_12')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g id="Group_377" data-name="Group 377" transform="translate(0.131 0.063)">
                <line id="Line_556" data-name="Line 556" y2="16" transform="translate(7.869 -0.063)" fill="none" stroke="#19191c" stroke-width="1"/>
                <line id="Line_557" data-name="Line 557" x2="16" transform="translate(-0.131 7.937)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </button>
          <button class="building-btn building-btn-4 cursor-plus" @click="selectSector('daib_31')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g id="Group_377" data-name="Group 377" transform="translate(0.131 0.063)">
                <line id="Line_556" data-name="Line 556" y2="16" transform="translate(7.869 -0.063)" fill="none" stroke="#19191c" stroke-width="1"/>
                <line id="Line_557" data-name="Line 557" x2="16" transform="translate(-0.131 7.937)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </button>
          <button class="building-btn building-btn-5 cursor-plus" @click="selectSector('daib_33')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g id="Group_377" data-name="Group 377" transform="translate(0.131 0.063)">
                <line id="Line_556" data-name="Line 556" y2="16" transform="translate(7.869 -0.063)" fill="none" stroke="#19191c" stroke-width="1"/>
                <line id="Line_557" data-name="Line 557" x2="16" transform="translate(-0.131 7.937)" fill="none" stroke="#19191c" stroke-width="1"/>
              </g>
            </svg>
          </button>
          <img class="move-img" src="/images/interface/base.jpg" ref="image" alt="">

            <div class="selected-sector-img cursor-plus" v-show="selectedSector">
              <button class="close-pop-up cursor-plus" @click="selectSector(null)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.768" height="20.768" viewBox="0 0 20.768 20.768">
                  <g id="Component_19_1" data-name="Component 19 – 1" transform="translate(0.884 0.884)">
                    <line id="Line_546" data-name="Line 546" x2="19" y2="19" fill="none" stroke="#F0F4F0" stroke-width="2.5"/>
                    <line id="Line_547" data-name="Line 547" y1="19" x2="19" fill="none" stroke="#F0F4F0" stroke-width="2.5"/>
                  </g>
                </svg>
              </button>

              <div class="bot-info" v-if="realBuilding">
                <div class="mid">
                  <p class="v-small-text adress">{{realBuilding.address}}</p>

                  <div class="type-blocks">
                    <div v-for="(block,index) in realBuilding.blocks" :key="index" class="type-block">
                      <p class="v-small-text">{{block}}</p>
                    </div>
                  </div>

                </div>

                <div class="right">
                  <p class="description v-tiny-text" v-html="realBuilding.description"></p>
                </div>
              </div>
              <transition name="fade">
                <img v-show="selectedSector == 'mald_6'" src="/images/interface/00.jpg" @click="increaseStep" alt="">
              </transition>
              <transition name="fade">
                <img v-show="selectedSector == 'mald_8'" src="/images/interface/01.jpg" @click="increaseStep" alt="">
              </transition>
              <transition name="fade">
                <img v-show="selectedSector == 'mald_10'" src="/images/interface/02.jpg" @click="increaseStep" alt="">
              </transition>
              <transition name="fade">
                <img v-show="selectedSector == 'mald_12'" src="/images/interface/03.jpg" @click="increaseStep" alt="">
              </transition>
              <transition name="fade">
                <img v-show="selectedSector == 'daib_31'" src="/images/interface/04.jpg" @click="increaseStep" alt="">
              </transition>
              <transition name="fade">
                <img v-show="selectedSector == 'daib_33'" src="/images/interface/05.jpg" @click="increaseStep" alt="">
              </transition>
            </div>


        </div>
        <div class="stretch-test">
          <img class="test-img" src="/images/interface/base.jpg" ref="testImg" alt="">
        </div>
      </div>
    </div>
</template>
<script>
export default {
    props: {
      selectedSector: null,
      realBuilding: null
    },
    data() {
        return {
          stretchImg: false
        }
    },
    methods: {
      increaseStep() {
        this.$router.push(this.localePath({name: 'building-building', params: {building: this.selectedSector}}))
      },
      resizeEvent() {
        let overlayContainer = this.$refs.overlayContainer
        let baseImg = this.$refs.image
        let imageContainer = this.$refs.imageContainer
        let testImg = this.$refs.testImg
        overlayContainer.style.bottom = baseImg.getBoundingClientRect().height - imageContainer.getBoundingClientRect().height + "px"
        if (testImg.offsetWidth > imageContainer.offsetWidth) {
          this.stretchImg = true
        } else {
          this.stretchImg = false
        }
      },
      moveImage(e) {
          let testImg = this.$refs.testImg
          let imageContainer = this.$refs.imageContainer
          let overlayContainer = this.$refs.overlayContainer
          if(imageContainer) {
            let x0 = imageContainer.getBoundingClientRect().left
            let x = e.clientX - x0 + 5
            let percent = x / (imageContainer.offsetWidth + 10)
            let diff = testImg.offsetWidth - imageContainer.offsetWidth
            if (diff > 0) {
              overlayContainer.style.left = (-1) * (diff * percent) + "px"
            } else {
              overlayContainer.style.left = 0 + 'px'
            }
          }
      },
      selectSector(sector) {
        this.$emit('selectSector', sector)
      },
    },
    mounted() {
      setTimeout(() => {
        this.resizeEvent()
      }, 300)
    },
    created() {
      if (process.client) {
        setTimeout(() => {
          window.addEventListener("resize", this.resizeEvent)
        }, 300)
      }
    },
    destroyed() {
      if (process.client) {
        setTimeout(() => {
          window.removeEventListener("resize", this.resizeEvent)
        }, 300)
      }
    },
};
</script>
<style lang="scss" scoped>

</style>
