@use "../variables";

* {
    box-sizing: border-box;
}

.page-filters {
  .cursor-plus, .b-slider-thumb, .b-checkbox {
    &:hover {
      cursor: pointer !important;
    }
  }
}
body, html {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: variables.$main-font;
    margin: 0px;
}
p,a,li,span,input,textarea,label {
    font-family: variables.$third-font;
    margin: 0px;
}
.main-pages p,a,li,span,input,textarea {
    font-family: variables.$third-font;
}
.nav .menu .map .map-wrap {
    .leaflet-control-zoom {
        display: none;
    }
}

a {
    color: variables.$pitch;
    text-decoration: none;
}
.border-box {
    border: 1px solid variables.$pitch;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: variables.$third-font;
}
.b-tabs {
  nav.tabs ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    li {
      a {
        font-size: 15px;
      }
    }
  }
  &.tabs-floating-top {
    position: relative;
    nav.tabs ul {
      position: absolute;
      top: 0px;
      transform: translateY(-100%);
      li {
        display: flex;
        a {
          padding: 8px 21px 21px 21px;
          border-top-left-radius: 21px;
          border-top-right-radius: 21px;
        }
      }
    }
    &.tabs-white {
      nav.tabs ul {
          li {
              a {
                  color: variables.$beige;
                  &.active {
                      background-color: variables.$beige;
                      color: variables.$pitch;
                  }
              }
              &.is-active {
                a {
                  background-color: variables.$beige;
                  color: variables.$pitch;
                }
              }
          }
      }
    }
  }
}
.tabs {
    .nav-tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .nav-item {
            a {
                font-size: 15px;
            }
            .nav-link {
                &.active {
                }
            }
        }
    }
    &.tabs-floating-top {
        position: relative;
        >div>.nav-tabs {
            position: absolute;
            top: 0px;
            transform: translateY(-100%);
            .nav-item {
                display: flex;
                .nav-link {
                    padding: 8px 21px 21px 21px;
                    border-top-left-radius: 21px;
                    border-top-right-radius: 21px;
                }
            }
        }
        &.tabs-white {
            >div>.nav-tabs {
                .nav-item {
                    .nav-link {
                        color: variables.$beige;
                        &.active {
                            background-color: variables.$beige;
                            color: variables.$pitch;
                        }
                    }
                }
            }
        }
    }
}
.card {
    display: flex;
}
.side-button {
    cursor: pointer;
    border-left: 1px solid variables.$pitch;
    width: 46px;
    padding: 15px;
    height: 100%;
    text-align: center;
    position: relative;
    .arrow {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(-50%,-50%);
        svg {
            transition: transform 0.89s ease;
        }
    }
    p {
        transform: rotateZ(-90deg);
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: -89px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &.open {
        .arrow {
            svg {
                transform: rotateZ(180deg);
            }
        }
    }
}

.container {
    max-width: 1468px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    padding-top: 140px;
    padding-bottom: 40px;
    overflow: hidden;
}
.full-section {
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 98px;
}

.white-section {
    background-color: variables.$c-light;
    .cube {
        background-color: variables.$c-light;
    }
}
.bronze-section {
    background-color: variables.$bronze;
    .cube {
        background-color: variables.$bronze;
    }
    .slick-dots {
        li.slick-active {
            button {
                background-color: variables.$bronze;
            }
        }
    }
}
.green-section {
    background-color: variables.$green;
    .cube {
        background-color: variables.$green;
    }
    .slick-dots {
        li.slick-active {
            button {
                background-color: variables.$green;
            }
        }
    }
}
.light-green-section {
    background-color: variables.$light-green;
    .cube {
        background-color: variables.$light-green;
    }
    .slick-dots {
        li.slick-active {
            button {
                background-color: variables.$light-green;
            }
        }
    }
}
.dark-section {
    background-color: variables.$pitch;
    .cube {
        border-color: variables.$green;
        background-color: variables.$pitch;
    }
    &:not(.section__awards) {
        p,h1,h2,h3,h4,h5,h6,span,a {
            color: variables.$green !important;
        }
    }

    .slick-dots {
        li button {
            background-color: variables.$green;
            border-color: variables.$green;
        }
        li.slick-active {
            button {
                background-color: variables.$pitch;
            }
        }
    }
}

.leaflet-control-attribution {
    display: none !important;
}
.leaflet-top {
    top: 50% !important;
    left: unset !important;
    transform: translateY(-50%);
    right: 10px;
    .leaflet-control-zoom {
        border: unset !important;
        .leaflet-control-zoom-in,.leaflet-control-zoom-out {
            text-indent: -9999px;
            white-space: nowrap;
            overflow: hidden;
            background-size: contain;
            background-color: unset;
            border: unset;
            width: 39px !important;
            height: 39px !important;
        }
        .leaflet-control-zoom-in {
            margin-bottom: 14px;
            background-image: url('/images/other/zoom-in.png');
        }
        .leaflet-control-zoom-out {
            background-image: url('/images/other/zoom-out.png');
        }
    }
}

.section-index {
    position: absolute;
    font-size: 250px;
    font-family: variables.$main-font;
    color: variables.$pitch;
}
.cube {
    width: 276px;
    height: 276px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid variables.$pitch;
    text-transform: uppercase;
    &.cube-multi {
        flex-direction: column;
    }
}

.def-padding {
    padding-left: 90px;
    padding-right: 90px;
}
.carousel-wrapper {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    .slide {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
        overflow: hidden;
        align-content: center;
        &.col-2 {
            .img-wrapper {
                max-width: 48.5%;
                flex: 0 0 48.5%;
                &:first-child {
                    margin-left: 0px;
                    margin-right: auto;
                }
            }
        }
        .img-wrapper {
            height: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            display: flex;
            justify-content: center;
            overflow: hidden;
            &.img-contain {
                background-size: contain;
                background-repeat: no-repeat;
            }
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}
.has-superscript {
    position: relative;
    display: inline-block;
    .superscript {
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
    }
}
.lines-box {
    display: flex;
    flex-direction: column;
    .line-box {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        border-bottom: 1px solid variables.$pitch;
        p {
            &:first-child {
                margin-left: 0px;
                margin-right: auto;
            }
            &:last-child:not(:first-child) {
                margin-right: 0px;
                margin-left: auto;
            }
        }
    }
}

.image-container {
    height: fit-content;
    img {
        width: 100%;
        height: auto;
    }
}
.mb-40 {
  margin-bottom: 40px;
}
.offers {
    h1,h2,h3,h4,h5,h6,p,a,span {
        font-family: variables.$third-font;
        font-weight: 400;
      }
}
.fadeable {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    &.fade {
        opacity: 0;
    }
}
.destroy {
    display: none !important;
}

.slick-dots {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -45px;
    top: unset !important;
    li {
        display: flex;
        margin: 0 7px;
        button {
            border-radius: 50%;
            border: 1px solid variables.$pitch;
            background-color: variables.$pitch;
            text-indent: -9999px;
            overflow: hidden;
            white-space: nowrap;
            width: 6px;
            height: 6px;
            padding: 0px;
            outline: none !important;
            &:hover {
                cursor: pointer;
            }
        }
        &.slick-active {
            button {
                background-color: variables.$beige;
            }
        }
    }
}
.slick-slider, .slick-list ,.slick-track, .slick-slide, .slick-slide > div, .slick-slide > div > * {
    height: 100%;
    outline: none !important;
}

// transitions

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fade-minimize-enter-active, .fade-minimize-leave-active {
  transition: opacity .5s, height 15.21s;
}
.fade-minimize-enter, .fade-minimize-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.intro-new {
    .headline {
        font-size: 200px !important;
    }
    .headline span,.section-index span {
        color: variables.$beige !important;
    }
    @media(max-width:1650px) {
        .headline {
            font-size: 12.3vw !important;
        }
    }
}
.headline {
    span {
        font-family: inherit;
    }
}

.has-bronze-color {
    color: variables.$bronze !important;
}
