@use "../variables";

body {
    overflow-x: hidden;
}
.visits-visit,.privacy {
    .cursor {
        visibility: hidden;
        display: none;
    }
}
@media (max-width: 950px) {
    .cursor {
        visibility: hidden;
        display: none;
    }
}
@media (min-width: 950px) {
    .main-page {
        * {
            cursor: none !important;
        }
    }
    .simple-cursor * {
        cursor: default !important;
    }
}

.cursor {
    background-size: cover !important;
    position: fixed;
    // width: 54px;
    // margin-left: -27px;
    // margin-top: -27px;
    // height: 54px;
    pointer-events: none;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    .cursor-bg {
        background: url("/images/cursor/arrow.svg") center center no-repeat;
        width: 100%;
        height: 100%;
        transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
        background-size: contain !important;
    }
    // -webkit-transition: background 0.4s ease-in-out;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    span {
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: variables.$c-light;
        text-transform: uppercase;
        font-size: 10px;
        font-family: "Axiforma";
        letter-spacing: 0.45em;
        opacity: 0;
    }
    &.rotateUp {
        &:not(.hovering) {
            transform: rotateZ(-180deg);
        }
    }
}

.cursor.loading {
    visibility: hidden;
}

.modal-window-opened .cursor {
    .cursor-bg {
        background: url("/images/cursor/close.svg") center center no-repeat;
    }
}

.cursor.inactive {
    .cursor-bg {
        background: url("/images/cursor/text-down.svg") center center no-repeat;
    }
}
.cursor.play {
  background-color: variables.$pitch;
  border-radius: 100px;
  padding: 5px;
  .cursor-bg {
    background: url("/images/cursor/play.svg") center center no-repeat;
  }
}
.cursor.rotate-left {
    transition: transform 0.3s ease-in-out;
    transform: rotateZ(90deg);
}
.cursor.rotate-up {
    transition: transform 0.3s ease-in-out;
    transform: rotateZ(180deg);
}
.cursor.rotate-right {
    transition: transform 0.3s ease-in-out;
    transform: rotateZ(-90deg);
}
.cursor.hovering {
    transition: transform 0.3s ease-in-out;
    transform: scale(0.7);
    .cursor-bg {
        background: url("/images/cursor/hovering.svg") center center no-repeat;
    }
}
.cursor.normal {
    .cursor-bg {
        background: url("/images/cursor/normal.svg") center center no-repeat;
    }
    span {
        opacity: 1;
        visibility: visible;
    }
}
.cursor.anim {
    &:not(.hovering) {
        .cursor-bg {
            animation: shrinkNgrow 0.3s ease-in-out 1;
        }
    }
}
.cursor.normal-subscribe {
    &:not(.hovering) {
        .cursor-bg {
            animation: growNshrink 0.3s ease-in-out 1;
            background: url("/images/cursor/subscribe.svg") center center no-repeat;
        }
        span {
            opacity: 1;
            visibility: visible;
        }
    }
}

.cursor.scrollingDown {
    transition: transform 0.3s ease-in-out !important;
    background: url("/images/cursor/arrow.svg") center center no-repeat;
}

.cursor.scrollingUp {
    transition: transform 0.3s ease-in-out !important;
    background: url("/images/cursor/arrow.svg") center center no-repeat;
    transform: rotate(180deg);
}

.cursor.close {
    background: url("/images/cursor/close.svg") center center no-repeat;
}
.selected-language-ru {
    .cursor.normal-subscribe {
        .cursor-bg {
            span {
                letter-spacing: 1.3px;
            }
        }
    }
}
