@use "../variables";

a {
    text-decoration: none;
    outline: none !important;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
}
.apartment_layout {
  &__fg {
      svg {
          height: 100%;
          width: auto;
          path {
              stroke: none !important;
              fill: transparent !important;
              &:hover {
                  fill:rgba($color: variables.$pitch, $alpha: 0.5) !important;
              }
          }
          line {
              stroke: none !important;
          }
          .room {
              opacity: 0;

          }
      }
  }
  &__container.desktop.wide {
      .apartment_layout__fg {
          svg {
              width: 100%;
              height: auto;
          }
      }
  }
}
.dash-btn {
  padding-left: 35px;
  padding-right: 35px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  p {
    transition: color 0.3s ease;
  }
  &.highligted {
    background-color: variables.$pitch;
    color: variables.$beige;
    p {
      color: variables.$beige;
    }
  }
  &:hover {
    background-color: #E1E6DC;
    color: variables.$pitch;
    p {
      color: variables.$pitch;
    }
  }
  &:not(:last-child) {
    &:before {
      content: '';
      position: absolute;
      height: 44%;
      width: 1px;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-color: variables.$pitch;
    }
  }
}
.submit-btn {
  span {
    color: variables.$bronze !important;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: variables.$third-font;
  }
  &.submit-green {
    span {
      color: variables.$green !important;
    }
  }
}
button {
  background-color: transparent;
}
.black-btn {
  background-color: variables.$pitch;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: variables.$beige !important;
  p {
    color: variables.$beige !important;
  }
}
.tab-content {
    position: relative;
    width: 100%;
    height: 665px;
    .tab-pane {
        &:not(:first-child) {
            .carousel-wrapper {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.has-gallery {
    overflow: visible !important;
    .container {
        overflow: visible !important;
    }
    .slick-dots {
        bottom: -40px !important;
        z-index: 1;
    }
    
    .arrow-prev, .arrow-next {
      background: url("/images/cursor/arrow.svg") center/contain no-repeat;
      cursor: pointer !important;
      position: absolute;
      width: var(--arrow-diameter);
      height: var(--arrow-diameter);
      top: calc(50% - (var(--arrow-diameter) / 2));
      transition: transform 0.3s ease-in-out;
      @media (max-width: 1280px) {
        display: none;
      }
    }
    .arrow-prev {
      right: calc(100% + var(--blog-col-padding));
      transform: rotateZ(90deg);
      &:hover {
        transform: scale(1.15) rotateZ(90deg);
      }
    }
    .arrow-next {
      left: calc(100% + var(--blog-col-padding));
      transform: rotateZ(-90deg);
      &:hover {
        transform: scale(1.15) rotateZ(-90deg);
      }
    }
    
}
body {
    &.menu-open {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 0px;
}
span.square-meters {
  position: relative;
  font-size: 50%;
  // padding-bottom: 10px;
  // margin-right: 5px;
  display: inline-block;
  transform: translateY(-1em);
}
