.tablet-none {
    @media screen and (min-width: 560px) and (max-width: 950px){
        display: none;
    }
}
.tablet-only {
    @media screen and (max-width: 559px) {
        display: none;
    }
    @media screen and (min-width: 951px) {
        display: none;
    }
}