@use "../variables";

.selected-language-ru {
    .about-page .section.cover-section.section__video.dark-section {
      // display: none;
      .video-title {
        span {
          font-family: variables.$rus-font !important;
        }
      }
    }
    .location .section.cover-section.large-text-section .sub-text.mobile-center {
        font-family: variables.$rus-font !important;
        letter-spacing: -2px !important;
        font-weight: 900 !important;
    }
    .about .section.cover-section.large-text-section .main-text.mobile-center, .standards .section.cover-section.large-text-section .main-text.mobile-center {
        font-family: variables.$rus-font !important;
        letter-spacing: -2px !important;
        font-weight: 900 !important;
    }
    @media (max-width: 950px) {
        .standards .section.cover-section.large-text-section .main-text.mobile-center {
            font-size: 44px !important;
        }
    }
    p {
        line-height: 150% !important;
    }
    .menu .menu-nav .pages a {
        line-height: 44px;
    }
    p,a,li,input,textarea,label,.main-pages p,a,li,span:not(.line-split-span):not(.headline-span),input,textarea,.border-box, button {
        font-family: variables.$third-font-rus !important;
    }
    .offers {
        h1,h2,h3,h4,h5,h6,p,a,span:not(.line-split-span) {
            font-family: variables.$third-font-rus !important;
          }
    }
    .rent {
        .title {
            @media (max-width: 950px) {
                height: 436px !important;
                &.closed {
                    height: 0px !important;
                }
            }
            p {
                font-family: variables.$rus-font !important;
                font-weight: 900 !important;
                letter-spacing: -2px !important;
                font-size: 52px !important;
                line-height: 42px !important;
            }
        }
        .contact-name {
            font-family: variables.$third-font !important;
        }
    }
    .home .section__about .media-info, .cube, .about .section__plan .button, .about .section__portfolio .button, .standards .section__awards .button{
        font-family: variables.$third-font-rus !important;
    }
    h1,h2,h3,h4,h5,h6,.section-index{
        font-family: variables.$rus-font;
        font-weight: 900;
    }
    .headline {
        letter-spacing: -8px;
    }
    .home .section {
        &__about {
            .section-index {
                bottom: -110px;
            }
            .main-text {
                padding-right: 49px;
            }
            .sub-text {
                width: 330px !important;
                top: 125px !important;
                left: 236px !important;
            }
        }
        &__location {
            .headline {
                top: 312px;
                right: -384px;
            }
        }
        &__apartments {
            .headline {
                top: 120px;
                left: -29px;
            }
            .section-index {
                top: 270px;
            }
            .cube {
                @media (max-width:1300px) {
                    top: 58%;
                }
            }
        }
        &__standards {
            .headline {
                top: 130px;
                left: -14px;
            }
        }
        &__comfort {
            .text {
                z-index: 3;
            }
        }
        &__comfort-ext {
            .headline {
            }

        }
    }
    .about .section {
        &__intro {

        }
        &__idea {
            .sub-text {
                margin-top: 29px !important;
            }
            .image {
            }
        }
        &__plan {
            .headline {
                left: -353px;
            }
        }
        &__comfort {
            .headline {
                right: -330px;
            }
        }
        &__portfolio {
            .headline {
                top: 50px;
            }
        }
        &__awards {
            .section-index {
                right: -58px;
            }
        }
    }
    .apartments .section {
        &__landing {
            .headline {
                right: -171px;
                top: 29vh;
                bottom: unset;
            }
            .section-index {
                right: 9%;
            }
        }
        &__decoration {
            .headline {
                top: 80px;
                right: 156px;
            }
        }
        &__enviroment {
            .headline {
                transform: rotateZ(-90deg);
                left: -381px;
                top: 130px;
                @media (max-width: 1650px) {
                    left: -23.1vw !important;
                }
            }
            .section-index {
                left: 65px;
                top: 253px;
            }
        }
    }
    .location .section {
        &__general {
            .container {
                padding-bottom: 150px !important;
                .text {
                    @media (max-width: 1450px) {
                        max-width: 62%;
                        flex: 0 0 62%;
                    }
                }
            }
        }
        &__values {
            .headline {
                top: 181px;
                left: -383px;
                @media (max-width:1648px) {
                    left: -23vw;
                }
            }
            .text-box {

            }
        }
        &__education {
            .headline {
                top: 273px;
                right: -234px;
                letter-spacing: -14px !important;
            }
        }
    }
    .standards .section {
        &__list {
            .section-index {
                left: 60px;
            }
        }
        &__projects {
            .headline {
                right: -330px;
            }
        }
    }
    .apply-form {
        h4 {
            letter-spacing: -2px !important;
        }

    }
    .large-text-section {
        .main-text, .main-text p {
            font-family: variables.$rus-font !important;
            line-height: 58px !important;
            letter-spacing: -3px !important;
            font-weight: 900 !important;
        }
    }
    @media (max-width:950px) {
        .fixed-section:not(.large-text-section) {
            .main-text.mobile-center {
                letter-spacing: 0px !important;
            }
        }
        .home .section {
            &__about {
                .headline {
                    left: -308px;
                    top: 259px !important;
                }
                .section-index {
                    right: -7vw;
                }

                .text-box .main-text {
                    letter-spacing: 0px !important;
                    padding-left: 20px;
                    padding-right: 0px;
                    margin-top: 20px !important;
                }
            }
            &__apartments {
                .section-index {
                    top: 210px;
                }
            }
            &__standards {
                .headline {
                    left: -332px;
                    top: 440px;
                }
            }
            &__comfort {
                .text .text-box {
                    .main-text {
                        font-family: variables.$rus-font !important;
                        font-weight: 900 !important;
                        font-size: 48px !important;
                        line-height: 45px !important;
                        width: 100% !important;
                        padding-left: 0px !important;
                        hyphens: auto;
                    }
                }
            }
            &__comfort-ext {
                .text-slider {
                    height: 450px;
                }
            }
        }
        .apartments .section {
            &__landing {
                .headline {
                    top: unset;
                    bottom: 200px;
                }
                .section-index {
                    right: 13%;
                }
            }
            &__gallery {
                height: 1395px !important;
                .text .text-box .main-text {
                    font-family: variables.$rus-font !important;
                    font-weight: 900 !important;
                    width: 95% !important;
                }
                .text {
                    margin-bottom: 94px;
                }
                .section-index {
                    top: 675px;
                }
            }
            &__decoration {
                .headline {
                    left: -62px;
                }
            }
            &__comfort-ext {
                .headline {
                    top: -70px !important;
                    left: -273px !important;
                    letter-spacing: -5px;
                }
            }
            &__enviroment {
                .headline {
                    top: -78px !important;
                    left: -260px !important;
                    transform: rotateZ(-90deg) !important;
                    letter-spacing: -7px !important;
                }
            }
            &__rent {
                .headline {
                    left: -21px;
                    span:last-child {
                        margin-left: 0px;
                    }
                }
            }
        }
        .about .section {
            &__landing {
                .headline {
                    bottom: 159px;
                    right: -39vw;
                }
            }
            &__idea {
                .text .text-box .main-text, .text .text-box .sub-text {
                    letter-spacing: 0px !important;
                    padding: 0px !important;
                    padding-left: 0px !important;

                }

            }
            &__plan {
                .text-box {
                    padding: 0px !important;
                }
                .headline {
                    left: -251px;
                }
                .text .text-box .main-text, .text .text-box .sub-text, .text .text-box .title-text {
                    width: 273px !important;
                    padding: 0px !important;
                    padding-left: 20px !important;

                }
            }
            &__portfolio {
                .headline {
                    top: 63px !important;
                    left: 17px !important;
                    font-size: 70px !important;
                    letter-spacing: -3px !important;
                }
            }
        }
        .standards .section {
            &__landing {
                .headline {
                    top: unset;
                    bottom: 297px;
                    right: -80vw;
                }
            }
            &__quote {
                .text {
                    .text-box .main-text {
                        letter-spacing: 0px !important;
                    }
                }
            }
            &__projects {
                .headline {
                    top: 22px;
                    z-index: 5;
                    line-height: 88px;
                    word-spacing: 999px;
                }
            }
            &__awards {
                .top .awards-text {
                    font-size: 130px !important;
                    line-height: 89px !important;
                    margin-left: 16px;
                }
            }
        }
        .location .section {
            &__general {
                .text .text-box {
                    .main-text p {
                        font-family: variables.$third-font-rus !important;
                        font-size: 15px !important;
                        letter-spacing: 0px !important;
                        line-height: 150% !important;
                        width: 273px !important;
                    }
                }
            }
            &__values {
                .headline {
                    top: 100px;
                    left: -273px;
                }
            }
        }
    }
}
.selected-language-en {
  .about-page .section.cover-section.section__video.dark-section {
    // display: none;
  }
    .home .section {
        &__about {
            .sub-text {
                top: 114px;
                left: 199px;
                width: 250px;
            }
            .section-index {
                right: 35%;
            }
        }
        &__location {
            .headline {
                right: -153px;
            }
            .section-index {
                bottom: -85px;
                right: 4%;
                span.zero {
                    letter-spacing: -22px;
                }
            }
            .cube {
                top: 293px;
            }
        }
        &__apartments {
            .cube {
                top: 306px;
            }
            .section-index {
                left: -119px;
                top: 310px;
            }
        }
        &__standards {
            .headline {
                top: 160px;
                @media(max-width: 950px) {
                    left: -185px;
                }
            }
            .section-index {
                right: -70px;
            }
        }
        &__comfort-ext {
            .headline {
                right: -185px;
                top: 290px;
                transform: rotateZ(90deg);
                @media(max-width: 950px) {
                    right: -250px;
                }
            }
        }
    }
    .apartments .section {
        &__landing {
            .headline {
                top: 40vh;
                right: -93px;
            }
            .section-index {
                right: 8%;
            }
        }
        &__gallery.section.cover-section.large-text-section {
            @media (max-width: 950px) {
                .main-text.mobile-center {
                    width: 305px !important;
                }
            }
            .section-index {
                @media(max-width: 950px) {
                    top: 900px;
                }
            }
        }
        &__decoration {
            .headline {
                top: 94px;
                right: 163px;
                @media(max-width: 950px) {
                    top: 271px !important;
                    right: -69px !important;
                    transform: rotateZ(90deg);
                }
            }
        }
        &__enviroment {
            .headline {
                top: 170px;
                left: -173px;
            }
            .section-index {
                top: 395px;
            }
        }
        &__rent {
            .headline {
                span:last-child {
                    margin-left: 0px;
                }
            }
        }
    }
    .about .section {
        &__intro {
            .headline {
                top: 50vh;
                left: -29px;
                transform: rotateZ(-90deg);
            }
        }
        &__plan {
            .headline {
                transform: rotateZ(0deg);
                letter-spacing: -4px;
                left: -23px;
                top: 630px;

            }
        }
        &__comfort {
            .headline {
                top: 242px;
                right: -292px;
            }
        }
    }
    .standards .section {
        &__intro {
            .headline {
                bottom: 24px;
            }
            .section-index {
                right: 1vw;
                bottom: 16.6vh;
            }
        }
        &__list {
            .headline {
                left: -327px;
            }
            .section-index {
                left: 60px;
            }
        }
        &__projects {
            .headline {
                right: -275px;
                bottom: 210px;
                transform: rotateZ(90deg);
                letter-spacing: -3px;
            }
        }
        &__awards {
            .section-index {
                right: -66px;
            }
        }
    }
    .location .section {
        &__general {
            .container {
                padding-bottom: 117px !important;
            }
        }
        &__values {
            .headline {
                left: -175px;
                @media (max-width: 1648px) {
                    left: -11.4vw;
                }
            }
            .text-box {
                width: 350px !important;
                left: 153px !important;
                @media (max-width:1650px) {
                    left: 7vw !important;
                }
                @media (max-width: 1200px) {
                    width: 300px !important;
                }
            }
        }
        &__education {

            // .text-box {
            //     top: 45px;
            // }
            // .headline {
            //     transform: rotateZ(-90deg);
            //     right: -100px;
            // }
            // @media (max-width:1200px) {
            //     .container {
            //         padding-bottom: 250px !important;
            //         .sub-image-wrapper {
            //             bottom: -24vw !important;
            //         }
            //     }
            // }
        }
    }
    @media (max-width: 950px) {
        .apartments .section {
            &__landing {
                .headline {
                    top: unset;
                    bottom: 143px;
                    right: -110px;
                }
            }
            &__decoration {
                .headline {
                    right: unset !important;
                    left: -240px !important;
                }
            }
        }
        .about .section {
            &__landing {
                .headline {
                    bottom: 109px;
                    right: -22vw;
                }
            }
            &__plan {
                .headline {
                    transform: rotateZ(90deg);
                    left: -355px;
                    top: 86px;
                }
            }
        }
        .location .section {
            &__values {
                .headline {
                    left: -130px;
                }
                .text-box {
                    width: 100% !important;
                }
            }
        }
        .standards .section {
            &__landing {
                .headline {
                    top: unset;
                    bottom: 152px;
                    right: -34vw;
                }
            }
        }
        .rent {
            .main-wrap {
                padding-top: 145px !important;
                .title {
                    height: 470px !important;
                    &.closed {
                        height: 0px !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 950px) {
    .home,.about,.location,.standards,.apartments {
        .headline {
            font-size: 130px !important;
        }
    }
}
