.platform-mac {
    .headline {
        span {
          transform: translate(0px, 20px);
          display: inline-block;

          @media (max-width:1648px) {
              // margin-bottom: -3vw;
              transform: translateY(1.2vw);
          }
        }
    }
    .section-index {
        span {
            // margin-bottom: -50px;
            transform: translateY(23px);
            display: inline-block;

            @media (max-width:1648px) {
                // margin-bottom: -3vw;
                transform: translateY(1.2vw);
            }
        }
    }
}
