/** Colors */
@font-face {
  font-family: "Noe Display";
  src: url("/fonts/NoeDisplay.eot");
  src: url("/fonts/NoeDisplay.eot?#iefix") format("embedded-opentype"), url("/fonts/NoeDisplay.woff2") format("woff2"), url("/fonts/NoeDisplay.woff") format("woff"), url("/fonts/NoeDisplay.ttf") format("truetype"), url("/fonts/NoeDisplay.svg#NoeDisplay") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noe Display";
  src: url("/fonts/NoeDisplay-Bold.eot");
  src: url("/fonts/NoeDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/NoeDisplay-Bold.woff2") format("woff2"), url("/fonts/NoeDisplay-Bold.woff") format("woff"), url("/fonts/NoeDisplay-Bold.ttf") format("truetype"), url("/fonts/NoeDisplay-Bold.svg#NoeDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("/fonts/Axiforma-Bold.eot");
  src: url("/fonts/Axiforma-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Axiforma-Bold.woff2") format("woff2"), url("/fonts/Axiforma-Bold.woff") format("woff"), url("/fonts/Axiforma-Bold.ttf") format("truetype"), url("/fonts/Axiforma-Bold.svg#Axiforma-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("/fonts/Axiforma-Regular.eot");
  src: url("/fonts/Axiforma-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Axiforma-Regular.woff2") format("woff2"), url("/fonts/Axiforma-Regular.woff") format("woff"), url("/fonts/Axiforma-Regular.ttf") format("truetype"), url("/fonts/Axiforma-Regular.svg#Axiforma-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/TTRamillas-Regular.eot");
  src: url("/fonts/TTRamillas-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/TTRamillas-Regular.woff2") format("woff2"), url("/fonts/TTRamillas-Regular.woff") format("woff"), url("/fonts/TTRamillas-Regular.ttf") format("truetype"), url("/fonts/TTRamillas-Regular.svg#TTRamillas-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/TTRamillas-Bold.eot");
  src: url("/fonts/TTRamillas-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTRamillas-Bold.woff2") format("woff2"), url("/fonts/TTRamillas-Bold.woff") format("woff"), url("/fonts/TTRamillas-Bold.ttf") format("truetype"), url("/fonts/TTRamillas-Bold.svg#TTRamillas-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/TTRamillas-ExtraBold.eot");
  src: url("/fonts/TTRamillas-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTRamillas-ExtraBold.woff2") format("woff2"), url("/fonts/TTRamillas-ExtraBold.woff") format("woff"), url("/fonts/TTRamillas-ExtraBold.ttf") format("truetype"), url("/fonts/TTRamillas-ExtraBold.svg#TTRamillas-Bold") format("svg");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

body,
html {
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1182px;
  }
}

.flex-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
}

.cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 273px;
  height: 273px;
  border: 1px solid #171818;
  color: #171818;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  letter-spacing: 0.38em;
  text-transform: uppercase;
  z-index: 10;
}

.modal-window-opened .cube {
  visibility: hidden;
}

#pageTop {
  position: absolute;
  top: 0;
  height: 0;
}

#scrollDown {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
}

#scrollUp {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
}

* {
  cursor: none;
}

body {
  overflow-x: hidden;
}

.cursor {
  position: fixed;
  pointer-events: none;
  width: 109px;
  margin-left: -55px;
  margin-top: -55px;
  height: 109px;
  z-index: 1000;
  background: url("/cursor/arrow.svg") center center no-repeat;
  -webkit-transition: background 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.cursor span {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #f0f4f0;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Axiforma";
  letter-spacing: 0.45em;
}

.cursor.loading {
  visibility: hidden;
}

.modal-window-opened .cursor {
  background: url("/cursor/close.svg") center center no-repeat;
}

.cursor.inactive {
  background: url("/cursor/text-down.svg") center center no-repeat;
}

.cursor.hovering {
  background: url("/cursor/hovering.svg") center center no-repeat;
}

.cursor.normal {
  background: url("/cursor/normal.svg") center center no-repeat;
}

.cursor.normal span {
  visibility: visible;
}

.cursor.scrollingDown {
  background: url("/cursor/arrow.svg") center center no-repeat;
}

.cursor.scrollingUp {
  background: url("/cursor/arrow.svg") center center no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cursor.close {
  background: url("/cursor/close.svg") center center no-repeat;
}

.ui.dimmer.active {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui.active.modal {
  margin-left: auto;
  margin-right: auto;
  max-height: 80%;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
  overflow: hidden;
  z-index: 1000;
}

.ui.modal > .content {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.ui.modal > .header {
  display: none;
}

.ui.modal > .actions {
  background: transparent;
  padding: 0;
  border: none;
}

.ui.modals img {
  max-height: 75vh;
  width: auto;
  max-width: 80vw;
}

.modalCloseBtn {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 108px;
  height: 108px;
  background: url("/cursor/hovering.svg") center center no-repeat;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.logo-image {
  position: absolute;
  top: 60px;
}

.animate__delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.animate__delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animate__delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.animate__delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.animate__delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animate__delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.animate__delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.animate__delay-800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.animate__delay-900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

.animate__delay-1000ms {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.animate__delay-1100ms {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}

.animate__delay-1200ms {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.animate__delay-1300ms {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}

.animate__delay-1400ms {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}

.animate__delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

.animate__delay-1600ms {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}

.animate__delay-1700ms {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

.animate__delay-1800ms {
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}

.animate__delay-1900ms {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}

.animate__delay-2000ms {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}

.animate__delay-2100ms {
  -webkit-animation-delay: 2100ms;
  animation-delay: 2100ms;
}

.animate__delay-2200ms {
  -webkit-animation-delay: 2200ms;
  animation-delay: 2200ms;
}

.animate__delay-2300ms {
  -webkit-animation-delay: 2300ms;
  animation-delay: 2300ms;
}

.animate__delay-2400ms {
  -webkit-animation-delay: 2400ms;
  animation-delay: 2400ms;
}

.animate__delay-2500ms {
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms;
}

.animate__delay-2600ms {
  -webkit-animation-delay: 2600ms;
  animation-delay: 2600ms;
}

.animate__delay-2700ms {
  -webkit-animation-delay: 2700ms;
  animation-delay: 2700ms;
}

.animate__delay-2800ms {
  -webkit-animation-delay: 2800ms;
  animation-delay: 2800ms;
}

.animate__delay-2900ms {
  -webkit-animation-delay: 2900ms;
  animation-delay: 2900ms;
}

.animate__delay-3000ms {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate__longSlideInUp {
  -webkit-animation-name: longSlideInUp;
  animation-name: longSlideInUp;
}

@-webkit-keyframes longSlideInUp {
  from {
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes longSlideInUp {
  from {
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shortSlideUp {
  0% {
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shortSlideUp {
  0% {
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.shortSlideUp {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}

.vertical-text-up {
  margin-top: 0px !important;
  opacity: 1 !important;
}

.animate__shortSlideUp {
  -webkit-animation-name: shortSlideUp;
  animation-name: shortSlideUp;
}

.animate__longSlideInUp {
  -webkit-animation-name: longSlideInUp;
  animation-name: longSlideInUp;
}

@-webkit-keyframes longSlideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
    visibility: hidden;
  }
}

@keyframes longSlideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
    visibility: hidden;
  }
}

.animate__longSlideOutUp {
  -webkit-animation-name: longSlideOutUp;
  animation-name: longSlideOutUp;
}

@-webkit-keyframes textShowInUp {
  from {
    margin-top: 25px;
  }
  to {
    margin-top: 0px;
  }
}

@keyframes textShowInUp {
  from {
    margin-top: 25px;
  }
  to {
    margin-top: 0px;
  }
}

.animate__textShowInUp {
  -webkit-animation-name: textShowInUp;
  animation-name: textShowInUp;
}

.text-show-in-up div {
  margin-top: 0px !important;
}

@-webkit-keyframes byeByeText {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1500px;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes byeByeText {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1500px;
    visibility: hidden;
    opacity: 0;
  }
}

.animate__byeByeText {
  -webkit-animation-name: byeByeText;
  animation-name: byeByeText;
}

.animate__textShowInUp {
  -webkit-animation-name: textShowInUp;
  animation-name: textShowInUp;
}

@-webkit-keyframes helloFromTopText {
  from {
    margin-top: 150px;
    visibility: hidden;
  }
  to {
    margin-top: 0px;
    visibility: visible;
  }
}

@keyframes helloFromTopText {
  from {
    margin-top: 150px;
    visibility: hidden;
  }
  to {
    margin-top: 0px;
    visibility: visible;
  }
}

.animate__helloFromTopText {
  -webkit-animation-name: helloFromTopText;
  animation-name: helloFromTopText;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

#preloader-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 7;
}

.preloader-logo img {
  width: 45px;
}

.index-page {
  overflow-x: hidden;
}

.pre-text-slide-up {
  -webkit-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  opacity: 0;
}

.pre-text-slide-up div {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  -webkit-transition-property: margin-top;
  transition-property: margin-top;
}

.pre-text-show-in-up div {
  -webkit-transition-property: margin-top;
  transition-property: margin-top;
  margin-top: 25px;
}

.pre-vertical-text-up {
  margin-top: 150px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  visibility: visible;
  opacity: 0;
}

.splide__slide--clone {
  display: none;
}

#preloader-container {
  position: absolute;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #2d2f31;
  opacity: 1;
  -webkit-animation: fade 0.2s ease-in 2.45s forwards;
          animation: fade 0.2s ease-in 2.45s forwards;
}

#animation_container {
  position: relative;
  margin-bottom: 144px;
}

.clearfix {
  position: relative;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.clear-group:before,
.clear-group:after {
  content: "";
  display: table;
}

.clear-group:after {
  clear: both;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #171818 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #171818 !important;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #171818 !important;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #171818 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #171818 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #171818 !important;
}

.preloader {
  background-color: #171818;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
}

html, body {
  background-color: #f0f4f0;
}

.main-wrapper {
  background-color: #f0f4f0;
  min-height: 2000px;
  overflow: hidden;
}

.ui.grid .column {
  margin-top: 50px;
}

.real-home {
  padding: 60px 0;
  position: absolute;
  left: 0;
  width: 451px;
  font-size: 140px;
  line-height: 100px;
  color: #171818;
  mix-blend-mode: multiply;
  font-weight: bold;
  z-index: 1;
  font-family: "Noe Display";
}

.real-home div {
  height: 140px;
  overflow: hidden;
}

.director-self {
  padding: 60px 0;
  position: absolute;
  right: 0;
  width: 538px;
  font-size: 140px;
  line-height: 100px;
  color: #f0f4f0;
  font-weight: bold;
  font-family: "Noe Display";
  z-index: 3;
}

.project.cube {
  position: absolute;
  bottom: 300px;
  background: #f0f4f0;
  left: -130px;
}

.director-self div {
  height: 140px;
  overflow: hidden;
}

.first-box {
  position: relative;
}

.scroll-images {
  float: right;
  margin-top: -60px;
  top: 60px;
  right: 0;
  z-index: 0;
}

.scroll-images--second {
  z-index: 2;
  top: 1728px;
  position: -webkit-sticky;
  position: sticky;
}

.scroll-images--end {
  position: absolute;
}

.first-box-end {
  position: absolute;
  left: 10px;
  background: red;
  width: 30px;
  height: 30px;
  height: 30px;
  z-index: -1;
  visibility: hidden;
}

.stop-image .scroll-images--first {
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.stop-image .scroll-images--second {
  margin-top: 1728px;
  z-index: 0;
}

.brand-name {
  padding: 60px 0 30px;
}

.location {
  position: relative;
  height: 1600px;
  margin: 100px 0;
  z-index: 2;
}

.location .headline {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  top: 75px;
  left: -47px;
  font-size: 140px;
  font-weight: bold;
  font-family: "Noe Display";
  z-index: 2;
  mix-blend-mode: multiply;
  color: #171818;
}

.location div.slider {
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 1;
}

.location .get-location {
  position: absolute;
  top: 329px;
  left: 700px;
  background: #f0f4f0;
}

.location .comfort-text {
  padding: 60px 0;
  position: absolute;
  top: 640px;
  right: 150px;
  z-index: 2;
  width: 690px;
  min-height: 650px;
  font-size: 130px;
  font-weight: bold;
  font-family: "Noe Display";
  line-height: 93px;
  mix-blend-mode: multiply;
  color: #171818;
}

.location .comfort-text div {
  height: 143px;
  overflow: visible;
}

.location .link-to-vastint {
  position: absolute;
  top: 1335px;
  right: 40px;
}

.location .benefit {
  position: absolute;
  top: 1235px;
  left: 40px;
  background: #f0f4f0;
}

.selected-language-en .location .headline {
  left: -90px;
}

.selected-language-ru .location .headline {
  left: -10px;
  font-weight: bolder;
  font-family: "TT Ramillas";
}

.selected-language-ru .location .comfort-text {
  font-weight: bolder;
  font-family: "TT Ramillas";
  letter-spacing: -0.06em;
}

.selected-language-ru .location .benefit {
  left: 15px;
}

.contact-us {
  position: relative;
  margin-top: 90px;
  height: 661px;
  margin-bottom: 120px;
}

.contact-us .contact-text {
  font-family: "Noe Display";
  font-size: 140px;
  line-height: 93px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  text-align: right;
  font-weight: bold;
  width: 650px;
  position: absolute;
  top: 0px;
  left: 0px;
  mix-blend-mode: multiply;
  color: #171818;
}

.contact-us .contact-text div {
  height: 150px;
}

.contact-us .telephone {
  position: absolute;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  top: 475px;
  color: #171818;
  left: 40px;
  font-family: "Noe Display";
}

.contact-us .telephone .country-code {
  font-size: 29px;
  padding-right: 20px;
}

.contact-us .telephone .local-phone-number {
  font-size: 49px;
}

.contact-us .good-news {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  width: 344px;
  color: #171818;
  position: absolute;
  right: 70px;
  top: -70px;
}

.contact-us .good-news--text {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  padding-bottom: 15px;
  font-family: "Axiforma";
}

.contact-us .good-news--subtext {
  font-size: 14px;
  line-height: 22px;
  font-family: "Axiforma";
  text-align: left;
  margin-top: 30px;
}

.contact-us .social-links {
  position: absolute;
  top: 540px;
  text-transform: uppercase;
  left: 120px;
}

.contact-us .social-links a {
  font-size: 12px;
  font-family: "Axiforma";
  line-height: 28px;
  letter-spacing: 0.38em;
  color: #171818;
  text-decoration: none;
}

.contact-us .social-links a:hover {
  text-shadow: 0px 0px #171818;
}

.contact-us .contact {
  position: absolute;
  bottom: 30px;
  background-color: #f0f4f0;
  right: 215px;
}

.selected-language-en .contact-us {
  margin-top: 150px;
}

.selected-language-en .contact-us .contact-text {
  top: -110px;
}

.selected-language-en .contact-us .contact-text div {
  height: 148px;
}

.selected-language-ru .contact-us .contact-text {
  font-weight: bolder;
  font-family: "TT Ramillas";
  letter-spacing: -0.06em;
}

.selected-language-ru .contact-us .contact-text div {
  padding: 10px;
}

.selected-language-ru .contact-us .contact {
  bottom: -30px;
  right: 300px;
}

section.slider {
  width: 568px;
  height: 786px;
  z-index: -1;
}

#mobile-view {
  background-color: #f0f4f0;
}

#mobile-view img {
  max-width: 100%;
}

#mobile-view .logo {
  position: fixed;
  margin: 15px;
}

#mobile-view .brand-name {
  position: absolute;
  margin-left: 85px;
}

#mobile-view .real-home {
  top: 100px;
  left: 65px;
  max-width: 350px;
  width: auto;
  font-size: 100px;
}

#mobile-view .real-home div {
  height: 110px;
}

#mobile-view .director-self {
  left: 65px;
  max-width: 350px;
  width: auto;
  padding: 0 0 30px 0;
  font-size: 100px;
}

#mobile-view .director-self div {
  height: 110px;
}

#mobile-view .location-mobile {
  position: relative;
}

#mobile-view .location-mobile .headline {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  bottom: 300px;
  left: -140px;
  font-size: 140px;
  font-weight: bold;
  font-family: "Noe Display";
  z-index: 2;
  mix-blend-mode: multiply;
  color: #171818;
  visibility: hidden;
}

@media (max-width: 600px) {
  #animation_container {
    width: 300px !important;
    height: 650px !important;
    margin-top: 150px;
  }
  #animation_container canvas {
    width: 275px !important;
    height: auto !important;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 55px;
  }
}

#newMobileView {
  background: #f0f4f0;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

#newMobileView .cube {
  width: 243px;
  height: 243px;
  position: relative;
}

#newMobileView .cube::after {
  position: absolute;
  bottom: 30px;
  right: -19px;
  content: " ";
  width: 78px;
  height: 78px;
  background: url(/hover.svg) top left no-repeat;
}

#newMobileView .header {
  position: relative;
}

#newMobileView .header__logo {
  padding-top: 50px;
  padding-left: 32px;
  padding-bottom: 33px;
}

#newMobileView .header__language-switcher {
  border-radius: 50%;
  position: absolute;
  top: 42px;
  right: 30px;
  color: #171818;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Axiforma";
}

#newMobileView .header__language-switch {
  padding: 17px;
}

#newMobileView .first {
  color: #000000;
  position: relative;
  margin-bottom: 419px;
}

#newMobileView .first__first-text {
  position: absolute;
  width: 357px;
  text-align: right;
  right: 29px;
  top: -289px;
  padding-top: 50px;
  font-size: 99px;
  font-family: "Noe Display";
  font-weight: bold;
  line-height: 100px;
  letter-spacing: -0.02em;
}

#newMobileView .first__first-text div {
  height: 114px;
}

#newMobileView .first__second-image {
  margin-top: 219px;
}

#newMobileView .first__second-image img {
  width: 100%;
  height: auto;
}

#newMobileView .first__third-text {
  position: absolute;
  top: 69%;
  margin-top: -4px;
  width: 410px;
  left: 44px;
  font-size: 99px;
  line-height: 68p;
  color: #f1f4f0;
  font-family: "Noe Display";
  font-weight: bold;
}

#newMobileView .first__third-text div {
  height: 119px;
}

#newMobileView .first__fourth-text {
  bottom: -327px;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#newMobileView .first__fourth-text div {
  margin: 0 auto;
  background-color: #f0f4f0;
}

#newMobileView .second {
  position: relative;
  margin-bottom: 884px;
}

#newMobileView .second .slider {
  margin: 0 auto;
}

#newMobileView .second__second-text {
  position: absolute;
  width: 100%;
  margin-top: -72px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#newMobileView .second__second-text div {
  margin: 0 auto;
  background-color: #f0f4f0;
}

#newMobileView .second__third-text {
  position: absolute;
  top: 122%;
  right: 23px;
  line-height: 64px;
  font-size: 92px;
  letter-spacing: -0.2rem;
  font-family: "Noe Display";
  font-weight: bold;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#newMobileView .second__third-text div {
  height: 115px;
}

#newMobileView .second__fourth-text {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -870px;
  text-align: center;
}

#newMobileView .second__fourth-text div {
  margin: 0 auto;
  background-color: #f0f4f0;
}

#newMobileView .second__slider {
  margin-left: -39px;
}

#newMobileView .fourth {
  margin-top: 0px;
  top: 57px;
  position: relative;
}

#newMobileView .fourth__first-text {
  width: 410px;
  margin-left: 44px;
  font-size: 87px;
  line-height: 61px;
  letter-spacing: -0.11rem;
  font-family: "Noe Display";
  font-weight: bold;
}

#newMobileView .fourth__first-text div {
  height: 111px;
}

#newMobileView .fourth__second-text {
  margin-top: -67px;
  margin-left: 66px;
  margin-right: 24px;
  margin-bottom: 100px;
}

#newMobileView .fourth__second-text p {
  font-family: "Axiforma", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

#newMobileView .fourth__third-text {
  width: 100%;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#newMobileView .fourth__third-text div {
  margin: 0 auto;
  background-color: #f0f4f0;
}

#newMobileView .fourth__fourth-text {
  margin-top: 24px;
  margin-left: 66px;
  margin-right: 60px;
  margin-bottom: 50px;
  padding-top: 36px;
}

#newMobileView .fourth__fourth-text p {
  font-family: "Axiforma", sans-serif;
  font-size: 13px;
  line-height: 21px;
}

#newMobileView .fourth__fifth-text {
  padding-bottom: 28px;
}

#newMobileView .fourth__fifth-text--country {
  font-size: 32px;
  margin-left: 60px;
  line-height: 60px;
  font-family: "Noe Display";
}

#newMobileView .fourth__fifth-text--phone {
  text-align: center;
  width: 100%;
  margin-top: -20px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 60px;
  font-size: 57px;
  line-height: 60px;
  font-family: "Noe Display";
}

#newMobileView .fourth__sixth-text {
  display: none;
  text-align: center;
  font-family: "Axiforma", sans-serif;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.38rem;
  line-height: 42px;
  font-weight: bold;
}

.selected-language-en #newMobileView .second__third-text {
  font-size: 80px;
  bottom: -444px;
}

.selected-language-en #newMobileView .second__third-text div {
  height: 108px;
}

.selected-language-en #newMobileView .fourth__second-text {
  margin-top: 24px;
}

.selected-language-ru #newMobileView .first__first-text {
  width: 555px;
  font-family: "TT Ramillas";
  font-weight: bolder;
  letter-spacing: -0.06em;
  font-size: 89px;
}

.selected-language-ru #newMobileView .first__first-text div {
  height: 112px;
}

.selected-language-ru #newMobileView .first__third-text {
  font-family: "TT Ramillas";
  font-weight: bolder;
  letter-spacing: -0.06em;
  bottom: 77px;
  width: 555px;
  font-size: 89px;
}

.selected-language-ru #newMobileView .first__third-text div {
  height: 112px;
}

.selected-language-ru #newMobileView .second__third-text {
  font-family: "TT Ramillas";
  font-weight: bolder;
  letter-spacing: -0.06em;
  font-size: 80px;
  bottom: -410px;
}

.selected-language-ru #newMobileView .second__third-text div {
  height: 105px;
}

.selected-language-ru #newMobileView .fourth__first-text {
  font-family: "TT Ramillas";
  font-weight: bolder;
  letter-spacing: -0.06em;
}

.first-section {
  width: 100%;
  position: relative;
  margin-bottom: 300px;
}

.first-section .brand-name {
  margin-top: 14px;
}

.first-section .language-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -20px;
  margin-left: auto;
  text-transform: uppercase;
  font-family: "Axiforma";
  letter-spacing: 0.45em;
  font-size: 10px;
  margin-top: -16px;
}

.first-section .language-switcher--selector {
  padding: 20px;
}

.first-section__background-image {
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  margin-top: -70px;
  height: 1734px;
}

.first-section__first-text {
  left: -63px;
  font-size: 140px;
  line-height: 145px;
  width: 476px;
  height: 590px;
  position: absolute;
  top: 150px;
  font-family: "Noe Display";
  font-weight: bold;
  text-align: right;
  color: #171818;
  letter-spacing: -0.025em;
  mix-blend-mode: multiply;
}

.first-section__first-text div {
  height: 145px;
}

.first-section__third-text {
  padding: 60px 0;
  position: absolute;
  top: 70%;
  margin-top: -4px;
  right: 0;
  width: 600px;
  font-size: 140px;
  line-height: 100px;
  color: #f0f4f0;
  font-weight: bold;
  font-family: "Noe Display";
}

.first-section__third-text div {
  height: 145px;
}

.first-section__fourth-text {
  bottom: 300px;
  position: absolute;
}

.first-section__fourth-text .cube {
  background-color: #f0f4f0;
}

.selected-language-en .first-section__third-text {
  top: 67%;
}

.selected-language-ru .first-section__first-text {
  width: 555px;
  font-family: "TT Ramillas";
  font-weight: bolder;
  letter-spacing: -0.06em;
}

.selected-language-ru .first-section__first-text div {
  height: 145px;
}

.selected-language-ru .first-section__third-text {
  font-family: "TT Ramillas";
  font-weight: bolder;
  letter-spacing: -0.06em;
  top: 65%;
  width: 555px;
}

.selected-language-ru .first-section__third-text div {
  height: 140px;
}

@media (min-width: 1000px) and (max-width: 1350px) {
  #animation_container {
    margin-bottom: 0px;
  }
  #animation_container #canvas {
    width: 400px !important;
    height: 520px !important;
    margin-left: 40px;
  }
  .selected-language-en .first-section__third-text {
    top: 66%;
  }
  .selected-language-en .location .headline {
    left: -210px;
  }
  .selected-language-en .contact-us .telephone {
    bottom: -40px;
  }
  .selected-language-ru .first-section__third-text {
    top: 65%;
  }
  .selected-language-ru .location .headline {
    left: -130px;
  }
  .selected-language-ru .contact-us .good-news {
    right: 30px;
  }
  .selected-language-ru .contact-us .contact-text {
    left: -206px;
  }
  .first-section__first-text {
    left: -114px;
  }
  .logo-image {
    top: 55px;
  }
  .first-section__background-image {
    overflow: hidden;
    margin-right: 0px;
    margin-left: 193px;
  }
  .first-section__background-image img {
    margin-left: -109px;
  }
  .brand-name .logo-text img {
    width: 120px;
  }
  .first-section__fourth-text {
    left: -30px;
    bottom: 323px;
    z-index: 4;
  }
  .first-section__fourth-text {
    left: -30px;
  }
  .location .headline {
    left: -166px;
    top: -48px;
  }
  .location div.slider {
    left: unset;
    top: -39px;
    right: 230px;
  }
  .location .get-location {
    right: -10px;
    left: unset;
    top: 141px;
  }
  .location .benefit {
    top: 1297px;
  }
  .location .link-to-vastint {
    right: 85px;
  }
  .contact-us .good-news {
    top: -210px;
    right: 70px;
  }
  .contact-us .contact-text {
    top: 136px !important;
    left: -130px;
  }
  .contact-us .contact {
    bottom: 30px !important;
    right: 42px !important;
  }
  .contact-us .telephone {
    left: 40px;
    bottom: 10px;
    top: unset;
  }
}

@media (min-width: 1000px) and (max-width: 1150px) {
  .ui.container {
    width: 880px;
  }
}

@media (min-width: 1150px) and (max-width: 1350px) {
  .ui.container {
    width: 1020px;
  }
}
/*# sourceMappingURL=main.css.map */