// @use '../variables';
@use '@/assets/fonts';

@use "defaults";
@use "base";
@use "helpers";
@use "cursor";
@use "lang";
@use "platform";
@use "pages/documentation";

@use "pages/filter";
@use "pages/filter-interface";
@use "pages/visit";
@use "pages/home";
@use "pages/about";
@use "pages/location";
@use "pages/apartments";
@use "pages/standards";
@use "pages/main-pages";
@use "pages/rent";
@use "pages/blog";

@use "responsive/tablet";
@use "responsive/mobile";

:root {
    --container-max-width: 1468px;
    --arrow-diameter: 60px;
    --blog-col-padding: 20px;
}