<template>
    <div class="container">
         <p>
        <span
          ><span><h3>Terms of use</h3></span></span
        >
      </p>
      <p><em>Last modified:&nbsp;24.05.2018</em></p>
      <p><strong>Acceptance of the Terms of Use</strong></p>
      <p>
        Welcome to the website of Vastint Latvia SIA (hereinafter referred to as
        the “<strong>Company</strong>”, “<strong>we</strong>” or
        “<strong>us</strong>”).
      </p>
      <p>
        The following terms and conditions (together with any documents referred
        to herein such as the&nbsp;<a
          href="https://lindenholma.lv/en/privacy"
          ><u>Privacy Policy</u></a
        >&nbsp;and the&nbsp;<a href="https://lindenholma.lv/en/privacy">
          <u>Cookie Policy</u></a
        >, collectively the “<strong>Terms of Use</strong>”) apply to your use
        of <a href="https://lindenholma.lv/en">www.lindenholma.lv</a> (the
        “<strong>Website</strong>”), including any content, features, items,
        functionality and services offered on or through the Website.
      </p>
      <p>
        Please read these Terms of Use carefully before you start to use the
        Website to ensure that you are aware of our privacy practices and your
        rights and obligations as user of the Website. We recommend periodical
        renewing of your read of the Terms of Use, in order to be aware of
        potential changes.
      </p>
      <p><strong>Who we are</strong></p>
      <p>
        The Website is operated by Vastint Latvia SIA, a company duly registered
        and functioning under the laws of the Republic of Latvia, registered
        with the Commercial Register under no. 40003647511, having its
        registered office at Mārupes nov.,Mārupe, Malduguņu iela 4, LV-2167, Latvia.
      </p>
      <p>
        Should you have any questions in relation to the use of the Website,
        your rights and obligations or any other related queries, should you
        wish to consult with the Company or to submit any other communication,
        kindly address your requests/ communications in writing to:
      </p>
      <p>
        <em>Vastint Latvia SIA, </em>Riga, Zaļā Street 1, LV-1010, Latvia<em
          >, every day from Monday&nbsp;to&nbsp;Friday between 9.00 – 17.00 or
          via e-mail at&nbsp;info.latvia@vastint.eu. The communications received
          via e-mail after 17.00 shall be considered to be received&nbsp;on the
          following business day.</em
        >
      </p>
      <p><strong>Personal Data processing</strong></p>
      <p>
        We collect and process your personal data in accordance with the data
        protection legislation applicable at the national and also the European
        Union level, including the Regulation (EU) 2016/679 of the European
        Parliament and Of The Council of 27 April 2016 (General Data Protection
        Regulation).
      </p>
      <p>
        If you provide us with any personal data by using the Website, we kindly
        ask you to read our Privacy Policy.
      </p>
      <p><strong>Changes to the Terms of Use</strong></p>
      <p>
        We may revise and update these Terms of Use from time to time in our
        best judgment. All changes are effective immediately when we post them
        and your continued use of the Website following the posting of revised
        Terms of Use means that you accept and agree to the changes. Without
        prejudice to the above, you are expected to check this page each time
        you access the Website to take notice of any changes we made so that you
        become aware of such changes, as they are binding on you.
      </p>
      <p><br></p>
      <p><strong>Accessing the Website and account security</strong></p>
      <p>
        We reserve the right to withdraw or amend this Website, and any service
        or material uploaded on it at any moment in time, at our sole discretion
        and without notice. If you do not agree with such amendments, you may
        choose to cease the use of the Website. We will not be liable if (for
        any reason) all or any part of the Website is unavailable at any time or
        for any period. From time to time, we may restrict access to the Website
        (in whole or in part) to users.
      </p>
      <p>
        You are responsible for making all arrangements necessary for you to
        have access to the Website.
      </p>
      <p>
        You are responsible for ensuring that all persons who access the Website
        through your internet connection are aware of these Terms of Use, and
        that they comply with them.
      </p>
      <p><strong>Intellectual property rights</strong></p>
      <p>
        The Website and its entire contents, features and functionality
        (including but not limited to all information, software, text, displays,
        images, video and audio, and the design, selection and arrangement
        thereof), are: (1) owned by the Company, its licensors, other companies
        within the Interogo Holding or other providers of such material; and (2)
        protected by Latvian and international copyright, trademark, patent,
        trade name and/or other intellectual property or proprietary rights
        laws.
      </p>
      <p>
        You are permitted to use the Website for your personal, non-commercial
        use only. You are not allowed to copy, modify, create derivative works
        of, publicly display, publicly perform, republish, download, store or
        transmit any of the material on our Website, except to:
      </p>
      <p>
        store copies of such materials temporarily in your computers Random
        Access Memory (RAM);
      </p>
      <p>
        store files that are automatically cached by your web browser for
        display enhancement purposes; and/or
      </p>
      <p>
        print a reasonable number of pages of the Website for your own personal,
        non-commercial use.
      </p>
      <p><br></p>
      <p>You are not allowed to:</p>
      <p>modify copies of any materials from this Website;</p>
      <p>
        use any illustrations, photographs, video or audio sequences or any
        graphics separately from the accompanying text and/or for other purposes
        than your own personal, non-commercial use;
      </p>
      <p>
        delete or alter any copyright, trademark or other proprietary rights
        notices from copies of materials from this Website.
      </p>
      <p><br></p>
      <p>
        You are not allowed to reproduce, sell or exploit for any commercial
        purposes any part of the Website, access to the Website or use of the
        Website or any services or materials available through the Website.
      </p>
      <p>
        If you print, copy, modify, download or otherwise use any part of the
        Website in breach of the Terms of Use, your right to use the Website
        will cease immediately and you must either return or destroy any copies
        of the materials you have made. In case such event occurs, you may be
        notified of any actions taken by the Company pursuant to the above. No
        right, title or interest in or to the Website or any content on the site
        is transferred to you, and all rights not expressly granted are reserved
        by the Company. Any use of the Website not expressly permitted by these
        Terms of Use is a breach of these Terms of Use and may violate
        copyright, trademark and other laws.
      </p>
      <p><strong>Company trademarks</strong></p>
      <p>
        The Company name, the term “Vastint”, and all related names, logos,
        product and service names, designs and slogans are trademarks or trade
        names of the Company. You are not allowed to use such marks, either
        registered or not, without the prior written permission of the Company.
        All other names, brands and marks are used for identification purposes
        only and are the trademarks or trade names of their respective owners.
      </p>
      <p><strong>Prohibited uses</strong></p>
      <p>
        You may use the Website only for lawful purposes and in accordance with
        these Terms of Use. You are responsible for knowing the Latvian law and
        for being aware of the contents of these Terms of Use. Without being
        limited to the following actions, the Website must not be used as set
        out below:
      </p>
      <p>
        in any way that violates any provisions of the applicable local and/or
        international law or regulation;
      </p>
      <p>
        to send, knowingly receive, upload, download, use or re-use any material
        which does not comply with the provisions stated hereunder;
      </p>
      <p>
        to transmit, or procure the sending of, any advertising or promotional
        material, including any “junk mail”, “chain letter” or “spam” or any
        other similar solicitation;
      </p>
      <p>
        to impersonate or attempt to impersonate the Company or a Company
        employee, another user, or person or entity (including, without
        limitation, the use of e-mail addresses or screen names associated with
        any of the foregoing);
      </p>
      <p>
        to engage in any other conduct that restricts or inhibits anyone’s use
        or enjoyment of the Website, or which, as determined by us, may harm the
        Company (including its associates or collaborators) or users of the
        Website or expose them to liability.
      </p>
      <p>Additionally, Website users may not:</p>
      <p>
        use the Website in any manner that could disable, overburden, damage, or
        impair the Website or interfere with any other party’s use of the
        Website, including their ability to engage in real time activities
        through the Website;
      </p>
      <p>
        use any robot, spider or other automatic device, process or means to
        access the Website for any purpose, including to monitor or copy any of
        the material on the Website;
      </p>
      <p>
        use any manual process to monitor or copy any of the material on the
        Website or for any other unauthorized purpose without our prior written
        consent;
      </p>
      <p>
        use any device, software or routine that interferes with the proper
        working of the Website;
      </p>
      <p>
        introduce any viruses, trojan horses, worms, logic bombs or other
        material which is malicious or technologically harmful;
      </p>
      <p>
        attempt to gain unauthorized access to, interfere with, damage or
        disrupt any parts of the Website, the server on which the Website is
        stored, or any server, computer or database connected to the Website;
      </p>
      <p>
        attack the Website via a denial-of-service attack or a distributed
        denial-of-service attack;
      </p>
      <p>
        otherwise attempt to interfere with the proper working of the Website.
      </p>
      <p><strong>Monitoring, enforcement and termination</strong></p>
      <p>We have the right to:</p>
      <p>
        take appropriate legal action, including without limitation, referral to
        law enforcement, for any illegal or unauthorized use of the Website;
      </p>
      <p>
        obtain the full compensation for any and all damages that have been
        caused directly or indirectly by the improper use of the Website,
        including by the failure to observe the provisions of these Terms of
        Use;
      </p>
      <p>
        terminate your access to all or part of the Website for any reason,
        including without limitation, any violation of these Terms of Use.
      </p>
      <p>
        Without limiting the foregoing, we have the right to fully cooperate
        with any law enforcement authorities and/or to comply with any court
        order requesting or directing us to disclose the identity of anyone
        posting any materials on or through the Website. You agree to waive and
        hold the Company harmless against any claims resulting from any action
        taken by the Company during or as a result of its monitoring and
        enforcement actions.
      </p>
      <p><strong>Reliance on information posted</strong></p>
      <p>
        The information presented on or through the Website is made available
        solely for general information purposes. We do not warrant the accuracy,
        completeness or usefulness of this information. Any reliance you place
        on such information is strictly at your own risk. We disclaim all
        liability and responsibility arising from any reliance placed on such
        materials by you or any other user of our Website, or by anyone who may
        be informed of any of its contents.
      </p>
      <p><strong>Changes to the Website</strong></p>
      <p>
        We may update the Website from time to time, but its content is not
        necessarily complete or up-to-date at any given moment. Any of the
        material on the Website may be out of date at any given time, and we are
        under no obligation to update such material. We may change the Website
        at any time with or without notice. We may suspend access to the Website
        (in whole or in part), or close it indefinitely.
      </p>
      <p><strong>Provision of information and messages to us</strong></p>
      <p>
        Please note that the Company and its affiliates and related companies
        (the “Vastint group”), receive a large number of unsolicited messages
        and e-mails relating to commercial opportunities. Any message sent to us
        via the Website or via e-mail without any preceding request from the
        Vastint group is considered as unsolicited. Your message will not be
        considered as a formal introduction to a site or a project and the
        Vastint group does not agree to any fee arrangement, confidentiality
        undertaking or other agreement by receiving or reviewing your message.
        Further, the Vastint group cannot be bound by your email and/or its
        contents in any way or restricted from dealing with subject matter
        property as it sees fit.
      </p>
      <p>
        By sending us an unsolicited e-mail, you explicitly confirm and agree to
        the above. If you do not agree to the above, please do not send us the
        message.
      </p>
      <p>
        <strong>Information about you and your visits to the Website</strong>
      </p>
      <p>
        All personal data we collect on this Website is subject to our&nbsp;<a
          href="https://lindenholma.lv/en/privacy"
          ><u>Privacy Policy</u></a
        >&nbsp;available below. By providing your personal data when using the
        Website you represent and warrant that all data provided by you is
        complete, accurate and up to date.
      </p>
      <p><strong>Linking to the Website</strong></p>
      <p>
        You may link to the homepage (<a href="https://lindenholma.lv/en"
          >www.lindenholma.lv</a
        >), provided you do so in a way that is fair and legal and does not
        damage our reputation or take advantage of it, but you must not
        establish a link in such a way as to suggest any form of association,
        approval or endorsement on our part without our express written consent.
      </p>
      <p>
        You must not establish a link from any website that is not owned by you.
      </p>
      <p>
        The Website must not be framed on any other website, nor may you create
        a link to any part of the Website other than the homepage without the
        express written consent from the Company.
      </p>
      <p>
        You agree to cooperate with us in causing any unauthorized framing or
        linking to cease immediately. If you are the one responsible for such
        actions, we reserve the right to withdraw linking permission without
        notice.
      </p>
      <p><strong>Links from the Website</strong></p>
      <p>
        If the Website contains links to other websites and resources provided
        by third parties, these links are provided for your convenience only.
        This includes links contained in advertisements, including banner
        advertisements and sponsored links. We have no control over the contents
        of those websites or resources, and accept no responsibility for them or
        for any loss or damage that may arise from your use of them. If you
        decide to access any of the third party websites linked to this Website,
        you do so entirely at your own risk and subject to the terms and
        conditions of use for such websites.
      </p>
      <p><strong>Geographic restrictions</strong></p>
      <p>
        The Company is based in Latvia. Access to the Website may not be legal
        by certain persons or in certain countries. If you access the Website
        from outside Latvia, you do so on your own initiative and are
        responsible for compliance with local laws that apply to you when using
        our Website. If you are a user who interacts with the Company from a
        place located outside Latvia, when providing your personal data, you
        consent to having your personal data transferred to and processed in
        Latvia.
      </p>
      <p><strong>Disclaimer of warranties</strong></p>
      <p>
        You understand that we cannot and do not guarantee or warrant that files
        available for downloading from the internet or the Website will be free
        of viruses or other destructive code. You are responsible for
        implementing sufficient procedures and checkpoints to satisfy your
        particular requirements for anti-virus protection and accuracy of data
        input and output, and for maintaining external means&nbsp;to our Website
        for any reconstruction of any lost data. We will not be liable for any
        loss or damage caused by a distributed denial-of-service attack, viruses
        or other technologically harmful material that may infect your computer
        equipment, computer programs, data or other proprietary material due to
        your use of the Website or any services or items obtained through the
        Website or to your downloading of any material posted on it, or on any
        website linked to it.
      </p>
      <p>
        Your use of the Website, its content and any services or items obtained
        through the Website is at your own risk. The Website, its content and
        any services or items obtained through the Website are provided on an
        “as is” and “as available” basis, without any warranties of any kind,
        either express or implied. Neither the Company nor any person associated
        with the Company makes any warranty or representation with respect to
        the completeness, security, reliability, quality, accuracy or
        availability of the Website. Without limiting the foregoing, neither the
        Company nor anyone associated with the Company represents or warrants
        that the Website, its content or any services or items obtained through
        the Website will be accurate, reliable, error-free or uninterrupted,
        that defects will be corrected, that our Website or the server that
        makes it available are free of viruses or other harmful components or
        that the Website or any services or items obtained through the Website
        will otherwise meet your needs or expectations.
      </p>
      <p>
        The Company hereby disclaims all warranties of any kind, either
        expressed or implied, statutory or otherwise, including but not limited
        to any warranties of merchantability, non-infringement and fitness for
        particular purpose.
      </p>
      <p>
        The foregoing does not affect any warranties which cannot be excluded or
        limited under the applicable law.
      </p>
      <p><strong>Limitation on liability</strong></p>
      <p>
        In no event will the Company, its affiliates or their licensors, service
        providers, employees, agents, officers, directors or shareholders be
        liable for damages of any kind, under any legal theory, arising out of
        or in connection with your use, or inability to use, the Website, any
        websites linked to it, any content on the Website or such other websites
        or any services or items obtained through the Website or such other
        websites, including any direct, indirect, special, incidental,
        consequential or punitive damages, including but not limited to personal
        injury, pain and suffering, emotional distress, loss of revenue, loss of
        profits, loss of business or anticipated savings, loss of use, loss of
        goodwill, loss of data, and whether caused by tort (including
        negligence), breach of contract or otherwise, even if foreseeable.
      </p>
      <p>
        The foregoing does not affect the liability which cannot be excluded or
        limited under the applicable law.
      </p>
      <p><strong>Indemnification</strong></p>
      <p>
        You agree to defend, indemnify and hold harmless the Company, its
        affiliates and licensors and their respective officers, directors,
        employees, contractors, agents, licensors and suppliers from and against
        any claims, liabilities, damages, judgments, awards, losses, costs,
        expenses or fees (including reasonable attorneys’ fees) resulting out of
        or in relation to your violation of these Terms of Use or your use of
        the Website, including, without limitation, any use of the Website’s
        content, services and products or your use of any information obtained
        from the Website.
      </p>
      <p><strong>Governing law and jurisdiction</strong></p>
      <p>
        All matters relating to these Terms of Use and any dispute or claim
        arising out of, or related to, them, their subject matter or their
        formation (in each case, including non-contractual disputes or claims)
        shall be governed by and construed in accordance with the laws of Latvia
        without giving effect to any choice or conflict of law provision or
        rule.
      </p>
      <p>
        You agree to submit any legal suit, action or proceeding arising out of,
        or related to, these Terms of Use or the Website exclusively in the
        jurisdiction of the competent courts located in Latvia.
      </p>
      <p><strong>Waiver and severability</strong></p>
      <p>
        No waiver of these Terms of Use by the Company shall be deemed a further
        or continuing waiver of such term or condition or any other term or
        condition, and any failure of the Company to assert a right or provision
        under these Terms of Use shall not constitute a waiver of such right or
        provision.
      </p>
      <p>
        If any provision of these Terms of Use is held by a court of competent
        jurisdiction to be invalid, illegal or unenforceable for any reason,
        such provision shall be eliminated or limited to the minimum extent such
        that the remaining provisions of the Terms of Use will continue in full
        force and effect.
      </p>
      <p><strong>Entire&nbsp;agreement</strong></p>
      <p>
        These Terms of Use constitute the sole and entire agreement between you
        and the Company with respect to the Website and supersede all prior and
        contemporaneous understandings, agreements, representations and
        warranties, both written and oral, with respect to the Website.
      </p>
      <p><strong>Your comments and concerns</strong></p>
      <p>
        All your feedback, comments, requests for technical support and other
        communications relating to the Website should be submitted
        via&nbsp;info.latvia@vastint.eu.
      </p>
      <p>
        This Website is operated by Vastint Latvia SIA, a company duly
        registered and functioning under the laws of Latvia, registered with the
        Commercial Register under no. 40003647511, having its registered office
        at Riga, Zaļā Street 1, LV-1010, Latvia. The Company is an affiliated
        company of Interogo Holding AG (Interogo Holding AG together with all
        its affiliates are collectively referred to as the “Group”).
      </p>
      <p>Thank you for using our Website.</p>
      <p>
        <span
          ><span
            ><h3>Privacy policy</h3></span
          ></span
        >
      </p>
      <p><em>Last modified: 24.05.2018</em></p>
      <p><strong>Introduction</strong></p>
      <p>
        Vastint Latvia SIA, a company duly registered and functioning under the
        laws of Latvia, registered with the Commercial Register under no.
        40003647511, having its registered office at Riga, Zaļā Street 1,
        LV-1010, Latvia (the “<strong>Company</strong>”, “<strong>We</strong>”
        or “<strong>Us</strong>”) respects your privacy and is committed to
        protecting it through compliance with this Privacy Policy.
      </p>
      <p>
        The Company is the controller in respect of the processing of your
        personal data within the meaning of the Regulation (EU) 2016/679 of the
        European Parliament And Of The Council of 27 April 2016 (General Data
        Protection Regulation).
      </p>
      <p>
        This Privacy Policy describes the personal information that we collect
        from you, or that you provide on
        <a href="https://lindenholma.lv/en">www.lindenholma.lv</a> (our
        “<strong>Website</strong>”) and how that information may be by us.
      </p>
      <p>
        Our Privacy Policy does not apply to information collected on any
        third-party website that may link to or be accessible from our Website.
      </p>
      <p>
        Please read the following carefully to understand our policies and
        practices regarding your personal information and how we will treat it.
      </p>
      <p><strong>Information we collect about you</strong></p>
      <p>We may collect of the following information about you:</p>
      <p>
        information we collect as you navigate through our Website, including IP
        addresses, cookies and web beacons, unless you have refused to accept
        cookies in your browser settings (please see our Cookie Policy for more
        detailed information);
      </p>
      <p>
        name and surname, contact details, records and copies of correspondence
        (including e-mail addresses) and similar data, if you contact us and
        voluntarily provide us with such data.
      </p>
      <p>
        <strong
          >Usage of the information (purposes of the data processing)</strong
        >
      </p>
      <p>
        We use information that we collect about you or that you provide to us
        for the following purposes:
      </p>
      <p>
        to present our Website and its contents in a suitable and effective
        manner for you and for your computer;
      </p>
      <p>to provide you with information that you request from us;</p>
      <p>
        to inform you about our new services or products, or changes therein,
        including direct marketing should you specifically accept receiving such
        information when providing us your data;
      </p>
      <p>compiling user statistics; and</p>
      <p>security and improvements to our Website.</p>
      <p>
        In case you specifically agree (by voluntarily providing us with your
        personal data for marketing purposes), we may use your personal data for
        direct marketing purposes, i.e. to personally contact you, to provide
        you with information about our services, offers and various benefits or
        to inform you about specific commercial offers, individually tailored to
        your potential requests or questions about the Company, our services or
        products.
      </p>
      <p>
        You may refuse the usage of your personal data for direct marketing
        purposes (withdraw your consent) at any time.
      </p>
      <p><strong>Legal basis for the data processing </strong></p>
      <p>We process your personal data on the following legal basis:</p>
      <p>
        for the enforcement of regulatory enactments - to fulfil a certain
        obligation under the laws and regulations which are binding to us;
      </p>
      <p>in accordance with your consent as the data subject;</p>
      <p>
        in the legitimate (lawful) interest - to exercise our legitimate
        (lawful) interests under the laws and regulations.
      </p>
      <p><strong>Disclosure of your information</strong></p>
      <p>We may disclose your data to the third parties, which we engage to:</p>
      <p>
        support and analyse the performance of the Webpage (i.e., information
        system consultants and analytical and research service providers);
      </p>
      <p>
        provide marketing and sales services, if you voluntarily have provided
        us with your data for marketing purposes.
      </p>
      <p>
        We engage only such third parties, who provide sufficient guarantees for
        implementation of technical and organisational measures so that the data
        processing complies with requirements of the laws and regulations and
        protection of your rights is ensured.
      </p>
      <p>We may also disclose your personal information to third parties to:</p>
      <p>comply with any court order or other legal obligation;</p>
      <p>enforce or apply our Terms of Use and other agreements; and</p>
      <p>
        protect the rights, property, or safety of the Company and its
        affiliates. This includes exchanging information for the purposes of
        fraud protection and credit risk reduction.
      </p>
      <p>
        Unfortunately, the transmission of information via the internet is never
        100% secure. Although we do our best to protect your personal
        information, we cannot guarantee the security of your personal
        information transmitted to our Website. Any transmission of personal
        information is at your own risk.
      </p>
      <p>
        <strong
          >Your rights regarding the processing of your personal data are the
          following:</strong
        >
      </p>
      <p>
        the possibility to obtain from the Company, upon request and free of
        charge, the confirmation that your personal data is processed by us, as
        well as details regarding this processing;
      </p>
      <p>
        the right to rectify, update, block or make anonymous the data which was
        processed contrary to the laws and regulations, especially data which is
        incomplete or inaccurate;
      </p>
      <p>
        the right to request the Company to delete all your personal data, which
        is available to the Company (in cases specified in the laws and
        regulations);
      </p>
      <p>
        the right to restrict the processing of your personal data (in cases
        specified in the laws and regulations);
      </p>
      <p>
        the right to object, for free and without any justification, to the
        processing of your personal data for direct marketing purposes, in the
        name of the data controllers or in the name of a third party, or to the
        disclosure of the data for such a purpose;
      </p>
      <p>
        the right to receive the personal data concerning you, which you have
        provided to the Company;
      </p>
      <p>
        the right not to be a subject of decisions taken exclusively on the
        basis of a data processing performed by automatic means and which
        triggers legal consequences in what concerns you.
      </p>
      <p>
        In order to exercise these rights, you may file a request which should
        be signed and dated to the following address: info.latvia@vastint.eu.
      </p>
      <p><strong>Duration of the storage</strong></p>
      <p>
        We will store the data for the time necessary for the purposes listed
        under “Usage of your information (purposes of the data processing)”, but
        no longer than 5 years. After the data is no longer needed for such
        purposes, it will be destroyed.
      </p>
      <p><strong>Changes to our Privacy Policy</strong></p>
      <p>
        It is our policy to post any changes we make to our Privacy Policy on
        this page. The date our Privacy Policy was last revised is identified at
        the top of the page. If we make any changes to this Privacy Policy,
        before these changes are effective we will request you to renew your
        consent to our Privacy Policy.
      </p>
      <p><strong>Complaints about privacy</strong></p>
      <p>
        If you have any concerns regarding the privacy of the personal data we
        process in what concerns you, or you have a privacy-related complaint,
        please send us an email at info.latvia@vastint.eu. We will contact you
        within fourteen (14) days to confirm receipt of your email. Following
        the receipt of your email, we will investigate your concern or complaint
        and endeavour to provide you with our response within a reasonable
        timeframe, but no longer than within one month after sending such e-mail
        to us.
      </p>
      <p>
        You also have the right to address to the competent personal data
        protection supervisory authority (Data State Inspectorate of the
        Republic of Latvia).
      </p>
      <p><strong>Contact information</strong></p>
      <p>
        To ask questions or comment about our Privacy Policy and our privacy
        practices, please contact us via info.latvia@vastint.eu or the contact
        page on the Website.
      </p>
      <p>
        <span
          ><span
            ><h3>Cookie Policy</h3></span
          ></span
        >
      </p>
      <p><em>Last modified: 24.05.2018</em></p>
      <p>
        <a name="_GoBack"></a> On this Website,&nbsp;<a
          href="https://lindenholma.lv/en"
          >www.lindenholma.lv</a
        >&nbsp;(the “Website“), Vastint Latvia SIA, a company duly registered
        and functioning under the laws of Latvia, registered with the Commercial
        Register under no. 40003647511, having its registered office at Riga,
        Zaļā Street 1, LV-1010, Latvia, may place cookies and/or web beacons.
        This Cookie Policy explains what cookies and web beacons are, when they
        would be placed and how you may object to placing cookies and/or web
        beacons.
      </p>
      <p>
        A cookie is a small text file that is stored on your computer or other
        device used to visit a website (hereinafter all together: “computer”).
        Because a cookie is stored on your computer, the website server can
        recognize your computer. A cookie cannot launch programs or spread
        viruses.
      </p>
      <p>
        Web beacons are electronic images, also referred to as single-pixel
        gifs. Web beacons enable the Company to collect certain aggregated
        information in relation to Website users including, for example, the
        number of users accessing each webpage, traffic data, logs and other
        communication data, information in relation to resources access, and
        information about user computer and internet connection (including IP
        addresses, operating systems and browser type).
      </p>
      <p>
        In so far as we collect personal data using cookies and/or web beacons,
        we process these personal data in accordance with our&nbsp;<a
          href="https://lindenholma.lv/en/privacy"
          ><u>Privacy Policy</u></a
        >.
      </p>
      <p><strong>Cookies on our Website</strong></p>
      <p><em>Functional (essential) cookies</em></p>
      <p>
        We use functional cookies necessary to enable navigation across the
        websites. These cookies enable us to:
      </p>
      <p>
        store information about your preferences, allowing us to customize our
        Website according to your individual interests; and
      </p>
      <p>recognize you when you return to our Website.</p>
      <p>We will use the functional cookies as described in the table below.</p>
      <div class="table-wrapper">

              <table width="99%" cellspacing="0" cellpadding="1"><tbody><tr><td colspan="6" width="100%"><p><span><span><span><em>Functional Cookies</em></span></span></span></p></td></tr> <tr><td width="24%"><p><span><span><span><strong>Name</strong></span></span></span></p></td> <td width="14%"><p><span><span><span><strong>Purpose</strong></span></span></span></p></td> <td width="15%"><p><span><span><span><strong>Placed by</strong></span></span></span></p></td> <td width="15%"><p><span><span><span><strong>Information captured</strong></span></span></span></p></td> <td width="15%"><p><span><span><span><strong>Accessed by</strong></span></span></span></p></td> <td width="17%"><p><span><span><span><strong>Expires</strong></span></span></span></p></td></tr> <tr><td width="24%"><p><span><span><span>_icl_current_language</span></span></span></p></td> <td width="14%"><p><span><span><span>Stores the language chosen by the user.</span></span></span></p></td> <td width="15%"><p><span><span><span>Website engine</span></span></span></p></td> <td width="15%"><p><span><span><span>Chosen language code (i.e. EN)</span></span></span></p></td> <td width="15%"><p><span><span><span>Website engine</span></span></span></p></td> <td width="17%"><p><span><span><span>30 days </span></span></span></p></td></tr></tbody>
              </table>

            </div>
      <p><em>Analytical cookies</em></p>
      <p>
        Analytical cookies record how visitors use our websites. This
        information may be used to analyze the use of our websites and generate
        statistics. We may collect statistical information about our Website
        users’ equipment, browsing actions and patterns. The information may
        include, for example:
      </p>
      <p>traffic, logs and other communication data;</p>
      <p>information regarding the resources that you access; and</p>
      <p>
        information about your computer and internet connection, (e.g. including
        your IP address (masked last octets), operating system and browser
        type).
      </p>
      <p>We will use the analytical cookies as described in the table below.</p>
      <table width="82%" cellspacing="0" cellpadding="1">
        <tbody>
          <tr>
            <td colspan="3" width="100%">
              <p><em>Analytical Cookies</em></p>
            </td>
          </tr>
          <tr>
            <td width="16%">
              <p><strong>Name</strong></p>
            </td>
            <td width="53%">
              <p><strong>Purpose</strong></p>
            </td>
            <td width="31%">
              <p><strong>Expires</strong></p>
            </td>
          </tr>
          <tr>
            <td width="16%">
              <p><strong>_ga</strong></p>
            </td>
            <td width="53%">
              <p>used to distinguish users</p>
            </td>
            <td width="31%">
              <p>2 years</p>
            </td>
          </tr>
          <tr>
            <td width="16%">
              <p><strong>_gat</strong></p>
            </td>
            <td width="53%">
              <p>used to throttle request rate</p>
            </td>
            <td width="31%">
              <p>10 minutes</p>
            </td>
          </tr>
        </tbody>
      </table>
      <p><strong>Rejecting and deleting cookies</strong></p>
      <p>
        By accessing and using the Website, you agree to this Cookie Policy.
        Before placing cookies and/or web beacons, you have been notified about
        the use of cookies and similar technologies.
      </p>
      <p>
        By choosing browser settings that allow the use of cookies you agreed to
        the use of cookies and similar devices for the Website. If you would
        chose to refuse our cookies and/or web beacons, we will not place
        analytical cookies or other cookies that are not strictly necessary.
        Please note that as a result, some of our Website functionalities may
        not work correctly.
      </p>
      <p>
        You can set up your browser in such a way that no cookies are stored,
        that you can accept or reject each cookie or such that all cookies are
        deleted when you close your browser. Useful information for managing
        cookies and web beacons can also be found on the informative website
        http://www.allaboutcookies.org.
      </p>
      <p>
        Please note that if you reject and/or delete cookies by changing your
        browser settings, this will also affect the essential cookies. This may
        limit the options for using our Website or parts thereof.
      </p>
      <p>
        If you have any questions about our Cookie Policy, please contact us at
        info.latvia@vastint.eu.
      </p>
      <p><br /></p>
    </div>
</template>

<style lang="scss" scoped>
    
h3 {
    font-size: 32px;
    font-family: $third-font;
    line-height: 1.7;
}
a {
    text-decoration: underline;
}

</style>