<template>
    <div class="container">
        <h3>Lietošanas noteikumi</h3> <p><span><span><em>Pēdējās izmaiņas veiktas:&nbsp;21.04.2021</em></span></span></p> <p><span><span><strong>Piekrišana Lietošanas noteikumiem</strong></span></span></p> <p><span><span>Laipni lūdzam Vastint Latvia SIA (turpmāk saukta par “</span></span><span><span><strong>Sabiedrība</strong></span></span><span><span><span>”, “</span></span></span><span><span><strong>mēs</strong></span></span><span><span><span>” vai “</span></span></span><span><span><strong>mums</strong></span></span><span><span><span>”) mājaslapā.</span></span></span></p> <p><span><span>Sekojošie noteikumi (kopā ar citiem šeit pieminētajiem dokumentiem,
            tādiem kā Privātuma politika un Sīkdatņu politika, kopā saukti
            “Lietošanas noteikumi”) ir attiecināmi uz Jums, kad Jūs lietojat
          </span></span><NuxtLink :to="'/'+ selectedLocale" class="cursor-plus">www.lindenholma.lv</NuxtLink><span><span>
            (“Mājaslapa”), tajā skaitā jebkuru tās saturu, iespējas, pozīcijas,
            funkcionalitāti vai pakalpojumus, kas ir piedāvāti Mājaslapā vai ar
            tās starpniecību.</span></span></p> <p><span><span>Pirms sākat lietot Mājaslapu, lūdzam Jūs uzmanīgi izlasīt šos
            Lietošanas noteikumus, lai nodrošinātu, ka esat informēts par mūsu
            privātuma metodēm un Jūsu tiesībām un pienākumiem kā Mājaslapas
            lietotājam. Mēs iesakām Jums ik pa laikam pārlasīt Lietošanas
            noteikumus, lai Jūs būtu informēts par iespējamajām izmaiņām tajos.
          </span></span></p> <p><span><span><strong>Kas mēs esam</strong></span></span></p> <p><span><span>Mājaslapu uztur Vastint Latvia SIA, sabiedrība, kas ir reģistrēta
            un darbojas saskaņā ar Latvijas Republikas tiesību aktiem,
            reģistrēta Komercreģistrā ar Nr. 40003647511, ar juridisko adresi
            Mārupes nov.,Mārupe, Malduguņu iela 4, LV-2167, Latvija.</span></span></p> <p><span><span>Ja Jums rodas kādi jautājumi par Mājaslapas izmantošanu, Jūsu
            tiesībām un pienākumiem vai jebkādiem citiem saistītiem jautājumiem,
            ja Jūs vēlaties sazināties ar Sabiedrību vai veikt jebkādu citu
            saziņu, lūdzam adresēt Jūsu pieprasījumus/paziņojumus rakstiski
            Vastint Latvia SIA, Rīgā, Zaļā iela 1, LV-1010, Latvija, katru dienu
            no pirmdienas līdz piektdienai laika posmā no 9:00 – 17:00 vai uz
            e-pastu: <a href="mailto:info.latvia@vastint.eu">info.latvia@vastint.eu</a>. Paziņojumi, kas tiks saņemti
            e-pastā pēc plkst. 17:00 tiks uzskatīti par saņemtiem nākamajā darba
            dienā.</span></span></p> <p><span><span><strong>Personas datu apstrāde</strong></span></span></p> <p><span><span>Mēs iegūstam un apstrādājam Jūsu personas datus saskaņā ar datu
            aizsardzības tiesību aktiem, kas piemērojami nacionālajā un arī
            Eiropas Savienības līmenī, tajā skaitā 2016. gada 27. aprīļa Eiropas
            Parlamenta un Padomes Regula (ES) 2016/679 (Vispārīgā datu
            aizsardzības regula). Ja Jūs mums nodosiet jebkādus Jūsu personas
            datus, izmantojot Mājaslapu, lūgums iepazīties ar mūsu Privātuma
            politiku.</span></span></p> <p><span><span><strong>Izmaiņas Lietošanas noteikumos</strong></span></span></p> <p><span><span>Mēs varam ik pa laikam pārskatīt un aktualizēt šos Lietošanas
            noteikumus pēc mūsu ieskatiem. Visas izmaiņas stājas spēkā
            nekavējoties, kad tās publicējam un Jūsu tālāka Mājaslapas
            izmantošana pēc pārskatīto Lietošanas noteikumu publicēšanas nozīmē,
            ka Jūs pieņemat un piekrītat šīm izmaiņām. Neierobežojot iepriekš
            minēto, no Jums tiek sagaidīts, ka Jūs pārbaudāt šo lapu katru
            reizi, kad piekļūstat Mājaslapai, lai pamanītu jebkādas mūsu veiktās
            izmaiņas un apzinātos tās, ņemot vērā, ka tās Jums ir
            saistošas.</span></span></p> <p><br></p> <p><span><span><strong>Piekļuve Mājaslapai un konta drošība</strong></span></span></p> <p><span><span>Mēs paturam tiesības jebkurā brīdī atsaukt vai grozīt šo Mājaslapu
            un jebkuru tajā augšupielādētu pakalpojumu vai materiālu, pēc mūsu
            ieskatiem un bez iepriekšēja brīdinājuma. Ja Jūs nepiekrītat šādiem
            grozījumiem, Jūs varat izvēlēties pārtraukt izmantot Mājaslapu. Mēs
            nebūsim atbildīgi (jebkāda iemesla dēļ), ja visa vai daļa no
            Mājaslapas nav pieejama jebkurā brīdī vai jebkurā laika periodā.
            Laiku pa laikam mēs varam liegt lietotājiem pieeju Mājaslapai
            (pilnībā vai daļēji).</span></span></p> <p><span><span>Jūs esat atbildīgs, lai nodrošinātu visus pasākumus, kas
            nepieciešami, lai Jums būtu pieeja Mājaslapai.</span></span></p> <p><span><span>Jums ir pienākums nodrošināt, ka visas personas, kas piekļūst
            Mājaslapai caur Jūsu interneta pieslēgumu, ir informētas par šiem
            Lietošanas noteikumiem un ka šīs personas ievēro tos.</span></span></p> <p><span><span><strong>Intelektuālā īpašuma tiesības </strong></span></span></p> <p><span><span>Mājaslapa un viss tās saturs, iespējas un funkcionalitāte
            (ieskaitot, bet neaprobežojoties ar visu informāciju, programmatūru,
            tekstu, attēlojumu, attēliem, video un audio, un arī tās dizainu,
            atlasi un izkārtojumu) ir: (1) Sabiedrības, tās licences devēju,
            citu Interogo Holding AG sabiedrību vai citu šādu materiālu
            sniedzēju īpašums; un (2) aizsargātas saskaņā ar Latvijas un
            starptautiskajiem autortiesību, preču zīmju, patentu, firmu
            nosaukumu un/vai citu intelektuālā īpašuma vai īpašumtiesību tiesību
            aktiem.</span></span></p> <p><span><span>Jums ir atļauts izmantot Mājaslapu tikai Jūsu personīgai,
            nekomerciālai lietošanai. Jums nav atļauts kopēt, mainīt, radīt
            atvasinātus darbus, publiski izstādīt, publiski izpildīt,
            pārpublicēt, lejupielādēt, uzglabāt vai raidīt jebkuru Mājaslapas
            materiālu, izņemot:</span></span></p> <p lang="lv-LV" align="justify"><span><span>īslaicīgi uzglabāt šādu materiālu kopijas Jūsu datora brīvpieejas
            atmiņā (Random Access Memory, jeb RAM);</span></span></p> <p lang="lv-LV" align="justify"><span><span>uzglabāt datnes, ko kešatmiņā automātiski ieraksta interneta
            pārlūkprogramma attēla uzlabošanas nolūkiem; un/vai</span></span></p> <p lang="lv-LV" align="justify"><span><span>izdrukāt saprātīgu daudzumu lapu no Mājaslapas personīgai,
            nekomerciālai lietošanai.</span></span></p> <p lang="lv-LV" align="justify">&nbsp;</p> <p><span><span>Jums nav atļauts:</span></span></p> <p lang="lv-LV" align="justify"><span><span>veikt izmaiņas jebkuru Mājaslapas materiālu kopijās;</span></span></p> <p lang="lv-LV" align="justify"><span><span>izmantot jebkādas ilustrācijas, fotogrāfijas, video vai audio
            secības vai jebkuras grafikas atsevišķi no pavadošā teksta un/vai
            citiem mērķiem, kas nav Jūsu personīgā, nekomerciālā
            lietošana;</span></span></p> <p lang="lv-LV" align="justify"><span><span>dzēst vai izmainīt jebkuru autortiesību, preču zīmju vai citu
            īpašumtiesību paziņojumus no Mājaslapas materiālu kopijām.</span></span></p> <p lang="lv-LV" align="justify">&nbsp;</p> <p><span><span>Jums nav atļauts reproducēt, pārdot vai izmantot jebkādiem
            komerciāliem mērķiem jebkuru Mājaslapas daļu, piekļuvi Mājaslapai
            vai Mājaslapas lietošanu vai jebkurus ar Mājaslapas starpniecību
            pieejamos pakalpojumus vai materiālus.</span></span></p> <p><span><span>Ja Jūs drukājat, kopējat, maināt, lejupielādējat vai citādi
            izmantojat jebkuru Mājaslapas daļu, pārkāpjot Lietošanas noteikumus,
            Jūsu tiesības lietot Mājaslapu nekavējoties izbeigsies un Jums ir
            jāatgriež vai jāiznīcina jebkuras materiālu kopijas, ko esat
            izgatavojis. Šādā gadījumā Jūs varat tikt brīdināts par darbībām no
            Sabiedrības puses saskaņā ar augstākminēto. Neviena tiesība,
            īpašumtiesības vai interese Mājaslapā vai attiecībā uz to vai
            jebkuru tās saturu nepāriet Jums, un visas tiesības, kas nav īpaši
            piešķirtas, patur Sabiedrība. Jebkāda Mājaslapas lietošana, kas nav
            īpaši atļauta saskaņā ar šiem Lietošanas noteikumiem, ir šo
            Lietošanas noteikumu pārkāpums un var pārkāpt autortiesību, preču
            zīmju un citus tiesību aktus.</span></span></p> <p><span><span><strong>Sabiedrības preču zīme </strong></span></span></p> <p><span><span>Sabiedrības nosaukums, termins “Vastint” un visi saistītie
            nosaukumi, logotipi, produktu un pakalpojumu nosaukumi, dizaini un
            saukļi ir Sabiedrības preču zīmes vai tirdzniecības nosaukumi. Jums
            nav atļauts izmantot šīs zīmes, reģistrētas vai nereģistrētas, bez
            iepriekšējās rakstveida piekrišanas no Sabiedrības. Visi citi
            nosaukumi, zīmoli un zīmes tiek izmantoti tikai identifikācijas
            nolūkam un ir attiecīgo īpašnieku preču zīmes vai tirdzniecības
            nosaukumi.</span></span></p> <p><span><span><strong>Aizliegta izmantošana</strong></span></span></p> <p><span><span>Jūs varat lietot Mājaslapu tikai likumīgiem mērķiem un saskaņā ar
            šiem Lietošanas noteikumiem. Jums ir pienākums zināt Latvijas
            tiesību aktus un apzināties šo Lietošanas noteikumu saturu.
            Neaprobežojoties ar sekojošām darbībām, Mājaslapu nedrīkst izmantot
            kā norādīts zemāk:</span></span></p> <p lang="lv-LV" align="justify"><span><span>jebkurā veidā, kas pārkāpj jebkādus piemērojamo vietējo vai
            starptautisko tiesību aktu noteikumus;</span></span></p> <p lang="lv-LV" align="justify"><span><span>sūtīt, apzināti saņemt, augšupielādēt, lejupielādēt izmantot vai
            atkārtoti izmantot jebkuru materiālu, kas neatbilst šeit
            norādītajiem noteikumiem;</span></span></p> <p lang="lv-LV" align="justify"><span><span>pārraidīt vai veicināt jebkādu reklāmas vai veicināšanas materiālu,
            tajā skaitā “surogātpasta”, “ķēdes vēstuļu” vai “spama” vai citādu
            uzbāzīgu materiālu sūtīšanu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>Uzdoties vai mēģināt uzdoties par Sabiedrību vai Sabiedrības
            darbinieku, citu lietotāju vai personu vai organizāciju (tajā
            skaitā, bet neaprobežojoties ar e-pasta adrešu vai ekrāna nosaukumu,
            kas saistīti ar kādu no iepriekšminētajiem);</span></span></p> <p lang="lv-LV" align="justify"><span><span>iesaistīties jebkādā citā rīcībā, kas ierobežo vai kavē jebkuras
            personas Mājaslapas lietošanu vai baudīšanu, vai kas pēc mūsu
            ieskatiem varētu kaitēt Sabiedrībai (ieskaitot tās saistītās
            personas vai sadarbības partnerus) vai Mājaslapas lietotājiem vai
            pakļaut tos atbildībai.</span></span></p> <p><br></p> <p><span><span>Mājaslapas lietotājiem papildus nav atļauts:</span></span></p> <p lang="lv-LV" align="justify"><span><span>izmantot Mājaslapu jebkādā veidā, kas varētu atspējot, pārslogot,
            bojāt vai nodarīt kaitējumu Mājaslapai vai traucēt jebkurai citai
            personai lietot Mājaslapu, ieskaitot tās spēju iesaistīties reālā
            laika darbībās ar Mājaslapu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>izmantot jebkādu robotu, zirnekli vai citu automatizētu ierīci,
            procesu vai līdzekli, lai piekļūtu Mājaslapai ar jebkādam mērķim,
            ieskaitot uzraudzīt (monitorizēt) vai kopēt jebkuru Mājaslapas
            materiālu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>izmantot jebkādu mehānisku procesu, lai uzraudzītu (monitorizētu)
            vai kopētu jebkuru Mājaslapas materiālu vai jebkādam citam
            neatļautam mērķim bez mūsu iepriekšējās rakstiskas
            piekrišanas;</span></span></p> <p lang="lv-LV" align="justify"><span><span>izmantot jebkādu ierīci, programmatūru vai rutīnu, kas traucē
            pienācīgu Mājaslapas darbību;</span></span></p> <p lang="lv-LV" align="justify"><span><span>ievadīt jebkādus vīrusus, trojas zirgus, tārpus, loģiskās bumbas
            vai citus materiālus, kas ir ļaunprātīgi vai tehnoloģiski
            kaitīgi;</span></span></p> <p lang="lv-LV" align="justify"><span><span>mēģināt iegūt neatļautu pieeju, iejaukties, bojāt vai izjaukt
            jebkuru Mājaslapas daļu, serveri, uz kura tiek glabāta Mājaslapa vai
            jebkuru serveri, datoru vai datu bāzi, kas saistīta ar
            Mājaslapu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>uzbrukt Mājaslapai ar pakalpojumatteices uzbrukumu vai izkliedēto
            pakalpojumatteices uzbrukumu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>citādi mēģināt traucēt pienācīgu Mājaslapas darbību.</span></span></p> <p><br></p> <p><span><span><strong>Uzraudzība, aizsardzība un pārtraukšana</strong></span></span></p> <p><span><span>Mums ir tiesības:</span></span></p> <p lang="lv-LV" align="justify"><span><span>veikt attiecīgas tiesiskās darbības, tajā skaitā, bet
            neaprobežojoties ar vēršanos tiesībsargājošās iestādēs prettiesiskas
            vai neatļautas Mājaslapas izmantošanas gadījumā;</span></span></p> <p lang="lv-LV" align="justify"><span><span>saņemt pilnu kompensāciju par jebkuriem un visiem zaudējumiem, kas
            tieši vai netieši ir radīti, neatbilstoši lietojot Mājaslapu,
            ieskaitot gadījumus, kad netiek ievēroti šie Lietošanas
            noteikumi;</span></span></p> <p lang="lv-LV" align="justify"><span><span>jebkādu iemeslu dēļ pārtraukt Jūsu pieeju visai vai daļai no
            Mājaslapas, tajā skaitā, bet, neaprobežojoties gadījumos, kad ir
            pārkāpti šie Lietošanas noteikumi.</span></span></p> <p lang="lv-LV" align="justify">&nbsp;</p> <p><span><span>Neierobežojot iepriekšminēto, mums ir tiesības pilnībā sadarboties
            ar jebkurām tiesībsargājošajām iestādēm un/vai izpildīt jebkuru
            tiesas rīkojumu, kas uzliek par pienākumu atklāt jebkuras personas,
            kas publicē jebkādus materiālus mūsu Mājaslapā vai ar tās palīdzību,
            identitāti. Jūs atsakāties celt pretenzijas vai prasības pret
            Sabiedrību par jebkādām prasībām, kas radušās, Sabiedrībai veicot
            uzraudzības vai aizsardzības darbības.</span></span></p> <p><span><span><strong>Paļaušanās uz ievietoto informāciju</strong></span></span></p> <p><span><span>Informācija, kas ir piedāvātā Mājaslapā vai caur to ir darīta
            pieejama tikai vispārīgai informācijai. Mēs negarantējam šīs
            informācijas precizitāti, pilnīgumu vai lietderību. Jūs uzņematies
            risku jebkādai paļaušanās uz šo informāciju. Mēs atsakāmies no visām
            saistībām un atbildības, kas rodas no Jūsu vai jebkura cita
            Mājaslapas lietotāja paļaušanās uz šiem materiāliem vai jebkuras
            citas personas, kas varētu tikt informēta par Mājaslapas
            saturu.</span></span></p> <p><span><span><strong>Izmaiņas Mājaslapā</strong></span></span></p> <p><span><span>Mēs ik pa laikam varam atjaunot Mājaslapu, bet tās saturs nav
            obligāti pilnīgs vai aktuāls jebkurā attiecīgajā brīdī. Jebkurš no
            materiāliem Mājaslapā var būt novecojies jebkurā attiecīgajā brīdī,
            un mums nav pienākums atjaunot šādu materiālu. Mēs varam veikt
            izmaiņas Mājaslapā jebkurā brīdī bez iepriekšēja paziņojuma. Mēs
            varam liegt pieeju Mājaslapai (pilnībā vai daļēji) vai slēgt to uz
            nenoteiktu laiku.</span></span></p> <p><span><span><strong>Informācijas sniegšana un ziņojumi mums</strong></span></span></p> <p><span><span>Lūdzam ņemt vērā, ka Sabiedrība un tās apakšuzņēmēji un ar to
            saistītie uzņēmumi (“Vastint grupa”) saņem lielu daudzumu nevēlamu
            ziņojumu un e-pastu saistībā ar komerciālām iespējām. Jebkurš mums
            sūtīts ziņojums caur Mājaslapu vai ar e-pastu bez iepriekšēja
            pieprasījuma no Vastint grupa puses tiek uzskatīts par nevēlamu.
            Jūsu ziņojums netiks uzskatīts par formālu iepazīstināšanu ar
            mājaslapu vai projektu, un Vastint grupa nepiekrīt nekādām
            vienošanām par maksājumiem, konfidencialitātes apņemšanos vai citām
            vienošanām, saņemot vai izskatot Jūsu ziņojumu. Turklāt Vastint
            grupai nevar būt jebkādā veidā saistošs Jūsu e-pasts un/vai tā
            saturs, vai Vastint grupa nekādā veidā nevar būt ierobežota kārtot
            konkrēto jautājumu pēc saviem ieskatiem.
          </span></span></p> <p><span><span>Nosūtot mums nevēlamu e-pastu, Jūs pilnībā apstiprināt un piekrītat
            augstākminētajam. Ja Jūs nepiekrīt augstākminētajam, lūdzam mums
            nesūtīt ziņojumu.</span></span></p> <p><span><span><strong>Informācija par Jums un Jūsu Mājaslapas apmeklējumiem</strong></span></span></p> <p><span><span>Visi personu dati, ko mēs ievācam ar Mājaslapu, ir pakļauti mūsu
            Privātuma politikai, kas pieejama zemāk. Sniedzot mums jūsu personas
            datus, kad lietojat Mājaslapu, Jūs apliecināt un garantējat, ka visi
            Jūsu sniegtie dati ir pilnīgi, akurāti un aktuāli.</span></span></p> <p><span><span><strong>Saites uz Mājaslapu</strong></span></span></p> <p><span><span>Jūs drīkstat izveidot saiti uz Mājaslapu (</span></span><NuxtLink :to="'/'+ selectedLocale" class="cursor-plus">www.lindenholma.lv</NuxtLink><span><span>), pie nosacījuma, ka Jūs to darāt taisnīgā un tiesiskā veidā un
            tas nebojā mūsu reputāciju vai Jūs negūstat labumu no tā, bet Jūs
            nedrīkstat izveidot saiti tādā veidā, lai radītu iespaidu par
            jebkāda veida asociāciju, apstiprinājumu vai atzīšanu no mūsu puses
            bez iepriekšējas rakstveida piekrišanas.
          </span></span></p> <p><span><span>Jūs nedrīkstat izveidot saiti no jebkuras Mājaslapas, kas nepieder
            Jums.</span></span></p> <p><span><span>Mājaslapu nedrīkst ierāmēt jebkurā citā mājaslapā, kā arī Jūs
            nedrīkstat izveidot saiti uz jebkuru citu Mājaslapas daļu kā tikai
            uz sākumlapu bez skaidri izteiktas rakstiskas piekrišanas no
            Sabiedrības puses.</span></span></p> <p><span><span>Jūs piekrītat sadarboties ar mums, lai pārtrauktu neatļautu
            ierāmēšanu vai sasaisti. Ja Jūs esat atbildīgs par šādām darbībām,
            mēs paturam tiesības bez iepriekšēja paziņojuma atsaukt atļauju
            izveidot saiti.</span></span></p> <p><span><span><strong>Saites uz Mājaslapu</strong></span></span></p> <p><span><span>Ja Mājaslapa satur saites uz citām mājaslapām un trešo personu
            sniegtiem resursiem, šīs saites ir paredzētas tikai Jūsu ērtībai.
            Tas ietver saites reklāmās, tajā skaitā reklāmkarogos un
            sponsorētajās saitēs. Mums nav kontroles pār šajās mājaslapās un
            resursos esošo saturu, un mēs neuzņemamies nekādu atbildību to vietā
            vai par jebkādiem zaudējumiem vai kaitējumu, kas var rasties, Jums
            tos izmantojot. Ja Jūs izlemjat piekļūt jebkurai no trešo personu
            mājaslapām, kuru saites ir Mājaslapā, Jūs to darāt pilnībā uz sava
            riska un atbilstoši šo mājaslapu lietošanas noteikumiem.</span></span></p> <p><span><span><strong>Ģeogrāfiskie ierobežojumi</strong></span></span></p> <p><span><span>Sabiedrība atrodas Latvijā. Piekļuve Mājaslapai var būt
            prettiesiska atsevišķām personām vai no atsevišķām valstīm. Ja Jūs
            piekļūstat Mājaslapai ārpus Latvijas, Jūs to darāt pēc savas
            iniciatīvas un esat atbildīgs par atbilstību vietējiem tiesību
            aktiem, kas uz Jums attiecas, izmantojot Mājaslapu. Ja Jūs esat
            lietotājs, kas mijiedarbojas ar Sabiedrību no vietas, kas atrodas
            ārpus Latvijas, sniedzot savus personas datus, Jūs piekrītat Jūsu
            personas datu nodošanai un apstrādei Latvijā.</span></span></p> <p><span><span><strong>Atteikšanās no garantijām</strong></span></span></p> <p><span><span>Jūs saprotat, ka mēs nevaram garantēt un negarantējam, ka datnes,
            kas pieejamas lejupielādei no interneta vai Mājaslapas būs bez
            vīrusiem vai citiem iznīcinošiem kodiem. Jūs esat atbildīgs ieviest
            pietiekamas procedūras un kontrolpunktus, lai apmierinātu Jūsu
            konkrētās vajadzības antivīrusu aizsardzībai, un datu ievades un
            izvedas precizitātei. Mēs nebūsim atbildīgi par jebkādiem
            zaudējumiem vai kaitējumu, kas radīts ar
          </span></span><span><span>pakalpojumatteices uzbrukumu, vīrusiem vai citiem tehnoloģiski
            kaitējošiem materiāliem, kas var inficēt Jūsu datora iekārtas,
            datorprogrammatūru, datus vai citu Jums piederošo materiālu sakarā
            ar to, ka izmantojat Mājaslapu vai jebkurus pakalpojumus vai preci,
            kas iegūti ar Mājaslapas starpniecību, vai, lejupielādējot jebkuru
            materiālu, kas ir pieejams Mājaslapā vai jebkurā mājaslapā, kuras
            saite ir izvietota tajā.
          </span></span></p> <p><span><span>Jūs uzņematies risku par Mājaslapas, tās satura vai jebkuriem
            pakalpojumiem vai preci, kas iegūti ar Mājaslapas starpniecību,
            izmantošanu no Jūsu puses. Mājaslapa, tās saturs un jebkuri
            pakalpojumi vai prece, kas iegūtu ar Mājaslapas starpniecību, ir
            nodrošināti uz “kā ir” un “kā pieejams” pamata bez jebkādām tiešām
            vai netiešām garantijām. Ne Sabiedrība, ne personas saistītas ar
            Sabiedrību šim, materiālam nedod jebkādu garantiju attiecībā uz
            pilnību, drošību, drošumu, kvalitāti, precizitāti un pieejamību
            Mājaslapā. Neierobežojot iepriekšminēto, Sabiedrība vai jebkurš, kas
            ir saistīts ar Sabiedrību, negarantē, ka Mājaslapa, tās saturs vai
            jebkuri pakalpojumi vai prece, kas iegūti ar Mājaslapas
            starpniecību, būs precīzi, droši, bez kļūdām vai nepārtraukti, ka
            Mājaslapa vai serveris, kas nodrošina tās pieejamību, ir bez
            vīrusiem vai citiem kaitīgiem komponentiem vai ka Mājaslapa vai
            jebkuri pakalpojumi vai prece, kas iegūti ar Mājaslapas
            starpniecību, citādi apmierinās Jūsu vajadzības un vēlmes.</span></span></p> <p><span><span>Sabiedrība ar šo noliedz jebkādas tiešas vai netiešas, likumiskas
            vai citādas garantijas, tajā skaitā, bet neaprobežojoties ar
            garantijām uz piemērotību pārdošanai, tiesību nepārkāpšanu vai
            piemērotību konkrētajam mērķim.
          </span></span></p> <p><span><span>Iepriekšminētais neattiecas uz garantijām, kuras nevar izslēgt vai
            ierobežot saskaņā ar piemērojamajiem tiesību aktiem.</span></span></p> <p><span><span><strong>Atbildības ierobežošana</strong></span></span></p> <p><span><span>Nekādā gadījumā Sabiedrība, tās apakšuzņēmēji vai licences devēji,
            pakalpojumu sniedzēji, darbinieki, pārstāvji, amatpersonas, vadītāji
            vai dalībnieki nav atbildīgi par jebkādiem zaudējumiem saskaņā ar
            jebkuru tiesību teoriju, kas rodas no vai saistībā ar Mājaslapas,
            mājaslapu, kuru saites ir pieejamas Mājaslapā, jebkura Mājaslapas
            vai šo citu mājaslapu satura vai jebkuru pakalpojumu un preces, kas
            iegūta ar Mājaslapas vai šo citu mājaslapu starpniecību, izmantošanu
            vai nespēju to izmantot, tajā skaitā jebkādiem tiešiem, netiešiem,
            īpašiem, nejaušiem, izrietošiem vai sodošiem zaudējumiem, tajā
            skaitā, bet neaprobežojoties ar miesas bojājumiem, sāpēm, ciešanām,
            emocionāliem pārdzīvojumiem, negūtiem ieņēmumiem, negūto peļņu,
            uzņēmējdarbības zaudēšanu vai paredzēto uzkrājumu zaudēšanu,
            lietošanas zaudēšanu, nemateriālo vērtību zaudēšanu, datu zaudēšanu,
            neskatoties uz to, vai tas ir radies ārpus līgumiski (t.sk.
            nolaidības gadījumā), pārkāpjot līgumu vai citādi, pat tad, ja tas
            bija paredzams.</span></span></p> <p><span><span>Iepriekšminētais neattiecas uz atbildību, ko nevar izslēgt vai
            ierobežot saskaņā ar piemērojamajiem tiesību aktiem.</span></span></p> <p><span><span><strong>Atlīdzināšana</strong></span></span></p> <p><span><span>Jūs piekrītat aizsargāt, atlīdzināt un necelt pretenzijas pret
            Sabiedrību, tās apakšuzņēmējiem un licences devējiem, to
            attiecīgajām amatpersonām, vadītājiem, darbiniekiem, sadarbības
            partneriem, pārstāvjiem, licenču devējiem un piegādātājiem par
            jebkādām prasībām, atbildību, zaudējumiem, spriedumiem, lēmumiem,
            kaitējumu, izmaksām, izdevumiem vai citiem maksājumiem (tajā skaitā
            samērīgiem juridiskajiem izdevumiem), kas rodas no vai saistībā ar
            šo Lietošanas noteikumu pārkāpšanu vai Mājaslapas izmantošanu no
            Jūsu puses, tajā skaitā, bet neaprobežojoties ar jebkura Mājaslapas
            satura, pakalpojumu vai produktu izmantošanu vai Jums izmantojot
            informāciju, kas iegūta Mājaslapā.</span></span></p> <p><span><span><strong>Piemērojamais likums un jurisdikcija</strong></span></span></p> <p><span><span>Visi jautājumi saistībā ar šiem Lietošanas noteikumiem un jebkuri
            strīdi vai prasības, kas rodas no vai ir saistīti ar tiem, to
            priekšmetu vai to rašanos (katrā gadījumā, skaitot ārpus līgumiskus
            strīdus un prasības) tiek regulēti un, interpretēti saskaņā ar
            Latvijas tiesību aktiem, neīstenojot jebkādas izvēles tiesības vai
            tiesību kolīziju noteikumus vai nosacījumus.</span></span></p> <p><span><span>Jūs piekrītat iesniegt jebkādu juridisku prasību, darbību vai
            procesu, kas rodas no vai saistībā ar šiem Lietošanas noteikumiem
            vai Mājaslapu, ekskluzīvi kompetentajām tiesām, kas atrodas
            Latvijā.</span></span></p> <p><span><span><strong>Atteikšanās un daļēja spēkā neesamība</strong></span></span></p> <p><span><span>Neviena atteikšanās no šiem Lietošanas noteikumiem no Sabiedrības
            puses netiks uzskatīta par turpmāku vai pastāvīgu atteikšanos no šī
            noteikuma vai nosacījuma vai jebkura cita noteikuma vai nosacījuma,
            un jebkāda tiesību neaizstāvēšana no Sabiedrības puses netiks
            uzskatīta par atteikšanos no šādas tiesības vai noteikuma.</span></span></p> <p><span><span>Ja jebkuru no šo Lietošanas noteikumu nosacījumiem kompetentās
            jurisdikcijas tiesa atzīst par jebkādu iemeslu dēļ spēkā neesošu,
            pretlikumīgu vai nepiemērojamu, šāds nosacījums tiks izslēgts vai
            ierobežots, tādējādi, lai pārējie Lietošanas noteikumu nosacījumi
            būtu pilnībā spēkā esoši.
          </span></span></p> <p><span><span><strong>Pilnīga vienošanās</strong></span></span></p> <p><span><span>Šie Lietošanas noteikumi sastāda vienīgo un pilnīgu vienošanos
            starp Jums un Sabiedrību saistībā ar Mājaslapu un aizstāj visas
            iepriekšējās un esošās vienošanās, līgumus, apliecinājumus un
            garantijas, gan rakstītas, gan mutiskas, saistībā ar
            Mājaslapu.</span></span></p> <p><span><span><strong>Jūsu komentāri un jautājumi</strong></span></span></p> <p><span><span>Visas Jūsu atgriezeniskās saites, komentāri, pieprasījumi pēc
            tehniskā atbalsta vai citas komunikācijas saistībā ar Mājaslapu ir
            jāiesniedz caur
          </span></span><a href="mailto:info.latvia@vastint.eu">info.latvia@vastint.eu</a><span><span><span>.</span></span></span></p> <p><span><span>Mājaslapu uztur Vastint Latvia SIA, sabiedrība, kas ir reģistrēta
            un darbojas saskaņā ar Latvijas Republikas tiesību aktiem,
            reģistrēta Komercreģistrā ar Nr. 40003647511, ar juridisko adresi
            Mārupes nov.,Mārupe, Malduguņu iela 4, LV-2167, Latvija.</span></span><span style="color: rgb(38, 38, 38);"><span>
            Sabiedrība ir saistītā sabiedrība Interogo Holding AG.</span></span></p> <p><span><span>Paldies, ka izmantojat mūsu Mājaslapu.</span></span></p> <h3>Privātuma politika</h3> <p><span><span><em>Pēdējās izmaiņas veiktas:&nbsp;24.05.2018</em></span></span></p> <p><span><span><strong>Ievads</strong></span></span></p> <p><span><span>Vastint Latvia SIA, sabiedrība, kas ir reģistrēta un darbojas
            saskaņā ar Latvijas Republikas tiesību aktiem, reģistrēta
            Komercreģistrā ar Nr. 40003647511, ar juridisko adresi Mārupes nov.,Mārupe, Malduguņu iela 4, LV-2167, Latvija (turpmāk saukta par “</span></span><span><span><strong>Sabiedrība</strong></span></span><span><span><span>”, “</span></span></span><span><span><strong>mēs</strong></span></span><span><span><span>” vai “</span></span></span><span><span><strong>mums</strong></span></span><span><span>”) ciena Jūsu privātumu un ir apņēmusies aizsargāt to, ievērojot šo
            Privātuma politiku.</span></span></p> <p><span><span>Sabiedrība ir pārzinis attiecībā uz Jūsu personas datu apstrādi
            atbilstoši 2016. gada 27. aprīļa Eiropas Parlamenta un Padomes
            Regulai (ES) 2016/679 (Vispārīgā datu aizsardzības regula).
          </span></span></p> <p><span><span>Privātuma politika apraksta personīgo informāciju, ko mēs ievācam
            no Jums vai ko Jūs mums sniedzat
          </span></span><NuxtLink :to="'/'+ selectedLocale" class="cursor-plus">www.lindenholma.lv</NuxtLink><span><span><span> (mūsu “</span></span></span><span><span><strong>Mājaslapa</strong></span></span><span><span>”) un kā šādu informāciju mēs varētu izmantot.</span></span></p> <p><span><span>Mūsu privātuma politika neattiecas uz informāciju, kas tiek ievākta
            trešo personu mājaslapās, kuras saite ir pieejama vai kura ir
            pieejama no mūsu Mājaslapas.</span></span></p> <p><span><span>Lūgums uzmanīgi izlasīt zemāk norādīto informāciju, lai saprastu
            mūsu nostādnes un metodes saistībā ar Jūsu personīgo informāciju un
            kā mēs ar to apiesimies.</span></span></p> <p><span><span><strong>Informācija, ko ievācam par Jums</strong></span></span></p> <p><span><span>Mēs varam ievākt sekojošu informāciju par jums:</span></span></p> <p lang="lv-LV" align="justify"><span><span>informācija, ko mēs ievācam, Jums pārlūkojot mūsu Mājaslapu, tajā
            skaitā IP adreses, sīkdatnes (cookies) un tīmekļa bāksignālus (web
            beacons), ja vien jūs neesat atstatījis sīkdatņu izmantošanu jūsu
            pārlūkprogrammas uzstādījumos (lūgums skatīt mūsu Sīkdatņu politiku
            sīkākai informācijai);
          </span></span></p> <p lang="lv-LV" align="justify"><span><span>vārdu un uzvārdu, kontaktinformāciju, dokumentus un korespondences
            kopijas (ieskaitot Jūsu e-pasta adreses) u.tml. datus, ja Jūs
            sazināties ar mums un brīvprātīgi sniedzat mums minētos datus.</span></span></p> <p lang="lv-LV" align="justify">&nbsp;</p> <p><span><strong>Lietojuma informācija, IP adreses, sīkdatnes un citas
            tehnoloģijas</strong></span></p> <p><span><span><strong>Lietojuma informācija un IP adreses</strong></span></span><span><span>. Mēs varam ievākt statistisku informāciju par mūsu Mājaslapas
            lietotāju ierīcēm, pārlūkošanas darbībām un modeļiem. Šāda
            informācija izriet no Mājaslapas apmeklējuma un pārlūkošanas no Jūsu
            puses, piemēram: (a) datplūsmas, logi un citi saziņas dati; (b)
            informācija par piekļūtajiem resursiem no Jūsu puses; un (c)
            informācija par Jūsu datoru un interneta pieslēgumu (piemēram, tajā
            skaitā Jūsu IP adresi, operētājsistēmu un pārlūkprogrammas veidu)
            sistēmas administrācijai.</span></span></p> <p><span><span><strong>Sīkdatnes (Cookies)</strong></span></span><span><span>. Mēs varam iegūt informāciju par vispārīgu Jūsu interneta
            izmantošanu, izmantojot sīkdatnes. Sīkdatne ir maza datne, kas
            glabājas uz Jūsu datora cietā diska. Sīkdatņu izmantošana palīdz
            mums uzlabot mūsu Mājaslapu un sniegt labākus un personalizētākus
            pakalpojumus, ļaujot mums:</span></span></p> <p>&nbsp;</p> <p lang="lv-LV" align="justify"><span><span>noteikt mūsu auditorijas lielumu un izmantošanas modeļus;</span></span></p> <p lang="lv-LV" align="justify"><span><span>saglabāt informāciju par Jūsu vēlmēm, ļaujot mums pielāgot
            Mājaslapu atbilstoši Jūsu individuālajām interesēm; un</span></span></p> <p lang="lv-LV" align="justify"><span><span>atpazīt Jūs, kad Jūs atgriežaties mūsu Mājaslapā. </span></span></p> <p><br></p> <p><span><span>Jūs varat atteikties pieņemt sīkdatnes, ieslēdzot atbilstošu
            uzstādījumu Jūsu pārlūkprogrammā. Tomēr, ja Jūs izvēlaties šo
            uzstādījumu, Jūs varat nepiekļūt atsevišķām Mājaslapās daļām. Ja
            vien Jūs neesat pielāgojis Jūsu pārlūkprogrammas uzstādījumu tā, ka
            tā atsakās no sīkdatnēm, Jūsu sistēma turpinās pieņemt sīkdatnes,
            kad Jūs ar savu pārlūkprogrammu novirzāt uz mūsu Mājaslapu. Lūgums
            vairāk informācijai skatīt Sīkdatņu politiku.</span></span></p> <p><span><span><strong>Tīmekļa bāksingāli (Web Beacons). </strong></span></span><span><span>Mājaslapa var saturēt elektroniskus attēlus, zināmus kā tīmekļa
            bāksingāli (arī saukti par viena pikseļa gif datnēm). Tīmekļa
            bāksignāli ļauj Sabiedrībai ievākt noteiktu informāciju attiecībā uz
            Mājaslapas lietotājiem, tajā skaitā, piemēram, lietotāju skaitu, kas
            piekļūst katrai lapai, datplūsmu, logus un citus saziņas datus,
            informāciju attiecību uz resursu piekļuvi, un informāciju par
            lietotāju datoru un interneta pieslēgumu (tajā skaitā, IP adreses,
            operētājsistēmām un pārlūkprogrammas veidiem). Tīmekļa bāksignāli
            netiek izmantoti, lai piekļūtu Jūsu personīgajai informācijai
            Mājaslapā, un tiek izmantoti tikai, lai apkopotu statistiku
            attiecībā uz Mājaslapas izmantošanu un pārbaudītu sistēmas un
            servera integritāti.</span></span></p> <p><span><span><strong>Informācijas izmantošana un datu apstrādes mērķi</strong></span></span></p> <p><span><span>Mēs izmantojam informāciju, ko par Jums ievācam vai ko Jūs mums
            sniedzat sekojošiem mērķiem:</span></span></p> <p lang="lv-LV" align="justify"><span><span>lai pasniegtu mūsu Mājaslapu un tās saturu piemērotā un efektīvā
            veidā Jums un Jūsu datoram;</span></span></p> <p lang="lv-LV" align="justify"><span><span>lai sniegtu Jums informāciju, ko esat pieprasījis no mums;</span></span></p> <p lang="lv-LV" align="justify"><span><span>lai informētu Jūs par mūsu jaunajiem pakalpojumiem vai produktiem,
            vai izmaiņas tajos, tajā skaitā tiešo mārketingu, ja Jūs konkrēti
            piekritīsiet saņemt šādu informāciju, sniedzot mums Jūsu
            datus;</span></span></p> <p lang="lv-LV" align="justify"><span><span>lai apkopotu lietotāju statistiku;</span></span></p> <p lang="lv-LV" align="justify"><span><span>lai nodrošinātu drošību un uzlabojumus mūsu Mājaslapai.</span></span></p> <p><span><span>Gadījumā, ja jūs konkrēti piekrītat (brīvprātīgi sniedzot mums jūsu
            personas datus priekš mārketinga vajadzībām), mēs varam izmantot
            jūsu personas datus tiešā mārketinga vajadzībām, piemēram, lai
            personīgi sazinātos ar Jums, sniegtu informāciju par mūsu
            pakalpojumiem, piedāvājumiem vai dažādiem ieguvumiem vai paziņot
            jums par konkrētiem komerciāliem piedāvājumiem, individuāli
            pielāgotiem jūsu iespējamajiem pieprasījumiem vai jautājumiem par
            Sabiedrību, mūsu pakalpojumiem vai produktiem.
          </span></span></p> <p><span><span>Jūs jebkurā laikā varat atteikties no jūsu personas datu
            izmantošanas tiešā mārketinga vajadzībām (atsaukt jūsu
            piekrišanu).</span></span></p> <p><span><span><strong>Datu apstrādes tiesiskais pamats</strong></span></span></p> <p><span><span>Mēs apstrādājam jūsu personas datus, balstoties uz šādiem
            tiesiskajiem pamatiem:</span></span></p> <p lang="lv-LV" align="justify"><span><span>normatīvo aktu izpildei - lai izpildītu mums saistošos ārējos
            normatīvajos aktos noteiktu pienākumu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>saskaņā ar jūsu kā datu subjekta piekrišanu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>likumīgās (leģitīmās) interesēs - lai realizētu mūsu no likuma
            izrietošas leģitīmās (likumīgās) intereses.</span></span></p> <p><br></p> <p><span><span><strong>Jūsu informācijas nodošana</strong></span></span></p> <p><span><span>Mēs varam nodot jūsu datus citām personām, kurus mēs nolīgstam,
            lai:</span></span></p> <p lang="lv-LV" align="justify"><span><span>nodrošinātu un analizētu Mājaslapas darbību (piemēram, informācijas
            sistēmu konsultantiem un analītisko un pētījumu veikšanas
            pakalpojumu sniedzējiem);</span></span></p> <p lang="lv-LV" align="justify"><span><span>nodrošinātu mārketinga un pārdošanas pakalpojumus, ja esat
            brīvprātīgi sniedzis mums savus datus mārketinga vajadzībām.</span></span></p> <p><span><span>Mēs piesaistām tikai tādas trešās personas, kuras sniedz
            pietiekamas garantijas tehnisko un organizatorisko pasākumu
            īstenošanai, lai datu apstrāde atbilstu normatīvo aktu prasībām un
            tiktu nodrošināta jūsu tiesību aizsardzība.</span></span></p> <p><span><span>Tāpat mēs varam nodot Jūsu personu datus trešajām personām,
            lai:</span></span></p> <p lang="lv-LV" align="justify"><span><span>ievērotu jebkādu tiesas lēmumu vai citu tiesisku pienākumu;</span></span></p> <p lang="lv-LV" align="justify"><span><span>īstenotu un piemērotu mūsu Lietošanas noteikumus un citus līgumus;
            un</span></span></p> <p lang="lv-LV" align="justify"><span><span>aizsargātu Sabiedrības un ar to saistīto personu tiesības, īpašumu
            vai drošību. Tas ietver informācijas apmaiņu aizsardzībai pret
            krāpšanu un kredītriska samazināšanai.</span></span></p> <p><br></p> <p><span><span>Diemžēl informācijas pārraide ar interneta starpniecību nekad nav
            100% droša. Lai arī mēs darām visu iespējamo, lai aizsargātu Jūsu
            personīgo informāciju, mēs nevaram garantēt Jūsu personīgās
            informācijas, kas tiek pārraidīta uz mūsu Mājaslapu, drošību.
            Jebkura personīgās informācijas nodošana ir Jūsu pašu risks.</span></span></p> <p><span><span><strong>Jums ir sekojošas tiesības attiecībā uz Jūsu personas datu
              apstrādi:</strong></span></span></p> <p lang="lv-LV" align="justify"><span><span>iespēja iegūt no Sabiedrības (pēc attiecīga pieprasījuma un bez
            maksas) apstiprinājumu, ka mēs apstrādājam Jūsu personas datus, kā
            arī detaļas par to apstrādi.
          </span></span></p> <p lang="lv-LV" align="justify"><span><span>tiesības labot, atjaunināt, bloķēt vai padarīt anonīmus datus, kas
            tika apstrādāti pretēji normatīvo aktu prasībām, it īpaši datus, kas
            ir nepilnīgi vai neprecīzi;</span></span></p> <p lang="lv-LV" align="justify"><span><span>tiesības pieprasīt Sabiedrībai dzēst jūsu personas datus, kas
            pieejami Sabiedrībai (normatīvajos aktos noteiktajos
            gadījumos);</span></span></p> <p lang="lv-LV" align="justify">&nbsp;</p> <p lang="lv-LV" align="justify"><span><span>tiesības ierobežot Jūsu personas datu apstrādi (normatīvajos aktos
            noteiktajos gadījumos);</span></span></p> <p lang="lv-LV" align="justify"><span><span>tiesības iebilst (bez maksas un bez jebkāda pamatojuma) Jūsu
            personas apstrādei tiešā mārketinga mērķiem vai datu nodošanai šādam
            mērķim;</span></span></p> <p lang="lv-LV" align="justify"><span><span>tiesības saņemt personas datus attiecībā uz sevi, kurus jūs esat
            sniedzis Sabiedrībai;</span></span></p> <p lang="lv-LV" align="justify"><span><span>tiesības nebūt par lēmumu, kas pieņemti tikai uz automātisku datu
            apstrādes pamata un kas Jums radīja juridiskas sekas,
            subjektu.</span></span></p> <p lang="lv-LV" align="justify">&nbsp;</p> <p><span><span>Lai īstenotu šīs tiesības, Jūs varat iesniegt pieteikumu, kam ir
            jābūt parakstītam un datētam, uz sekojošu adresi:
          </span></span><a href="mailto:info.latvia@vastint.eu">info.latvia@vastint.eu</a><span><span><span>.</span></span></span></p> <p><span><span><strong>Uzglabāšanas ilgums</strong></span></span></p> <p><span><span>Mēs uzglabāsim datus tik ilgu laika periodu, kas nepieciešams
            mērķiem, kas uzskaitīti zem “Informācijas izmantošana (datu
            apstrādes mērķi)”, bet ne ilgāk kā 5 gadus. Pēc tam, kad dati vairs
            nav nepieciešami minētajiem mērķiem, tie tiks iznīcināti.</span></span></p> <p><span><span><strong>Izmaiņas mūsu Privātuma politikā</strong></span></span></p> <p><span><span>Tā ir mūsu nostādne jebkuras izmaiņas mūsu Privātuma politikā
            publicēt šajā lapā. Datums, kad mūsu Privātuma politika tika pēdējo
            reizi pārskatīta, ir identificēts šīs lapas augšā. Ja mēs veiksim
            izmaiņas šajā Privātuma politikā pirms šīs izmaiņas stājās spēkā,
            mēs lūgsim Jums atjaunot Jūsu piekrišanu mūsu Privātuma
            politikai.</span></span></p> <p><span><span><strong>Sūdzības par privātumu</strong></span></span></p> <p><span><span>Ja Jums ir jebkādi jautājumi par Jūsu personas datu, kurus mēs
            apstrādājam, privātumu vai Jums ir ar privātumu saistīta sūdzība,
            lūgums sūtīt mums e-pastu uz
          </span></span><a href="mailto:info.latvia@vastint.eu">info.latvia@vastint.eu</a><span><span>. Mēs ar Jums sazināsimies četrpadsmit (14) dienu laikā, lai
            apstiprinātu e-pasta saņemšanu. Pēc Jūsu e-pasta saņemšanas, mēs
            izmeklēsim Jūsu jautājumu vai sūdzību un centīsimies sniegt Jums
            mūsu atbildi saprātīgā laikā, bet ne ilgāk kā mēneša laikā pēc Jūsu
            e-pasta nosūtīšanas mums.
          </span></span><span><span>Jums tāpat ir tiesības vērsties personas datu aizsardzības
            uzraudzības iestādē (Latvijas Republikas Datu valsts
            inspekcijā)</span></span></p> <p><span><span><strong>Kontaktinformācija.</strong></span></span></p> <p><span><span>Lai uzdotu jautājumus vai komentētu par mūsu Privātuma politiku un
            mūsu privātuma metodēm, lūgums sazināties ar mums caur
          </span></span><a href="mailto:info.latvia@vastint.eu">info.latvia@vastint.eu</a><span><span><span>.</span></span></span></p> <p><br></p> <h3>Sīkdatņu politika</h3> <p><span><span><em>Pēdējās izmaiņas veiktas:&nbsp;24.05.2018</em></span></span></p> <p><span><span>Šajā mājaslapā </span></span><NuxtLink :to="'/'+ selectedLocale" class="cursor-plus">www.lindenholma.lv</NuxtLink><span><span> (“Mājaslapa”) </span></span><span><span>Vastint Latvia SIA, sabiedrība, kas ir reģistrēta un darbojas
            saskaņā ar Latvijas Republikas tiesību aktiem, reģistrēta
            Komercreģistrā ar Nr. 40003647511, ar juridisko adresi Mārupes nov.,Mārupe, Malduguņu iela 4, LV-2167, Latvija, var izlikt sīkdatnes un/vai tīmekļa
            bāksignālus. Šī Sīkdatņu politika izskaidro, kas ir sīkdatnes un
            tīmekļa bāksignāli, kad tie var tikt izvietoti un kā Jūs varat
            iebilst sīkdatņu un/vai tīmekļa bāksignālu izvietošanai.</span></span></p> <p><span><span>Sīkdatne (cookie) ir maza teksta datne, kas tiek uzglabāta uz Jūsu
            datora vai ierīces, ar ko tiek pārlūkotas Mājaslapas (turpmāk visi
            kopā: “dators”). Tādēļ, ka sīkdatne tiek uzglabāta uz Jūsu datora,
            Mājaslapa var atpazīt Jūsu datoru. Sīkdatne nevar palaist programmas
            vai izplatīt vīrusus.</span></span></p> <p><span><span>Tīmekļa bāksignāli (web beacons) ir elektroniski attēli, arī saukti
            kā viena pikseļa gif datnes. Tīmekļa bāksignāli ļauj Sabiedrībai
            vākt noteiktu informāciju attiecībā uz Mājaslapas lietotājiem, tajā
            skaitā, piemēram,
          </span></span><span><span>lietotāju skaitu, kas piekļūst katrai lapai, datplūsmu, logus un
            citus saziņas datus, informāciju attiecībā uz resursu piekļuvi, un
            informāciju par lietotāju datoru un interneta pieslēgumu (tajā
            skaitā, IP adreses, operētājsistēmām un pārlūkprogrammas
            veidiem).</span></span></p> <p><span><span>Ciktāl mēs apkopojam personu datus, izmantojot sīkdatnes un/vai
            tīmekļa bāksignālus, mēs apstrādājam šos personu datus saskaņā ar
            Privātuma politiku.</span></span></p> <p><span><span><strong>Sīkdatnes mūsu Mājaslapā</strong></span></span></p> <p><span><span><em>Funkcionālās (svarīgās) sīkdatnes</em></span></span></p> <p><span><span>Mēs izmantojam funkcionālās sīkdatnes, lai nodrošinātu mājaslapu
            pārlūkošanu. Šīs sīkdatnes ļauj mums:</span></span></p> <p lang="lv-LV" align="justify"><span><span>saglabāt informāciju par Jūsu vēlmēm, ļaujot mums pielāgot
            Mājaslapu atbilstoši Jūsu individuālajām interesēm; un</span></span></p> <p lang="lv-LV" align="justify"><span><span>atpazīt Jūs, kad Jūs atgriežaties mūsu Mājaslapā. </span></span></p> <p><br></p> <p><span><span>Mēs izmantosim funkcionālās sīkdatnes kā aprakstīts zemāk esošajā
            tabulā.</span></span></p> 
            
            <div class="table-wrapper">

              <table width="99%" cellspacing="0" cellpadding="1"><tbody><tr><td colspan="6" width="100%"><p><span><span><span><em>Funkcionālās sīkdatnes</em></span></span></span></p></td></tr> <tr><td width="24%"><p><span><span><span><strong>Nosaukums</strong></span></span></span></p></td> <td width="14%"><p><span><span><span><strong>Funkcija</strong></span></span></span></p></td> <td width="15%"><p><span><span><span><strong>Ievietotājs</strong></span></span></span></p></td> <td width="15%"><p><span><span><span><strong>Fiksētā informācija</strong></span></span></span></p></td> <td width="15%"><p><span><span><span><strong>Kas piekļūst</strong></span></span></span></p></td> <td width="17%"><p><span><span><span><strong>Beidzas</strong></span></span></span></p></td></tr> <tr><td width="24%"><p><span><span><span>_icl_current_language</span></span></span></p></td> <td width="14%"><p><span><span><span>Saglabā lietotāja izvēlēto valodu</span></span></span></p></td> <td width="15%"><p><span><span><span>Mājaslapa</span></span></span></p></td> <td width="15%"><p><span><span><span>Izvēlētās valodas kods (piem., LV)</span></span></span></p></td> <td width="15%"><p><span><span><span>Mājaslapa</span></span></span></p></td> <td width="17%"><p><span><span><span>Pēc 30 dienām </span></span></span></p></td></tr></tbody>
              </table>

            </div>
            
            <p><br></p> <p><span><span><em>Analītiskās sīkdatnes</em></span></span></p> <p><span><span>Analītiskās sīkdatnes fiksē, kā apmeklētāji izmanto Mājaslapas. Šī
            informācija var tikt izmantota, lai analizētu mūsu Mājaslapu
            izmantošanu un veidotu statistiku. Mēs varam ievākt statistisku
            informāciju par mūsu Mājaslapas lietotāju ierīcēm, pārlūkošanas
            darbībām un modeļiem. Šāda informācija var ietvert:</span></span></p> <p lang="lv-LV" align="justify"><span><span>datplūsmu, logus un citus saziņas datus;</span></span></p> <p lang="lv-LV" align="justify"><span><span>informāciju attiecību uz resursiem, kuriem Jūs piekļūstat; un</span></span></p> <p lang="lv-LV" align="justify"><span><span>informāciju par Jūsu datoru un interneta pieslēgumu (tajā skaitā,
            IP adreses (pēdējie objekti ir slēpti), operētājsistēmām un
            pārlūkprogrammas veidiem.</span></span></p> <p><br></p> <p><span><span>Mēs izmantosim analītiskās sīkdatnes kā aprakstīts zemāk esošajā
            tabulā.</span></span></p> 
            
            
            <table width="82%" cellspacing="0" cellpadding="1"><tbody><tr><td colspan="3" width="100%"><p><span><span><span><em>Analītiskās sīkdatnes</em></span></span></span></p></td></tr> <tr><td width="17%"><p><span><span><span><strong>Nosaukums</strong></span></span></span></p></td> <td width="52%"><p><span><span><span><strong>Funkcija</strong></span></span></span></p></td> <td width="31%"><p><span><span><span><strong>Beidzas</strong></span></span></span></p></td></tr> <tr><td width="17%"><p><span><span><span><strong>_ga</strong></span></span></span></p></td> <td width="52%"><p><span><span><span>Atšķir lietotājus</span></span></span></p></td> <td width="31%"><p><span><span><span>2 gadi</span></span></span></p></td></tr> <tr><td width="17%"><p><span><span><span><strong>_gat</strong></span></span></span></p></td> <td width="52%"><p><span><span><span>Ierobežo pieprasījumu apjomu</span></span></span></p></td> <td width="31%"><p><span><span><span>10 minūtes</span></span></span></p> <p>&nbsp;</p></td></tr></tbody></table> <p><br></p> <p><a name="_GoBack"></a> <span><span><strong>Sīkdatņu noraidīšana un dzēšana</strong></span></span></p> <p><span><span>Apmeklējot un izmantojot Mājaslapu, Jūs piekrītat šai Sīkdatņu
            politikai. Jūs tiekat informēts par sīkdatņu un līdzīgu tehnoloģiju
            izmantošanu pirms sīkdatņu un/vai tīmekļa bāksignālu
            ievietošanas.</span></span></p> <p><span><span>Izmantojot pārlūkprogrammas iestatījumus, kas ļauj izmantot
            sīkdatnes, Jūs piekritāt sīkdatņu un līdzīgu ierīču izmantošanu
            Mājaslapā. Ja Jūs izvēlēsieties atteikties no mūsu sīkdatnēm un/vai
            tīmekļa bāksignāliem, mēs neizvietosim analītiskās sīkdatnes vai
            citas sīkdatnes, kas nav obligāti nepieciešamas. Lūdzam ņemt vērā,
            ka šādā gadījumā mūsu Mājaslapa var nefunkcionēt korekti.</span></span></p> <p><span><span>Jūs varat iestatīt Jūsu pārlūkprogrammu tādā veidā, ka sīkdatnes
            netiek uzglabātas, ka Jūs varat apstiprināt vai noraidīt katru
            sīkdatni vai ka visas sīkdatnes tiek izdzēstas, kad Jūs aizverat
            Jūsu pārlūkprogrammu. Noderīga informācija par sīkdatņu un tīmekļa
            bāksignālu pārvaldīšanu ir pieejama arī informatīvajā mājaslapā:
          </span></span><a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org</a><span><span><span>.</span></span></span></p> <p><span><span>Lūgums ņemt vērā, ka ja Jūs atsakāties un/vai dzēšat sīkdatnes,
            izmainot Jūsu pārlūkprogrammas iestatījumus, tas ietekmēs arī
            svarīgās sīkdatnes. Tas var ierobežot iespēju izmantot Mājaslapu vai
            tās daļas.</span></span></p> <p><span><span>Ja Jums ir jautājumi par mūsu Sīkdatņu politiku, lūgums sazināties
            ar mums: <a href="mailto:info.latvia@vastint.eu">info.latvia@vastint.eu</a> .</span></span></p>
    </div>
    
</template>

<style lang="scss" scoped>
@use '@/assets/variables';
    
h3 {
    font-size: 32px;
    font-family: $third-font;
}
a {
    text-decoration: underline;
}

</style>