@use "../../variables";

.about {
    .section {
        &__intro {
            .headline {
                transform: rotateZ(90deg);
                top: 40vh;
                left: -152px;
                letter-spacing: -4px;
                @media(max-width: 1650px) {
                    left: -11vw;
                        top: unset;
                        bottom: 27vh;
                }
            }
            .section-index {
                bottom: -1vw;
                left: 131px;
            }
        }
        &__idea {
            padding-top: 74px;
            padding-bottom: 0px;
            .container {
                padding-top: 0px;
                padding-bottom: 0px;
                overflow: visible;
            }
            .image {
                margin-top: 62px;
                max-width: 45%;
                flex: 0 0 45%;
            }
            // temp fix
            // .image {
            //     position: relative;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         top: 0px;
            //         left: 0px;
            //         width: 100%;
            //         height: 100%;
            //         background-color: #f3e9bb;
            //     }
            // }
            .text {
                max-width: 55%;
                flex: 0 0 55%;
                //padding-left: 70px;
                //padding-right: 43px;
                padding-left: 50px;
                padding-right: 0px;
                overflow: visible;
                .text-box {
                    overflow: visible;
                }
                .main-text,.main-text p {
                    overflow: visible;
                }
                .sub-text {
                    padding-top: 41px;
                    font-size: 21px;
                    margin-left: 279px;
                }
            }
        }
        &__video {
          height: 1000px;
          padding: 90px;
        }
        &__plan {
            padding-top: 117px;
            padding-bottom: 0px;
            .image {
                max-width: 54% !important;
                flex: 0 0 54% !important;
                padding-top: 54%;
                position: relative;
                background-color: variables.$light-green;
                img {
                    position: absolute;
                    width: 75% !important;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .text {
                max-width: 46% !important;
                flex: 0 0 46% !important;
            }
            .container {
                padding-bottom: 0px !important;
            }
            .headline {
                transform: rotateZ(90deg);
                // top: 409px;
                // left: -183px;
                top: 210px;
                left: -296px;
            }
            .text-box {
                top: 201px;
                left: 183px !important;
            }
        }
        &__comfort {
            padding-top: 0px !important;
            .container {
                padding-top: 148px;
            }
            .index-line {
                top: 72px;
                right: 355px;
            }
            .text-box {
                top: 77px;
            }
            .headline {
                top: 207px;
                right: -242px;
            }
        }
        &__location {
            // temp fix
            // .image {
            //     position: relative;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         top: 0px;
            //         left: 0px;
            //         width: 100%;
            //         height: 100%;
            //         background-color: #f3e9bb;
            //     }
            // }
            .index-line {
                left: 204px;
                top: 30px;
            }
            .text-box {
                top: 62px;
            }
        }
        &__ready {
            // temp fix
            // .sub-image-wrapper {
            //     position: relative;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         top: 0px;
            //         left: 0px;
            //         width: 100%;
            //         height: 100%;
            //         background-color: #f3e9bb;
            //     }
            // }
            .index-line {
                right: 355px;
                top: 10px;
            }
            .text-box {
                top: 41px;
            }
        }
        &__greens {
            .index-line {
                top: 30px;
                left: 204px;
            }
            .text-box {
                top: 62px;
            }

        }
        &__quality {
            .index-line {
                top: 16px;
                right: 355px;
            }
            .text-box {
                top: 41px;
            }
            padding-bottom: 116px !important;
        }
        &__portfolio {
            padding-top: 221px;
            padding-bottom: 210px;
        }
        &__form {
            padding-top: 0px;
            background-color: variables.$pitch;
        }
        &__plan,&__comfort,&__location,&__ready,&__greens,&__quality {
            padding-top: 0px;
            padding-bottom: 0px;
            .container {
                padding-top: 117px;
                padding-bottom: 167px;
                .index-line {
                }
                .text-box {
                    p {
                        &.title-text {
                            font-size: 26px;
                        }
                        &.main-text {
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
                &.align-right {
                    padding-bottom: 181px;
                    .text-box {
                        left: 125px;
                    }
                }
            }
        }
    }
}
