@use "../../variables";

.mobile .apartments {
  .section {
    &__gallery {
      .image {
        .gallery {
          .tab-slider.slick-slider {
            .slick-list {
              overflow: scroll;
            }
          }
          .b-tabs.tabs {
            .tabs {
              height: 0px !important;
              display: none !important;
            }
            .tab-content {
              .tab {
                height: 100% !important;
              }
            }
          }

        }
      }
    }
    &__list {
      .enter-filters-block {
        .right {
          width: 100% !important;
          max-width: 100% !important;
          flex: 0 0 100% !important;
          height: 525px;
          .enter-filter-title {
            font-size: 61px;
            line-height: 48px;
            margin-bottom: 30px;
          }
          .buttons {
            .col {
              margin: 0px !important;
              max-width: 100% !important;
              width: 100% !important;
              flex: 0 0 100% !important;
              height: 274px;
              margin-bottom: 30px !important;
              .cube {
                position: absolute !important;
              }
            }
          }
          .text-wrapper {
            position: relative;
            .desc {
              max-width: 274px;
              width: 274px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}
.apartments {
    .section {
        &__landing {
            .headline {
                top: unset;
                right: -160px;
                bottom: 360px;
                letter-spacing: -4px;
                @media (max-width: 1650px) {
                    right: -9vw;
                    top: unset;
                    bottom: 26vh;
                }
            }
            @media (max-width: 950px) {
                .bg-image {
                    background-position-x: 24%;
                }
            }
            .section-index {
                bottom: 0vw;
                right: 8%;
            }
        }
        &__intro {
            height: auto !important;
            padding-top: 50px;
            padding-bottom: 0px;
            .controls {
                .controls-letters {
                    svg {
                        text {
                            font-family: variables.$third-font !important;
                            font-weight: 500;
                            &#CH,&#TH,#YH,&#VL {
                                letter-spacing: -0.005em;
                            }
                        }
                    }
                }
            }
        }
        &__gallery {
            padding-top: 100px;
            padding-bottom: 137px;
            .container {
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .image {
                max-width: 61%;
                flex: 0 0 61%;
            }
            .text {
                max-width: 39%;
                flex: 0 0 39%;
                position: relative !important;
                .main-text,.main-text p {
                    text-align: right;
                    position: relative !important;
                    width: 100% !important;
                    padding-right: 20px;
                    margin-top: 80px;
                }
            }
            .section-index {
                left: 272px;
                bottom: -105px;
            }
        }
        &__list {
            padding-top: 90px;
            padding-bottom: 90px;
            .container {
                background-image: url('/images/plans/square_bg.png');
                background-size: contain;
                padding-top: 0px;
                padding-bottom: 0px;
                overflow: visible;
            }
            .left {
                .carousel-wrapper {
                    padding: 0px;
                    .slide {
                        padding-left: 21%;
                        padding-right: 12%;
                        position: relative;
                        .apartment-code {
                            position: absolute;
                            bottom: 25px;
                            left: 12px;
                            font-size: 37px;
                        }
                        .img-wrapper {
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .slick-dots {
                      bottom: 45px;
                    }
                }
            }
            .right form .form-box .choices{
                svg {
                    g,circle,line {
                        transition: stroke 0.3s ease;
                    }
                }
                input:checked ~ svg {
                    g,circle,line {
                        stroke: variables.$bronze !important;
                    }
                }
            }
        }
        &__decoration {
            padding-top: 137px;
            padding-bottom: 44px;

            .container {
                padding-top: 100px;
                padding-bottom: 50px;
                position: relative;
                overflow: visible;

            }
            .image {
                max-width: 50%;
                flex: 0 0 50%;
                .gallery .b-tabs.tabs .tab-content .tab {
                  display: none !important;
                  &.active.show {
                    display: block !important;
                  }
                }
            }
            .text {
                left: unset !important;
                right: 0px;
                width: 0px !important;
                .cube {
                    top: 234px;
                    right: 228px;
                    z-index: 2;
                }
                .headline {
                    transform: unset;
                    top: 115px;
                    right: 147px;
                }
            }
            .section-index {
                transform: rotateZ(-90deg);
                right: 368px;
                top: 396px;
            }
        }
        &__enviroment {
            padding-top: 0px;
            overflow: visible;
            .container {
                overflow: visible;
                padding-top: 189px;
                position: relative;

                .boxes {
                    max-width: 954px !important;
                    margin: 0 auto;
                    .row {
                        margin-top: 0px !important;
                        &:not(:last-child) {
                            margin-bottom: 75px;
                        }
                        .box {
                            padding: 0 27px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
                .headline {
                    transform: rotateZ(90deg);
                    left: -245px;
                    top: 130px;
                }
                .section-index {
                    left: 5px;
                    top: 405px;
                }
            }
        }
        &__rent {
            padding-top: 150px;
            padding-bottom: 107px;
            .container {
                padding-top: 0px;
                padding-bottom: 10px;
                height: 732px !important;
                .image {
                    max-width: 71%;
                    flex: 0 0 71%;
                    .gallery {
                        height: 100%;
                        .carousel-wrapper {
                            height: 100%;
                        }
                    }
                }
                .text {
                    width: 0px !important;
                    .cube {
                        top: 281px;
                        left: 209px;
                        z-index: 2;
                    }
                }
                .headline {
                    transform: unset;
                    width: 560px;
                    line-height: 150px;
                    margin-top: 65px;
                    overflow: visible;
                    span {
                        line-height: 124px;
                        &:last-child {
                            margin-left: 95px;
                        }
                    }
                }
                .section-index {
                    transform: rotateZ(-90deg);
                    bottom: -66px;
                    left: 94px;
                }
            }
        }
        &__form {

        }
    }
}
