@use "../../variables";

.blogs-page {
  .section {
    &__blogs {
      padding-top: 0;
      .container {
        padding-top: 87px;
        padding-left: 26px;
        padding-right: 26px;
      }
      .blogs-title-row, .blogs-list {
        @media(min-width: 951px) {
          margin-left: calc(var(--blog-col-padding) * -1);
          margin-right: calc(var(--blog-col-padding) * -1);
        }
      }
      .blogs-title {
        font-size: 72px;
        line-height: 0.75;
        margin-bottom: calc(15px * 2);
        padding: 0 var(--blog-col-padding);
      }
      .blogs-list {
        display: flex;
        flex-wrap: wrap;
        .blog-thumb {
          max-width: 30.33%;
          flex: 0 0 33.33%;
          // height: 650px;
          padding: var(--blog-col-padding);
          margin-bottom: 10px;
          &-image {
            width: 100%;
            height: 360px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &-body {
            padding-top: 1.4rem;
          }
          &-title {
            font-family: variables.$main-font;
            line-height: 1.1;
          }
          &-excerpt {
            font-family: variables.$third-font;
            font-size: 15px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.blog-page {
  background-color: variables.$c-light;
  min-height: 100vh;
  .section-main {
    padding-top: 0;
    .container {
      padding-top: 87px;
      padding-bottom: 0;
    }
  }
  &.main-page .large-text-section .main-text {
    line-height: 1 !important;
  }
  .section {
    &-main {
      &__img {
        @media(min-width: 950px) {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }
        img {
          // object-fit: contain;
          width: 100%;
          height: auto;
          @media(min-width: 950px) {
            max-width: 100%;
            max-height: 70vh;
            width: unset;
            height: unset;
          }
        }
      }
      &__body {
        width: 100%;
        flex: 0 0 auto;
        margin-top: calc(var(--blog-col-padding) * 2);
        p {
          text-align: left;
        }
        @media(min-width: 950px) {
          max-width: 70%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media(min-width: 950px) {
        padding-left: calc(90px + 8%);
        padding-right: calc(90px + 8%);
        padding-bottom: 60px;
        .row {
          display: flex;
          flex-wrap: wrap;
          margin-left: -35px;
          margin-right: -35px;
          .col {
            padding-left: 35px;
            padding-right: 35px;
          }
        }
        &__img , &__content {
          width: 50%;
          flex: 0 0 auto;
        }
        &__content {
          margin-top: 5.4375rem;
          margin-top: 8%;
        }
      }
    }
    &__intro {
      height: 100vh;
    }
    &__header {
      padding-top: 0px;
      padding-bottom: 40px;
      @media(min-width: 950px) {
        padding-bottom: 0;
        .blog-page-date {
          margin-bottom: 1.5rem;
        }
        .blog-page-title {
          margin-bottom: 0;
        }
      }
      &.extra-padding {
        padding-top: 180px;
      }
      .container {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    &__video {
      padding: 90px;
    }
    &__body {
      padding-top: 60px;

      .blog-page-body-text.container {
        @media(min-width: 950px) {
          padding-right: 50%;
        }
        @media(min-width: 1921px) {
          padding-right: 30vw;
        }
        @media(min-width: 2561px) {
          padding-right: 20%;
        }
      }
    }
    &__gallery {
      height: auto;
      padding: 0 calc(90px + 10%) 90px calc(90px + 10%);
      @media(min-width: 559px) {
        padding-left: 4.4vw;
        padding-right: 4.4vw;
      }
      @media(min-width: 950px) {
        padding-left: calc(90px + 14%);
        padding-right: calc(90px + 14%);
      }
      .container {
        max-width: calc(var(--container-max-width) - 10%);
      }
      .row {
        margin-left: calc(var(--blog-col-padding) * -1);
        margin-right: calc(var(--blog-col-padding) * -1);
        .slick-slide {
          padding: 0 var(--blog-col-padding);
        }
      }
      .slick-track {
        display: flex;
        justify-content: center;
      }
      .carousel-wrapper {
        @media(min-width: 950px) {
          height: 55vh;
          max-height: 55rem;
        }
      }
      .carousel-next, .carousel-prev {
        width: 30% !important;
      }
      .carousel-next {
        right: -10% !important;
      }
      .carousel-prev {
        left: -10% !important;
      }
    }
    &__body, &__gallery {
      .container {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
    &.body-text-section {
      flex-direction: column;
    }
  }
  &-date {
    font-size: 11px;
    letter-spacing: 3.5px;
    @media(min-width: 950px) {
      font-size: 15px;
    }
  }
  &-title {
    margin-bottom: 1rem;
  }
  &-body-text {
    font-size: 15px;
    font-weight: 300;
    @media(min-width: 950px) {
      font-size: 18px;
    }
  }
}
