@use "../../variables";

.documentation {
    .title {
        p {
            font-size: 66px !important;
            line-height: 50px !important;
            font-family: variables.$main-font !important;
            font-weight: 600 !important;
        }
    }
    .has-square-meters
        p {
            // position: relative;
            // display: flex;
        }
    // .square-meters {
    //     position: relative;
    //     font-size: 50%;
    //     margin-bottom: 10px;
    //     margin-right: 5px;
    // }
    footer {
        padding-top: 0px !important;
    }
}
