@use "../../variables";

.page-filters, .page-apartment-apartment, .page-interface, .page-building-building {
  .cursor {
    display: none;
  }
  .cursor-plus, .b-checkbox, .b-radio {
    &:hover {
      cursor: pointer;
    }
  }
  .floor-plan-container svg {
    .st0 {
      &:not(.taken) {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.filter-page, .interface-page, .main-page {
  .b-checkbox, .b-radio {
    &.checkbox, &.radio {
      outline: none;
      display: inline-flex;
      align-items: center;
      .control-label {
        padding-left: 10px;
        transition: color 0.3s ease;
      }
      input[type=checkbox], input[type=radio] {
        position: absolute;
        left: 0;
        opacity: 0;
        outline: none;
        z-index: -1;
      }

      input[type=checkbox]+.check, input[type=radio]+.check {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        border: 1px solid variables.$pitch;
        background: transparent;
        position: relative;
        transition: border 0.3s ease;
        &:before {
          opacity: 0;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          transition: opacity 0.3s ease;
          width: 6px;
          height: 6px;
          background-color: variables.$pitch;
        }
        &:after {
          opacity: 0;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          transition: opacity 0.3s ease;
          width: 100%;
          height: 100%;
          background-image: url('/images/slash.svg');
        }
      }

      input[type=checkbox]:checked+.check, input[type=radio]:checked+.check {
        &:before {
          opacity: 1;
        }
      }
      input[type=checkbox]:disabled, input[type=radio]:disabled {
        ~ .control-label {
          color: #C8C8CB;
        }
        ~ .check {
          border: 1px solid #C8C8CB;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  .checkbox-square {
    .b-checkbox, .b-radio {
      &.button, &.radio {
        width: 28px;
        height: 18px;
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 1px solid variables.$pitch;
        color: variables.$pitch;
        text-align: center;
        white-space: nowrap;
        font-size: 15px;
        transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
        position: relative;
        &.is-primary {
          background-color: variables.$pitch;
          color: variables.$beige;
        }
        &:after {
          opacity: 0;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          transition: opacity 0.3s ease;
          width: 100%;
          height: 100%;
          background-image: url('/images/slash-wide.svg');
        }
      }
    }
    &.disabled {
      .b-checkbox {
        border: 1px solid #C8C8CB;
        color: #C8C8CB;
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .switch {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: .5em;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    width: 100%;
    &:not(.has-left-label) .control-label {
      margin-right: auto;
    }
    input[type=checkbox] {
      position: absolute;
      left: 0;
      opacity: 0;
      outline: none;
      z-index: -1;
    }
    input[type=checkbox]+.check:before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background: variables.$pitch;
      transition: transform .15s ease-out;
      will-change: transform;
      transform-origin: left;
    }
    input[type=checkbox]+.check, input[type=checkbox]+.check:before {
      border-radius: 9999px;
    }
    input[type=checkbox]:checked+.check:before {
      transform: translate3d(130%,0,0);
    }
    input[type=checkbox]+.check {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 36px;
      height: 18px;
      padding: 3px;
      background: variables.$beige;
      border: 1px solid variables.$pitch;
    }
  }
}

.filter-page {
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
  min-height: 100vh;
  background: variables.$beige;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  .desktop {
    flex: auto;
    display: flex;
    flex-direction: column;
    .filter {
      flex: auto;
      display: flex;
      flex-direction: column;
      .furniture-switch {
        .switch-container {
          width: 100%;
        }
      }
    }
  }
  .filter-list {
    .page-title {
      margin-left: 215px;
      margin-bottom: 27px;
      width: 450px;
    }
    .filters-flex-wrapper {
      display: flex;
      flex-wrap: nowrap;
    }
    .filter-list-sidemenu {
      width: 278px;
      max-width: 278px;
      flex: 0 0 278px;
      margin-right: 100px;
      margin-top: 46px;
      .filter-group {
        margin-bottom: 18px;
        .background {
          white-space: nowrap;
          width: fit-content;
          opacity: 0;
          visibility: hidden;
          height: 0px;
        }
      }
      .filter-group-list {
        .reset-btn {
          display: block;
          max-width: 100%;
          flex: 0 0 100%;
        }
        .filter-item {
          .control-label {
            font-weight: 300;
            font-size: 15px;
            color: variables.$pitch;
          }
          &:first-child {
            margin-top: 18px;
          }
          margin-bottom: 18px;

          &.checkbox-list {
            margin-bottom: 16px;
          }
        }
        &.flex-row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .filter-item {
            margin-right: 15px;
            margin-top: 18px;
            margin-bottom: 18px;
          }
        }
      }
    }
    .filter-results {
      width: 100%;
      .filter-item-apartment {
        .col-1 {
          .chevron {
            display: none;
          }
        }
      }
      .sort-menu {
        display: flex;
        align-content: center;
        align-items: center;
        p {
          margin-right: 16px;
          &:last-child {
            margin-right: 50px;
          }
        }
        .sort-by-btn {
          &.disabled {
            color: #9797A8;
          }
        }
        .description {
          margin-right: 50px;
          margin-left: auto;
        }
        .sort-order-btn {
          width: 19px;
          height: 19px;
          border: 1px solid variables.$pitch;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          transition: border 0.3s ease;
          &.asc {
            margin-right: 90px;
            margin-left: 1px;
          }
          svg {
            path,line {
              stroke: variables.$pitch;
              transition: stroke 0.3s ease;
            }
          }
          &.disabled {
            border: 1px solid #9797A8;
            svg {
              path,line {
                stroke: #9797A8;
              }
            }
          }
        }
      }
      .no-results-box {
        margin-left: auto;
        margin-right: auto;
        padding: 18px 29px;
        border: 1px solid variables.$pitch;
        width: fit-content;
        margin-top: 25px;
      }
      .pagination {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 35px;
        align-items: center;
        align-content: center;
        .margin {
          margin-right: 9px;
        }
        .page {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          //border: 1px solid #c8c8cb;
          border: 1px solid variables.$pitch;
          //border-radius: 20px;
          transition: border 0.3s ease, background-color 0.3s ease;
          p {
            transition: color 0.3s ease;
            //color: #c8c8cb;
            color: variables.$pitch;
          }
          &.active {
            background-color: variables.$pitch;
            p {
              color: variables.$beige;
            }
          }
          &.prev-page {
            transform: rotateZ(-90deg);
          }
          &.next-page {
            transform: rotateZ(90deg);
          }
          &.prev-page,&.next-page {
            width: 24px;
            height: 24px;
            border: 1px solid variables.$pitch;
            svg {
              path,line {
                transition: stroke 0.3s ease;
              }
            }
            &.disabled {
              border: 1px solid #c8c8cb;
              svg {
                path,line {
                  stroke: #c8c8cb;
                }
              }
            }
          }
          &:not(:last-child) {
            margin-right: 9px;
          }
        }
      }
    }
  }
  .collapse {
    .card-header {
      .header-top {
        display: flex;
      }
      .header-bot {
        p {
          color: #9797A8;
          span {
            color: #9797A8;
          }
        }
      }
      .card-header-icon {
        margin-left: auto;
      }
      .chevron {
        transition: transform 0.3s ease;
        transform: rotateX(180deg);
        &.rotate {
          transform: rotateX(0deg);
        }
      }
    }
    .filter-btn {
      &.disabled {
        color: #C8C8CB;
      }
    }
  }
  .switch-container {
    .switch {
      .control-label {
        transition: color 0.3s ease;
      }
      .check {
        transition: border 0.3s ease;
        &::before {
          transition: background 0.3s ease;
        }
      }
    }
    &.disabled {
      .switch {
        .control-label {
          color: #C8C8CB !important;
        }
        .check {
          border: 1px solid #C8C8CB;
          &::before {
            background: #C8C8CB;
          }
        }

      }
    }
  }
  .b-slider {
    margin: 1em 0;
    background: transparent;
    width: 100%;
    .b-slider-thumb {
      height: 18px;
      width: 18px;
    }
    .b-slider-track {
      height: 1px;
      display: flex;
      align-items: center;
      position: relative;
      background:  #C1C1C3;
      .b-slider-fill {
        position: absolute;
        height: 100%;
        border-radius: 4px;
        top: 50%;
        transform: translateY(-50%);
        background: variables.$pitch;
      }
      .b-slider-thumb-wrapper {
        display: inline-flex;
        align-items: center;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        flex-direction: column;
        .b-slider-thumb {
          box-shadow: none;
          border: 1px solid variables.$pitch;
          border-radius: 9px;
          background: variables.$beige;
        }
        .b-tooltip {
          position: relative;
          display: inline-flex;
          .tooltip-content {
            width: auto;
            padding: .35rem .75rem;
            border-radius: 6px;
            font-size: .85rem;
            font-weight: 400;
            box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
            z-index: 38;
            white-space: nowrap;
            position: absolute;
          }
          .tooltip-trigger {
            width: 100%;
          }
          &.is-top {
            .tooltip-content {
              top: auto;
              right: auto;
              bottom: calc(100% + 5px + 2px);
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

}
.filter-page.mobile {
  padding: 120px 20px 40px 20px;
  .page-title {
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    width: 100%;
    margin-bottom: 0px;
    .medium-text-4 {
      font-size: 52px;
      line-height: 50px;
    }
    .v-medium-text {
      margin-top: 40px;
    }
  }
  .filter-list-sidemenu-wrapper {
    position: fixed;
    z-index: 6;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: variables.$beige;
    padding: 60px 20px;
    overflow: scroll;
    .filter-list-sidemenu {
      max-width: 100%;
      flex: 0 0 100%;
      width: 100%;
    }
  }
  .filter-results {
    .sort-menu {
      display: none;
    }
    .filter-item-apartment {
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 0px;
      .col {
        max-width: 100%;
        flex: unset;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        &::after {
          display: none;
        }
        &.col-1 {
          margin-bottom: 15px;
          position: relative;
          .v-small-text {
            font-size: 13px;
          }
          .v-medium-text {
            font-size: 18px;
          }
          .chevron {
            display: flex;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &.col-2,&.col-3,&.col-4 {
          border-bottom: 1px solid #E7E9EB;
          height: 55px;
          .v-tiny-text {
            margin-left: 0px;
          }
          .medium-text-3 {
            font-size: 18px;
            margin-right: 0px;
          }
        }
        &.col-2,&.col-3,&.col-4,&.col-5 {
          flex-direction: row;
          align-items: center;
          align-content: center;
        }
        &.col-5 {
          height: 60px;
          .v-tiny-text {
            margin-left: 0px;
            margin-right: auto;
          }
          .v-medium-text  {
            order: 3;
            font-size: 18px;
          }
          .price-type-box {
            order: 2;
            margin-right: 10px;
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 55px;
    z-index: 7;
    background-color: variables.$beige;
    border-bottom: 1px solid variables.$pitch;
    border-top: 1px solid variables.$pitch;
    .apt-nav,.filter-nav {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      display: flex;
    }
    button {
      border: unset;
    }
    .black-btn {
      height: 100%;
      width: 100%;
    }
    .btn-arrow {
      margin-left: auto;
      position: relative;
      display: flex;
      align-content: center;
      align-items: center;
      height: 100%;
      p {
        margin-left: 30px;
        margin-right: 10px;
      }
      svg {

      }
      &::before {
        content: '';
        position: absolute;
        left: 0px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        background-color: variables.$pitch;
      }
    }
  }
}
