@use "../../variables";

.interface-page {
  padding-top: 87px;
  min-height: 100vh;
  display: flex;
  background-color: variables.$beige;
  .filter-interface {
    height: 100%;
    display: flex;
    width: 100vw;
    position: relative;
    .top-nav {
      height: 73px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: variables.$beige;
      padding-left: 90px;
      padding-right: 90px;
      width: 100%;
      z-index: 9;
      .nav-wrapper {
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid variables.$pitch;
      }
      .nav-title {
        margin-left: 57px;
      }
      .change-view-btn {
        margin-right: 0px;
        margin-left: auto;
        display: flex;
        align-items: center;
        align-content: center;
        p {
          margin-right: 10px;
        }
      }
    }
    .filters {
      margin-top: auto;
      margin-bottom: 60px;
      .card-header {
        margin-bottom: 20px;
      }
      .filter-item {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 20px;
        }
      }
      .radio-elevator-btns {
        display: flex;
        .radio-elevator-btn {
          margin-top: 10px;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          border: 1px solid variables.$pitch;
          margin-right: 10px;
        }
      }
    }
    .buttons {
      margin-top: auto;
      margin-bottom: 60px;
      display: flex;
      width: 324px;
      height: 57px;
      min-height: 57px;
      align-content: center;
      align-items: center;
      border-top: 1px solid variables.$pitch;
      border-bottom: 1px solid variables.$pitch;
      position: relative;
      overflow: hidden;
      .prompt {
        margin-left: auto;
        padding-left: 30px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        overflow: hidden;
        transition: padding 0.3s ease, width 0.3s ease;
        .promt-text {
          transition: opacity 0.3s ease;
          color: #9797A8;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0px;
          height: 25px;
          width: 1px;
          top: 50%;
          transform: translateY(-50%);
          background-color: variables.$pitch;
        }
        .black-btn {
          padding-left: 30px;
          padding-right: 30px;
          border: unset;
          height: 100%;
          margin-left: auto;
          position: absolute;
          left: 0px;
          transform: translateX(-100%);
          opacity: 0;
          transition: transform 0.3s ease, opacity 0.3s ease;
          p {
            opacity: 0;
            transition: opacity 0.7s ease;
            margin-right: 10px;
          }
        }
        &.enabled {
          .black-btn {
            transform: translateX(0px);
            opacity: 1;
            p {
              opacity: 1;
            }
          }
          padding-left: 0px;
          .prompt-text {
            opacity: 0;
          }
        }
      }
    }
    .side-nav {
      max-width: 490px;
      flex: 0 0 490px;
      padding-left: 90px;
      position: relative;
      display: flex;
      height: 100%;

      .section-texts {
        position: absolute;
        top: -40px;
        .section-text {
          height: 124px;
          color: #E7E9EB;
          width: 350px;
          line-height: 82%;
          transition: height 0.6s ease, opacity 0.4s ease;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
          &.hide {
            height: 0px;
            opacity: 0;
          }
          &.active {
            color: variables.$pitch;
          }
        }
      }

    }
    .interface {
      position: relative;
      width: 100%;
      height: 100%;
      .loading-overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        // background-color: rgba($color: #000000, $alpha: 0.3);
        .loader {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          // width: 100px;
          // height: 100px;
        }
      }
    }
    .interface-step {
      padding-top: 71px;
      position: absolute;
      top: -100%;
      left: 0px;
      height: 100%;
      transition: top 0.3s ease;
      &.active-step {
        top: 0px;
      }
      &.interface-building-step {
        width: 100%;
        height: 100%;
        .base-image {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .move-dirs {
            position: absolute;
            z-index: 2;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            .carousel-prev,.carousel-next {
              max-width: 50%;
              flex: 0 0 50%;
            }
          }
          .stretch-test {
            position: absolute;
            height: 100%;
            z-index: -10;
            top: 0px;
            left: 0px;
            .test-img {
              display: block;
              height: 100%;
              width: auto;
            }
          }
          .building-buttons {
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            .selected-sector-img {
              position: absolute;
              z-index: 4;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              .close-pop-up {
                position: absolute;
                top: 25px;
                right: 25px;
                border: unset;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
              }
              .bot-info {
                position: absolute;
                bottom: 0px;
                width: 100%;
                padding-bottom: 60px;
                padding-right: 90px;
                padding-left: 280px;
                display: flex;
                .mid {
                  margin-top: 0px;
                  margin-bottom: auto;
                  margin-left: auto;
                  margin-right: auto;
                  display: flex;
                  flex-direction: column;
                  p {
                    color: variables.$beige;
                  }
                  .type-blocks {
                    display: flex;
                    margin-top: 15px;
                    .type-block {
                      width: 30px;
                      height: 18px;
                      border: 1px solid variables.$beige;
                      display: flex;
                      justify-content: center;
                      align-content: center;
                      align-items: center;
                      margin-right: 10px;
                      p {
                        text-transform: uppercase;
                      }
                    }
                  }
                }
                .right {
                  width: 324px;
                  max-width: 324px;
                  flex: 0 0 324px;
                  margin-left: auto;
                  margin-right: 0px;
                  p {
                    color: variables.$beige;
                  }
                }
              }
            }
            .building-btn {
              position: absolute;
              z-index: 3;
              border-radius: 100px;
              width: 38px;
              height: 38px;
              background-color: variables.$beige;
              border: 1px solid variables.$pitch;
              display: flex;
              justify-content: center;
              align-items: center;
              align-content: center;
              &.building-btn-0 {
                top: 44%;
                left: 21%;
              }
              &.building-btn-1 {
                top: 47%;
                left: 39%;
              }
              &.building-btn-2 {
                top: 62%;
                left: 56%;
              }
              &.building-btn-3 {
                top: 48%;
                left: 71%;
              }
              &.building-btn-4 {
                top: 67%;
                left: 84%;
              }
              &.building-btn-5 {
                top: 86%;
                left: 75%;
              }
            }
            .move-img {
              display: block;
              height: 100%;
              width: auto;
            }
            &.no-stretch {
              width: 100%;
              .move-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
              .building-btn {
                &.building-btn-0 {
                  top: 44%;
                  left: 21%;
                }
                &.building-btn-1 {
                  top: 47%;
                  left: 39%;
                }
                &.building-btn-2 {
                  top: 62%;
                  left: 56%;
                }
                &.building-btn-3 {
                  top: 48%;
                  left: 71%;
                }
                &.building-btn-4 {
                  top: 67%;
                  left: 84%;
                }
                &.building-btn-5 {
                  top: 92%;
                  left: 75%;
                }
              }
            }
          }
        }
      }
      &.interface-apartment-step {
        padding-top: 80px;
        width: 100%;
        display: flex;
        .floor-plan-container {
          width: 100%;
          margin-top: 80px;
          position: relative;
          height: fit-content;

          .floor-plan-image-overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            margin-left: -5%;
            width: 110%;
            height: 100%;
            z-index: 4;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .apartment-floor-plan {
            width: 110%;
            margin-left: -5%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
          }

          svg {
            width: 100%;
            z-index: 5;
            .st1 {
              display: none;
            }
            .room-nr {
              .st1 {
                display: block;
                &.selected {
                  z-index: 5;
                }
              }
              &.rooms-1 .st1{
                fill: #6B4A69;
                &.selected {
                  fill: #c779ff;
                }
              }
              &.rooms-2 .st1{
                fill: #4F6049;
                &.selected {
                  fill: #b6ff6c;
                }
              }
              &.rooms-3 .st1{
                fill: #8F6E49;
                &.selected {
                  fill: #ffab6f;
                }
              }
              &.rooms-studio .st1{
                fill: #43425E;
                &.selected {
                  fill: #67a8fd;
                }
              }
              &.taken .st1{
                fill: #C8C8CB;
              }
            }
            .st0 {
              fill: variables.$beige;
              stroke-width: 5px;
              &.rooms-1 {
                stroke: #6B4A69;
                // fill: #ecdcf7;
                fill: #E8D8F2;
                //opacity: 0.25 !important;
                &.selected {
                  opacity: 0.75 !important;
                  // fill: #dcabfc;
                }
              }
              &.rooms-2 {
                stroke: #4F6049;
                //fill: #e5f7d2;
                fill: #BDD5B4;
                //opacity: 0.15 !important;
                &.selected {
                  opacity: 0.60 !important;
                  //fill: #d3fca8;
                }
              }
              &.rooms-3 {
                stroke: #8F6E49;
                // fill: #f1cfbf;
                fill: #F1DABE;
                //opacity: 0.25 !important;
                &.selected {
                  opacity: 0.70 !important;
                  //fill: #f5b99d;
                }
              }
              &.rooms-studio {
                stroke: #43425E;
                //fill: #6ea5ee;
                fill: #CDDBEC;
                //opacity: 0.25 !important;
                &.selected {
                  opacity: 0.70 !important;
                  //fill: #5599f1;
                }
              }
              &.taken {
                fill: #F0F4F0;
                stroke: #C8C8CB;
              }
              &:not(.selected) {
                opacity: 0.4;
              }
              &.selected {
                opacity: 0.45;
              }
            }
          }
        }
        .apartment-floor-info {
          margin-left: 55px;
          margin-right: 90px;
          padding-top: 80px;
          display: flex;
          flex-direction: column;
          max-width: 324px;
          flex: 0 0 324px;
          overflow: scroll;
          .floor-info-title {
            margin-bottom: 20px;
          }
          .floor-info-general {
            .floor-info-box {
              margin-bottom: 20px;
              display: flex;
              &.disabled {
                p {
                  color: #9797A8;
                }
              }
              .right {
                margin-left: auto;
                margin-right: 0px;
              }
            }
          }
          .floor-info-specific {
            width: 100%;
            .floor-info-container {
              border-bottom: 1px solid variables.$pitch;
              padding-top: 40px;
              width: 100%;
              &:first-child {
                padding-top: 0px;
              }
              p {
                margin-bottom: 20px;
                position: relative;
                .cubed {
                  position: absolute;

                }
              }
              .text-box {
                width: 100%;
                display: flex;
                .right {
                  margin-left: auto;
                }
              }
            }
          }
        }
      }
    }
  }
  &.interface-page-step-building {
    .filter-interface {
      .side-nav {
        .section-texts {
          .section-text-3 {
            @media (max-height: 805px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
/**
  * Sliding tiles
  *
  * @author jh3y
*/
@-webkit-keyframes sliding-tile {
  0% {
    -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
            transform: translate(-50%, -50%) translate(-50%, -50%); }
  25% {
    -webkit-transform: translate(-50%, -50%) translate(50%, -50%);
            transform: translate(-50%, -50%) translate(50%, -50%); }
  50% {
    -webkit-transform: translate(-50%, -50%) translate(50%, 50%);
            transform: translate(-50%, -50%) translate(50%, 50%); }
  75% {
    -webkit-transform: translate(-50%, -50%) translate(-50%, 50%);
            transform: translate(-50%, -50%) translate(-50%, 50%); }
  100% {
    -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
            transform: translate(-50%, -50%) translate(-50%, -50%); } }
@keyframes sliding-tile {
  0% {
    -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
            transform: translate(-50%, -50%) translate(-50%, -50%); }
  25% {
    -webkit-transform: translate(-50%, -50%) translate(50%, -50%);
            transform: translate(-50%, -50%) translate(50%, -50%); }
  50% {
    -webkit-transform: translate(-50%, -50%) translate(50%, 50%);
            transform: translate(-50%, -50%) translate(50%, 50%); }
  75% {
    -webkit-transform: translate(-50%, -50%) translate(-50%, 50%);
            transform: translate(-50%, -50%) translate(-50%, 50%); }
  100% {
    -webkit-transform: translate(-50%, -50%) translate(-50%, -50%);
            transform: translate(-50%, -50%) translate(-50%, -50%); } }

.sliding-tiles:after, .sliding-tiles:before {
  -webkit-animation: sliding-tile 1.25s infinite linear;
          animation: sliding-tile 1.25s infinite linear;
  background-color: rgba($color: variables.$pitch, $alpha: 0.5);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px; }

.sliding-tiles:after {
  -webkit-animation: sliding-tile 1.25s -0.625s infinite linear;
          animation: sliding-tile 1.25s -0.625s infinite linear; }


          /**
  * Flip to square
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes flip-to-square {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  50%,
  75% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0); } }
@keyframes flip-to-square {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  50%,
  75% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0);
            transform: rotateX(0); } }

.flip-to-square {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 60px;
  width: 60px; }
  .flip-to-square div {
    -webkit-animation: flip-to-square 1.5s calc(var(--delay) * 1s) infinite backwards;
            animation: flip-to-square 1.5s calc(var(--delay) * 1s) infinite backwards;
    background-color: variables.$pitch }
    .flip-to-square div:nth-child(1) {
      --delay: 0.1; }
    .flip-to-square div:nth-child(2) {
      --delay: 0.2; }
    .flip-to-square div:nth-child(3) {
      --delay: 0.3; }
    .flip-to-square div:nth-child(4) {
      --delay: 0.4; }
    .flip-to-square div:nth-child(5) {
      --delay: 0.5; }
    .flip-to-square div:nth-child(6) {
      --delay: 0.6; }
    .flip-to-square div:nth-child(7) {
      --delay: 0.7; }
    .flip-to-square div:nth-child(8) {
      --delay: 0.8; }
    .flip-to-square div:nth-child(9) {
      --delay: 0.9; }
