@use "../../variables";

.home {
    .section {
        &__intro {
            .overlay-text {
                position: absolute;
                height: 100%;
                top: 0px;
                left: 0px;
                padding-top: 142px;
                padding-bottom: 153px;
                padding-left: 128px;
                img {
                    height: 100%;
                    width: auto;
                    @media (max-width: 500px) {
                        width: 96%;
                        height: auto !important;
                        margin-left: auto;
                        margin-right: -3px;
                        margin-top: 70px;
                    }
                }
            }
            @media (max-width: 500px) {
                .full-container {
                    .bg-image {
                        background-size: 110%;
                        background-position-x: 69%;
                        background-position-y: 89%;
                    }
                }
            }
        }
        &__about {
            .section-index {
                bottom: -120px;
                right: 42%;
                width: 240px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 265px;
            }
            .text {
                max-width: 55%;
                flex: 0 0 55%;
                .text-box {
                    margin-top: 140px;
                    @media (max-width: 1650px) {
                        margin-top: 8.5vw;
                    }
                }
            }
            .main-text,.main-text p {
                text-align: right;
            }
            .main-text {
                padding-right: 75px;
            }
            .sub-text {
                width: 220px;
                position: absolute;
                top: 185px;
                left: 326px;
                margin: 0px;
                @media(max-width: 1650px) {
                    left: 17.75vw;
                    top: 11.21vw;
                    width: 13.3vw;
                    font-size: 0.96vw !important;
                }
                @media (max-width: 1300px) {
                    top: 11vw;
                    left: 14.5vw;
                }
            }
            .cube {
                position: absolute;
                top: 159px;
                left: 52%;
                background-color: transparent;
                @media(max-width: 1650px) {
                    font-size: 0.66vw !important;
                }
                @media (max-width: 950px) {
                    font-size: 11px !important;
                }
            }
            .image {
                max-width: 45%;
                flex: 0 0 45%;
                padding-top: 45%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                position: relative;
                height: 0px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 100% !important;
                }
                .media-info {
                    position: absolute;
                    bottom: 21.5%;
                    left: 50%;
                    transform: translateX(-50%);
                    color: variables.$green;
                    padding: 8px 13px;
                }
            }
        }
        &__location {
            padding-top: 117px;
            padding-bottom: 108px;
            .image {
                max-width: 50%;
                flex: 0 0 50%;
                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
            .container {
                padding-top: 37px;
                padding-bottom: 37px;
            }
            .main-text {
                width: 300px;
                top: 90px;
                right: 136px;
            }
            .cube {
                top: 255px;
                right: 302px;
            }
            .headline {
                top: 380px;
                right: -204px;
                width: 500px;
                height: 230px;
                line-height: 205px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 1648px) {
                    line-height: 12.7vw;
                    width: 30.4vw;
                    height: 14vw;
                    right: -14.1%;
                    top: 46%;
                }

            }
            .section-index {
                right: 4%;
                bottom: -120px;
            }
        }
        &__apartments {
            padding-top: 100px;
            padding-bottom: 137px;
            .container {
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .main-text {
                top: 21px;
                left: 112px;
                width: 300px;
            }
            .cube {
                top: 258px;
                left: 217px;
                z-index: 5;
            }
            .headline {
                transform: none;
                right: unset;
                left: -39px;
                top: 157px;
            }
            .section-index {
                left: -146px;
                top: 300px;
                transform: rotateZ(90deg);
            }
            .text {
                max-width: 40%;
                flex: 0 0 40%;
            }
            .image {
                max-width: 60%;
                flex: 0 0 60%;
            }
        }
        &__standards {
            padding-top: 161px;
            padding-bottom: 161px;
            .container {
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .image {
                max-width: 43%;
                flex: 0 0 43%;
                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
            .main-text {
                top: 191px;
                right: 61px;
                width: 300px;
            }
            .cube {
                top: 275px;
                right: 397px;
                z-index: 5;
            }
            .headline {
                z-index: 4;
                transform: none;
                right: unset;
                left: 166px;
                top: 182px;
            }
            .section-index {
                right: -113px;
                top: 378px;
                transform: rotateZ(-90deg);
            }
        }
        &__comfort {
            padding-top: 105px;
            padding-bottom: 114px;
            .container {
                padding-top: 50px;
                padding-bottom: 0px;
            }
            .main-text,.main-text p {
                width: 382px;
                margin-top: 15px;
            }
            .image {
                max-width: 71%;
                flex: 0 0 71%;
                .carousel-wrapper {
                    padding: 0px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .text {
                max-width: 29%;
                flex: 0 0 29%;
            }
        }
        &__comfort-ext {
            padding-top: 70px;
            padding-bottom: 0px;

            .container {
                padding-top: 142px;
                display: flex;
                justify-content: center;
                padding-bottom: 177px;
            }
            .boxes {
                width: 675px;
                .row {
                    .box {
                        max-width: 300px !important;
                        flex: 0 0 300px !important;
                        .title {
                            text-transform: capitalize;
                        }
                        .title,.text {
                            font-size: 15px;
                        }
                        &:first-child {
                            margin-right: 75px;
                        }
                    }
                }
            }
            .section-index {
                transform: rotateZ(-90deg);
                top: 76px;
                left: -60px;
            }
            .headline {
                top: 272px;
                right: -337px;
            }
        }
        &__blogs {
            padding-top: 0;
            padding-bottom: 177px;
            &__container {
                width: 1205px;
                max-width: 1205px;
                overflow: visible;
                padding-top: 0;
                padding-bottom: 0;
            }
            .blogs-title-wrap {

            }
            .blogs-title {
                font-size: 72px;
                margin-bottom: 15px;
                transform: translateX(-10%);
            }
            .blogs-list {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                margin-left: -20px;
                margin-right: -20px;
                .blog-thumb {
                    max-width: 33.33%;
                    flex: 0 0 33.33%;
                    padding: 20px;
                    &.is-blog-home {
                        .blog-thumb-title {
                            font-family: variables.$third-font;
                            font-size: 18px;
                        }
                    }
                }
                .blog-thumb-image {
                    width: 100%;
                    height: 360px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .blog-thumb-body {
                    padding-top: 20px;
                }
                .blog-thumb-title {
                    font-family: "Noe Display";
                    font-size: 42px;
                }
                .blog-thumb-excerpt {
                    font-family: "BrownLL";
                    font-size: 15px;
                }
                .btn-all {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: calc(100% + 20px);
                    top: 0;
                    height: 4vw;
                    width: 4vw;
                    max-height: 8rem;
                    max-width: 8rem;
                    border: 1px solid variables.$pitch;
                    margin-top: 20px;
                    p {
                        font-size: 11px;
                        letter-spacing: 3.5px;
                    }
                }
            }
        }
        &__form {
            padding-top: 0px;
        }
    }
}