.location {
    .section {
        &__intro {
            .image-container {
                background-color: #e1e6df;
            }
        }
        // temp fix
        // &__general,&__education,&__entertainment,&__shop,&__free-time,&__food {
        //     .image {
        //         position: relative;

        //     }
        //     .sub-image-wrapper {
        //         position: absolute;
        //     }
        //     .image, .sub-image-wrapper {
        //         &:after {
        //             content: '';
        //             position: absolute;
        //             top: 0px;
        //             left: 0px;
        //             width: 100%;
        //             height: 100%;
        //             background-color: #f3e9bb;
        //         }
        //     }
        // }
        &__general {
            padding-top: 0px !important;
            padding-bottom: 0px;
            .container {
                padding-top: 300px;
                padding-bottom: 80px !important;
            }
            .image {
                margin-left: 156px;
                max-width: 30%;
                flex: 0 0 30%;
                @media (max-width: 1648px) {
                    margin-left: 9.4vw;
                }
                img {
                    width: 100% !important; 
                    height: auto !important;
                }
            }
            .text {
                top: 112px !important;
                left: unset !important;
                right: 0px;
                max-width: 70%;
                flex: 0 0 70%;
                padding-left: 70px;
                padding-right: 43px;
                @media (max-width: 1648px) {
                    padding-left: 4vw;
                    padding-right: 2vw;
                }
                .main-text,.main-text p {
                    position: relative !important;
                    text-align: right;
                }
                .text-box {
                    .main-text {
                        @media (max-width: 1428px) {
                            p {
                                font-size: 4.2vw !important;
                                line-height: 3.2vw !important;
                            }
                        }
                    }
                }

                .sub-text {
                    text-align: right;
                    padding-top: 41px;
                    font-size: 21px;
                    margin-right: 82px;
                }
            }
        }
        &__values {
            padding-top: 160px;
            .image {
                max-width: 54% !important;
                flex: 0 0 54% !important;
                .map-wrap {
                    height: 794px;
                    .leaflet-control-container {
                        @media (min-width: 950px) {
                            display: none;
                        }
                    }
                }

            }
            .text {
                max-width: 46% !important;
                flex: 0 0 46% !important;
            }
            .container {
                padding-bottom: 0px !important;
            }
            .headline {
                transform: rotateZ(90deg);
                top: 291px;
                left: -190px;
            }
            .text-box {
                top: 201px;
                left: 183px !important;
                width: 323px !important;
                @media (max-width: 1200px) {
                    left: 120px !important;
                    top: 160px;
                    width: 250px !important;
                }
            }
            .section-index {
                bottom: -110px;
                left: 39px;
            }
        }
        &__education {
            padding-top: 0px;
            .container {
                padding-top: 148px !important;
            }
            .index-line {
                top: 72px;
                right: 355px;
            }
            .text-box {
                // top: 77px;
                top: 67px;
            }
            .headline {
                top: 333px;
                right: -180px;
            }
        }
        &__entertainment {
            .index-line {
                left: 204px;
                top: 30px;
            }
            .text-box {
                top: 62px;
            }
        }
        &__shop {
            .index-line {
                top: 10px;
                right: 355px;
            }
            .text-box {
                top: 42px;
            }
        }
        &__free-time {
            .index-line {
                left: 204px;
                top: 30px;
            }
            .text-box {
                top: 65px;
            }
        }
        &__food {
            .index-line {
                top: 16px;
                right: 355px;
            }
            .text-box {
                top: 41px;
            }
        }
        &__general,&__values,&__education,&__entertainment,&__shop,&__free-time,&__food {
            padding-top: 0px;
            padding-bottom: 0px;
            .container {
                padding-top: 117px;
                padding-bottom: 167px;
                .index-line {
                }
                .text-box {
                    p {
                        &.title-text {
                            font-size: 26px;
                        }
                        &.main-text {
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
                &.align-right {
                    padding-bottom: 181px;
                    .text-box {
                        left: 125px;
                    }
                }
            }
        }
    }
}