@use "../../variables";


.main-page {
    .large-text-section {
        .main-text, .main-text p {
            font-size: 76px !important;
            font-family: variables.$main-font !important;
            font-weight: 600 !important;
            line-height: 60px !important;
        }
    }
    .home .section__about .media-info, .cube, .about .section__plan .button, .about .section__portfolio .button, .standards .section__awards .button{
        font-family: variables.$third-font !important;
        font-size: 11px !important;
        font-weight: 400 !important;
        letter-spacing: 3.5px !important;
    }
    .cover-section {
        .container {
            width: 100%;
            height: 100%;
        }
    }
    .section__form {
        overflow: visible;
        .apply-form {
            margin-bottom: -200px;
        }
    }
    //SAMESIZE_BLOCKS
    .fixed-section {
        height: 1000px;
        padding-top: 0px;
        padding-bottom: 0px;
        .container {
            height: unset;
        }
    }

    .section {
        padding-left: 90px;
        padding-right: 90px;
    }
    .large-text-section {
        .text {
            .text-box {
                .main-text {
                    font-weight: 600;
                }
            }
        }
    }
    h1,h2,h3,h4,h5,h6,p,a,span {
        color: variables.$pitch;
    }
    .image {
        .carousel-wrapper {
            padding-top: 0px !important;
            padding-bottom: 50px !important;
        }
    }
    .default-gallery-size {
        .image {
            height: 552px !important;
        }
    }
    .dark-gallery {
        .gallery {
            margin-top: -39px;
        }
        .tab-slider {
            @media (max-width: 950px) {
                margin-bottom: 20px;
            }
        }
        nav.tabs ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 31px;
          li {
            &:not(:last-child) {
              margin-right: 35px;
            }
            a {
                padding: 5px 13px;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-size: 11px;
                display: block;
                text-align: center;
            }
            &.is-active {
              a {
                font-weight: 700;
              }
            }
        }
        }
        .nav.nav-tabs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 31px;

            li {
                &:not(:last-child) {
                    margin-right: 35px;

                }
                a {
                    padding: 5px 13px;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    font-size: 11px;
                    display: block;
                    text-align: center;

                    &.active {
                      font-weight: 700;
                    }
                }
            }
        }

    }
    .media-info {
        font-size: 8px;

    }
}
