@use "../../variables";

.standards {
    .section {
        &__intro {
            .headline {
                transform: unset;
                bottom: 21px;
                right: 11%;
                letter-spacing: -7px;
                @media (max-width: 1620px) {
                    bottom: 0vw;

                }
            }
            .section-index {
                transform: rotateZ(-90deg);
                bottom: 10.6vh;
                right: 1vw;
                @media (max-width:1620px) {
                    right: 1vw;
                }
            }
        }
        &__quote {
            //padding-top: 114px;
            padding-top: 50px;
            padding-bottom: 0px;
            overflow: visible;
            // temp fix
            // .image {
            //     position: relative;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         top: 0px;
            //         left: 0px;
            //         width: 100%;
            //         height: 100%;
            //         background-color: #f3e9bb;
            //     }
            // }
            .container {
                padding-top: 0px;
                padding-bottom: 0px;
                overflow: visible;
            }
            .image {
                max-width: 45%;
                flex: 0 0 45%;
            }
            .text {
                max-width: 55%;
                flex: 0 0 55%;
                padding-left: 70px;
                padding-right: 43px;
                overflow: visible;
                .text-box {
                    overflow: visible;
                }
                .main-text,.main-text p {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    overflow: visible;
                }
            }
        }
        &__list {
            padding-top: 0px;
            padding-bottom: 0px;
            // temp fix
            // .image {
            //     position: relative;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         top: 0px;
            //         left: 0px;
            //         width: 100%;
            //         height: 100%;
            //         background-color: #f3e9bb;
            //     }
            // }
            .container {
                padding-top: 242px;
                padding-bottom: 0px;
            }
            .boxes {
                max-width: 954px !important;
                margin: 0 auto;
                .row {
                    margin-top: 0px !important;
                    &:not(:last-child) {
                        margin-bottom: 75px;
                    }
                    .box {
                        padding: 0 27px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .section-index {
                left: 58px;
                top: 267px;
            }
            .headline {
                transform: rotateZ(90deg);
                top: 470px;
                left: -345px
            }
        }
        &__projects {
            padding-top: 341px;
            padding-bottom: 159px;
            .container {
                padding-top: 0px;
                padding-bottom: 139px;
            }
            .headline {
                bottom: 211px;
                right: -280px;
            }
            .section-index {
                bottom: -167px;
                right: 66px;
            }
            .boxes {
                .box {
                    .title {
                        text-transform: capitalize !important;
                    }
                }
            }
        }
        &__awards {
            background-color: variables.$pitch;
            padding-top: 169px;
            padding-bottom: 107px;
            // temp fix
            h1,h2,h3,h4,p,a,h4.section-index span {
                color: variables.$beige !important;
            }
            // .bottom .image {
            //     position: relative;
            //     &:after {
            //         content: '';
            //         position: absolute;
            //         top: 0px;
            //         left: 0px;
            //         width: 100%;
            //         height: 100%;
            //         background-color: #f3e9bb;
            //     }
            // }
            .container {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }
    footer {
        padding-top: 0px !important;
    }
}