@use "../../variables";

.selected-language-en {
    .side-button {
        p {
            top: 49%;
            left: -43px;
        }
    }
    #collapse-btn-1 {
        p {
            top: 48%;
            left: -96px;
        }
    }
    #collapse-btn-2 {
        p {
            left: -70px !important;
        }
    }
}
.selected-language-ru {
    .side-button {
        p {
            left: -75px;
        }
    }
    #collapse-btn-1 {
        p {
            top: 48%;
            left: -86px;
        }
    }
    #collapse-btn-2 {
        p {
            top: 49%;
            left: -88px !important;
        }
    }
}
.offers {
    .container {
        padding-top: 0px !important;
    }
    .slick-dots {
        bottom: -28px;
    }

    .intro {
        .overlay-text {
            h4 {
                span {
                    font-weight: 700;
                    &:last-child {
                        margin-left: 130px;
                    }
                }
            }
        }
    }
    .offer__side-tabs {
        .apartment_layout {
            &__fg {
                svg {
                    height: 100%;
                    width: auto;
                    path {
                        stroke: none !important;
                        fill: transparent !important;
                        &:hover {
                            fill:rgba($color: variables.$pitch, $alpha: 0.5) !important;
                        }
                    }
                    line {
                        stroke: none !important;
                    }
                    .room {
                        opacity: 0;
                        
                    }
                }
            }
            &__container.desktop.wide {
                .apartment_layout__fg {
                    svg {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .carousel-wrapper {
        .slide {
				padding-right: 67px;
        }
        .img-wrapper {
            display: flex !important;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            img {
                user-drag: none;  
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                height: 100%;
                width: auto;
            }
        }
    }
}
.portrait-view {
    display: none;
    width: 100vw;
    height: 100vh;
}

