<template>
  <div class="error-page">
    <h1 v-if="error.statusCode === 404">Lapa netika atrasta</h1>
    <h1 v-else>An error occurred</h1>
    <NuxtLink :to="localePath('/')">Atgriezties uz sākumu</NuxtLink>
  </div>
</template>

<script>
  export default {
    props: ['error'],
    layout: 'error' // you can set a custom layout for the error page
  }
</script>

<style lang="scss" scoped>
.error-page{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 20px;
}
</style>
