<template>
  <div :class="cssClass">
    <div
      
      ref="cursor"
    >
      <div class="cursor-bg">
      </div>
    </div>

    <Nuxt />

  </div>
</template>

<script>
import $axios from 'axios';

export default {
  data() {
    return {
      mouseCursor: "",
      mouseMoveEvent: "",

      loading: true,
      loaded: false,
      modalShow: false
    };
  },
  computed: {
    selectedLocale() {
      return this.$i18n.locale;
    },
    platform() {
      return this.$ua.os().toLowerCase().indexOf('mac') > -1 ? "mac" : 'other'
    },
    cssClass() {
      return [`selected-language-${this.selectedLocale}`,`page-${this.page}`,`platform-${this.platform}`, 'simple-cursor']
    },
    page() {
      if(this.$route.name == null){
        return null
      }
      return this.$route.name.split("___")[0]
    }

  },
  created: function () {
  },
  methods: {
    cursor(e) {
      this.mouseCursor.style.top = e.clientY + "px";
      this.mouseCursor.style.left = e.clientX + "px";
    },
    click(e) {

    },
    changeLangParam(lang) {
      this.$router.push({path: this.$route.path, query: { lang: lang }})
    },
    // enterPlay() {
    //   this.$refs["cursor"].classList.remove("anim");
    //   this.$refs["cursor"].classList.add("play");
    // },
    // leavePlay() {
    //   this.$refs["cursor"].classList.add("anim");
    //   this.$refs["cursor"].classList.remove("play");
    // },
    // enterPrev() {
    //   this.$refs["cursor"].classList.remove("anim");
    //   this.$refs["cursor"].classList.add("rotate-left");
    // },
    // leftPrev() {
    //   this.$refs["cursor"].classList.add("anim");
    //   this.$refs["cursor"].classList.remove("rotate-left");
    // },
    // enterUp() {
    //   this.$refs["cursor"].classList.remove("anim");
    //   this.$refs["cursor"].classList.add("rotate-up");
    // },
    // leftUp() {
    //   this.$refs["cursor"].classList.add("anim");
    //   this.$refs["cursor"].classList.remove("rotate-up");
    // },
    // enterNext() {
    //   this.$refs["cursor"].classList.remove("anim");
    //   this.$refs["cursor"].classList.add("rotate-right");
    // },
    // leftNext() {
    //   this.$refs["cursor"].classList.add("anim");
    //   this.$refs["cursor"].classList.remove("rotate-right");
    // },
    // enteredCube() {
    //   this.$refs["cursor"].classList.remove("anim");
    //   this.$refs["cursor"].classList.add("hovering");
    // },
    // leftCube() {
    //   this.$refs["cursor"].classList.add("anim");
    //   this.$refs["cursor"].classList.remove("hovering");
    // },
    // cursorEffects() {
    //   let self = this

    //   console.log('attemting to apply cursor effects')
    //   if (!this.$store.state.cursorEffects) {
    //     console.log('applying cursor effects')
    //     this.$store.commit('applyCursorEffects',true)
    //     setTimeout(() => {

    //       const play = document.getElementsByClassName("cursor-play");
    //       play
    //         ? play.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enterPlay);
    //             element.addEventListener("mouseleave", self.leavePlay);
    //           })
    //         : "";

    //       const thumbs = document.getElementsByClassName("b-slider-thumb");
    //       thumbs
    //         ? thumbs.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enteredCube);
    //             element.addEventListener("mouseleave", self.leftCube);
    //           })
    //         : "";

    //       const links = document.getElementsByClassName("cursor-plus");
    //       links
    //         ? links.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enteredCube);
    //             element.addEventListener("mouseleave", self.leftCube);
    //           })
    //         : "";
    //       const tabs = document.getElementsByClassName("nav-link");
    //       tabs
    //         ? tabs.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enteredCube);
    //             element.addEventListener("mouseleave", self.leftCube);
    //           })
    //         : "";

    //       const prev = document.getElementsByClassName("carousel-prev");
    //       prev
    //         ? prev.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enterPrev);
    //             element.addEventListener("mouseleave", self.leftPrev);
    //           })
    //         : "";
    //       const next = document.getElementsByClassName("carousel-next");
    //       next
    //         ? next.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enterNext);
    //             element.addEventListener("mouseleave", self.leftNext);
    //           })
    //         : "";

    //       const up = document.getElementsByClassName("cursor-up");
    //       up
    //         ? up.forEach((element) => {
    //             element.addEventListener("mouseenter", self.enterUp);
    //             element.addEventListener("mouseleave", self.leftUp);
    //           })
    //         : "";

    //     }, 950)

    //   }
    // },
  },

  mounted() {
    this.mouseCursor = this.$refs["cursor"];
    window.addEventListener("mousemove", this.cursor);
    window.addEventListener("click", this.click);
    this.$store.commit("loading");
    this.mouseCursor.style.top = this.windowHeight/2 + "px";
    this.mouseCursor.style.left = this.innerWidth/2 + "px";
    this.$store.commit('applyCursorEffects',false)
    console.log('this.store.state.cursorEffects: ', this.$store.state.cursorEffects)
    // let self = this
    // window.setTimeout(function() {
    //   self.cursorEffects()
    // },900)

    // if (this.$route.name.indexOf('index') > -1) {
    //   window.setTimeout(function() {
    //     self.modalShow = true;
    //   },5000)
    // }

  },

  watch: {
    // $route (to,from) {
    //   const self = this
    //   // this.$store.commit('applyCursorEffects',false)
    //   // window.setTimeout(function() {
    //   //   self.cursorEffects()
    //   // },900)
  	// 	// document.body.classList.remove("menu-open")
    //   // this.$refs["cursor"].classList.add("anim");
    //   // this.$refs["cursor"].classList.remove("hovering");
    //   // this.$refs["cursor"].classList.remove("rotate-up");
    // },
    selectedLocale (to,from) {
      window.setTimeout(function() {
        location.reload();
        return true;
      },550)
    }
  },

  // async fetch({ store }) {
  //   await store.dispatch('loadImages')
  // }
};

</script>
<style lang="scss" scoped>
.apartment-modal {
  position: fixed;
  top: -100vh;
  height: 100vh;
  left: 0;
  width: 100vw;
  background-color: rgba(0,0,0,.45);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: top .34s ease,opacity .34s ease;

  z-index: 99998 !important;

  &__wrapper {
    position: relative;
  }

  &.open {
    top:0;
    opacity: 1;
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 777;
    width: 25px;
    height: 25px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
</style>
