<template>
    <div class="arrow">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="5.256"
            height="9.806"
            viewBox="0 0 5.256 9.806"
        >
            <g
                id="Group_358"
                data-name="Group 358"
                transform="translate(0.354 0.354)"
            >
                <line
                    id="Line_563"
                    data-name="Line 563"
                    y2="6.434"
                    transform="translate(0 4.549) rotate(-45)"
                    fill="none"
                    stroke="#f0f4f0"
                    stroke-width="1"
                />
                <line
                    id="Line_564"
                    data-name="Line 564"
                    x2="6.434"
                    transform="translate(0 4.549) rotate(-45)"
                    fill="none"
                    stroke="#f0f4f0"
                    stroke-width="1"
                />
            </g>
        </svg>
    </div>
</template>
<style lang="scss" scoped>
@use '@/assets/variables';

.arrow {
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bronze;
}
</style>