<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="43.921" height="30.082" viewBox="0 0 43.921 30.082">
        <g id="Group_457" data-name="Group 457" transform="translate(-1014.472 -7798.459)">
            <line id="Line_696" data-name="Line 696" x2="43.214" transform="translate(1014.472 7813.391)" fill="none"
                stroke="#a06e64" stroke-width="1" />
            <path id="Path_663" data-name="Path 663" d="M-8410.961-2137l14.688,14.688-14.687,14.688"
                transform="translate(9453.959 9935.813)" fill="none" stroke="#a06e64" stroke-width="1" />
        </g>
    </svg>
</template>