<template>
<div class="back-btn cursor-plus">
  <svg xmlns="http://www.w3.org/2000/svg" width="11.669" height="9.665" viewBox="0 0 11.669 9.665">
    <g id="Component_12_1" data-name="Component 12 – 1" transform="translate(0.669 0.332)">
      <line id="Line_716" data-name="Line 716" y2="11" transform="translate(11 4.5) rotate(90)" fill="none" stroke="#19191c" stroke-width="1"/>
      <path id="Path_679" data-name="Path 679" d="M-8410.961-2137l4,4.5-4,4.5" transform="translate(-8406.961 -2128) rotate(180)" fill="none" stroke="#19191c" stroke-width="1"/>
    </g>
  </svg>
  <p class="v-tiny-text">{{$t('offers.tab2Back')}}</p>
</div>
</template>
<style lang="scss" scoped>
  .back-btn {
    padding: 10px 5px 0px 0px;
    display: flex;
    align-content: center;
    align-items: center;
    svg {
      margin-right: 15px;
    }
  }
</style>
