<template>
    <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="27" height="17" stroke="#19191C" />
        <path
            d="M4.71472 7.23529V3.70588C4.71472 3.51867 4.78998 3.33913 4.92393 3.20675C5.05789 3.07437 5.23957 3 5.42901 3H22.5719C22.7613 3 22.943 3.07437 23.0769 3.20675C23.2109 3.33913 23.2861 3.51867 23.2861 3.70588V7.23529"
            stroke="#19191C" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M21.8564 12.8823V15" stroke="#19191C" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6.14355 12.8823V15" stroke="#19191C" stroke-linecap="round" stroke-linejoin="round" />
        <path
            d="M21.1429 10.0583V7.94062C21.1429 7.75341 21.2181 7.57387 21.3521 7.44149C21.486 7.30911 21.6677 7.23474 21.8571 7.23474H23.2857C23.4752 7.23474 23.6568 7.30911 23.7908 7.44149C23.9247 7.57387 24 7.75341 24 7.94062V12.1759C24 12.3631 23.9247 12.5427 23.7908 12.6751C23.6568 12.8074 23.4752 12.8818 23.2857 12.8818H4.71429C4.52485 12.8818 4.34316 12.8074 4.20921 12.6751C4.07525 12.5427 4 12.3631 4 12.1759V7.94062C4 7.75341 4.07525 7.57387 4.20921 7.44149C4.34316 7.30911 4.52485 7.23474 4.71429 7.23474H6.14286C6.3323 7.23474 6.51398 7.30911 6.64793 7.44149C6.78189 7.57387 6.85714 7.75341 6.85714 7.94062V10.0583H21.1429Z"
            stroke="#19191C" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M14 3V10.0588" stroke="#19191C" stroke-linecap="round" stroke-linejoin="round" />
        <rect width="14" height="18" transform="translate(14)" fill="#19191C" />
        <g clip-path="url(#clip0_88_433)">
            <path
                d="M4.71472 7.23529V3.70588C4.71472 3.51867 4.78998 3.33913 4.92393 3.20675C5.05789 3.07437 5.23957 3 5.42901 3H22.5719C22.7613 3 22.943 3.07437 23.0769 3.20675C23.2109 3.33913 23.2861 3.51867 23.2861 3.70588V7.23529"
                stroke="#F0F4F0" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21.8564 12.8823V15" stroke="#F0F4F0" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M21.1429 10.0583V7.94062C21.1429 7.75341 21.2181 7.57387 21.3521 7.44149C21.486 7.30911 21.6677 7.23474 21.8571 7.23474H23.2857C23.4752 7.23474 23.6568 7.30911 23.7908 7.44149C23.9247 7.57387 24 7.75341 24 7.94062V12.1759C24 12.3631 23.9247 12.5427 23.7908 12.6751C23.6568 12.8074 23.4752 12.8818 23.2857 12.8818H4.71429C4.52485 12.8818 4.34316 12.8074 4.20921 12.6751C4.07525 12.5427 4 12.3631 4 12.1759V7.94062C4 7.75341 4.07525 7.57387 4.20921 7.44149C4.34316 7.30911 4.52485 7.23474 4.71429 7.23474H6.14286C6.3323 7.23474 6.51398 7.30911 6.64793 7.44149C6.78189 7.57387 6.85714 7.75341 6.85714 7.94062V10.0583H21.1429Z"
                stroke="#F0F4F0" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M14 3V10.0588" stroke="#F0F4F0" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
            <clipPath id="clip0_88_433">
                <rect width="12" height="14" fill="white" transform="translate(14 2)" />
            </clipPath>
        </defs>
    </svg>
</template>