

<template>
    <LineSplit v-if="lineSplit" :text="content" :headline="true"></LineSplit>
    <h3 v-else class="headline">
        <span class="headline-span">
        {{content}}
        </span>
    </h3>
</template>
<script>
export default {
	props: [
        'content',
        'lineSplit'
    ],
	data() {
        return {

        }
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.headline {
    transform: rotateZ(-90deg);
    position: absolute;
    font-size: 180px;
    color: $pitch;
}
</style>