<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16">
        <g id="Group_418" data-name="Group 418" transform="translate(-485 -456)">
            <g id="Rectangle_306" data-name="Rectangle 306" transform="translate(490 456)" fill="none" stroke="#a06e64" stroke-width="1">
            <rect width="16" height="16" stroke="none"/>
            <rect x="0.5" y="0.5" width="15" height="15" fill="none"/>
            </g>
            <line id="Line_685" data-name="Line 685" x2="14" transform="translate(485 464)" fill="none" stroke="#a06e64" stroke-width="1"/>
            <path id="Path_656" data-name="Path 656" d="M-8410.961-2137l3.578,3.578-3.578,3.578" transform="translate(8907 2597.422)" fill="none" stroke="#a06e64" stroke-width="1"/>
        </g>
    </svg>
</template>
<script>
export default {
};
</script>
<style lang="scss" scoped>

</style>