<template>
    <div class="index-line">
        <div class="line"></div>
        <p class="index">{{index}}</p>
    </div>
</template>
<script>
export default {
	props: [
        'index',
    ],
	data() {
        return {

        }
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
    .index-line {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        .line {
            height: 85px;
            width: 1px;
            background-color: $pitch;
        }
        .index {
            font-size: 16px;
            margin-top: 9.5px;
        }
    }
</style>