<template>
    <h4 class="huge-text line-split" :class="[{'headline': headline},{'superscript': superscript}]"><span v-for="(item,index) in greetingArray" :key="index" class="line-split-span">{{item}}</span></h4>
</template>
<script>
export default {
	props: [
        'headline',
        'text',
        'superscript'
    ],
    computed: {
        greetingArray() {
            return this.text.split(" ");
        }
	},
	data() {
        return {
        }
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.line-split {
    span {
        display: block;
        font-family: inherit !important;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
    }
}
</style>