        
<template>
    <h4 class="section-index"> <span class="zero line-split-span">{{index_0}}</span><span class="number line-split-span">{{index_1}}</span> </h4>
</template>
<script>
export default {
	props: [
        'index',
    ],
    computed: {
        index_0() {
            if(this.index[0] > 0) {
                return this.index[0]
            } else {
                return 'O';
            }
        },
        index_1() {
            return this.index[1];
        }
	},
};
</script>
<style lang="scss" scoped>
.section-index {
    .zero,.number {
        font-family: inherit;
        font-size: inherit;
    }
    .zero {
        font-size: 84%;
        letter-spacing: -15px;
    }
}
</style>