

<template>
    <div class="mobile-map container flex-container">
        <div class="map-wrap">
            <client-only>
            <l-map :zoom="13" :maxZoom="18" :minZoom="8" :center="mapCenter">
                <l-tile-layer :url="mapBox"></l-tile-layer>
                <l-marker :lat-lng="mapCenter">
                    <l-icon
                        :icon-size="[93/2,124/2]"
                        :icon-anchor="[93/4,124/2]"
                        icon-url="/images/other/marker.png"/>
                </l-marker>
            </l-map>
            </client-only>
        </div>
        <slot></slot>
    </div>
</template>
<script>
export default {
    props: [
        'mapBox',
    ],
    data() {
        return {
          mapCenter: [56.925214, 24.035924]
        }
    },
    methods: {

    },
    mounted() {

    }
};
</script>
<style lang="scss" scoped>
    .mobile-map {
        .map-wrap {

        }
    }
</style>
