<template>
	<section class="about">
        <div class="section full-section section__intro white-section def-padding">
            <IntroNew :content="$t('about.landing')" media="image" index="01" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/lv/par-lindenholmu1.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/en/par-lindenholmu1.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/ru/par-lindenholmu1.svg')" alt="">
            </IntroNew>
        </div>
        <div class="section cover-section section__idea large-text-section white-section">
            <BoxImage align="left" :content="$t('about.idea')"></BoxImage>
        </div>
        <div class="section cover-section section__video dark-section def-padding">
          <SectionAboutVideo :content="$t('about.video')"></SectionAboutVideo>
        </div>
        <div class="section cover-section section__plan white-section">
            <SectionAboutComplex :content="$t('about.plan')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/lv/par-lindenholmu2.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/en/par-lindenholmu2.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/ru/par-lindenholmu2.svg')" alt="">
            </SectionAboutComplex>
        </div>
        <div class="section cover-section section__comfort white-section">
            <BoxImage align="left" :content="$t('about.comfort')" :simpleBox="true" indexLine="O1" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/lv/par-lindenholmu3.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/en/par-lindenholmu3.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/ru/par-lindenholmu3.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section section__location white-section">
            <BoxImage align="right" :content="$t('about.location')" :simpleBox="true" indexLine="O2"></BoxImage>
        </div>
        <div class="section cover-section section__ready white-section">
            <BoxImage align="left" :content="$t('about.ready')" :simpleBox="true" indexLine="O3"></BoxImage>
        </div>
        <div class="section cover-section section__greens white-section">
            <BoxImage align="right" :content="$t('about.greens')" :simpleBox="true" indexLine="O4"></BoxImage>
        </div>
        <div class="section cover-section section__quality white-section">
            <BoxImage align="left" :content="$t('about.quality')" :simpleBox="true" indexLine="O5"></BoxImage>
        </div>
        <div class="section cover-section section__portfolio dark-section">
            <SectionAboutPortfolio :content="$t('about.portfolio')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-4" :src="require('~/assets/svg/lv/par-lindenholmu4.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-4" :src="require('~/assets/svg/en/par-lindenholmu4.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-4" :src="require('~/assets/svg/ru/par-lindenholmu4.svg')" alt="">
            </SectionAboutPortfolio>
        </div>
        <div class="section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: [],
	data() {
        return {
        }
    },
	methods: {},
    mounted() {
    },
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.selected-language-en {
    .decor-1 {
        position: absolute;
        bottom: 0px;
        height: 70%;
        right: 0px;
        left: unset;
    }
    .decor-2 {
        position: absolute;
        bottom: 0px;
        width: 70%;
        left: 0px;
    }
    .decor-3 {
        position: absolute;
        width: 8%;
        bottom: 0%;
        right: 0px;
    }
    .decor-4 {
        position: absolute;
        height: 11%;
        top: 10%;
        right: 19%;
        @media (max-width: 1600px) {
            top: 9%;
        }
        @media (max-width: 1400px) {
            top: 7.6%;
        }
        @media (max-width: 1200px) {
            top: 5.3%;
        }
    }
}

.selected-language-ru {
    .decor-1 {
        position: absolute;
        bottom: 0px;
        height: 81%;
        left: unset;
        right: -35px;
    }
    .decor-2 {
        position: absolute;
        bottom: 12%;
        width: 8%;
        left: 0px;
    }
    .decor-3 {
        position: absolute;
        width: unset;
        bottom: 0px;
        right: 0px;
        height: 100%;
    }
    .decor-4 {
        position: absolute;
        height: 11%;
        top: 10%;
        right: 19%;
        @media (max-width: 1600px) {
            top: 9%;
            right: 17%;
        }
        @media (max-width: 1400px) {
            top: 7.6%;
            right: 15%;
        }
        @media (max-width: 1200px) {
            top: 5.3%;
            right: 9%;
        }
    }
}
.decor-1 {
    position: absolute;
    bottom: 0px;
    height: 81%;
    left: 0px;
}
.decor-2 {
    position: absolute;
    bottom: 12%;
    width: 8%;
    left: 0px;
}
.decor-3 {
    position: absolute;
    width: 9%;
    bottom: 10%;
    right: 0px;
}
.decor-4 {
    position: absolute;
    height: 11%;
    top: 10%;
    right: 19%;
    @media (max-width: 1600px) {
        top: 9%;
    }
    @media (max-width: 1400px) {
        top: 7.6%;
    }
    @media (max-width: 1200px) {
        top: 5.3%;
    }
}

.section__idea{
  padding-bottom: 90px;
}

</style>
