<template>
	<section class="about">
        <div class="section section__landing full-section white-section def-padding">
            <IntroNew :content="$t('about.landing')" media="image" index="01" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/mob/lv/about-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/mob/en/about-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/mob/ru/about-01.svg')" alt="">
            </IntroNew>
        </div>
        <div class="section cover-section section__idea white-section large-text-section">
            <BoxImage align="left" :content="$t('about.idea')" ></BoxImage>
        </div>
        <div class="section cover-section section__video dark-section def-padding">
          <SectionAboutVideo :content="$t('about.video')"></SectionAboutVideo>
        </div>
        <div class="section cover-section section__plan white-section">
            <SectionAboutComplex :content="$t('about.plan')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/mob/lv/about-02.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/mob/en/about-02.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/mob/ru/about-02.svg')" alt="">
            </SectionAboutComplex>
        </div>
        <div class="section cover-section section__comfort white-section">
            <BoxImage align="left" :content="$t('about.comfort')" :simpleBox="true" indexLine="O1"></BoxImage>
        </div>
        <div class="section cover-section section__location white-section">
            <BoxImage align="right" :content="$t('about.location')" :simpleBox="true" indexLine="O2"></BoxImage>
        </div>
        <div class="section cover-section section__ready white-section">
            <BoxImage align="lfet" :content="$t('about.ready')" :simpleBox="true" indexLine="O3"></BoxImage>
        </div>
        <div class="section cover-section section__greens white-section">
            <BoxImage align="right" :content="$t('about.greens')" :simpleBox="true" indexLine="O4"></BoxImage>
        </div>
        <div class="section cover-section section__quality white-section">
            <BoxImage align="left" :content="$t('about.quality')" :simpleBox="true" indexLine="O5"></BoxImage>
        </div>
        <div class="section cover-section section__portfolio dark-section">
            <SectionAboutPortfolio :content="$t('about.portfolio')" no-decor>
                <img v-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/mob/ru/about-03.svg')" alt="">
                <img v-else class="decor-3" :src="require('~/assets/svg/mob/lv/about-03.svg')" alt="">
            </SectionAboutPortfolio>
        </div>
        <div class="section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: [],
	data() {
        return {}
    },
	methods: {},
    mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.decor-1 {
    position: absolute;
    height: 79%;
    bottom: 0px;
    left: 0px;
}
.decor-2 {
    position: absolute;
    height: auto;
    right: 0px;
    bottom: 38%;
    width: 100%;
}
.decor-3 {
    position: absolute;
    top: 11.4%;
    z-index: 0;
    width: 91%;
    left: -5px;
}
.selected-language-en {
    .decor-1 {
        position: absolute;
        height: 60%;
        bottom: 0px;
        left: 0px;
    }
    .decor-2 {
        position: absolute;
        height: auto;
        right: 0px;
        bottom: 38%;
        width: 100%;
    }
    .decor-3 {
        position: absolute;
        top: 11.4%;
        z-index: 0;
        width: 91%;
        left: -5px;
    }
}
.selected-language-ru {
    .decor-1 {
        position: absolute;
        height: 60%;
        bottom: 0px;
        left: 0px;
    }
    .decor-2 {
        position: absolute;
        height: auto;
        right: 0px;
        bottom: 38%;
        width: 100%;
    }
    .decor-3 {
        position: absolute;
        top: 10.9%;
        z-index: 0;
        width: 100%;
        left: 0px;
    }
}

.section__idea{
  padding-bottom: 90px;
}
</style>
