<template>
	<section class="apartments">
        <div class="section section__landing full-section white-section def-padding">
            <IntroNew :content="$t('apartments.landing')" media="image" index="03" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/lv/dzivokli1.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/en/dzivokli1.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/ru/dzivokli1.svg')" alt="">
            </IntroNew>
        </div>
        <!-- <div class="section cover-section section__list white-section" style="padding-top: 0px">
            <SectionApartmentsList :content="$t('apartments.list')" :allApartments="allApartments" :rentApartments="rentApartments" :buyApartments="buyApartments"></SectionApartmentsList>
        </div> -->

        <!-- <div class="section section__intro full-section white-section def-padding">
            <SectionApartmentsIntro :content="$t('apartments.intro')"></SectionApartmentsIntro>
        </div> -->

        <div class="section cover-section fixed-section section__gallery large-text-section has-gallery dark-gallery dark-section">
            <BoxImage index="02" align="right" :content="$t('apartments.gallery')" :absolute="true" :gallery="galleries.apartmentTypeGallery.data" no-decor>
                <img v-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/ru/dzivokli2.svg')" alt="">
                <img v-else class="decor-2" :src="require('~/assets/svg/lv/dzivokli2.svg')" alt="">
            </BoxImage>
        </div>

        <div class="section cover-section section__list white-section">
            <SectionApartmentsEnterFilters :content="$t('filter_block')"></SectionApartmentsEnterFilters>
        </div>

        <div class="section cover-section fixed-section section__decoration has-gallery light-green-section">
            <SectionApartmentsDecoration index="06" :content="$t('apartments.decoration')" :gallery="galleries.decorationGallery.data" nooooo-decor>
                <!-- <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/lv/dzivokli3.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/en/dzivokli3.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/ru/dzivokli3.svg')" alt=""> -->
            </SectionApartmentsDecoration>
        </div>
        <div class="section cover-section section__enviroment white-section">
            <BoxGrid :content="$t('apartments.enviroment')" :cols="4" index="07" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-4" :src="require('~/assets/svg/lv/dzivokli4.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-4" :src="require('~/assets/svg/en/dzivokli4.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-4" :src="require('~/assets/svg/ru/dzivokli4.svg')" alt="">
            </BoxGrid>
        </div>
        <div class="section cover-section fixed-section section__rent green-section">
            <BoxImage index="08" align="right" :content="$t('apartments.rent')" :lineSplit="true" :absolute="true" :hasGallery="true" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-5" :src="require('~/assets/svg/lv/dzivokli5.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-5" :src="require('~/assets/svg/en/dzivokli5.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-5" :src="require('~/assets/svg/ru/dzivokli5.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: [
        'allApartments',
        'rentApartments',
        'buyApartments',
        'galleries'
    ],
	data() {
        return {}
    },
	methods: {},
	mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.selected-language-en {
    .decor-1 {
        position: absolute;
        bottom: -21px;
        height: 83%;
        right: -31px;
    }
    .decor-2 {
        position: absolute;
        bottom: 0;
        height: 19%;
        left: 19%;
    }
    .decor-3 {
        position: absolute;
        height: 71%;
        bottom: 11%;
        right: 14%;
    }
    .decor-4 {
        position: absolute;
        height: 33%;
        top: 58px;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        height: 99%;
        left: 0%;
        bottom: 0px;
    }
}

.selected-language-ru {
    .decor-1 {
        position: absolute;
        bottom: 0px;
        height: 100%;
        right: 0px;
    }
    .decor-2 {
        position: absolute;
        bottom: 0;
        height: 19%;
        left: 19%;
    }
    .decor-3 {
        position: absolute;
        height: 71%;
        bottom: 8%;
        right: 11%;
    }
    .decor-4 {
        position: absolute;
        height: 41%;
        top: -153px;
        left: 0px;
        @media (max-width: 1400px) {
            height: 35%;
            top: -100px;
        }
        @media (max-width: 1250px) {
            height: 31%;
            top: -30px;
        }
        @media (max-width: 1150px) {
            height: 25%;
            top: -10px;
        }
    }
    .decor-5 {
        position: absolute;
        height: 97%;
        left: 0%;
        bottom: 0px;
    }
}

.decor-1 {
    position: absolute;
    bottom: 0px;
    height: 78%;
    right: 0px;
}
.decor-2 {
    position: absolute;
    bottom: 0;
    height: 19%;
    left: 19%;
}
.decor-3 {
    position: absolute;
    height: 71%;
    bottom: 8%;
    right: 11%;
}
.decor-4 {
    position: absolute;
    height: 39%;
    top: -42px;
    left: 0px;
}
.decor-5 {
    position: absolute;
    height: 99%;
    left: 0%;
    bottom: 0px;
}

</style>
