<template>
	<section class="apartments">
        <div class="section section__landing full-section white-section def-padding">
            <IntroNew :content="$t('apartments.landing')" media="image" index="03" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/mob/lv/apartments-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/mob/en/apartments-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/mob/ru/apartments-01.svg')" alt="">
            </IntroNew>
        </div>
        <!-- <div class="section section__intro full-section white-section def-padding">
            <SectionApartmentsIntroMobile :content="$t('apartments.intro')"></SectionApartmentsIntroMobile>
        </div> -->


        <div class="section cover-section fixed-section section__gallery large-text-section has-gallery dark-gallery default-gallery-size dark-section">
            <BoxImage index="02" align="right" :content="$t('apartments.galleryMobile')" :absolute="true" :gallery="galleries.apartmentTypeGallery.data" no-decor>
                <img v-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/mob/ru/apartments-02.svg')" alt="">
                <img v-else class="decor-2" :src="require('~/assets/svg/mob/lv/apartments-02.svg')" alt="">
            </BoxImage>
        </div>

        <div class="section cover-section section__list white-section">
            <SectionApartmentsEnterFiltersMobile :content="$t('filter_block')"></SectionApartmentsEnterFiltersMobile>
        </div>

        <!-- <div class="section cover-section section__list white-section">
            <SectionApartmentsMobileList :content="$t('apartments.list')" :allApartments="allApartments" :rentApartments="rentApartments" :buyApartments="buyApartments"></SectionApartmentsMobileList>
        </div> -->


        <div class="section cover-section fixed-section section__decoration has-gallery light-green-section">
            <SectionApartmentsDecoration index="06" :content="$t('apartments.decoration')" :gallery="galleries.decorationGallery.data" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/mob/lv/apartments-03.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/mob/en/apartments-03.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/mob/ru/apartments-03.svg')" alt="">

                <img v-if="selectedLocale == 'ru'" class="decor-4" :src="require('~/assets/svg/mob/ru/apartments-04.svg')" alt="">
                <img v-else class="decor-4" :src="require('~/assets/svg/mob/lv/apartments-04.svg')" alt="">
            </SectionApartmentsDecoration>
        </div>
        <div class="section cover-section section__enviroment white-section">
            <SectionApartmentsMobileEnviroment :content="$t('apartments.enviromentMobile')" index="07" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-5" :src="require('~/assets/svg/mob/lv/apartments-05.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-5" :src="require('~/assets/svg/mob/en/apartments-05.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-5" :src="require('~/assets/svg/mob/ru/apartments-05.svg')" alt="">
            </SectionApartmentsMobileEnviroment>
        </div>
        <div class="section cover-section fixed-section section__rent default-gallery-size green-section">
            <BoxImage index="08" align="right" :content="$t('apartments.rent')" :lineSplit="true" :absolute="true" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-6 tablet-none" :src="require('~/assets/svg/mob/lv/apartments-06.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-6" :src="require('~/assets/svg/mob/en/apartments-06.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-6" :src="require('~/assets/svg/mob/ru/apartments-06.svg')" alt="">

                <img v-if="selectedLocale == 'lv'" class="decor-6 tablet-only" :src="require('~/assets/svg/tablet/lv/apartments-06.svg')" alt="">

                <img v-if="selectedLocale == 'en'" class="decor-7" :src="require('~/assets/svg/mob/en/apartments-07.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-7" :src="require('~/assets/svg/mob/ru/apartments-07.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: [
        'allApartments',
        'rentApartments',
		'buyApartments',
        'galleries'
    ],
	data() {
        return {}
    },
	methods: {},
    mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.decor-1 {
    position: absolute;
    height: 79%;
    top: 87px;
    left: 0px;
}
.decor-2 {
    position: absolute;
    height: 14%;
    right: 0px;
    bottom: 52%;
}
.decor-3 {
    position: absolute;
    top: 20%;
    z-index: 1;
    right: 0px;
    width: 71%;
}
.decor-4 {
    position: absolute;
    height: 26%;
    bottom: 24.5%;
    z-index: 1;
    left: 0px;
}
.decor-5 {
    position: absolute;
    width: 100%;
    top: -21%;
    left: 0px;
}
.decor-6 {
    position: absolute;
    left: 0px;
    bottom: 44.3%;
    width: 100%;
    height: auto;
}
.selected-language-en {
    .decor-1 {
        position: absolute;
        height: 77%;
        top: 87px;
        left: 0px;
    }
    .decor-2 {
        position: absolute;
        height: 14%;
        right: 0px;
        bottom: 52%;
    }
    .decor-3 {
        position: absolute;
        top: 18%;
        z-index: 1;
        right: 0px;
        width: 92%;
    }
    .decor-4 {
        position: absolute;
        height: 26%;
        bottom: 24.5%;
        z-index: 1;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        width: 100%;
        top: -21%;
        left: 0px;
    }
    .decor-6 {
        position: absolute;
        left: 0px;
        width: 83%;
        top: 10%;
        height: auto;
    }
    .decor-7 {
        position: absolute;
        right: 0px;
        bottom: 44.3%;
        width: 38%;
        height: auto;
    }
}
.selected-language-ru {
    .decor-1 {
        position: absolute;
        height: 77%;
        top: 87px;
        left: 0px;
    }
    .decor-2 {
        position: absolute;
        height: 14%;
        right: 0px;
        bottom: 52%;
    }
    .decor-3 {
        position: absolute;
        top: 18%;
        z-index: 1;
        right: 0px;
        width: 92%;
    }
    .decor-4 {
        position: absolute;
        height: 26%;
        bottom: 24.5%;
        z-index: 1;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        width: 100%;
        top: -21%;
        left: 0px;
    }
    .decor-6 {
        position: absolute;
        left: 0px;
        width: 83%;
        top: 10%;
        height: auto;
    }
    .decor-7 {
        position: absolute;
        right: 0px;
        bottom: 44.3%;
        width: 38%;
        height: auto;
    }
}
</style>
