<template>
  <div>
    <div class="section-main section">
      <div class="container">
        <div class="row">
          <div class="section-main__img col">
            <img :src="global_statically(blog.main_image.path, 1700)" alt="">
          </div>
          <div class="section-main__content col">
            <div class="section__header cover-section white-section large-text-section" :class="[extraPadding ? 'extra-padding' : '']">
              <div class="">
                <p class="blog-page-date">{{date}} <span></span></p>
                <h2 class="blog-page-title main-text">{{blog.title}}</h2>
              </div>
            </div>
            <div v-if="blog.video" class="cover-section section__video dark-section def-padding">
              <SectionBlogVideo :video="blog.video.path" :loopVideo="$t('about.video.loopVideoSource')"></SectionBlogVideo>
            </div>
            <div class="section__body cover-section white-section body-text-section">
              <p class="blog-page-body-text">{{blog.excerpt}}</p>
              <!-- <div class="blog-page-body-text" v-html="blog.body">
              </div> -->
            </div>
          </div>
          <div class="section-main__body col">
            <div class="blog-page-body-text" v-html="processedBody"></div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="blog.gallery.length > 0" class="section cover-section section__gallery has-gallery">
      <div class="container">
        <div class="row">
          <BlogGallery :content="blog.gallery"></BlogGallery>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blog: null
  },
  computed: {
    date() {
      return this.blog.published_at.split(' ')[0]
    },
    time() {
      return this.blog.published_at.split(' ')[1]
    },
    extraPadding() {
      if (this.blog.main_image == null) {
        return true
      }
      return false
    },
    processedBody() {
      return this.processImagesInBody(this.blog.body);
    }
  },
  methods: {
    processImagesInBody(body) {
      if (!body) return '';
      return body.replace(/<img\s+[^>]*src="\/storage([^"]*)"[^>]*>/g, (match, p1) => {
        return match.replace(`/storage${p1}`, `https://admin.lindenholma.lv/storage${p1}`);
      });
    }
  },
  mounted() {
    console.log(this.blog)
  }
}
</script>

<style lang="scss" scoped>
.full-container {
    width: 100%;
    height: 100%;
    position: relative;
    .bg-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
}
</style>
