<template>
  <div class="section section__blogs cover-section white-section large-text-section">
    <div class="container">
      <div class="blogs-title-row">
        <h1 class="blogs-title">{{$t('blog.title')}}</h1>
      </div>
      <div class="blogs-list">
        <BlogThumb v-for="(blog,index) in blogs" :key="index" :blog="blog"></BlogThumb>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blogs: null
  }
}
</script>
