<template>
    <div class="blogs-list">
    <BlogThumb v-for="(blog,index) in blogs.slice(0, 3)" :key="index" :blog="blog" is-home></BlogThumb>
    <NuxtLink :to="localePath('blogs')" class="btn-all cursor-plus"><p>VISI</p></NuxtLink>
    </div>
</template>

<script>
export default {
  props: ['blogs']
    
}
</script>