<template>
	<section class="documentation documentation-mobile">
        <div class="main-wrap">
            <div class="title" v-html="content.title">
            </div>
            <div class="documentation-info-main">                                     
            <div class="docs-list" v-for="(documents, index) in docs" :key="index">
                <div class="l-top">
                    <p class="doc-text">{{docs[index].name}}</p>
                    <a class="l-left pdf-link cursor-plus" target="_blank" :href="docs[index].file.path">{{content.open}}</a>
                </div>
            </div>
          <div class="l-bot"></div>

                
            </div>
        </div>
	</section>
</template>

<script>
export default {
	props: ["content", "docs"],
	data() {
        return {
        }
    },
	methods: {},
    mounted() {
    },
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.documentation {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: $beige;

  .main-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: $beige;
    padding-bottom: 30px;
    .title {
      overflow: hidden;
      font-size: 59px;
      width: 100%;
      margin-bottom: 40px;
      height: 60px;
      transition: height 0.3s ease, margin 0.3s ease;
    }
    .documentation-info-main {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
        .pdf-link {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 15px;
          color: $bronze;
          display: flex;
          align-content: center;
          align-items: center;
        }
        .l-text {
          font-size: 26px;
        }
        .l-top {
          min-height: 48px;
          display: flex;
          align-items: center;
          align-content: center;
          border-top: 1px solid $pitch;
          &.padding {
            padding: 12px 0;
          }

          .doc-text{
            border-right: 1px solid $pitch;
          }
          .l-left {
            min-width: 126px;
            margin-left: auto;
            margin-right: 0px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
          }
        }
        .l-bot {
          border-bottom: 1px solid $pitch;
          width: 100%;
        }
      }
    }
  }

</style>