<template>
	<section class="documentation">
        <div class="main-wrap">
            <div class="title" v-html="content.title">
            </div>
            <div class="documentation-info-main">
                <div class="col-12">
                                            
                    <p class="table-heading"></p>
                    
                    <div class="docs-list" v-for="(documents, index) in docs" :key="index">
                        <div class="l-top">
                            <p>{{docs[index].name}}</p>
                            <a class="l-left pdf-link cursor-plus" target="_blank" :href="docs[index].file.path">{{content.open}}</a>
                        </div>
                    </div>
                    <div class="l-bot"></div>

                </div>
            </div>
        </div>
	</section>
</template>



<script>
export default {
	props: ["content", "docs"],
	data() {
        return {
        }
    },
	methods: {},
    mounted() {
    },
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>

<style lang="scss" scoped>
.documentation {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: $beige;
    .main-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 110px;
        max-width: 1468px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        background-color: $beige;
        padding-bottom: 0px;
        .title {
            width: 678px;
        }
        .documentation-info-main {
            max-width: 955px;
            margin: 0 auto;
            display: flex;
            width: 100%;
            .col-12 {
                max-width: 100%;
                flex: 0 0 100%;
                .pdf-link {
                    font-size: 15px;
                    color: $bronze;
                    display: flex;
                    align-content: center;
                    align-items: center;
                }
                .table-heading {
                    margin-top: 34px;
                    margin-bottom: 52px;
                    font-size: 26px;
                }
                .l-text {
                    font-size: 26px;
                }
                .l-top {
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    border-top: 1px solid $pitch;
                    .l-left {
                        min-width: 126px;
                        height: 38px;
                        border-left: 1px solid $pitch;
                        margin-left: auto;
                        margin-right: 0px;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        color: $bronze;
                    }
                }
                .l-bot {
                    border-bottom: 1px solid $pitch;
                }
            }
        }
    }
}
</style>

