<template>
  <div class="filter-interface">
    <div class="top-nav">
      <div class="nav-wrapper">
        <BackBtn @click.native="goBack()"></BackBtn>
        <p class="v-medium-text nav-title">{{$t('filters_interface.nav_title')}}</p>
        <NuxtLink
          :to="localePath('filters')"
          class="change-view-btn cursor-plus">
          <p class="v-tiny-text">{{$t('filters_interface.switch_view')}}</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
            <g id="Carousel-Icon" transform="translate(-1068 -216)">
              <g id="Rectangle_356" data-name="Rectangle 356" transform="translate(1068 216)" fill="#f0f4f0" stroke="#a06e64" stroke-width="1">
                <rect width="15" height="15" stroke="none"/>
                <rect x="0.5" y="0.5" width="14" height="14" fill="none"/>
              </g>
              <rect id="Rectangle_358" data-name="Rectangle 358" width="5" height="1" transform="translate(1071 226)" fill="#a06e64"/>
              <rect id="Rectangle_359" data-name="Rectangle 359" width="7" height="1" transform="translate(1071 220)" fill="#a06e64"/>
              <rect id="Rectangle_361" data-name="Rectangle 361" width="9" height="1" transform="translate(1071 223)" fill="#a06e64"/>
            </g>
          </svg>
        </NuxtLink>
      </div>
    </div>
    <div class="side-nav">
      <div class="section-texts">
        <h3 class="section-text section-text-0" :class="{'hide' : step > 0}"></h3>
        <h3  class="section-text section-text-1 medium-text-4" :class="[{'active': step == 0},{'hide': step > 1}]">{{$t('filters_interface.nav_step_1')}}</h3>
        <h3  class="section-text section-text-2 medium-text-4" :class="[{'active': step == 1},{'hide': step > 2}]">{{$t('filters_interface.nav_step_2')}}</h3>
      </div>
        <div class="buttons">
          <div class="prompt" ref="prompt" :class="{'enabled' : selectedSector != null}">
            <p class="v-tiny-text prompt-text">{{$t('filters_interface.choose_building')}}</p>
            <NuxtLink class="cursor-plus black-btn" ref="continueBtn"
            :to="localePath({name: 'building-building', params: {building: selectedSector}})">
                <p class="v-tiny-text cursor-plus">{{$t('filters_interface.continue')}}</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="11.669" height="9.664" viewBox="0 0 11.669 9.664">
                  <g id="Component_16_1" data-name="Component 16 – 1" transform="translate(0 0.332)">
                    <line id="Line_716" data-name="Line 716" y1="11" transform="translate(11 4.5) rotate(90)" fill="none" stroke="#f0f4f0" stroke-width="1"/>
                    <path id="Path_679" data-name="Path 679" d="M0,9,4,4.5,0,0" transform="translate(7)" fill="none" stroke="#f0f4f0" stroke-width="1"/>
                  </g>
                </svg>
            </NuxtLink>
          </div>
        </div>
    </div>
    <div class="interface">
      <SectionFiltersInterfaceStepBuilding :realBuilding="realBuilding" :selectedSector="selectedSector" class="interface-step" :class="{'active-step': step == 0}" @selectSector="selectSector($event)"></SectionFiltersInterfaceStepBuilding>
    </div>
  </div>
</template>
<script>
export default {
    props: {
      allRealBuildings: null
    },
    data() {
        return {
          step: 0,
          selectedSector: null,
          selectedRoom: null,
        }
    },
    computed: {
      realBuilding() {
        if (this.selectedSector) {
          let allRealBuildings = this.allRealBuildings
          // building filter
          allRealBuildings = allRealBuildings.filter((item) => {
            let value = this.selectedSector
            return value == item.code
          });
          return allRealBuildings[0]
        } else {
          return null
        }
      },
      filters() {
        return this.$store.state.filtersInterface.filters
      },

    },
    methods: {
      selectSector(sector) {
        this.selectedSector = sector
        let continueBtn = this.$refs.continueBtn
        let prompt = this.$refs.prompt
        prompt.style.width = continueBtn.offsetWidth + 'px'
      },
      goBack() {
        if (this.selectedSector) {
          this.selectedSector = null
        } else {
          this.$router.back()
        }
      }
    },
    mounted() {
      setTimeout(() => {
        let prompt = this.$refs.prompt
        prompt.style.width = prompt.offsetWidth + 'px'
      }, 300);

    }
};
</script>
<style lang="scss" scoped>

</style>
