<template>
  <section class="filter">
      <SectionFiltersListMobile :allApartments="allApartments"></SectionFiltersListMobile>
  </section>
</template>

<script>
export default {
  props: {
    allApartments: null,
  },
  data() {
    return {
    }
  },
  methods: {
  },
  mounted() {},
  computed: {
    selectedLocale() {
      return this.$i18n.locale;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
