<template>
	<section class="home">
        <div class="section section__intro full-section white-section def-padding">
            <div class="overlay-text">
                <!--<img src="/images/logo/text-large.png" alt="Lindenholma logotips"/>-->
                <img :src="('/images/logo/text-large.png') | statically(685)" alt="Lindenholma logotips"/>
            </div>
            <FullScreen media="video" :source="$t('home.intro.video') + '?v=2.0'"></FullScreen>
        </div>
        <div class="section cover-section fixed-section section__about large-text-section bronze-section">
            <BoxImage index="01" align="right" :mediaInfoIsLink="true" :content="$t('home.about')" no-decor>
                <img v-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/ru/sakums1.svg')" alt="">
                <img v-else class="decor-1" :src="require('~/assets/svg/lv/sakums1.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section fixed-section section__location green-section">
            <BoxImage index="02" align="left" :content="$t('home.location')" :absolute="true" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/lv/sakums2.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/en/sakums2.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/ru/sakums2.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section fixed-section section__apartments has-gallery dark-gallery dark-section">
            <BoxImage index="03" align="right" :content="$t('home.apartments')" :absolute="true" :gallery="galleries.apartmentTypeGallery.data" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/lv/sakums3.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/en/sakums3.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/ru/sakums3.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section fixed-section section__standards light-green-section">
            <BoxImage index="04" align="left" :content="$t('home.standards')" :absolute="true" no-decor>
                <img  v-if="selectedLocale == 'lv'" class="decor-4" :src="require('~/assets/svg/lv/sakums4.svg')" alt="">
                <img  v-else-if="selectedLocale == 'en'" class="decor-4" :src="require('~/assets/svg/en/sakums4.svg')" alt="">
                <img  v-else-if="selectedLocale == 'ru'" class="decor-4" :src="require('~/assets/svg/ru/sakums4.svg')" alt="">

                <img  v-if="selectedLocale == 'ru'" class="decor-5" :src="require('~/assets/svg/ru/sakums5.svg')" alt="">
                <img  v-else class="decor-5" :src="require('~/assets/svg/lv/sakums5.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section fixed-section section__comfort has-gallery large-text-section green-section">
            <BoxImage align="right" :content="$t('home.comfort')" :gallery="galleries.comfortGallery.data"></BoxImage>
        </div>
        <div class="section cover-section section__comfort-ext white-section">
            <BoxGrid :content="$t('home.comfort.extend')" :cols="2" index="05" no-decor>
                <img v-if="selectedLocale == 'ru'" class="decor-6" :src="require('~/assets/svg/ru/sakums6.svg')" alt="">
                <img v-else class="decor-6" :src="require('~/assets/svg/lv/sakums6.svg')" alt="">
                
                <img v-if="selectedLocale == 'lv'" class="decor-7" :src="require('~/assets/svg/lv/sakums7.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-7" :src="require('~/assets/svg/en/sakums7.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-7" :src="require('~/assets/svg/ru/sakums7.svg')" alt="">
            </BoxGrid>
        </div>
        <div class="section section__blogs white-section">
            <div class="section__blogs__container container">
                <div class="blogs-title-wrap">
                    <h2 class="blogs-title">{{$t('blog.title')}}</h2>
                </div>
                
                    <SectionBlogsHome :blogs="blogs"></SectionBlogsHome>
                    <NuxtLink :to="localePath('blogs')" class="button btn-all-sm cursor-plus">VISI</NuxtLink>
                
            </div>
        </div>
        <div class="section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: ['galleries', 'blogs'],
	data() {
        return {}
    },
	methods: {},
	// mounted() {console.log('Blogs is: ', this.blogs);},
    // logs out the blogs
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>


<style lang="scss" scoped>
.selected-language-en {
    .decor-1 {
        position: absolute;
        bottom: 0;
        height: 15%;
        left: 50%;
    }
    .decor-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 64%;
    }
    .decor-3 {
        position: absolute;
        left: 0;
        height: 60%;
        bottom: 8%;
        @media (max-width: 1500px) {
            bottom: 7%;
        }
        @media (max-width: 1300px) {
            bottom: 3%;
            height: 55%;
        }
        @media (max-width: 1300px) {
            bottom: 0%;
            height: 52%;
        }
    }
    .decor-4 {
        position: absolute;
        left: 11%;
        height: 25%;
        bottom: 46%;
    }
    .decor-5 {
        position: absolute;
        right: 0px;
        height: 37%;
        bottom: 8%;
    }
    .decor-6 {
        position: absolute;
        left: 0px;
        height: 28%;
        bottom: 62%;
    }
    .decor-7 {
        position: absolute;
        height: 42%;
        right: 0px;
        bottom: 41%;
    }
}

.selected-language-ru {
    .decor-1 {
        position: absolute;
        bottom: 0;
        height: 17%;
        left: 50%;
    }
    .decor-2 {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 94%;
    }
    .decor-3 {
        position: absolute;
        left: -1%;
        height: 61%;
        bottom: 14%;
        @media (max-width: 1600px) {
            bottom: 10%;
        }
        @media (max-width: 1300px) {
            bottom: 5%;
            height: 55%;
        }
        @media (max-width: 1300px) {
            bottom: 0%;
            height: 52%;
        }
    }
    .decor-4 {
        position: absolute;
        left: 0px;
        height: 22%;
        bottom: 51%;
    }
    .decor-5 {
        position: absolute;
        right: 0px;
        height: 37%;
        bottom: 8%;
    }
    .decor-6 {
        position: absolute;
        left: 0px;
        height: 28%;
        bottom: 62%;
    }
    .decor-7 {
        position: absolute;
        height: 68%;
        right: 0px;
        bottom: 30%;
    }
}

.decor-1 {
    position: absolute;
    bottom: 0;
    height: 15%;
    left: 44%;
}
.decor-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
}
.decor-3 {
    position: absolute;
    left: 0;
    height: 63%;
    bottom: 8%;
}
.decor-4 {
    position: absolute;
    left: 11%;
    height: 25%;
    bottom: 43%;
}
.decor-5 {
    position: absolute;
    right: 0px;
    height: 37%;
    bottom: 8%;
}
.decor-6 {
    position: absolute;
    left: 0px;
    height: 28%;
    bottom: 62%;
}
.decor-7 {
    position: absolute;
    height: 76%;
    right: 0px;
    bottom: 23%;
}
</style>
