<template>
	<section class="home">
        <div class="section section__intro full-section white-section">
            <div class="overlay-text">
                <!--<img src="/images/logo/text-large.png" alt="Lindenholma logotips"/>-->
                <img :src="('/images/logo/text-large.png') | statically(360)" alt="Lindenholma logotips"/>
            </div>
            <FullScreen media="video" :source="$t('home.intro.video') + '?v=2.0'"></FullScreen>
        </div>
        <div class="section cover-section fixed-section section__about bronze-section">
            <BoxImage index="02" :mediaInfoIsLink="true" :content="$t('home.aboutMobile')" :absolute="true" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/mob/lv/home-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/mob/en/home-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/mob/ru/home-01.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section fixed-section section__location green-section">
            <BoxImage :content="$t('home.locationMobile')" :absolute="true"></BoxImage>
        </div>
        <div class="section cover-section fixed-section section__apartments has-gallery dark-gallery default-gallery-size dark-section">
            <BoxImage index="03" :content="$t('home.apartments')" :absolute="true" :gallery="galleries.apartmentTypeGallery.data" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/mob/lv/home-02.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/mob/en/home-02.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/mob/ru/home-02.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section fixed-section section__standards white-section">
            <SectionHomeMobileStandards index="04" :content="$t('home.standardsMobile')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/mob/lv/home-03.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/mob/en/home-03.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/mob/ru/home-03.svg')" alt="">
            </SectionHomeMobileStandards>
        </div>
        <div class="section cover-section fixed-section section__comfort has-gallery default-gallery-size large-text-section green-section">
            <BoxImage :content="$t('home.comfort')" :gallery="galleries.comfortGallery.data" no-decor>
                <img v-if="selectedLocale == 'ru'" class="decor-4" :src="require('~/assets/svg/mob/ru/home-04.svg')" alt="">
                <img v-else class="decor-4" :src="require('~/assets/svg/mob/lv/home-04.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section section__comfort-ext white-section">
            <SectionHomeMobileComfort :content="$t('home.comfortMobile.extend')" index="05" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-5" :src="require('~/assets/svg/mob/lv/home-05.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-5" :src="require('~/assets/svg/mob/en/home-05.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-5" :src="require('~/assets/svg/mob/ru/home-05.svg')" alt="">
            </SectionHomeMobileComfort>
        </div>
        <div class="section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: ['galleries'],
	data() {
        return {}
    },
	methods: {},
    mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.decor-1 {
    position: absolute;
    top: 6%;
    width: 90%;
    right: 0px;
    height: auto;
}
.decor-2 {
    position: absolute;
    top: 9%;
    width: 91%;
    height: auto;
    left: 0px;
}
.decor-3 {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 46%;
    z-index: 2;
}
.decor-4 {
    position: absolute;
    height: 11%;
    top: 73px;
    left: 0px;
}
.decor-5 {
    position: absolute;
    left: 0px;
    bottom: 62%;
    width: 100%;
    height: auto;
}

.selected-language-en {
    .decor-1 {
        position: absolute;
        top: 4%;
        width: 90%;
        right: 0px;
        height: auto;
    }
    .decor-2 {
        position: absolute;
        top: 9%;
        width: 91%;
        height: auto;
        left: 0px;
    }
    .decor-3 {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 46%;
        z-index: 2;
    }
    .decor-4 {
        position: absolute;
        height: 11%;
        top: 35px;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        left: 0px;
        bottom: 62%;
        width: 100%;
        height: auto;
    }
}

.selected-language-ru {
    .decor-1 {
        position: absolute;
        top: 5%;
        width: 90%;
        right: 0px;
        height: auto;
    }
    .decor-2 {
        position: absolute;
        top: 9%;
        width: 91%;
        height: auto;
        left: 0px;
    }
    .decor-3 {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 46%;
        z-index: 2;
    }
    .decor-4 {
        position: absolute;
        height: 11%;
        top: 35px;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        left: 0px;
        bottom: 62%;
        width: 100%;
        height: auto;
    }
}
</style>
