<template>
	<section class="location">
        <div class="section section__intro full-section white-section def-padding">
            <FullScreen media="html-image" :source="`/images/${$t('home.locationMobile.image')}`"></FullScreen>
        </div>
        <div class="section cover-section section__general white-section large-text-section">
            <BoxImage align="left" :content="$t('location.general')" :absolute="true" no-decor></BoxImage>
        </div>
        <div class="section cover-section section__map white-section">
            <SectionLocationMapMobile mapBox="https://api.mapbox.com/styles/v1/adxlv/ckl83dsgo0kec17qielp011d4/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiYWR4bHYiLCJhIjoiYk5abi1vayJ9.PoajAncLFRbY0dLsYSQOHg">
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/mob/lv/location-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/mob/en/location-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/mob/ru/location-01.svg')" alt="">
            </SectionLocationMapMobile>
        </div>
        <div class="value-wrapper">
            <div class="section cover-section section__values white-section">
                <BoxImage align="right" :content="$t('location.values')" :simpleBox="true" no-decor index="02">
                </BoxImage>
            </div>
            <div class="section cover-section section__education white-section">
                <BoxImage align="left" :content="$t('location.education')" :simpleBox="true" indexLine="O1"></BoxImage>
            </div>
            <div class="section cover-section section__entertainment white-section">
                <BoxImage align="right" :content="$t('location.entertainment')" :simpleBox="true" indexLine="O2"></BoxImage>
            </div>
             <div class="section cover-section section__shop white-section">
                <BoxImage align="left" :content="$t('location.shop')" :simpleBox="true" indexLine="O3"></BoxImage>
            </div>
             <div class="section cover-section section__free-time white-section">
                <BoxImage align="right" :content="$t('location.freeTime')" :simpleBox="true" indexLine="O4"></BoxImage>
            </div>
             <div class="section cover-section section__food white-section">
                <BoxImage align="left" :content="$t('location.food')" :simpleBox="true" indexLine="O5"></BoxImage>
            </div>
        </div>

        <div class="section cover-section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: [],
	data() {
        return {}
    },
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.decor-1 {
    position: absolute;
    width: 87%;
    height: auto;
    right: 0px;
    bottom: 3%;
}
.selected-language-en {
    .decor-1 {
        position: absolute;
        width: 87%;
        height: auto;
        right: 0px;
        bottom: 3%;
    }
}
</style>