<template>
	<section class="location">
        <div class="section section__intro full-section white-section def-padding">
            <FullScreen media="image" :source="$t('location.intro')"></FullScreen>
        </div>
        <div class="section cover-section section__general large-text-section white-section">
            <BoxImage align="left" :content="$t('location.general')" :absolute="true" ></BoxImage>
        </div>
        <div class="section cover-section section__values white-section">
            <BoxImage align="right" :content="$t('location.values')" :simpleBox="true" no-decor mapBox="https://api.mapbox.com/styles/v1/adxlv/ckl83dsgo0kec17qielp011d4/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiYWR4bHYiLCJhIjoiYk5abi1vayJ9.PoajAncLFRbY0dLsYSQOHg" index="02">
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/lv/atrasanas-vieta1.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/en/atrasanas-vieta1.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/ru/atrasanas-vieta1.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section section__education white-section">
            <BoxImage align="left" :content="$t('location.education')" :simpleBox="true" indexLine="O1" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/lv/atrasanas-vieta2.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/en/atrasanas-vieta2.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/ru/atrasanas-vieta2.svg')" alt="">
            </BoxImage>
        </div>
        <div class="section cover-section section__entertainment white-section">
            <BoxImage align="right" :content="$t('location.entertainment')" :simpleBox="true" indexLine="O2"></BoxImage>
        </div>
         <div class="section cover-section section__shop white-section">
            <BoxImage align="left" :content="$t('location.shop')" :simpleBox="true" indexLine="O3"></BoxImage>
        </div>
         <div class="section cover-section section__free-time white-section">
            <BoxImage align="right" :content="$t('location.freeTime')" :simpleBox="true" indexLine="O4"></BoxImage>
        </div>
         <div class="section cover-section section__food white-section">
            <BoxImage align="left" :content="$t('location.food')" :simpleBox="true" indexLine="O5"></BoxImage>
        </div>
        <div class="section cover-section section__form white-section">
            <Form></Form>
        </div>
	</section>
</template>
<script>
export default {
	props: [],
	data() {
        return {}
    },
	methods: {},
	mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.selected-language-en {
    .decor-1 {
        position: absolute;
        bottom: 0px;
        width: 26%;
        left: 0px;
    }
    .decor-2 {
        position: absolute;
        bottom: 11%;
        width: 8.3%;
        right: 0px;
    }
}

.selected-language-ru {
    .decor-1 {
        position: absolute;
        bottom: 0px;
        width: 18%;
        left: 0px;
    }
    .decor-2 {
        position: absolute;
        bottom: 3%;
        width: 7%;
        right: 0px;
    }
}
.decor-1 {
    position: absolute;
    bottom: 0px;
    width: 24%;
    left: 0px;
}
.decor-2 {
    position: absolute;
    bottom: 3%;
    width: 7%;
    right: 0px;
}
</style>