<template>
  <section class="offers">
    <div class="center">
      <div class="container">
        <div class="contact-info">
          <p class="e-tiny-text">+371 2633 8833</p>
          <a class="e-tiny-text" target="_blank" :href="`https://lindenholma.lv/${$i18n.locale}`">
            WEB
          </a>
        </div>

        <SectionOffersIntro
          :greeting="visit.client.greeting"
          :content="contentLocal.intro"
          v-if="activeTab == 0"
        ></SectionOffersIntro>

        <b-tabs
          class="tabs tabs-floating-top tabs-white intro-tab"
          :class="'activeTab-' + openTab"
          v-model="tabindex"
          @input="changeTab"
        >
          <b-tab-item
            class="tab"
            v-for="(item, index) in visit.apartments"
            :label="$t(`offers.intro.tab`) + ' O' + (index + 1)"
            :active="index == 0 ? true : false"
            :key="index"
          >
            <SectionOffersItem
              v-if="
                index == 0
                  ? activeTab == index + 1 || activeTab == 0
                  : activeTab == index + 1
              "
              offerNr="1"
              :apartment="item"
              @openOverlay="openOverlay($event)"
              :activeTab="activeTab"
            ></SectionOffersItem>
          </b-tab-item>
        </b-tabs>
      </div>

      <!-- <div class="container">
          <SectionOffersMobileNew :client="visit.client.name"></SectionOffersMobileNew>
        </div> -->
    </div>
    <div class="portrait-view">
      <SectionOffersMobilePortrait
        :content="contentLocal.rotate"
      ></SectionOffersMobilePortrait>
    </div>
  </section>
</template>
<script>
export default {
  props: ["visit", "contentLocal"],
  data() {
    return {
      tabindex: 0,
      windowWidth: 0,
      activeTab: 0,
      openTab: 0,
    };
  },
  methods: {
    changeTab(tab) {
      this.activeTab = tab + 1;
    },
    openOverlay(tab) {
      this.openTab = tab;
    },
  },
  mounted() {
  },
};
</script>
<style lang="scss" scoped>
.offers {
  background-color: $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span {
    font-family: $third-font;
  }
  .container {
    overflow: visible !important;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 0px;
    background-color: $beige;
  }
  .contact-info {
    position: absolute;
    top: -39px;

    right: 0px;
    display: flex;
    flex-direction: row;
    * {
      color: $beige;
      letter-spacing: 3px;
    }
    a {
      margin-left: 30px;
    }
  }
  .tab, .tab:visited, .offer, .offer:visited {
    outline: none;
  }
}
</style>
