<template>
  <section class="offers">
    <div class="center">
      <div class="container">
        <div class="contact-info">
          <p class="e-tiny-text">+371 2633 8833</p> <a class="e-tiny-text" href="#">WEB</a>
        </div>
        <b-tabs class="tabs tabs-floating-top tabs-white intro-tab" :class="'activeTab-' + openTab">
            <b-tab-item class="tab" label="Piedāvājums O1" active @click="changeTab(1)">
                <SectionOffersIntroDemo v-if="activeTab==0"></SectionOffersIntroDemo>
                <SectionOffersItemDemo v-if="activeTab==1 || activeTab==0" offerNr="1" @openOverlay="openOverlay($event)"></SectionOffersItemDemo>
            </b-tab-item>
            <b-tab-item class="tab" label="Piedāvājums O2" @click="changeTab(2)">
                <SectionOffersItemDemo v-if="activeTab==2" offerNr="2" @openOverlay="openOverlay($event)"></SectionOffersItemDemo>
            </b-tab-item>
            <b-tab-item class="tab" label="Piedāvājums O3" @click="changeTab(3)">
                <SectionOffersItemDemo v-if="activeTab==3" offerNr="3" @openOverlay="openOverlay($event)"></SectionOffersItemDemo>
            </b-tab-item>
        </b-tabs>
      </div>
    </div>
      <!-- <div class="container">
        <SectionOffersMobile client="Valdemār"></SectionOffersMobile>
      </div> -->
  </section>
</template>
<script>
export default {

  data() {
    return {
      windowWidth: 0,
      activeTab:0,
      openTab:0
    };
  },
  methods: {
    changeTab(tab) {
      this.activeTab = tab
    },
    openOverlay(tab) {
      this.openTab = tab
    },
  },
  mounted() {

  }
};
</script>
<style lang="scss" scoped>
  .offers {
      background-color: $black;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1,h2,h3,h4,h5,h6,p,a,span {
        font-family: $third-font;
      }
      .container {
        overflow: visible !important;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        padding-bottom: 0px;
        background-color: $beige;
      }
      .contact-info {
        position: absolute;
        top: -39px;

        right: 0px;
        display: flex;
        flex-direction: row;
        * {
          color: $beige;
          letter-spacing: 3px;
        }
        a {
          margin-left: 30px;
        }
      }
  }
</style>
