<template>
    <section class="rent">
        <div class="main-wrap">
            <SectionRentHeader :content="content" />

            <div class="rent-info-main">
                <div class="col-6 flats">
                    <div class="spacer">
                        <a class="pdf-box cursor-plus" target="_blank" :href="content.flats.pdfLink">
                            <img :src="content.flats.pdfImg | statically(450)" :alt="content.flats.tableHeading" />
                            <div class="text">
                                <p>{{ content.viewPdf }}</p>
                            </div>
                        </a>
                    </div>

                    <div id="vr-line" class="vr-line"> <!--VERTICAL LINE START-->

                        <p class="table-heading">{{ content.flats.tableHeading }}</p>

                        <div class="flat-price" v-for="(flat, index) in content.flats.prices" :key="index" itemscope
                            itemtype="https://schema.org/Apartment">
                            <div class="l-top padding">
                                <p>{{ flat.title }}</p>
                            </div>
                            <div class="l-top">
                                <p class="l-text">{{ flat.price }}</p>
                                <p class="l-left" v-html="global_fixSquareMeters(flat.area)"></p>
                            </div>
                        </div>

                        <div class="l-top padding">
                            <p>{{ content.flats.pricesLegend }}</p>
                        </div>

                        <p class="equip-heading def-h">{{ content.flats.equipHeading }}</p>
                        <div class="equip-list" v-html="content.flats.equipList">
                        </div>

                        <p class="extras-heading def-h">{{ content.flats.extrasHeading }}</p>
                        <div class="extras-list" v-html="content.flats.extrasList">
                        </div>

                    </div><!--VERTICAL LINE END-->
                </div>

                <div class="col-6 apartments"> <!---START OF APARTMENTS-->
                    <a class="pdf-box cursor-plus" target="_blank" :href="content.apartments.pdfLink">
                        <img :src="content.apartments.pdfImg | statically(450)"
                            :alt="content.apartments.tableHeading" />
                        <div class="text">
                            <p>{{ content.viewPdf }}</p>
                        </div>
                    </a>


                    <p class="table-heading">{{ content.apartments.tableHeading }}</p>

                    <div class="apartment-price" v-for="(apartment, index) in content.apartments.prices" :key="index">
                        <div class="l-top padding">
                            <p>{{ apartment.title }}</p>
                        </div>
                        <div class="l-top">
                            <p class="l-text">{{ apartment.price }}</p>
                            <p class="l-left" v-html="global_fixSquareMeters(apartment.area)"></p>
                        </div>
                    </div>


                    <div class="l-top padding">
                        <p>{{ content.apartments.pricesLegend }}</p>
                    </div>

                    <p class="equip-heading def-h">{{ content.apartments.equipHeading }}</p>
                    <div class="equip-list" v-html="content.apartments.equipList">
                    </div>

                    <p class="extras-heading def-h">{{ content.apartments.extrasHeading }}</p>
                    <div class="extras-list" v-html="content.apartments.extrasList">

                    </div>

                    <!--<p class="contract-heading def-h">{{content.contract.title}}</p>
                    <div class="contract-text-1 has-square-meters" v-html="content.contract.firstText">
                    </div>
                    <p class="contract-text-2">{{content.contract.secondText}}</p>
                    <div class="contract-text-3" v-html="content.contract.thirdText">
                    </div>-->

                </div><!---END OF APARTMENTS-->

            </div>

        </div>

        <SectionRentBlock />

        <div class="main-wrap">

            <div class="contract-main">
                <p class="contract-heading def-h">{{ content.contract.title }}</p>
                <div class="contract-text-1 has-square-meters" v-html="content.contract.firstText">
                </div>
                <p class="contract-text-2">{{ content.contract.secondText }}</p>
                <div class="contract-text-3" v-html="content.contract.thirdText">
                </div>
                <NuxtLink v-if="showContractsButton" :to="localePath('contractdocuments')"
                    class="cursor-plus rent-button">{{ $t('rent.contractdocuments') }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="43.921" height="30.082" viewBox="0 0 43.921 30.082">
                        <g id="Group_457" data-name="Group 457" transform="translate(-1014.472 -7798.459)">
                            <line id="Line_696" data-name="Line 696" x2="43.214"
                                transform="translate(1014.472 7813.391)" fill="none" stroke="#a06e64"
                                stroke-width="1" />
                            <path id="Path_663" data-name="Path 663" d="M-8410.961-2137l14.688,14.688-14.687,14.688"
                                transform="translate(9453.959 9935.813)" fill="none" stroke="#a06e64"
                                stroke-width="1" />
                        </g>
                    </svg>
                </NuxtLink>
            </div>

            <div class="rent-and-parking">
                <div class="col-6 storage-rent spacer">
                    <p class="storage-heading def-h">{{ content.storage.title }}</p>
                    <div class="storage-price" v-for="(storage, index) in content.storage.prices" :key="index">
                        <div class="l-top padding">
                            <p>{{ storage.title }}</p>
                        </div>
                        <div class="l-top" :class="{ 'l-bot': index == content.storage.prices.length - 1 }">
                            <p>
                                <span class="l-text">{{ storage.price.replace('EUR/mēn.', '').replace('€/мес.',
                                    '') }}</span>
                                <span v-if="$i18n.locale == 'lv'">EUR/mēn.</span>
                                <span v-else>€/мес.</span>
                            </p>
                            <p class="l-left" v-html="global_fixSquareMeters(storage.area)"></p>
                        </div>
                    </div>

                </div>

                <div class="col-6 parking">
                    <p class="parking-heading def-h">{{ content.parking.title }}</p>
                    <div class="l-top padding">
                        <p>{{ content.parking.street }}</p>
                    </div>
                    <div class="l-top l-text">
                        <p>{{ content.parking.free }}</p>
                    </div>
                    <div class="l-top padding">
                        <p>{{ content.parking.surface }}</p>
                    </div>
                    <div class="l-top">
                        <p><span class="l-text">{{ content.parking.surfacePrice }}</span> {{ content.parking.monthly }}
                        </p>
                    </div>
                    <div class="l-top padding">
                        <p>{{ content.parking.indoor }}</p>
                    </div>
                    <div class="l-top l-bot">
                        <p><span class="l-text">{{ content.parking.indoorPrice }}</span> {{ content.parking.monthly }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="rent-contact">
                <div class="contact-img"
                    :style="{ backgroundImage: 'url(' + global_statically(content.contact.image, 400) + ')' }">
                </div>
                <div class="contact-info">
                    <p class="contact-name">{{ content.contact.name }}</p>
                    <p class="contact-title">{{ content.contact.title }}</p>
                    <a :href="`mailto:${content.contact.email}`" class="cursor-plus">
                        <div class="contact-email">

                            <p>{{ content.contact.email }}</p>


                            <svg xmlns="http://www.w3.org/2000/svg" width="15.773" height="12.504"
                                viewBox="0 0 15.773 12.504">
                                <g id="Group_451" data-name="Group 451" transform="translate(-1.304 -3.5)">
                                    <path id="Path_659" data-name="Path 659"
                                        d="M3.438,4h11.5A1.442,1.442,0,0,1,16.38,5.438v8.628A1.442,1.442,0,0,1,14.942,15.5H3.438A1.442,1.442,0,0,1,2,14.066V5.438A1.442,1.442,0,0,1,3.438,4Z"
                                        fill="none" stroke="#a06e64" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1" />
                                    <path id="Path_660" data-name="Path 660" d="M16.38,6,9.19,11.033,2,6"
                                        transform="translate(0 -0.562)" fill="none" stroke="#a06e64"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                                </g>
                            </svg>

                        </div>
                    </a>
                    <a :href="`tel:${content.contact.phone}`" class="cursor-plus">
                        <div class="contact-phone">
                            <p>{{ content.contact.phone }}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.201" height="16.223"
                                viewBox="0 0 16.201 16.223">
                                <path id="Path_658" data-name="Path 658"
                                    d="M11.491,3.9a3.625,3.625,0,0,1,2.863,2.863M11.491,1a6.524,6.524,0,0,1,5.763,5.756m-.725,5.785v2.175a1.449,1.449,0,0,1-1.444,1.456c-.046,0-.091,0-.136-.006A14.345,14.345,0,0,1,8.693,13.94a14.134,14.134,0,0,1-4.35-4.35A14.345,14.345,0,0,1,2.118,3.305,1.451,1.451,0,0,1,3.431,1.731c.043,0,.086-.006.129-.006H5.735a1.449,1.449,0,0,1,1.45,1.247,9.3,9.3,0,0,0,.507,2.037,1.449,1.449,0,0,1-.326,1.53l-.921.921a11.6,11.6,0,0,0,4.35,4.35l.921-.921a1.449,1.449,0,0,1,1.53-.326,9.3,9.3,0,0,0,2.037.507A1.45,1.45,0,0,1,16.529,12.541Z"
                                    transform="translate(-1.606 -0.448)" fill="none" stroke="#a06e64"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            showContractsButton: true
        }
    },
    props: ["content"],
};
</script>
<style lang="scss" scoped>
.rent {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: $beige;
    flex-direction: column;

    .rent-button {
        width: 100%;
        height: 55px;
        border: 1px solid $bronze;
        color: $bronze !important;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 3.5px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);

            transition: right 0.49s ease;
        }

        &:hover {
            @media (min-width: 950px) {
                svg {
                    right: -50px;
                }
            }
        }
    }

    .main-wrap {
        display: flex;
        flex-direction: column;
        max-width: 1468px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        background-color: $beige;

        &:first-child {
            padding-top: 110px;
            padding-bottom: 65px;
        }



        .rent-info-main,
        .rent-and-parking {
            max-width: 955px;
            margin: 0 auto;
            display: flex;
            width: 100%;

            .col-6 {
                max-width: 50%;
                flex: 0 0 50%;

                .contract-text-2 {
                    margin-top: 16px;
                    margin-bottom: 16px;
                }

                .def-h {
                    font-size: 26px;
                    margin-top: 105px;
                    margin-bottom: 53px;
                }

                &.flats {
                    /*padding-right: 27.5px;*/
                }

                &.apartments {
                    padding-left: 27.5px;

                    .equip-heading {
                        /*margin-top: 301px;*/
                    }

                    .extras-heading {
                        margin-top: 79px;
                    }
                }

                .pdf-box {
                    width: 100%;
                    height: 318px;
                    display: flex;
                    border: 1px solid $pitch;
                    margin-top: 30px;

                    img,
                    .text {
                        max-width: 50%;
                        flex: 0 0 50%;
                    }

                    .text {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;

                        p {
                            text-align: center;
                            font-size: 11px;
                            letter-spacing: 3.5px;
                            text-transform: uppercase;
                            word-spacing: 999px;
                            line-height: 30px;
                        }
                    }
                }

                .pdf-link {
                    margin-top: 30px;
                    font-size: 15px;
                    color: $bronze;
                    display: flex;
                    align-content: center;
                    align-items: center;

                    svg {
                        margin-left: 10px;
                    }
                }

                .table-heading {
                    margin-top: 34px;
                    margin-bottom: 52px;
                    font-size: 26px;
                }

                .l-text {
                    font-size: 26px;
                }

                .l-top {
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    border-top: 1px solid $pitch;

                    &.padding {
                        padding: 12px 0;
                    }

                    .l-left {
                        min-width: 126px;
                        height: 38px;
                        border-left: 1px solid $pitch;
                        margin-left: auto;
                        margin-right: 0px;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: flex-end;
                    }
                }

                .l-bot {
                    border-bottom: 1px solid $pitch;
                }
            }
        }

        .rent-contact {

            margin-top: 80px;
            border-top: 1px solid $pitch;

            padding: 65px 0px;

            max-width: 955px;
            margin: 0 auto;
            display: flex;
            width: 100%;

            .contact-img {
                background-size: contain;
                background-position: center;
                max-width: 198px;
                height: 198px;
                flex: 0 0 198px;
                margin-right: 54px;
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                height: 100%;

                .contact-name {
                    margin-top: 0px;
                    font-size: 26px;
                }

                .contact-title,
                .contact-email p,
                .contact-phone p {
                    font-size: 15px;
                }

                .contact-title {
                    margin-bottom: auto;
                }

                .contact-email,
                .contact-phone {
                    display: flex;
                    align-items: center;
                    align-content: center;

                    svg {
                        margin-left: auto;
                        margin-right: 0px;
                    }
                }
            }
        }
    }

}

.vr-line {
    border-right: 1px solid $pitch;
    padding-right: 27.5px;
}

.spacer {
    padding-right: 27.5px;
}

.rent-and-parking {
    max-width: 955px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    border-top: 1px solid $pitch;
    padding-bottom: 65px;

}

.storage-heading,
.parking-heading {
    height: 50px;

}

.parking {
    padding-left: 27.5px
}

.contract-main {
    max-width: 955px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 65px;

    .rent-button {
        width: 100%;
        width: 345px;
        height: 55px;
        border: 1px solid $pitch;
        color: $pitch !important;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 3.5px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);

            transition: right 0.49s ease;

            @media (max-width: 950px) {
                opacity: 1;
                right: -20px;
            }
        }

        &:hover {
            @media (min-width: 950px) {
                svg {
                    right: -50px;
                }
            }
        }
    }
}

.contract-text-2 {
    width: 700px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.contract-text-3 {
    padding-bottom: 12px;
}

.contract-main .def-h {
    font-size: 26px;
    margin-top: 65px;
    margin-bottom: 10px;
}

.padding {
    padding: 12px 0;
}
</style>
