<template>
  <section class="rent rent-mobile">
    <div class="main-wrap">
      <div class="rent-nav" :class="{ open: tabs.flatsOpen || tabs.apartmentsOpen }">
        <div class="title" :class="{ closed: tabs.flatsOpen || tabs.apartmentsOpen }">
          <div class="main" v-html="content.title"></div>

          <SectionRentList />
        </div>

        <div
          class="rent-buttons"
          :class="{ open: tabs.flatsOpen || tabs.apartmentsOpen }"
        >
          <div
            class="rent-type-button"
            @click="toggleType('flatsOpen')"
            :class="{ active:  tabs.flatsOpen }"
          >
            <p>{{ content.flats.tableHeading }}</p>
            <Plus :class="{ active:  tabs.flatsOpen }"></Plus>
          </div>

          <div
            class="rent-type-button"
            @click="toggleType('apartmentsOpen')"
            :class="{ active:  tabs.apartmentsOpen }"
          >
            <p>{{ content.apartments.tableHeading }}</p>
            <Plus :class="{ active:  tabs.apartmentsOpen }"></Plus>
          </div>
        </div>
      </div>

      <div class="rent-info-main">
        <div class="col-6 flats" ref="flats" :class="{ open:  tabs.flatsOpen }">
          <div class="pagepaddings">
            <a class="pdf-box cursor-plus" target="_blank" :href="content.flats.pdfLink">
                <img :src="global_statically(content.flats.pdfImg, 450)" :alt="content.flats.tableHeading"/>
                <div class="text">
                    <p>{{content.viewPdf}}</p>
                </div>
            </a>

            <div
              class="flat-price"
              v-for="(flat, index) in content.flats.prices"
              :key="index"
              itemscope itemtype="https://schema.org/Apartment"
            >
              <div class="padding" :class="{ 'l-top': index > 0 }">
                <p>{{ flat.title }}</p>
              </div>
              <div class="l-top">
                <p class="l-text">{{ flat.price }}</p>
                <p class="l-left" v-html="global_fixSquareMeters(flat.area)"></p>
              </div>
            </div>

            <div class="l-top padding">
              <p>{{ content.flats.pricesLegend }}</p>
            </div>

            <p class="equip-heading def-h">{{ content.flats.equipHeading }}</p>
            <div class="equip-list" v-html="content.flats.equipList"></div>

            <p class="extras-heading def-h">{{ content.flats.extrasHeading }}</p>
            <div class="extras-list" v-html="content.flats.extrasList"></div>
          </div>

          <SectionRentBlock />

          <div class="pagepaddings">
            <p class="contract-heading def-h">{{ content.contract.title }}</p>
            <div
              class="contract-text-1 has-square-meters"
              v-html="content.contract.firstText"
            ></div>
            <p class="contract-text-2">{{ content.contract.secondText }}</p>
            <div
              class="contract-text-3"
              v-html="content.contract.thirdText"
            ></div>
          
            <NuxtLink v-if="showContractsButton" :to="localePath('contractdocuments')" class="cursor-plus rent-button">{{$t('rent.contractdocuments')}}
                <svg xmlns="http://www.w3.org/2000/svg" width="43.921" height="30.082" viewBox="0 0 43.921 30.082">
                    <g id="Group_457" data-name="Group 457" transform="translate(-1014.472 -7798.459)">
                        <line id="Line_696" data-name="Line 696" x2="43.214" transform="translate(1014.472 7813.391)" fill="none" stroke="#a06e64" stroke-width="1"/>
                        <path id="Path_663" data-name="Path 663" d="M-8410.961-2137l14.688,14.688-14.687,14.688" transform="translate(9453.959 9935.813)" fill="none" stroke="#a06e64" stroke-width="1"/>
                    </g>
                </svg>
            </NuxtLink> 

            <p class="storage-heading def-h">{{ content.storage.title }}</p>

            <div class="storage-price" v-for="(storage, index) in content.storage.prices" :key="index">
              <div class="l-top padding">
                <p>{{ storage.title }}</p>
              </div>
              <div class="l-top">
                <p class="l-text">{{ storage.price }}</p>
                <p class="l-left" v-html="global_fixSquareMeters(storage.area)"></p>
              </div>
            </div>

            <p class="parking-heading def-h">{{ content.parking.title }}</p>

            <div class="l-top">
              <p>{{ content.parking.street }}</p>
            </div>
            <div class="l-top l-text">
              <p>{{ content.parking.free }}</p>
            </div>
            <div class="l-top ">
              <p>{{content.parking.surface}}</p>
            </div>
            <div class="l-top">
              <p><span class="l-text">{{content.parking.surfacePrice}}</span> {{content.parking.monthly}}</p>
            </div>
            <div class="l-top">
              <p>{{ content.parking.indoor }}</p>
            </div>
            <div class="l-top">
              <p>
                <span class="l-text">{{ content.parking.indoorPrice }}</span>
                {{ content.parking.monthly }}
              </p>
            </div>

          </div>
        </div>
        <div class="col-6 apartments" ref="apartments" :class="{ open:  tabs.apartmentsOpen }">
          <!--<a class="pdf-link" target="_blank" :href="content.apartments.pdfLink">{{ content.viewPdf }}</a>-->
          <div class="pagepaddings">


          <a class="pdf-box cursor-plus" target="_blank" :href="content.apartments.pdfLink">
              <img :src="global_statically(content.apartments.pdfImg, 450)" :alt="content.apartments.tableHeading"/>
              <div class="text">
                  <p>{{content.viewPdf}}</p>
              </div>
          </a>

            <div
              class="apartment-price"
              v-for="(apartment, index) in content.apartments.prices"
              :key="index"
            >
              <div class="padding" :class="{ 'l-top': index > 0 }">
                <p>{{ apartment.title }}</p>
              </div>
              <div class="l-top">
                <p class="l-text">{{ apartment.price }}</p>
                <p class="l-left" v-html="global_fixSquareMeters(apartment.area)"></p>
              </div>
            </div>

            <div class="l-top padding">
              <p>{{ content.apartments.pricesLegend }}</p>
            </div>

            <p class="equip-heading def-h">
              {{ content.apartments.equipHeading }}
            </p>
            <div class="equip-list" v-html="content.apartments.equipList"></div>

            <p class="extras-heading def-h">
              {{ content.apartments.extrasHeading }}
            </p>
            <div class="extras-list" v-html="content.apartments.extrasList"></div>
          </div>

          <SectionRentBlock />

          <div class="pagepaddings">
            <p class="contract-heading def-h">{{ content.contract.title }}</p>
            <div
              class="contract-text-1 has-square-meters"
              v-html="content.contract.firstText"
            ></div>
            <p class="contract-text-2">{{ content.contract.secondText }}</p>
            <div
              class="contract-text-3"
              v-html="content.contract.thirdText"
            ></div>

            <p class="storage-heading def-h">{{ content.storage.title }}</p>

            <div class="storage-price" v-for="(storage, index) in content.storage.prices" :key="index">
              <div class="l-top padding">
                <p>{{ storage.title }}</p>
              </div>
              <div class="l-top">
                <p class="l-text">{{ storage.price }}</p>
                <p class="l-left" v-html="global_fixSquareMeters(storage.area)"></p>
              </div>
            </div>

            <p class="parking-heading def-h">{{ content.parking.title }}</p>

            <div class="l-top">
              <p>{{ content.parking.street }}</p>
            </div>
            <div class="l-top l-text">
              <p>{{ content.parking.free }}</p>
            </div>
            <div class="l-top ">
              <p>{{content.parking.surface}}</p>
            </div>
            <div class="l-top">
              <p><span class="l-text">{{content.parking.surfacePrice}}</span> {{content.parking.monthly}}</p>
            </div>
            <div class="l-top">
              <p>{{ content.parking.indoor }}</p>
            </div>
            <div class="l-top">
              <p>
                <span class="l-text">{{ content.parking.indoorPrice }}</span>
                {{ content.parking.monthly }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="rent-contact">
        <div
          class="contact-img"
          :style="{ backgroundImage: 'url(' + global_statically(content.contact.image, 380) + ')' }"
        ></div>
        <div class="contact-info">
          <p class="contact-name">{{ content.contact.name }}</p>
          <p class="contact-title">{{ content.contact.title }}</p>
          <a :href="`mailto:${content.contact.email}`">
            <div class="contact-email">
              <p>{{ content.contact.email }}</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15.773"
                height="12.504"
                viewBox="0 0 15.773 12.504"
              >
                <g
                  id="Group_451"
                  data-name="Group 451"
                  transform="translate(-1.304 -3.5)"
                >
                  <path
                    id="Path_659"
                    data-name="Path 659"
                    d="M3.438,4h11.5A1.442,1.442,0,0,1,16.38,5.438v8.628A1.442,1.442,0,0,1,14.942,15.5H3.438A1.442,1.442,0,0,1,2,14.066V5.438A1.442,1.442,0,0,1,3.438,4Z"
                    fill="none"
                    stroke="#a06e64"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                  />
                  <path
                    id="Path_660"
                    data-name="Path 660"
                    d="M16.38,6,9.19,11.033,2,6"
                    transform="translate(0 -0.562)"
                    fill="none"
                    stroke="#a06e64"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1"
                  />
                </g>
              </svg>
            </div>
          </a>
          <a :href="`tel:${content.contact.phone}`">
            <div class="contact-phone">
              <p>{{ content.contact.phone }}</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16.201"
                height="16.223"
                viewBox="0 0 16.201 16.223"
              >
                <path
                  id="Path_658"
                  data-name="Path 658"
                  d="M11.491,3.9a3.625,3.625,0,0,1,2.863,2.863M11.491,1a6.524,6.524,0,0,1,5.763,5.756m-.725,5.785v2.175a1.449,1.449,0,0,1-1.444,1.456c-.046,0-.091,0-.136-.006A14.345,14.345,0,0,1,8.693,13.94a14.134,14.134,0,0,1-4.35-4.35A14.345,14.345,0,0,1,2.118,3.305,1.451,1.451,0,0,1,3.431,1.731c.043,0,.086-.006.129-.006H5.735a1.449,1.449,0,0,1,1.45,1.247,9.3,9.3,0,0,0,.507,2.037,1.449,1.449,0,0,1-.326,1.53l-.921.921a11.6,11.6,0,0,0,4.35,4.35l.921-.921a1.449,1.449,0,0,1,1.53-.326,9.3,9.3,0,0,0,2.037.507A1.45,1.45,0,0,1,16.529,12.541Z"
                  transform="translate(-1.606 -0.448)"
                  fill="none"
                  stroke="#a06e64"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1"
                />
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      tabs: {
        flatsOpen: false,
        apartmentsOpen: false,
      },
      showContractsButton: true
    };
  },
  methods: {
    toggleType(type) {
      for (const property in this.tabs) {
        if (type == property) {
          this.tabs[property] = !this.tabs[property];
        } else {
          this.tabs[property] = false;
        }
      }

      if (window) {
        window.scrollTo(0, 0);
      }
    },
  },
  props: ["content"],
};
</script>
<style lang="scss" scoped>
.rent {
  width: 100vw;
  min-height: 100vh;
  background-color: $beige;
  .rent-nav {
    background-color: $beige;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding-top: 90px;
    z-index: 3;
    max-height: 100vh;
    overflow: scroll;
    padding-bottom: 0px;
    .title {
      padding-left: 26px;
    }
  }
  .rent-buttons {
    padding-left: 26px;
    padding-bottom: 150px;
    transition: padding 0.3s ease;
    &.open {
      border-bottom: 1px solid $pitch;
      padding-bottom: 20px;
    }
  }
  .rent-type-button {
    display: flex;
    align-items: center;
    align-content: center;
    :deep(svg) {
      width: 24px;
      height: 24px;
      max-width: 24px;
      flex: 0 0 24px;
      transition: transform 0.3s ease;
    }
    &.active {
      p {
        color: $bronze;
      }
      :deep(svg) {
        transform: rotate(45deg);
        circle, line, path {
          stroke: $bronze;
        }
      }
    }
    p {
      font-size: 26px;
      margin-right: 12px;
    }
  }
  .pagepaddings {
    padding-left: 26px;
    padding-right: 26px;
  }
  .main-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    background-color: $beige;
    padding-bottom: 30px;
    .extras-list {
      margin-bottom: 30px;
    }
    .rent-contact {
      margin-top: 80px;
      border-top: 1px solid $pitch;
      border-bottom: 1px solid $pitch;
      padding: 15px 26px 30px 26px;
      display: flex;
      flex-direction: column;
      .contact-img {
        background-size: contain;
        background-position: center;
        width: 192px;
        height: 192px;
      }
      .contact-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        .contact-name {
          margin-top: 10px;
          font-size: 26px;
        }
        .contact-title,
        .contact-email p,
        .contact-phone p {
          font-size: 15px;
        }
        .contact-email {
          margin-top: 50px;
        }
        .contact-title {
          margin-bottom: auto;
        }
        .contact-email,
        .contact-phone {
          display: flex;
          align-items: center;
          align-content: center;
          svg {
            margin-left: auto;
            margin-right: 0px;
          }
        }
      }
    }
    .title {
      overflow: hidden;
      font-size: 59px;
      width: 100%;
      margin-bottom: 40px;
      height: 515px;
      transition: height 0.3s ease, margin 0.3s ease;
      &.closed {
        height: 0px;
        margin-bottom: 0px;
      }
      h3 {
        font-size: 59px;
        line-height: 50px;
      }
    }
    .rent-info-main {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .col-6 {
        max-width: 100%;
        flex: 0 0 100%;
        overflow: hidden;
        height: 0px;
        transition: height 0.3s ease, padding 0.3s ease;
        &.open {
          padding-top: 90px;
          height: auto;
        }
        .contract-text-2 {
          margin-top: 16px;
          margin-bottom: 16px;
        }
        .def-h {
          font-size: 26px;
          margin-top: 53px;
          margin-bottom: 53px;
        }
        &.flats {
        }
        &.apartments {
        }

        .pdf-link {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 15px;
          color: $bronze;
          display: flex;
          align-content: center;
          align-items: center;
          svg {
            margin-left: 10px;
          }
        }
        .table-heading {
          margin-top: 34px;
          margin-bottom: 52px;
          font-size: 26px;
        }
        .l-text {
          font-size: 26px;
        }
        .l-top {
          min-height: 48px;
          display: flex;
          align-items: center;
          align-content: center;
          border-top: 1px solid $pitch;
          &.padding {
            padding: 12px 0;
          }
          .l-left {
            min-width: 126px;
            height: 38px;
            border-left: 1px solid $pitch;
            margin-left: auto;
            margin-right: 0px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-end;
          }
        }
        .l-bot {
          border-bottom: 1px solid $pitch;
        }
      }
      .rent-button {
        width: 100%;
        width: 345px;
        height: 55px;
        border: 1px solid $pitch;
        color: $pitch !important;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 3.5px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        
            transition: right 0.49s ease;
            
            opacity: 1;
            right: -20px;
            
        }
    }
    }
  }
}

.pdf-box {
    width: 100%;
    display: flex;
    border: 1px solid $pitch;
    margin-top: 30px;
    margin-bottom: 30px;
    img,.text {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .text {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        p {
            text-align: center;
            font-size: 11px;
            letter-spacing: 3.5px;
            text-transform: uppercase;
            word-spacing: 999px;
            line-height: 30px;
        }
    }
}
</style>
