<template>
	<section class="standards">
        <div class="section section__landing full-section white-section def-padding">
            <IntroNew :content="$t('standards.landing')" media="image" index="04" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/mob/lv/standards-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/mob/en/standards-01.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/mob/ru/standards-01.svg')" alt="">
            </IntroNew>
        </div>
        <div class="section cover-section section__quote white-section large-text-section">
            <BoxImage align="left" :content="$t('standards.quote')" ></BoxImage>
        </div>
        <div class="section cover-section section__list white-section">
            <SectionStandardsMobileList :content="$t('standards.listMobile')" index="09"></SectionStandardsMobileList>
        </div>
        <div class="section cover-section section__projects white-section">
            <SectionStandardsMobileProjects :content="$t('standards.projectsMobile')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/mob/lv/standards-02.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/mob/en/standards-02.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/mob/ru/standards-02.svg')" alt="">
            </SectionStandardsMobileProjects>
        </div>
        <div class="section cover-section dark-section section__awards">
            <SectionStandardsAwards index="10" :content="$t('standards.awards')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/mob/lv/standards-03.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/mob/en/standards-03.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/mob/ru/standards-03.svg')" alt="">
            </SectionStandardsAwards>
        </div>
	</section>
</template>
<script>
export default {
	props: [],
	data() {
        return {}
    },
	methods: {},
    mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.decor-1 {
    position: absolute;
    height: 79%;
    top: 39px;
    right: 0px;
}
.decor-2 {
    position: absolute;
    height: auto;
    right: 0px;
    top: 0px;
    width: 100%;
}
.decor-3 {
    position: absolute;
    top: -18px;
    z-index: 0;
    width: 100%;
    left: 0px;
}
.selected-language-en {
    .decor-1 {
        position: absolute;
        height: 79%;
        top: 66px;
        right: 0px;
    }
    .decor-2 {
        position: absolute;
        height: auto;
        right: 0px;
        top: 0px;
        width: 100%;
    }
    .decor-3 {
        position: absolute;
        top: -18px;
        z-index: 0;
        width: 100%;
        left: 0px;
    }
}
.selected-language-ru {
    .decor-1 {
        position: absolute;
        height: 70%;
        top: 66px;
        right: 0px;
    }
    .decor-2 {
        position: absolute;
        height: auto;
        right: 0px;
        top: 0px;
        width: 100%;
    }
    .decor-3 {
        position: absolute;
        top: -18px;
        z-index: 0;
        width: 100%;
        left: 0px;
    }
}
</style>