<template>
	<section class="standards">
        <div class="section section__intro full-section white-section def-padding">
            <IntroNew :content="$t('standards.landing')" media="image" index="04" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-1" :src="require('~/assets/svg/lv/standarts1.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-1" :src="require('~/assets/svg/en/standarts1.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-1" :src="require('~/assets/svg/ru/standarts1.svg')" alt="">
            </IntroNew>
        </div>
        <div class="section cover-section section__quote large-text-section white-section">
            <BoxImage align="left" :content="$t('standards.quote')" ></BoxImage>
        </div>
        <div class="section cover-section section__list white-section">
            <BoxGrid :content="$t('standards.list')" :cols="4" index="09" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-2" :src="require('~/assets/svg/lv/standarts2.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-2" :src="require('~/assets/svg/en/standarts2.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-2" :src="require('~/assets/svg/ru/standarts2.svg')" alt="">
            </BoxGrid>
        </div>
        <div class="section cover-section section__projects white-section">
            <SectionStandardsProjects :content="$t('standards.projects')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-3" :src="require('~/assets/svg/lv/standarts3.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-3" :src="require('~/assets/svg/en/standarts3.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-3" :src="require('~/assets/svg/ru/standarts3.svg')" alt="">
            </SectionStandardsProjects>
        </div>
        <div class="section cover-section dark-section section__awards">
            <SectionStandardsAwards index="10" :content="$t('standards.awards')" no-decor>
                <img v-if="selectedLocale == 'lv'" class="decor-4" :src="require('~/assets/svg/lv/standarts4.svg')" alt="">
                <img v-else-if="selectedLocale == 'en'" class="decor-4" :src="require('~/assets/svg/en/standarts4.svg')" alt="">
                <img v-else-if="selectedLocale == 'ru'" class="decor-4" :src="require('~/assets/svg/ru/standarts4.svg')" alt="">

                <img v-if="selectedLocale == 'ru'" class="decor-5" :src="require('~/assets/svg/ru/standarts5.svg')" alt="">
                <img v-else class="decor-5" :src="require('~/assets/svg/lv/standarts5.svg')" alt="">
            </SectionStandardsAwards>
        </div>
	</section>
</template>
<script>
export default {
	props: [],
	data() {
        return {}
    },
	methods: {},
	mounted() {},
    computed: {
        selectedLocale() {
            return this.$i18n.locale;
        },
    },
};
</script>
<style lang="scss" scoped>
.selected-language-en {
    .decor-1 {
        position: absolute;
        top: 70px;
        bottom: unset;
        height: 56%;
        right: -2px;
    }
    .decor-2 {
        position: absolute;
        left: 0px;
        top: 15%;
        width: 27%;
    }
    .decor-3 {
        position: absolute;
        width: 10.2%;
        bottom: 2%;
        right: 0px;
    }
    .decor-4 {
        position: absolute;
        height: 23%;
        top: 0px;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        height: 11%;
        top: 10%;
        right: 0px;
    }
}

.selected-language-ru {
    .decor-1 {
        position: absolute;
        bottom: 0px;
        height: 56%;
        right: 0px;
    }
    .decor-2 {
        position: absolute;
        left: 0px;
        top: 14%;
        width: 27%;
    }
    .decor-3 {
        position: absolute;
        width: 8.2%;
        bottom: 0%;
        right: 0px;
    }
    .decor-4 {
        position: absolute;
        height: 23%;
        top: 0px;
        left: 0px;
    }
    .decor-5 {
        position: absolute;
        height: 11%;
        top: 10%;
        right: 0px;
    }
}
.decor-1 {
    position: absolute;
    bottom: 0px;
    height: 56%;
    right: 0px;
}
.decor-2 {
    position: absolute;
    left: 0px;
    top: 14%;
    width: 27%;
}
.decor-3 {
    position: absolute;
    width: 8.2%;
    bottom: 2%;
    right: 0px;
}
.decor-4 {
    position: absolute;
    height: 23%;
    top: 0px;
    left: 0px;
}
.decor-5 {
    position: absolute;
    height: 11%;
    top: 10%;
    right: 0px;
    @media (max-width: 1250px) {
        top: 2% !important;
    }
}
</style>
