<template>
  <div class="about-page main-page" ref="aboutPage">
    <div v-if="innerWidth > 950" class="desktop">
      <Nav></Nav>
      <Counter></Counter>
      <SectionAbout></SectionAbout>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Nav></Nav>
      <SectionAboutMobile></SectionAboutMobile>
      <Footer></Footer>
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
  	  head() {
        return {
            title: this.$t('seo.about.title'),
            meta: [
              { hid: 'description', name: 'description', content: this.$t('seo.about.description')},
              { hid: "og:title", property:"og:title", content: this.$t('seo.about.title') },
              { hid: "og:description", property:"og:description", content: this.$t('seo.about.description') },
              { hid: "og:image", property:"og:image", content: this.$t('seo.about.ogImage') },
            ]
      }
    },
  nuxtI18n: {
    paths: {
      en: "/about-lindenholma",
      lv: "/par-lindenholmu",
      ru: "/o-lindenholma"
    }
  },

  data() {
    return {
      innerWidth: 0
    };
  },
  mounted() {
    this.innerWidth = window.innerWidth;
  }
};
</script>
