<template>
  <div class="apartments-page main-page" ref="apartmentsPage">
    <div v-if="innerWidth > 950" class="desktop">
      <Nav></Nav>
      <Counter></Counter>
      <SectionApartments
        :allApartments="allApartments"
        :rentApartments="rentApartments"
        :buyApartments="buyApartments"
        :galleries="galleries"
      ></SectionApartments>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Nav></Nav>
      <SectionApartmentsMobile
        :allApartments="allApartments"
        :rentApartments="rentApartments"
        :buyApartments="buyApartments"
        :galleries="galleries"
      ></SectionApartmentsMobile>
      <Footer></Footer>
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
      head() {
        return {
            title: this.$t('seo.apartments.title'),
            meta: [
            { hid: 'description', name: 'description', content: this.$t('seo.apartments.description')},
            { hid: "og:title", property:"og:title", content: this.$t('seo.apartments.title') },
            { hid: "og:description", property:"og:description", content: this.$t('seo.apartments.description') },
            { hid: "og:image", property:"og:image", content: this.$t('seo.apartments.ogImage') },
            ]
      }
    },
  nuxtI18n: {
    paths: {
      en: "/apartments",
      lv: "/dzivokli",
      ru: "/kvartiry"
    }
  },

  async asyncData({ $axios }) {
    const allApartments = await $axios.$get("apartments/distinct");
    const rentApartments = await $axios.$get("apartments/distinct/rent");
    const buyApartments = await $axios.$get("apartments/distinct/sale");
    const apartmentTypeGallery = await $axios.$get("content/galleries/1");
    const decorationGallery = await $axios.$get("content/galleries/3");
    return {
      allApartments: allApartments,
      rentApartments: rentApartments,
      buyApartments: buyApartments,
      galleries: {
        apartmentTypeGallery: apartmentTypeGallery,
        decorationGallery: decorationGallery
      }
    };
  },
  data() {
    return {
      innerWidth: 0
    };
  },
  computed: {
    // innerWidth() {
    // 	return window.innerWidth;
    // }
  },
  methods: {},
  mounted() {
    this.innerWidth = window.innerWidth;
  }
};
</script>
