<template>
    <div class="home-page main-page" ref="homePage">
        <div :class="{'desktop': innerWidth > 950}">
            <Nav></Nav>
            <div class="rent">
                <div class="main-wrap">
                    <div class="title title--contractdocuments" v-html="$t('contractdocuments.title')"></div>
                    <div class="rent-info-main">
                        <div v-for="(document, index) in docs" :key="index" class="col-6 flats">
                            <div class="spacer">
                                <a class="pdf-box cursor-plus" target="_blank" :href="document.file.path">
                                    <img :src="document.image.path | statically (450)" :alt="document.title"/>
                                    <div class="text">
                                        <p>{{ $t('contractdocuments.show') }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Footer></Footer>
        </div>
        <Cookiebar></Cookiebar>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            innerWidth: 0
            };
        },
        mounted() {
            this.innerWidth = window.innerWidth;
        },
        nuxtI18n: {
            paths: {
                en: "/contract-documents",
                lv: "/liguma-dokumenti",
                ru: "/kontraktnie-dokumenti"
            }
        },

        async asyncData({$axios}) {
            const docs = await $axios.$get('content/contract-documents');
            return {docs:docs.data}
        }
    }
</script>

<style lang="scss" scoped>
.desktop {
  background-color: $beige;
}
.rent {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: $beige;
    padding-bottom: 4rem;
    .spacer{
        padding-right: 27.5px;
    }
    .main-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 110px;
        max-width: 1468px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        background-color: $beige;
        padding-bottom: 0px;
        @media (max-width: 950px) {
            padding: 110px 26px 30px;
        }
        .title {
            width: 678px;
            &--contractdocuments {
                @media (max-width: 950px) {
                    height: auto !important;
                }
            }
        }
        .rent-info-main {
            max-width: 955px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap; //added
            width: 100%;
            .col-6 {
                max-width: 50%;
                flex: 0 0 50%;
                @media (max-width: 950px) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                .contract-text-2 {
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                .def-h {
                    font-size: 26px;
                    margin-top: 105px;
                    margin-bottom: 53px;
                }

                &.apartments {
                    padding-left: 27.5px;
                    .extras-heading {
                        margin-top: 79px;
                    }
                }
                .pdf-box {
                    width: 100%;
                    
                    display: flex;
                    border: 1px solid $pitch;
                    margin-top: 30px;
                    @media (min-width: 951px) {
                        height: 318px;
                    }
                    img,.text {
                        max-width: 50%;
                        flex: 0 0 50%;
                    }
                    .text {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        p {
                            text-align: center;
                            font-size: 11px;
                            letter-spacing: 3.5px;
                            text-transform: uppercase;
                            word-spacing: 999px;
                            line-height: 30px;
                        }
                    }
                }
                .pdf-link {
                    margin-top: 30px;
                    font-size: 15px;
                    color: $bronze;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    svg {
                        margin-left: 10px;
                    }
                }
                .table-heading {
                    margin-top: 34px;
                    margin-bottom: 52px;
                    font-size: 26px;
                }
                .l-text {
                    font-size: 26px;
                }
                .l-top {
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    border-top: 1px solid $pitch;
                    &.padding {
                        padding: 12px 0;
                    }
                    .l-left {
                        min-width: 126px;
                        height: 38px;
                        border-left: 1px solid $pitch;
                        margin-left: auto;
                        margin-right: 0px;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: flex-end;
                    }
                }
                .l-bot {
                    border-bottom: 1px solid $pitch;
                }
            }
        }
    }
}
</style>