<template>
  <div class="home-page main-page" ref="documentationPage">
    <div v-if="innerWidth > 950" class="desktop">
      <Nav></Nav>
      <SectionDocumentation :docs="docs" :content="$t('documentation')"></SectionDocumentation>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Nav></Nav>
      <SectionDocumentationMobile :docs="docs" :content="$t('documentation')"></SectionDocumentationMobile>
      <Footer></Footer>
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: this.$t('seo.documentation.title'),
      meta: [
        { hid: 'description', name: 'description', content: this.$t('seo.documentation.description')},
        { hid: "og:title", property:"og:title", content: this.$t('seo.documentation.title') },
        { hid: "og:description", property:"og:description", content: this.$t('seo.documentation.description') },
        { hid: "og:image", property: "og:image", content: this.$t("seo.index.ogImage")}
      ]
    }
  },
  nuxtI18n: {
    paths: {
      en: "/documentation",
      lv: "/dokumentacija",
      ru: "/dokumenti"
    }
  },

  async asyncData({$axios}) {
		const docs = await $axios.$get('content/documents');
		return {docs:docs.data}
	},

  data() {
    return {
      innerWidth: 0
    };
  },
  mounted() {
    this.innerWidth = window.innerWidth;
  }
};
</script>
<style lang="scss" scoped>
.desktop {
  background-color: $beige;
}
</style>
