<template>
  <div class="filter-page" ref="filterPage" :class="innerWidth > 950 ? 'desktop' : 'mobile'">
    <div v-if="innerWidth > 950">
      <Nav></Nav>
      <SectionFilters :allApartments="allApartments"></SectionFilters>
      <!-- <Footer></Footer> -->
    </div>
    <div v-else>
      <Nav></Nav>
      <SectionFiltersMobile :allApartments="allApartments"></SectionFiltersMobile>
      <!-- <Footer></Footer> -->
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
  async asyncData({ $axios }) {
    const allApartments = await $axios.$get("apartments/all");
    return {
      allApartments: allApartments,
    };
  },
  head() {
    return {
      title: this.$t('seo.filter.title'),
      meta: [
        { hid: 'description', name: 'description', content: this.$t('seo.filter.description')},
        { hid: "og:title", property:"og:title", content: this.$t('seo.filter.title') },
        { hid: "og:description", property:"og:description", content: this.$t('seo.filter.description') },
        { hid: "og:image", property: "og:image", content: this.$t("seo.index.ogImage")}
      ]
    }
  },
  nuxtI18n: {
    paths: {
      en: "/filters",
      lv: "/filtri",
      ru: "/filtry"
    }
  },

  data() {
    return {
      innerWidth: 0,
    };
  },
  mounted() {
    if (process.client) {
      this.innerWidth = window.innerWidth
    }
  },
};
</script>
