<template>
  <div class="interface-page" ref="interfacePage" :class="innerWidth > 950 ? 'desktop' : 'mobile'">
    <div v-if="innerWidth > 950">
      <Nav></Nav>
      <SectionFiltersInterface :allRealBuildings="allRealBuildings"></SectionFiltersInterface>
      <!-- <Footer></Footer> -->
    </div>
    <div v-else>
      <Nav></Nav>
      <SectionFiltersInterface :allRealBuildings="allRealBuildings"></SectionFiltersInterface>
      <!-- <Footer></Footer> -->
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
  async asyncData({ $axios }) {
    const allRealBuildings = await $axios.$get("apartments/allrealbuildings");
    console.log('loading real buildings')
    return {
      allRealBuildings: allRealBuildings,
    };
  },
  nuxtI18n: {
    paths: {
      en: "/interface",
      lv: "/grafiskais",
      ru: "/inter"
    }
  },

  head() {
    return {
      title: this.$t("seo.index.title"),
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.$t("seo.index.description"),
        },
        {
          hid: "og:title",
          property: "og:title",
          content: this.$t("seo.index.ogTitle"),
        },
        {
          hid: "og:description",
          property: "og:description",
          content: this.$t("seo.index.ogDescription"),
        },
        {
          hid: "og:image",
          property: "og:image",
          content: this.$t("seo.index.ogImage"),
        },
      ],
    };
  },
  data() {
    return {
      innerWidth: 0,
    };
  },
  mounted() {
    if (process.client) {
      this.innerWidth = window.innerWidth
    }
  },
};
</script>
