<template>
  <div class="location-page main-page" ref="locationPage">
    <div v-if="innerWidth > 950" class="desktop">
      <Nav></Nav>
      <Counter></Counter>
      <SectionLocation></SectionLocation>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Nav></Nav>
      <SectionLocationMobile></SectionLocationMobile>
      <Footer></Footer>
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
      head() {
        return {
            title: this.$t('seo.location.title'),
            meta: [
            { hid: 'description', name: 'description', content: this.$t('seo.location.description')},
            { hid: "og:title", property:"og:title", content: this.$t('seo.location.title') },
            { hid: "og:description", property:"og:description", content: this.$t('seo.location.description') },
            { hid: "og:image", property:"og:image", content: this.$t('seo.location.ogImage') },
            ]
      }
    },
  nuxtI18n: {
    paths: {
      en: "/location",
      lv: "/atrasanas-vieta",
      ru: "/raspolozheniya"
    }
  },
  data() {
    return {
      innerWidth: 0
    };
  },
  mounted() {
    this.innerWidth = window.innerWidth;
  }
};
</script>
