<template>
	<div class="home-page main-page" ref="homePage">
		<div v-if="innerWidth > 950" class="desktop">
			<Nav></Nav>
			<Counter></Counter>
			<SectionHomeUpdated :galleries="galleries" :blogs="blogs"></SectionHomeUpdated>
			<Footer></Footer>
		</div>
		<div v-else class="mobile">
			<Nav></Nav>
			<SectionHomeMobileUpdated :galleries="galleries" :blogs="blogs"></SectionHomeMobileUpdated>
			<Footer></Footer>
		</div>
	    <Cookiebar></Cookiebar>
	</div>
</template>
<script>
export default {
	head() {
        return {
            title: this.$t('seo.index.title'),
            meta: [
            	{ hid: 'description', name: 'description', content: this.$t('seo.index.description')},
							{ hid: "og:title", property:"og:title", content: this.$t('seo.index.title') },
							{ hid: "og:description", property:"og:description", content: this.$t('seo.index.description')},
							{ hid: "og:image", property:"og:image", content: this.$t('seo.index.ogImage') },
            ]
      }
    },
	async asyncData({ $axios, params }) {
		const apartmentTypeGallery = await $axios.$get('content/galleries/1');
		const comfortGallery = await $axios.$get('content/galleries/2');
        const blogs = await $axios.$get("blogs");
		const galleries = {
			apartmentTypeGallery:apartmentTypeGallery,
			comfortGallery:comfortGallery
		}
		return {galleries, blogs: blogs}
	},
	data() {
      return {
        innerWidth: 0
      }
    },
	mounted() {
		this.innerWidth = window.innerWidth;
    },
};
</script>
