<template>
	<div class="privacy-page" ref="privacyPage">
        <Nav></Nav>
        <template v-if="$i18n.locale == 'lv'">
          <SectionPrivacyLv/>
        </template>
        <template v-if="$i18n.locale == 'ru'">
          <SectionPrivacyRu/>
        </template>
        <template v-if="$i18n.locale == 'en'">
          <SectionPrivacyEn/>
        </template>
        <Cookiebar></Cookiebar>
	</div>
</template>
<script>
export default {
  head() {
    return {
      title: this.$t('seo.privacy.title'),
      meta: [
        { hid: 'description', name: 'description', content: this.$t('seo.privacy.description')},
        { hid: "og:title", property:"og:title", content: this.$t('seo.privacy.title') },
        { hid: "og:description", property:"og:description", content: this.$t('seo.privacy.description') },
        { hid: "og:image", property: "og:image", content: this.$t("seo.index.ogImage")}
      ]
    }
  },
	methods: {

  },
	mounted() {
  },
  computed: {
		selectedLocale() {
			return this.$i18n.locale;
		},
	},
};
</script>
<style lang="scss" scoped>
.privacy-page {
    padding: 110px 90px 0px 90px;
    background-color: $beige;
    .container {
      padding-top: 0;
    }
    h3 {
        font-size: 32px;
        font-family: $third-font;
    }
    a {
        text-decoration: underline;
    }
}
</style>