<template>
  <div class="home-page main-page" ref="homePage">
    <div v-if="innerWidth > 950" class="desktop">
      <Nav></Nav>
      <SectionRent :content="$t('rent')"></SectionRent>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Nav></Nav>
      <SectionRentMobile :content="$t('rent')"></SectionRentMobile>
      <Footer></Footer>
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
    	head() {
        return {
            title: this.$t('seo.rent.title'),
            meta: [
            { hid: 'description', name: 'description', content: this.$t('seo.rent.description')},
            { hid: "og:title", property:"og:title", content: this.$t('seo.rent.title') },
            { hid: "og:description", property:"og:description", content: this.$t('seo.rent.description') },
            { hid: "og:image", property:"og:image", content: this.$t('seo.rent.ogImage') },
            ]
      }
    },
  nuxtI18n: {
    paths: {
      en: "/rent-apartment",
      lv: "/ires-dzivokli",
      ru: "/arenda-kvartiry"
    }
  },

  data() {
    return {
      innerWidth: 0
    };
  },
  mounted() {
    this.innerWidth = window.innerWidth;
  }
};
</script>
<style lang="scss" scoped>
.desktop {
  background-color: $beige;
}
</style>
