<template>
  <div class="standards-page main-page" ref="standardsPage">
    <div v-if="innerWidth > 950" class="desktop">
      <Nav></Nav>
      <Counter></Counter>
      <SectionStandards></SectionStandards>
      <Footer></Footer>
    </div>
    <div v-else class="mobile">
      <Nav></Nav>
      <SectionStandardsMobile></SectionStandardsMobile>
      <Footer></Footer>
    </div>
    <Cookiebar></Cookiebar>
  </div>
</template>
<script>
export default {
  	  head() {
        return {
            title: this.$t('seo.standards.title'),
            meta: [
            { hid: 'description', name: 'description', content: this.$t('seo.standards.description')},
            { hid: "og:title", property:"og:title", content: this.$t('seo.standards.title') },
            { hid: "og:description", property:"og:description", content: this.$t('seo.standards.description') },
            { hid: "og:image", property:"og:image", content: this.$t('seo.standards.ogImage') },
            ]
      }
    },
  nuxtI18n: {
    paths: {
      en: "/standards",
      lv: "/standarti",
      ru: "/standarty"
    }
  },
  data() {
    return {
      innerWidth: 0
    };
  },
  mounted() {
    this.innerWidth = window.innerWidth;
  }
};
</script>
