@use "../../variables";

.btn-all-sm {
    font-size: 11px;
    letter-spacing: 3px;
    border-radius: 50px;
    border: 1px solid variables.$pitch;
    padding: 1em 5.5em;
    margin-top: 30px;
    display: inline-block;
}

@media(min-width: 950px){
    .mobile {
        display: none;
    }
    .location .section__values .image > img {
        display: none;
    }
}

@media(min-width: 1281px) {
    .btn-all-sm {
        display: none;
    }
}


@media(max-width: 950px) {
    .about,.standards {
        .section.cover-section.large-text-section .main-text.mobile-center{
            line-height: 38px !important;
            font-size: 47px !important;
            padding-left: 0px !important;
            font-weight: 600 !important;
            font-family: variables.$main-font !important;
            width: 100% !important;
            padding-top: 50px;
        }
    }
    .location {
        .section.cover-section.large-text-section .sub-text.mobile-center{
            line-height: 48px !important;
            font-size: 61px !important;
            padding-left: 0px !important;
            font-weight: 600 !important;
            font-family: variables.$main-font !important;
            width: 211px !important;
            padding-top: 50px;
            margin-left: -3px !important;
        }
    }
    .section__location {
        .sub-text {
            display: none;
        }
      }
    .home,.apartments {
        .section.cover-section.large-text-section .main-text.mobile-center{
            line-height: 48px !important;
            font-size: 61px !important;
            padding-left: 0px !important;
        }
    }
    .home,.about {
        .section.cover-section.large-text-section .main-text.mobile-center{
            margin-left: -3px !important;
        }
    }
    .apartments {
        .section.cover-section.large-text-section .main-text.mobile-center{
            margin-left: -3px !important;
            text-align: left;
            width: 245px !important;
        }
    }

    .privacy-page {
        padding: 110px 30px 0px 30px !important;
        .table-wrapper {
            width: 100%;
            max-width: 100%;
            overflow: scroll;
        }
    }
    .mobile-center {

    }
    .apartments .section__intro {
        height: 100vh !important;
    }
    .selected-language-ru {
        .large-text-section .text .text-box .main-text {
            font-family: variables.$third-font-rus !important;
        }
    }
    .desktop {
        display: none;
    }
    header {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
    .menu {
        .map,.picture {
            display: none;
        }
        .menu-nav {
            max-width: 100% !important;
            flex: 0 0 100% !important;
            .pages a {
                font-size: 29px !important;
                line-height: 47px;
            }
        }
    }
    .def-padding {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .sales-tool-page .offers {
        padding: 0px !important;
        height: 100vh;
        .carousel-wrapper {
            padding: 0px !important;
        }
        .center {
            overflow: hidden;
            padding-left: 100px;
        }
        .center, .container {
            width: 100%;
            height: 100%;
            border-top-left-radius: 34px;
            border-bottom-left-radius: 34px;
        }
        .intro {
            border-top-left-radius: 34px;
            border-bottom-left-radius: 34px;
            .bg-image-mobile {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
            }
            .side-overlay {
                width: 56.5px !important;
                background-color: transparent !important;
            }
            .overlay-text {
                h4 span {
                    line-height: 60px !important;
                    &:last-child {
                        margin-left: 30px;
                    }
                }
            }
        }
        .tabs, .tab-content, .tab-pane, .offer {
            height: 100%;
        }
        .tabs {
            &.activeTab-2 {
                .nav-tabs {
                    opacity: 0;
                    height: 0px;
                    overflow: hidden;
                }
            }
            .nav-tabs {
                left: -100px;
                height: 100%;
                transform: unset !important;
                flex-direction: column;
                width: 100px;
                padding: 37px 25px 37px 0px;
                align-items: flex-end;
                align-content: flex-end;
                opacity: 1;
                transition: opacity ease-in 0.54s, height ease-in 0.54s;
                .nav-item {
                    &:not(:last-child) {
                        margin-bottom: 37px;
                    }
                    position: relative;
                    width: 25px;
                    height: 25px;
                    overflow: hidden;
                    .nav-link {
                        position: absolute;
                        bottom: 0px;
                        background-color: transparent !important;
                        color: variables.$beige !important;
                        font-size: 14px;
                        padding: 0px !important;
                        &.active {
                            color: variables.$bronze !important;
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .offer {
                        padding: 28px 0px 28px 34px;
                        &__details {
                            .address {
                                .logo {
                                    display: none;
                                }
                                p {
                                    font-size: 13px;
                                    padding-left: 0px;
                                }
                            }
                            .info, .price {
                                p {
                                    font-size: 10px;
                                }
                            }
                            .building-type {
                                margin-bottom: 13px;
                                h4 {
                                    font-size: 55px;
                                    line-height: 57px;
                                }
                                .superscript  {
                                    font-size: 15px !important;
                                    line-height: 13px !important;
                                    top: 8px;
                                }
                            }
                            .price {
                                margin-top: 33px;
                                h3 {
                                    font-size: 29px;
                                }
                            }
                        }
                        &__side-tabs {
                            .apartment_layout {
                                &__container.mobile {
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 45px;
                                    padding-right: 45px;
                                    .map-wrap {
                                        height: 100%;
                                        width: 100%;
                                        .leaflet-container {
                                          z-index: 1;
                                            background-color: transparent;
                                        }
                                        img.leaflet-image-layer {
                                            height: auto !important;
                                        }
                                        .leaflet-control-zoom {
                                            display: none;
                                        }
                                    }
                                }
                                &__bg, &__fg {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            #collapse-1 {
                                .image-container {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    img {
                                        margin: 0px auto;
                                        height: 100%;
                                        width: auto;
                                    }
                                }
                            }
                            .overlay-card {
                                background-color: transparent;
                            }
                            #collapse-2 {
                                height: 100vh;
                                margin-top: -28px;
                                background: linear-gradient(90deg, #ffffff00, #000000);
                                .card-body {
                                    position: absolute;
                                    overflow: hidden;
                                    border-radius: 34px;
                                    top: -28px;
                                    height: 100vh;
                                }
                                .carousel-wrapper {
                                    background-color: #000;
                                    .slide {
                                        padding: 0px;
                                    }
                                    .slick-dots {
                                        bottom: 20px;
                                    }
                                }
                            }
                            #collapse-btn-2 {
                                &.open {
                                    width: 0px;
                                    padding: 0px;
                                    z-index: 5;
                                    p {
                                        left: -70px;
                                        color: variables.$beige;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .center, .container {
            .intro {
                padding: 0px;
                .bg-image {
                    img {
                        display: none;
                    }
                }
            }
        }
        .overlay-text-one {
            h4 {
                line-height: 55px;
            }
        }
    }
    .mobile {
        display: block;
    }
    .huge-text {
        font-size: 90px !important;
    }
    .full-section {
        padding-bottom: 0px;
    }
    .mobile-center {
        width: 273px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        //maybefix
        margin-top: 20px !important;
        padding-left: 20px !important;
        padding-right: 0px !important;

        left: unset !important;
    }
    .absolute .mobile-center {
        margin: unset !important;
        right: unset !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
    .image .gallery .carousel-wrapper {
        .slick-dots {
            bottom: 30px;
            bottom: 60px;
            li {
                button {
                    background-color: variables.$pitch;
                    border-color: variables.$pitch;
                }
                &.slick-active {
                    button {
                        background-color: variables.$beige;
                    }
                }
            }
        }
    }
    .home .section {
        &__intro {
            .overlay-text {
                width: 100%;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                img {
                    height: 406px;
                }
            }
        }
        &__about {
            .container {
                height: 100% !important;
            }
            .cube {
                background-color: variables.$bronze;
            }
            .image {
                display: none;
            }
            .headline {
                top: 140px !important;
                left: -154px;
            }
            .cube {
                z-index: 2;
                top: 158px;
                left: unset;
                right: 18vw;
            }
            .text {
                max-width: 100%;
                flex: unset;
                width: 100%;
                .text-box {
                    margin-top: 0px;
                    width: 100%;
                    height: 100%;
                }
            }

            .main-text {
                left: 16vw;
                width: 219px;
                text-align: left;
            }
            .section-index {
                bottom: unset;
                top: 277px;
                left: unset;
                right: 5vw;
            }
        }
        &__location {
            padding: 0px;
            height: unset !important;
            .container {
                padding: 0px;
            }
            .image {
                max-width: 100%;
                flex: 0 0 100%;
                display: block;
                img {
                    position: relative !important;

                    margin-bottom: -10px;
                }
            }
        }
        &__apartments {
            padding: 0px;
            height: 1554px !important;
            .container {
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
            }
            .text,.image {
                max-width: 100%;
                flex: unset;
            }
            .text {
                height: 701px !important;
            }
            .cube {
                top: 303px;
                left: unset;
                right: 20vw;
            }
            .main-text {
                top: 616px;
                left: 60px;
            }
            .headline {
                font-size: 124px !important;
                left: 5px;
                right: unset;
                top: 112px;
            }
            .section-index {
                top: 232px;
                left: -69px;
            }
            .image {
                height: 652px;
                .gallery,.tab-content .tab ,.b-tabs.tabs, .tab-content, .tab-pane, .carousel-wrapper {
                    height: 100% !important;
                }
                .nav-tabs, .tabs > ul{
                    display: none !important;
                }

                .carousel-wrapper {
                    padding: 0px !important;
                    .slide {
                        padding: 0px;
                    }
                }
            }
        }
        &__standards {
            padding: 0px;
            height: 957px !important;
            padding-bottom: 50px !important;
            .container {
                height: 100%;
            }
            .cube {
                left: unset;
                right: 19vw;
                z-index: 5;
                top: 497px;
            }
            .headline {
                z-index: 1;
                font-size: 133px !important;
                left: -226px;
                top: 38%;
                transform: rotateZ(-90deg);
            }
            .section-index {
                top: 7.6%;
                right: -59px;
            }
        }
        &__comfort {
            padding: 0px;
            height: 1257px !important;
            .container {
                padding: 0px;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
            }
            .text,.image {
                max-width: 100%;
                flex: unset;
            }
            .text {
                height: 605px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                .text-box .main-text {
                    font-family: variables.$main-font !important;
                    line-height: 56px !important;
                    font-size: 70px !important;
                    font-weight: 600 !important;
                    width: 90% !important;
                    left: unset !important;
                    transform: unset !important;
                    margin: 0 auto;
                }
            }
            .image {
                height: 652px;
                .gallery, .tabs, .tab-content, .tab-pane, .carousel-wrapper {
                    height: 100% !important;
                }
                .nav-tabs {
                    display: none !important;
                }
                .carousel-wrapper {
                    padding: 0px !important;
                    .slide {
                        padding: 0px;
                    }
                }
            }
        }
        &__comfort-ext {
            padding: 0px;
            .container {
                padding: 0px;
            }
            .headline {
                transform: unset;
                font-size: 128px !important;
                right: unset;
                left: 55px;
            }
            .section-index {
                left: -89px;
                top: 133px;
            }
            .text-slider {
                height: 373px;
                width: 100%;
                position: absolute;
                .text-carousel-wrapper {
                    height: 100%;
                    .slick-dots {
                        bottom: unset;
                        top: -30px !important;
                        z-index: 999;
                    }
                    .slick-slide {
                        > div {
                            display: flex;
                            justify-content: center;
                        }
                        .box {
                            min-width: 240px !important;
                            width: 273px !important;
                            margin: 0 auto;
                            padding-left: 20px;
                            .title {
                                margin-bottom: 26px;
                                font-size: 18px;
                            }
                            .text {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .about .section {
        &__landing {
            .headline {
                top: unset;
                right: -45vw;
                bottom: 198px;
            }
            .section-index {
                right: 40px;
                left: unset;
                bottom: -80px;
            }
        }
        .text-box {
            .main-text {
                margin-top: 0px !important;
            }
            .title-text {
                margin-bottom: 21px !important;
                line-height: 32px;
            }
        }
        &__intro {
            padding-bottom: 3.7vw;
        }
        &__idea {
            padding-top: 15px;
            .container {
                flex-direction: column-reverse;
            }
            .image, .text {
                max-width: 100%;
                flex: 100%;
            }
            .image {
                margin-top: 48px;
                width: 273px;
                height: 273px;
                max-height: 273px;
                min-height: 273px;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;
                img {
                    height: 100%;
                    width: auto;
                    position: absolute !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }
                .media-info {
                    display: none;
                }
            }
            .text {
                padding-left: 0px;
                padding-right: 0px;
                .sub-text {
                    padding-top: 21px;
                    width: 100% !important;
                    text-align: center;
                    margin: 0 auto;
                    padding-left: 0px !important;
                }
                .text-box {
                    .main-text {
                        left: unset !important;
                        transform: unset !important;
                        margin: 0 auto;
                    }
                }
            }
        }
        &__plan {
            height: unset;
            overflow: visible;

            .container {
                overflow: visible;
                padding: 0px;
                flex-direction: row !important;
                flex-wrap: wrap;
            }
            .text,.image {
                max-width: 100% !important;
                flex: 0 0 100% !important;
                height: fit-content;
            }
            .image {
                padding-top: 72%;
                background-color: unset;
                margin-top: 67px !important;
                padding-bottom: 37px !important;
                margin-bottom: 250px !important;
                overflow: hidden;
                svg > rect {
                    fill: transparent !important;
                }
                svg {
                    width: 120% !important;
                    left: 57% !important;
                    transform: translate(-50%,-50%) !important;
                }
                img {
                    width: 94% !important;
                }
            }
            .text-box {
                position: relative !important;
                left: unset !important;
                right: unset !important;
                margin: 0px !important;
                width: 100% !important;
                padding-left: 0px;
                top: 0px;
                .title-text,.main-text {
                    padding-left: 30px !important;
                }
                .button {
                    display: none;
                }
                .title-text {
                    font-size: 18px !important;
                    line-height: 25px;
                }
                .main-text {
                    font-size: 15px !important;
                }

            }
            .headline {
                font-size: 133px !important;
                top: 30%;
                left: -240px;
                z-index: 2;
            }
        }
        &__comfort {
            .headline {
                display: none;
            }
        }
        &__comfort,&__location,&__ready,&__greens,&__quality {
            padding-top: 7vw !important;
            padding-bottom: 0px !important;
            .container {
                padding: 0px !important;
                flex-wrap: wrap;
            }
            height: auto;
            .image,.text {
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
            .image, .text-box {
                padding: 0px !important;
            }
            .image {
                height: 100vw;
                position: relative;
                img {
                    height: 100% !important;
                    width: auto !important;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .text-box {
                position: relative !important;
                right: unset !important;
                left: unset !important;
                top: 0px;
                margin-top: 7vw !important;
                width: 100% !important;
                .main-text {
                    margin-bottom: 44.5px !important;
                    font-size: 15px !important;
                }
                .title-text {
                    font-size: 18px !important;
                }
            }
            .sub-image-wrapper {
                display: none;
            }
            .index-line {
                display: none;
                top: 55px !important;
                height: 130px !important;
            }
        }
        &__comfort,&__ready,&__quality {
            .text-box {
                padding-right: 5vw;
                padding-left: 25vw;
            }
            .image {
                padding-right: 20vw;
            }
            .index-line {
                right: 10vw;
                left: unset;
            }
        }
        &__location,&__greens {
            .text-box {
                padding-left: 5vw;
                padding-right: 25vw;
            }
            .image {
                padding-left: 20vw;
            }
            .index-line {
                left: 10vw;
                right: unset;
            }
        }
        &__quality {
            padding-bottom: 15vw !important;
        }
        &__portfolio {
            padding-top: 130px !important;
            padding-bottom: 0px !important;
            .headline {
                top: 19px !important;
                font-size: 133px !important;
                left: 60px  !important;
                right: unset !important;
            }
            .container {
                flex-wrap: wrap;
                border-bottom: 0px !important;
                padding-top: 0px;
                .left {
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                    .text-box {
                        margin-top: 100px !important;
                        margin-bottom: 100px !important;
                        .vastint-logo {
                            margin-bottom: 31px;
                        }
                        .main-text {
                            margin-bottom: 31px !important;
                        }
                    }
                    .map {
                        display: none;
                        opacity: 0.13;
                    }
                }
                .right {
                    border-top: 1px solid variables.$green;
                    position: relative !important;
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                    height: 350px !important;
                    padding-bottom: 13px !important;
                    .scroll-container {
                        padding-left: 0px !important;
                        border-left: unset !important;
                    }
                }
            }
        }
    }
    .leaflet-control.leaflet-control-zoom {
        .leaflet-control-zoom-in,.leaflet-control-zoom-out {
            color: variables.$beige !important;
            border-radius: 100px !important;
            background-color: variables.$pitch;
            text-indent: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4px;
        }
    }
    .location .section {
        .text-box {
            .main-text {
                margin-top: 0px !important;
            }
            .title-text {
                margin-bottom: 21px !important;
                line-height: 32px;
            }
        }
        &__intro {
            height: auto !important;
            .image-container {
                padding: 0px !important;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &__general {
            .container {
                padding-top: 34px;
                padding-bottom: 30px !important;
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
            .image,.text {
                max-width: 100%;
                flex: 0 0 100%;
            }
            .image {
                margin: 0px;
                display: none;
                img {
                    position: relative !important;
                    left: unset !important;
                    transform: unset !important;
                }
            }

            .text {
                position: relative !important;
                top: 0px !important;
                padding: 0px;
                .text-box {
                    display: flex;
                    flex-direction: column;

                    .main-text p, .sub-text {
                        margin-left: auto !important;
                        margin-right: auto !important;
                        transform: unset !important;
                        text-align: left;
                        padding: 0px !important;
                        width: 95% !important;
                        left: unset !important;
                        font-family: variables.$main-font !important;
                    }
                    .main-text {
                        width: 95% !important;
                        p {
                            width: 100% !important;
                        }
                    }
                    .sub-text {
                        margin-top: 41px !important;
                        margin-bottom: 21px !important;
                    }
                }
            }
            .text .text-box {
                .main-text {
                    width: 273px !important;
                    p {
                        font-family: variables.$third-font-rus !important;
                        font-size: 15px !important;
                        letter-spacing: 0px !important;
                        line-height: 150% !important;
                    }
                }
                .sub-text {

                }
            }
        }
        &__values.section.cover-section  {
            // overflow: visible;
            padding-top: 150px;
            // .container {
            //     overflow: visible;
            //     padding-top: 550px;
            // }
            // .image,.text {
            //     max-width: 100% !important;
            //     flex: 0 0 100% !important;
            // }
            // .text {
            //     top: 13px;
            //     left: 0px;
            //     width: 100%;
            //     .text-box {
            //         left: 50% !important;
            //         transform: translateX(-50%) !important;
            //         top: 0px;
            //         width: 100% !important;
            //         .main-text {
            //             margin-bottom: 0px !important;
            //         }
            //     }
            // }
            // .section-index {
            //     bottom: 0px;
            //     top: 400px;
            //     left: 110px;
            //     z-index: 400;
            //     display: none;
            // }
            // .headline {
            //     top: -265px;
            //     left: -34%;
            //     font-size: 133px !important;
            // }
            // .image {
            //     padding-top: 200px;
            //     padding-bottom: 200px;
            //     background-color: $green;
            //     display: none;
            //     .map-wrap {
            //         height: 360px;
            //         .leaflet-control-container {
            //         }
            //     }
            // }
            .text-box {
                left: 0px !important;
            }
        }
        &__values,&__education,&__entertainment,&__shop,&__free-time,&__food {
            padding-top: 7vw !important;
            padding-bottom: 0px !important;
            .container {
                padding: 0px !important;
                flex-wrap: wrap;
                width: 273px;
            }
            height: auto;
            .image,.text {
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
            .image {
                width: 273px;
                height: 273px;
                position: relative;
                img {
                    height: 100% !important;
                    width: auto !important;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .image, .text-box {
                padding: 0px !important;
            }
            .text-box {
                position: relative !important;
                right: unset !important;
                left: unset !important;
                top: 0px;
                margin-top: 7vw !important;
                width: 100% !important;
                .title-text {
                    font-size: 18px !important;
                }
                .main-text {
                    font-size: 15px !important;
                    margin-bottom: 0px !important;
                }
            }
            .sub-image-wrapper {
                display: none;
            }
            .index-line {
                display: none;
                top: 55px !important;
                height: 130px !important;
            }
        }
        &__education {
            .headline {
                display: none;
            }
        }
        &__map {
            padding-top: 34px !important;
            padding-bottom: 0px !important;
            .container {
                padding-top: 0px !important;
                padding-right: 0px !important;
                padding-left: 0px !important;
            }
            .map-wrap {
                height: 374px;
                width: 100%;
            }
        }
        &__form {
            padding-top: 0px;
        }
    }
    .apartments .section {
        &__landing {
            .headline {
                top: unset;
                right: -39vw;
                bottom: 186px;
            }
            .section-index {
                right: 40px;
                left: unset;
                bottom: -80px;
            }
        }
        &__gallery {
            padding: 0px;
            height: 1325px !important;
            .container {
                height: 100%;
                display: flex;
                flex-direction: column-reverse !important;
            }
            .text,.image {
                max-width: 100%;
                flex: unset;
            }
            .text {
                position: relative !important;
                height: auto !important;
                width: 100% !important;
                padding-top: 130px;
                padding-bottom: 210px;
                .text-box {

                    .main-text {
                        // font-size: 48px !important;
                        // line-height: 39px !important;
                        font-family: variables.$main-font !important;
                        line-height: 56px !important;
                        font-size: 70px !important;
                        font-weight: 600 !important;
                        width: 90% !important;
                        left: unset !important;
                        transform: unset !important;
                        margin: 0 auto !important;
                        position: relative !important;
                        top: 0px;
                    }
                }
            }
            .cube {
                top: 303px;
                left: unset;
                right: 20vw;
            }
            .main-text {
                width: 273px !important;
                top: 616px;
                left: 60px;

            }
            .headline {
                font-size: 124px !important;
                left: unset;
                right: 10vw;
                top: 112px;
            }
            .section-index {
                top: 740px;
                left: unset;
                right: -40px;
                z-index: 2;
            }
            .image {
                z-index: 3;
                height: 652px;
                .gallery, .tabs, .tab-content, .tab-pane, .carousel-wrapper {
                    height: 100% !important;
                }
                .nav-tabs {
                    display: none !important;
                }
                .carousel-wrapper {
                    padding: 0px !important;
                    .slide {
                        padding: 0px;
                    }
                }
            }
        }
        &__list {
            padding-top: 123px;
            padding-bottom: 34px;
            .container {
                padding: 0px;
                background: unset;
            }
            .apartments-box {
                .left {
                    .carousel-wrapper {
                        .slick-slider {
                            background-image: url('/images/plans/square_bg.png');
                            background-size: cover;
                        }
                        .slide {
                            padding: 0px !important;
                            .leaflet-container {
                                background-color: transparent !important;
                                .leaflet-control-zoom.leaflet-control {
                                    display: none;
                                }
                            }
                            .apartment-code {
                                z-index: 401;
                                left: 0px;
                                bottom: -1px;
                                padding: 3px 7px;
                                font-size: 26px;
                            }
                        }
                        .map-wrap {
                            height: 100%;
                            width: 100%;
                            .leaflet-overlay-pane {
                                img {
                                    height: auto !important;
                                }
                            }
                        }
                        .slick-dots {
                            bottom: -30px;
                        }
                    }
                }
            }
        }
        &__decoration {
            height: 100vh !important;
            .container {

                padding: 0px;
                height: 100vh;
                position: relative;
            }
            .image,.text {
                max-width: 100%;
                flex: 0 0 unset;
            }
            .image {
                height: 100vw;
                width: 100vw;
                position: absolute;
                bottom: 0px;
                left: 0px;
                .gallery {
                  height: 100% !important;
                  .b-tabs.tabs {
                    height: 100%;
                    .tab-content {
                      height: 100%;
                      .tab {
                        height: 100%;
                        .carousel-wrapper {
                          height: 100%;
                        }
                      }
                    }
                  }
                    .carousel-wrapper {
                        height: 100vw !important;
                        padding: 0px !important;
                    }
                }
            }
            .text {
                height: auto !important;
                width: 100% !important;
            }
            .section-index {
                display: none;
            }
            .headline {
                top: 25px !important;
                right: -30px !important;
            }
        }
        &__enviroment {
            height: auto !important;
            padding: 290px 0px 0px 0px;
            overflow: hidden;
            .headline {
                transform: unset !important;
                top: -231px !important;
                letter-spacing: -3px;
                left: -40px !important;
            }
            .section-index {
                left: 190px !important;
                top: -165px !important;
                z-index: 1;
            }
            .container {
                overflow: visible;
                padding: 0px;
            }
            .headline {
                transform: unset;
                font-size: 128px !important;
                right: unset;
                left: 55px;
            }
            .section-index {
                left: -99px;
                top: 133px;
            }
            .text-slider {
                height: auto;
                padding-bottom: 120px;
                width: 100%;
                .text-carousel-wrapper {
                    height: 100%;
                    .slick-slide {
                        > div {
                            display: flex;
                            justify-content: center;
                        }
                        .box {
                            min-width: 240px !important;
                            width: 273px !important;
                            margin: 0 auto;
                            display: flex !important;
                            flex-direction: column;
                            .title {
                                margin-bottom: 26px;
                                order: 1;
                                padding-left: 20px;
                                font-size: 18px;
                            }
                            .text {
                                order: 2;
                                padding-left: 20px;
                                font-size: 15px;
                            }
                            img {
                                order: 0;
                                width: 100%;
                                height: auto;
                                margin-top: 0px;
                                margin-bottom: 34px;
                            }
                        }
                    }
                }
            }
        }
        &__rent {
            height: 1373px !important;
            .container {
                height: 100% !important;
                padding: 0px !important;
                flex-direction: column-reverse !important;
                .image,.text {
                    max-width: 100% !important;
                    flex: unset !important;
                }
                .image {
                    padding: 0px !important;
                    .gallery {
                        .carousel-wrapper {
                            padding: 0px !important;
                            .slide {
                                padding: 0px !important;
                            }
                        }
                    }
                }
                .text {
                    height: 0px;
                    width: 100% !important;
                    .cube {
                        top: 330px !important;
                    }
                }
                .section-index {
                    display: none;
                }
                .headline {
                    font-size: 110px !important;
                    margin-top: 193px;
                    span {
                        line-height: 75px !important;
                        &:last-child {
                            margin-left: 73px;
                        }
                    }
                }
            }
        }
        &__form {
            padding-top: 0px;
        }
    }
    .standards .section {
        &__landing {
            .headline {
                top: unset;
                right: -64vw;
                bottom: 272px;
            }
            .section-index {
                right: 40px;
                left: unset;
                bottom: -80px;
            }
        }
        &__intro {
            .bg-image {
                background-position-x: 70%;
            }
        }
        &__quote {
            padding-top: 15px;
            .container {
                flex-direction: column-reverse;
            }
            .image, .text {
                max-width: 100%;
                flex: 100%;
            }
            .image {
                margin: 0px;
                .media-info {
                    display: none;
                }
            }
            .text {
                padding-left: 0px;
                padding-right: 0px;
                .sub-text {
                    padding-top: 21px;
                    width: 273px;
                    margin: 0 auto;
                }
                .text-box {
                    .main-text {
                        left: unset !important;
                        transform: unset !important;
                        margin: 0 auto;
                    }
                }
            }
        }
        &__list {
            height: auto !important;
            padding: 30px 0px 0px 0px;
            .headline {
                display: none;
            }
            .section-index {
                display: none;
            }
            .container {
                padding: 0px;
            }
            .headline {
                transform: unset;
                font-size: 128px !important;
                right: unset;
                left: 55px;
            }
            .section-index {
                left: -99px;
                top: 133px;
            }
            .text-slider {
                height: auto;
                padding-bottom: 70px;
                width: 100%;
                .text-carousel-wrapper {
                    height: 100%;
                    .slick-slide {
                        > div {
                            display: flex;
                            justify-content: center;
                        }
                        .box {
                            min-width: 273px !important;
                            width: 273px !important;
                            margin: 0 auto;
                            display: flex !important;
                            flex-direction: column;
                            .title {
                                margin-bottom: 26px;
                                order: 1;
                                font-size: 18px;
                            }
                            .text {
                                order: 2;
                                font-size: 15px;
                            }
                            img {
                                order: 0;
                                width: 100%;
                                height: auto;
                                margin-top: 0px;
                                margin-bottom: 28px;
                            }
                        }
                    }
                }
            }
        }
        &__projects {
            height: auto !important;
            padding-top: 0px ;
            .section-index {
                display: none;
            }
            .container {
                padding-top: 268px;
            }
            .headline {
                transform: unset !important;
                top: -20px;
                right: unset;
                left: -4px;
                bottom: unset;
                span {
                    font-size: 100px;
                }
            }
            .section-index {
                left: -99px;
                top: 133px;
            }
            .text-slider {
                height: auto;
                padding-bottom: 70px;
                width: 100%;
                .text-carousel-wrapper {
                    height: 100%;
                    .slick-slide {
                        > div {
                            display: flex;
                            justify-content: center;
                        }
                        .box {
                            min-width: 273px !important;
                            width: 273px !important;
                            margin: 0 auto;
                            display: flex !important;
                            flex-direction: column;
                            .title {
                                margin-bottom: 26px;
                                font-size: 18px;
                                order: 1;
                            }
                            .text {
                                font-size: 15px;
                                order: 2;
                            }
                            .img-wrap {
                                order: 0;
                                width: 273px;
                                height: 273px;
                                position: relative;
                                margin-top: 0px;
                                margin-bottom: 28px;
                                overflow: hidden;
                                img {
                                    height: 100%;
                                    width: auto;
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
            }

            .section-index {
                display: none;
            }
        }
        &__awards {
            padding-top: 0px;
            .container {
                padding-top: 100px;
            }
            .section-index {
                top: -31px !important;
                right: unset !important;
                left: 0px;
            }
            .section-index {
                transform: rotateZ(90deg) !important;
                left: -66px !important;
            }
            .top {
                flex-wrap: wrap;
                h4,.all-awards {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                h4 {

                }
                .all-awards {
                    margin: 55px 0px 0px 0px !important;
                    justify-content: center;
                    .image-box {
                        max-width: 159px !important;
                        flex: 0 0 159px !important;

                    }
                }
            }
            .bottom {
                margin-top: 34px !important;
                flex-wrap: wrap;
                .text-box,.image {
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                .image {
                    order: 1;
                    margin-left: 0px !important;
                }
                .text-box {
                    margin-top: 68px;
                    order: 2;
                    .button {
                        display: block;
                        margin-left: 13px;
                    }
                    .main-text,.text-ext,.button {
                        color: variables.$bronze !important;
                    }
                }
            }
        }

    }
    .section__form {
        padding-bottom: 0px;
        .apply-form {
            margin-bottom: 0px;
            flex-wrap: wrap;
            padding-bottom: 30px !important;
            padding-top: 60px !important;
            h3 {
                font-size: 63px !important;
                line-height: 48px !important;
            }
            h4 {

                line-height: 40px;
                font-size: 52px!important;
            }
            .left,.right {
                max-width: 100% !important;
                flex: 0 0 100% !important;
            }
            .left {
                margin-bottom: 21px;
                padding-right: 0px !important;

                form {
                    margin-top: 45px !important;
                    .submit-btn {
                        margin-top: 5px !important;
                    }
                }
            }
            .right {
                h4 {

                    line-height: 40px;
                    font-size: 52px!important;
                }
                .bot {
                    width: 100%;
                    margin-bottom: 0px !important;
                    .seller h4 {
                        margin-top: 34px;
                        margin-bottom: 13px;
                    }
                    .row {
                        margin-left: 0px !important;
                    }
                }
            }
            .bot {
                flex-wrap: wrap;
                .col-4 {
                    max-width: 100% !important;
                    flex: 0 0 100% !important;
                }
            }
        }
    }
    .rent {
        .main-wrap {
            .title {
                height: auto !important;
                &.closed {
                    height: 0px !important;
                }
                .main {
                    p {
                        font-size: 60px !important;
                    }
                }

            }
        }
    }
    .documentation {
        .main-wrap {
            .title {
                height: 60px !important;
                p {
                    font-size: 45px !important;
                }

            }
        }
    }
    .section-index {
        font-size: 192px !important;
    }
    .large-text-section .text .text-box .main-text {
        font-size: 15px !important;
        font-weight: 400 !important;
        font-family: variables.$third-font !important;
        line-height: unset !important;
    }
    .main-page {
        .section {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .cube {
        width: 274px !important;
        height: 274px !important;
    }
    .headline {
        font-size: 180px !important;
    }
    .fixed-section {
        height: 850px !important;
    }
    .blog-page {
        .section-main {
            &__content, &__body {
                padding-left: 4.4vw;
                padding-right: 4.4vw;
            }
        }
        .section__gallery {
            padding-left: 4.4vw;
            padding-right: 4.4vw;
            .carousel-wrapper {
                height: 552px !important;
            }
        }
    }
}
@media (max-width: 559px) {
    .home .section {
        &__comfort-ext {
            height: 957px !important;
            .text-slider {
                top: 460px;
            }
        }
        &__about {
            height: 686px !important;
            .main-text {
                top: 465px;
            }
        }
    }
    .home-page {
        .section__blogs {
            .blogs-title {
                font-size: 61px;
            }
            .blogs-list {
            .blog-thumb {
                max-width: 100%;
                flex: 0 0 100%;
            }
            }
        }
      }
    .location .section {
        &__map {
          .container {
            padding-bottom: 280px !important;
          }  
        }
        &__food {
            padding-bottom: 41px !important;
        }
    }
    .blog-page {
        .section__gallery {
            padding-left: 0;
            padding-right: 0;
            .img-wrapper {
                background-size: cover !important;
            }
            .slick-slide {
                padding: 0 !important;
            }
            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .blogs-page {
        .section__blogs {
            .blogs-title {
                font-size: 61px;
                padding-top: 50px;
            }
            .blogs-list .blog-thumb {
                max-width: 100%;
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
        }
    }
    
}
@media (max-width: 500px) {
    .home .section {
        &__about {
            height: 812px !important;
            .main-text {
                top: 555px;
            }
            .cube {
                top: 248px;
            }
        }
    }
}
@media(max-width: 400px) {
    .home .section {
        &__about {
            .headline {
                font-size: 140px !important;
                top: 302px;
            }
        }
    }
    .apartments .section {
        &__list {
            .right {
                .price-range {
                    .prices {
                        font-size: 32px !important;
                    }
                }
            }
        }
    }
}
@media (orientation: portrait) {
    .sales-tool-page {
        .portrait-view {
            display: flex;
        }
    }
}
