@use "sass:math";

@media (max-width: 1648px) {
    .section {
        padding-top: 8.5vw;
        padding-bottom: 2.4vw;
    }
    //SAMESIZE_BLOCKS
    .container {
        padding-top: 6vw;
        padding-bottom: 6vw;
    }
    .full-section {
        padding-top: 0px;
        // padding-top: 5.2vw;
        // padding-bottom: 5.9vw;
        padding-bottom: 87px;
    }
    .main-page .fixed-section {
        height: 60.6vw;
    }
    .large-text-section .text .text-box .main-text{
        font-size: 4.6vw !important;
        line-height: 3.6vw !important;
    }
    .large-text-section .text .text-box .main-text p{
        font-size: 4.6vw !important;
        line-height: 3.6vw !important;
    }
    .main-page .carousel-wrapper {
        height: 40.3vw !important;
    }
    .main-page {
        .tab-content {
            height: 40.3vw;
        }
    }
    .main-page .section__decoration .tab-content {
    }
    .section-index {
        font-size: 15.1vw ;
    }
    .headline {
        font-size: 10.9vw !important;
    }
    .box-image .text .main-text, .boxes .row .box .title, .boxes .row .box .text {
        //font-size: 0.85vw !important;
    }
    .cube {
        width: 16.7vw;
        height: 16.7vw;
    }
    .box-image.simple-box {
        .text-box {
            .main-text {
                margin-top: 2.3vw !important;
            }
        }
        .sub-image-wrapper {
            width: 27.1vw !important;
            bottom: -10vw !important;
            left: 1.6vw !important;
        }
    }
    .index-line {
        height: 7.1vw !important;
    }
    .home {
        .section {

            &__location {
                .container {
                    padding-top: 2.24vw;
                    padding-bottom: 2.24vw;
                }
                .headline {
                }
                .cube {
                    right: 20.7%;
                }
                .main-text {
                    right: 9.3%;
                }
                .section-index {
                    bottom: -16%;
                }
            }
            &__apartments {
                .headline {
                    left: -6.6%;
                    top: 21.7%;
                }
                .section-index {
                    left: -10%;
                    top: 41.6%;
                }
                .main-text {
                    left: 19%;
                    top: 2.9%;
                }
                .cube {
                    left: 37%;
                    top: 36%;
                }
            }
            &__standards {
                .cube {
                    top: 43.2%;
                    right: 27.2%;
                }
                .main-text {
                    top: 20%;
                    right: 4.18%;
                }
                .headline {
                    top: 25%;
                    left: 11.3%;
                }
                .section-index {
                    top: 51.6%;
                    right: -7.7%;
                }
            }
            &__comfort {
                .text {
                    z-index: 2;
                }
                .main-text {
                    width: 110%;
                }
            }
            &__comfort-ext {
                padding-top: 4.2vw;
                .container {
                    padding-top: 8.6vw;
                    padding-bottom: 10.7vw;
                }
                .headline {
                    right: -22.9%;
                }
                .section-index {
                    left: -4.1%;
                }
            }
            &__location, &__apartments, &__standards, &__comfort {
                padding-top: 6vw;
                padding-bottom: 6vw;
            }
            &__blogs {
              .blogs-title {
                transform: none;
              }
            }
        }
    }
    .about {
        .section {
            &__idea {
                padding-top: 4.4vw;
                .image {
                    margin-top: 3.7vw;
                }
                .sub-text {
                    margin-left: 17vw;
                    font-size: 1.3vw;
                }
            }
            &__plan {
                .headline {
                    // left: -11.1vw;
                    // top: 24.8vw;
                    top: 12.7vw;
                    left: -18.5vw;
                }
                .text-box {
                    left: 11.1vw !important;
                    top: 12.7vw;
                }
            }
            &__comfort {
                // .text-box {
                //     top: 4vw;
                // }
                .headline {
                    right: -15.7vw;
                    top: 12.5vw;
                }
            }
            &__location, &__greens {
                .text-box {
                    top: 2.7vw;
                }
            }
            &__quality, &__ready {
                .text-box {
                    top: 1.4vw;
                }
            }
            &__portfolio {
                padding-top: 13.4vw;
                .headline {
                    top: 4.8vw !important;
                }
            }
            &__comfort, &__location, &__ready,&__greens, &__quality {
                .container {
                    padding-top: 7vw;
                    padding-bottom: 10.1vw !important;
                }
                .index-line {
                    top: 1vw;
                }
                .text-box {
                    top: 2vw ;
                }
            }
        }
    }
    .location {
        .section {
            &__values {
                .headline {
                    left: -10.9vw;
                }
                .section-index {
                    bottom: -6.6vw;
                }
            }
            &__education {
                .headline {
                    right: -10.9vw;
                    top: 20vw;
                }
            }
            &__education, &__entertainment, &__shop, &__free-time, &__food {
                .container {
                    padding-top: 7vw;
                    padding-bottom: 10.1vw !important;
                }
                .index-line {
                    top: 1vw;
                }
                .text-box {
                    top: 2vw ;
                }
            }
        }
    }
    .apartments {
        .section {
            &__gallery {
                .section-index {
                    bottom: -6.3vw;
                }
                .main-text {
                    width: 45vw !important;
                }
            }
            &__decoration {
                .headline {
                    right: 9.1vw;
                    top: 6.9vw;
                }
                .cube {
                    top: 14.1vw;
                    right: 13.8vw;
                }
                .section-index {
                    right: 18.7vw;
                    top: 24.2vw;
                }
            }
            &__enviroment {
                .headline {
                    left: -14.1vw !important;
                    top: 8vw !important;
                }
            }
            &__rent {
                .container {
                    height: 44.4vw !important;
                }
            }
        }
    }
    .standards {
        .section {
            &__list {
                .headline {
                    top: 28.5vw;
                    left: -20.6vw;
                }
                .container {
                    padding-top: 14.6vw;
                }
            }
            &__projects {
                padding-top: 20.6vw;
                padding-bottom: 9.6vw;
                .headline {
                    right: -17.5vw;
                }
                .section-index {
                    bottom: -10.1vw;
                }
                .container {
                    padding-bottom: 8.4vw;
                }
            }
            &__awards {
                padding-top: 10.2vw;
                padding-bottom: 6.4vw;
                .section-index {
                    top: 6.6vw !important;
                    right: -7.7vw !important;
                }
                .bottom {
                    margin-top: 21.3vw !important;
                    .image {
                        margin-left: 7.6vw !important;
                        margin-right: 7.6vw !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 1500px) {
  .home-page {
    .section__blogs {
      .blogs-list {
        .btn-all {
          height: 3.5vw;
          width: 3.5vw;
        }
      }
    }
  }
    .home {
        .section__standards {
            .cube {
                right: 32%;
            }
        }
    }
}
@media (max-width: 1380px) {
    .home {
        .section__standards {
            .cube {
                top: 52%;
            }
        }
    }
    .section__form {
        .apply-form {
            padding: 4.4vw 6.9vw 5.9vw 6.9vw !important;
            .left {
                padding-right: 8.3vw !important;
            }
            .left,.right {
                h4 {
                    font-size: 3.7vw;
                }
            }

            .left, .right .top {
                h3 {
                    font-size: 5.9vw;
                    line-height: 4.9vw;
                }
            }
        }
    }
    .about .section__idea, .standards .section__quote {
        .text {
            .text-box {
                .main-text {

                }
            }
        }
    }
    .large-text-section {
        .text {
            .text-box {
                .main-text {
                    // font-size: 70px !important;
                    // line-height: 55px !important;
                }
            }
        }
    }
    .home .section__comfort .main-text {
        margin-top: 0px;
    }
}
@media (max-width: 1280px) {
    .main-page .section {
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .pixel-counter {
        left: 1vw !important;
    }
    .about .section__comfort .container, .about .section__location .container, .about .section__ready .container, .about .section__greens .container, .about .section__quality .container {
        padding-bottom: 16.1vw !important;
        .sub-image-wrapper {
            bottom: -15vw !important;
        }
    }
    .home .section {
        &__about {
            .image {
                .media-info {
                    font-size: 9px;
                }
            }
        }
        &__apartments {
            .headline {
                top: 28%;
            }
            .cube {
                top: 43%;
            }
            .section-index {
                top: 48.6%;
            }
        }
        &__standards {
            .main-text {
                top: 10%;
            }
            .cube {
            }
        }
        &__blogs {
          .blogs-list {
            .btn-all {
              display: none;
            }
          }
        }
        &__comfort-ext {
            .container {
                padding-left: 200px;
                padding-right: 130px;
                .boxes {
                    width: 100%;
                    .row {
                        justify-content: center;
                        .box {
                            max-width: 45% !important;
                            flex: 0 0 45% !important;
                        }
                    }
                    .box {

                    }
                }
            }
        }
    }
    .about .section {
        &__comfort, &__ready, &__quality {
            .index-line {
                right: 255px;
            }
            .text-box {
                right: 105px !important;
            }
        }
    }
    .location .section {
        &__education,&__entertainment,&__shop,&__free-time,&__food {
            .container {
                padding-bottom: 200px !important;
                .sub-image-wrapper {
                    bottom: -20vw !important;
                }
            }
        }
        &__education, &__shop, &__food {
            .index-line {
                right: 255px;
            }
            .text-box {
                right: 105px !important;

            }
        }
    }
    .cube {
        font-size: 0.9vw;
    }
}
@media (max-width: 1024px) {
    .home {
        .section {
            &__location {
                .main-text {
                    width: 225px;
                    top: 5%;
                }
            }
            &__standards {
                .main-text {
                    top: 5%;
                }
                .headline {
                    top: 35%;
                }
                .cube {
                    top: 53%;
                }
            }
            &__apartments {
                .headline {
                    top: 31.7%;
                }
                .section-index {
                    top: 51.7%;
                }
                .cube {
                    top: 46%;
                }
                .main-text {
                    left: 4%;
                }
            }
        }
    }
    .blog-page {
      .section {
        &__intro {
          height: 80vh;
        }
      }
    }
}

@media (max-width: 950px) and (min-width: 560px) {
  .home {
    .section {
      &__about {
        $aboutHeight: 1000px;
        height: $aboutHeight !important;
        .cube {          
          top: math.div($aboutHeight, 2.45) !important;
        }
        .decor-1 {
          // width: 365px;
          width: 65% !important;
          top: 12%;
        }
        .main-text {
          top: math.div($aboutHeight, 1.4);
        }
      }
      &__apartments {
        .decor-2 {
          width: 65%;
          top: 13%;
        }
      }
      &__standards {
        .box-image {
          .image-collage {
            .topLeft,.topRight,.botLeft,.botRight {
              width: 240px;
              height: 240px;
            }
          }
        }
      }
      &__comfort-ext {
        $var: 1200px;
        height: $var !important;
        .text-slider {
          top: calc($var *0.5) + 100px;
        }
        .decor-5 {
          top: 100px;
          bottom: unset !important;
        }
      }
    }
  }
  .about {
    .section {
      &__plan {
        .box-image.container.flex-container {
          .image {
            margin-bottom: 42vw !important;
          }
        }
        .decor-2 {
          bottom: 28%;
          @media (max-width: 650px) {
            bottom: 32%;
          }
        }
      }
      &__portfolio {
        .decor-3 {
          top: 2.4%;
          @media (max-width:720px) {
            top: 6%;
          }
        }
      }
    }
  }
  .standards {
    .section {
      &__projects {
        .container {
          padding-top: 60vw !important;
        }
      }
      &__awards {
        .container {
          padding-top: 50vw !important;
        }
      }
    }
  }
  .location {
    .value-wrapper {
      display: flex;
      flex-wrap: wrap;
      .section {
        width: 50%;
        .simple-box {
          align-content: flex-start;
        }
        &__food, &__free-time {
          padding-bottom: 41px !important;
        }
      }
    }
    .section {
      &__map {
        .container {
          padding-bottom: 350px !important;
        }
        .decor-1 {
          width: 58%;
          bottom: 1%;
        }
      }
    }
  }
  .apartments {
    .section {
      &__gallery.cover-section {
        height: 1145px !important;
        .decor-2 {
          bottom: 60%;
        }
      }
      &__decoration.cover-section {
        height: 1300px !important;
        .container {
          height: 1300px !important;
          .cube {
            top: 170px;
          }
          .decor-3 {
            top: 5%;
          }
          .decor-4 {
            bottom: 44.5%;
          }
        }
      }
      &__enviroment {
        padding-top: 430px !important;
        .decor-5 {
          top: -49%;
        }
      }
      &__rent.cover-section {
        height: 192vw !important;
        .container {
          .text {
            .cube {
              top: 26% !important;
            }
          }
        }
        .image {
          img {
            width: 100% !important;
            object-fit: cover;
          }
        }
        .decor-6 {
          bottom: 38%;
          // left: unset;
          // right: 0px;
          // width: 60%;
        }
      }
    }
    .section.cover-section.large-text-section p.main-text.mobile-center {
      width: 50% !important;
    }
  }
  .selected-language-ru {
    .home {
        .section {
            &__about {
                // .cube {
                // top: 100px !important;
                // }
                .decor-1 {
                // width: 365px;
                top: 11%;
                }
            }
            &__apartments {
                .decor-2 {
                width: 65%;
                top: 13%;
                }
            }
        }
    }
    .about {
        .section {
          &__plan {
            .box-image.container.flex-container {
              .image {
                margin-bottom: 42vw !important;
              }
            }
            .decor-2 {
              bottom: 28%;
              @media (max-width: 650px) {
                bottom: 32%;
              }
            }
          }
          &__portfolio {
            .decor-3 {
              top: 2.4%;
              @media (max-width:720px) {
                top: 6%;
              }
            }
          }
        }
    }
    .standards {
        .section {
          &__projects {
            .container {
              padding-top: 70vw !important;
            }
          }
          &__awards {
            .container {
              padding-top: 50vw !important;
            }
          }
        }
    }
    .location {
        .section {
          &__map {
            .decor-1 {
              width: 58%;
              bottom: 1%;
            }
          }
        }
    }
    .apartments {
        .section {
          &__gallery.cover-section {
            height: 1145px !important;
            .decor-2 {
              bottom: 60%;
            }
          }
          &__decoration.cover-section {
            height: 1300px !important;
            .container {
              height: 1300px !important;
              .cube {
                top: 170px;
              }
              .decor-3 {
                top: 5%;
              }
              .decor-4 {
                bottom: 44.5%;
              }
            }
          }
          &__enviroment {
            padding-top: 430px !important;
            .decor-5 {
              top: -49%;
            }
          }
          &__rent.cover-section {
            height: 192vw !important;
            .container {
              .text {
                .cube {
                  top: 26% !important;
                }
              }
            }
            .image {
              img {
                width: 100% !important;
                object-fit: cover;
              }
            }
            .decor-6 {
              bottom: 22%;
              // left: unset;
              // right: 0px;
              // width: 60%;
            }
          }
        }
        .section.cover-section.large-text-section p.main-text.mobile-center {
          width: 50% !important;
        }
    }
  }
  .selected-language-en {
    .home {
        .section {
            &__about {
                // .cube {
                // top: 100px !important;
                // }
                .decor-1 {
                // width: 365px;
                top: 10%;
                }
            }
            &__apartments {
                .decor-2 {
                width: 65%;
                top: 13%;
                }
            }
        }
    }
    .about {
        .section {
          &__plan {
            .box-image.container.flex-container {
              .image {
                margin-bottom: 42vw !important;
              }
            }
            .decor-2 {
              bottom: 28%;
              @media (max-width: 650px) {
                bottom: 32%;
              }
            }
          }
          &__portfolio {
            .decor-3 {
              top: 2.4%;
              @media (max-width:720px) {
                top: 6%;
              }
            }
          }
        }
    }
    .standards {
        .section {
          &__projects {
            .container {
              padding-top: 70vw !important;
            }
          }
          &__awards {
            .container {
              padding-top: 50vw !important;
            }
          }
        }
    }
    .location {
        .section {
          &__map {
            .decor-1 {
              width: 58%;
              bottom: 1%;
            }
          }
        }
    }
    .apartments {
        .section {
          &__gallery.cover-section {
            height: 1145px !important;
            .decor-2 {
              bottom: 60%;
            }
          }
          &__decoration.cover-section {
            height: 1300px !important;
            .container {
              height: 1300px !important;
              .cube {
                top: 170px;
              }
              .decor-3 {
                top: 5%;
              }
              .decor-4 {
                bottom: 44.5%;
              }
            }
          }
          &__enviroment {
            padding-top: 430px !important;
            .decor-5 {
              top: -49%;
            }
          }
          &__rent.cover-section {
            height: 219vw !important;
            .container {
              .text {
                .cube {
                  top: 33% !important;
                }
              }
            }
            .image {
              img {
                width: 100% !important;
                object-fit: cover;
              }
            }
            .decor-6 {
                top: 10%;
              bottom: 22%;
              // left: unset;
              // right: 0px;
              // width: 60%;
            }
            .decor-7 {
              bottom: 35.3%;
            }
          }
        }
        .section.cover-section.large-text-section p.main-text.mobile-center {
          width: 50% !important;
        }
    }
  }
  .blogs-page .section__blogs .blogs-list .blog-thumb {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 949px) {
  .home-page {
    .section__blogs {
      &__container {
        padding-left: 6.9vw;
        padding-right: 6.9vw;
      }
    }
  }
}


@media (max-width: 860px) {
    .home {
        .section {
            &__comfort-ext {
                .container .boxes {
                    .row {
                        margin-top: 0px !important;
                        flex-wrap: wrap;
                        .box {
                            max-width: 100% !important;
                            flex: 0 0 100% !important;
                            margin: 25px 0px !important;
                        }
                    }
                }
            }
        }
    }
    .home-page {
      .section__blogs {
        .blogs-list {
          .blog-thumb {
            max-width: 50%;
            flex: 0 0 50%;
          }
        }
      }
    }
}

@media (max-height: 790px) {
    .nav .menu {
        .def-padding {
            height: 100%;
        }
        .menu-nav{
            .pages {
                margin-top: 21px !important;
                a {
                }
            }
            .contact {
                margin-top: 34px !important;
                p {
                    &:not(:first-child) {
                        margin-top: 13px !important;
                    }
                }
                .email {
                    margin-top: 13px !important;
                }
            }
        }
    }
}

@media (max-height: 690px) {
    .nav .menu {
        .menu-nav{
            .pages {
                margin-top: 13px !important;
                a {
                }
            }
            .contact {
                margin-top: 13px !important;
                p {
                    &:not(:first-child) {
                        margin-top: 5px !important;
                    }
                }
                .email {
                    margin-top: 5px !important;
                }
            }
        }
    }
}
