<template>
  <div class="blog-page main-page">
    <Nav></Nav>
    <Counter></Counter>
    <SectionBlog :blog="blog"></SectionBlog>
    <Footer></Footer>
  </div>
</template>

<script>
export default {
  
  layout: 'simple',

  async asyncData({ $axios, params }) {
    const blog = await $axios.$get("blogs/single/" + params.blog);
    return {
      blog: blog,
    };
  },
}
</script>
