<template>
  <div class="blogs-page main-page">
    <Nav></Nav>
    <Counter></Counter>
    <SectionBlogs :blogs="blogs"></SectionBlogs>
    <Footer></Footer>
  </div>
</template>

<script>
export default {

  layout: 'simple',

  async asyncData({ $axios, params }) {
    const blogs = await $axios.$get("blogs");
    return {
      blogs: blogs,
    };
  },
}
</script>
