<template>

  <div class="interface-page interface-page-step-building" ref="interfacePage" :class="innerWidth > 950 ? 'desktop' : 'mobile'">
    <div v-if="innerWidth > 950">
      <Nav></Nav>
      <div class="filter-interface">
        <div class="top-nav">
          <div class="nav-wrapper">
            <BackBtn @click.native="goBack()"></BackBtn>
            <p class="v-medium-text nav-title">{{$t('filters_interface.nav_title')}}</p>
            <NuxtLink
              :to="localePath('filters')"
              class="change-view-btn cursor-plus">
              <p class="v-tiny-text">{{$t('filters_interface.switch_view')}}</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                <g id="Carousel-Icon" transform="translate(-1068 -216)">
                  <g id="Rectangle_356" data-name="Rectangle 356" transform="translate(1068 216)" fill="#f0f4f0" stroke="#a06e64" stroke-width="1">
                    <rect width="15" height="15" stroke="none"/>
                    <rect x="0.5" y="0.5" width="14" height="14" fill="none"/>
                  </g>
                  <rect id="Rectangle_358" data-name="Rectangle 358" width="5" height="1" transform="translate(1071 226)" fill="#a06e64"/>
                  <rect id="Rectangle_359" data-name="Rectangle 359" width="7" height="1" transform="translate(1071 220)" fill="#a06e64"/>
                  <rect id="Rectangle_361" data-name="Rectangle 361" width="9" height="1" transform="translate(1071 223)" fill="#a06e64"/>
                </g>
              </svg>
            </NuxtLink>
          </div>
        </div>
        <div class="side-nav">
          <div class="section-texts">
            <h3 class="section-text section-text-0" :class="{'hide' : step > 0}"></h3>
            <h3  class="section-text section-text-1 medium-text-4" :class="[{'active': step == 0},{'hide': step > 1}]">{{$t('filters_interface.nav_step_1')}}</h3>
            <h3  class="section-text section-text-2 medium-text-4" :class="[{'active': step == 1},{'hide': step > 2}]">{{$t('filters_interface.nav_step_2')}}</h3>
            <h3  class="section-text section-text-3 medium-text-4" :class="[{'active': step == 2},{'hide': step < 1}]">{{$t('filters_interface.nav_step_3')}}</h3>
          </div>

          <div v-if="floorsCount > 0" class="filters">
            <FilterGroupTwo v-for="(filter,index) in filters" :key="index"
            :floorsCount="floorsCount"
            :skipSecond="isVilla"
            :content="filter" @input="updateFilters($event, filter)" :value="filter.value">
            </FilterGroupTwo>
          </div>

        </div>
        <div class="interface">
          <div v-if="loading" class="loading-overlay">
            <div class="sliding-tiles loader"></div>
            <!-- <div class="flip-to-square loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div> -->
          </div>
          <SectionFiltersInterfaceStepApartment class="interface-step active-step" :floorPlan="floorPlan" :filteredApartments="filteredApartments" @chooseRoom="chooseRoom($event)"></SectionFiltersInterfaceStepApartment>
        </div>
      </div>
    </div>
    <div v-else>
      <Nav></Nav>
      <div class="filter-interface">
        <div class="top-nav">
          <div class="nav-wrapper">
            <BackBtn @click.native="goBack()"></BackBtn>
            <p class="v-medium-text nav-title">{{$t('filters_interface.nav_title')}}</p>
            <NuxtLink
              :to="localePath('filters')"
              class="change-view-btn cursor-plus">
              <p class="v-tiny-text">{{$t('filters_interface.switch_view')}}</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                <g id="Carousel-Icon" transform="translate(-1068 -216)">
                  <g id="Rectangle_356" data-name="Rectangle 356" transform="translate(1068 216)" fill="#f0f4f0" stroke="#a06e64" stroke-width="1">
                    <rect width="15" height="15" stroke="none"/>
                    <rect x="0.5" y="0.5" width="14" height="14" fill="none"/>
                  </g>
                  <rect id="Rectangle_358" data-name="Rectangle 358" width="5" height="1" transform="translate(1071 226)" fill="#a06e64"/>
                  <rect id="Rectangle_359" data-name="Rectangle 359" width="7" height="1" transform="translate(1071 220)" fill="#a06e64"/>
                  <rect id="Rectangle_361" data-name="Rectangle 361" width="9" height="1" transform="translate(1071 223)" fill="#a06e64"/>
                </g>
              </svg>
            </NuxtLink>
          </div>
        </div>
        <div class="side-nav">
          <div class="section-texts">
            <h3 class="section-text section-text-0" :class="{'hide' : step > 0}"></h3>
            <h3  class="section-text section-text-1 medium-text-4" :class="[{'active': step == 0},{'hide': step > 1}]">{{$t('filters_interface.nav_step_1')}}</h3>
            <h3  class="section-text section-text-2 medium-text-4" :class="[{'active': step == 1},{'hide': step > 2}]">{{$t('filters_interface.nav_step_2')}}</h3>
            <h3  class="section-text section-text-3 medium-text-4" :class="[{'active': step == 2},{'hide': step < 1}]">{{$t('filters_interface.nav_step_3')}}</h3>
          </div>

          <div v-if="floorsCount > 0" class="filters">
            <FilterGroupTwo v-for="(filter,index) in filters" :key="index"
            :floorsCount="floorsCount"
            :skipSecond="isVilla"
            :content="filter" @input="updateFilters($event, filter)" :value="filter.value">
            </FilterGroupTwo>
          </div>

        </div>
        <div class="interface">
          <div v-if="loading" class="loading-overlay">
            <div class="sliding-tiles loader"></div>
            <!-- <div class="flip-to-square loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div> -->
          </div>
          <SectionFiltersInterfaceStepApartment class="interface-step active-step" :floorPlan="floorPlan" :filteredApartments="filteredApartments" @chooseRoom="chooseRoom($event)"></SectionFiltersInterfaceStepApartment>
        </div>
      </div>
    </div>
    <Cookiebar></Cookiebar>
  </div>


</template>
<script>
export default {
    fetch() {
      const data = this;
      this.$axios.$get("apartments/building/" + data.selectedSector)
      .then(function(response) {
        data.allApartments = response;
        data.loading = false;
      }).catch((err) => {
        console.log('error', err);
      });

    },
    fetchOnServer:false,
    fetchDelay:500,
    async asyncData({ $axios, params }) {
      const realBuilding = await $axios.$get("apartments/realbuilding/" + params.building);
      return {
        selectedSector: params.building,
        realBuilding: realBuilding[0]
      };
    },
    data() {
        return {
          step: 1,
          selectedRoom: null,
          innerWidth: 0,
          loading: true,
          allApartments: [],
          selectedSector: null
        }
    },
    computed: {
      isVilla() {
        return this.realBuilding.code == "daib_33" || this.realBuilding.code == "daib_31"
      },
      floorsCount() {
        if (this.realBuilding) {
          return this.realBuilding.floors.length
        }
        return 5
      },
      filters() {
        return this.$store.state.filtersInterface.filters
      },
      floor() {
        if (this.step >= 1) {
          return this.filters.floor_filter_interface.value
        } else {
          return 0
        }
      },
      floorPlan() {
        if (this.step >= 1) {
          return this.realBuilding.floors[this.floor - 1]
          // if (filteredApartments.length > 0) {
          //   return this.filteredApartments[0].building.real_building.floors[this.floor-1]
          // } else {
          //   return
          // }
        } else {
          return null
        }
      },
      filteredApartments() {
          let apartments = this.allApartments
          if (!this.loading) {
            let filters = this.filters

            // floor filter
            if (filters.floor_filter_interface.value) {
              let value = 0;
              apartments = apartments.filter((item) => {
                if (this.isVilla && item.floor == 3) {
                  value = 3;
                } else {
                  value = filters.floor_filter_interface.value
                }
                return value == item.floor
              });
            }
            return apartments
          }
          return null
      },

    },
    methods: {
      updateFilters(newVal, filter) {
        this.$store.commit('filtersInterface/setFilters', {
          newVal: newVal,
          filter: filter
        })
      },
      getFilterValues(data) {
        let result = []
        data.forEach(value => {
          result.push(value.values)
        });
        return _flatten(result)
      },
      chooseRoom(room) {
        this.selectedRoom = room
      },
      goBack() {
        this.$router.back()
      }
    },
    mounted() {
      this.updateFilters(1,this.filters.floor_filter_interface)
      this.innerWidth = window.innerWidth;
    }
};
</script>
<style lang="scss" scoped>

</style>
