<template>
    <div class="section cover-section green-section">
        <BoxImage index="08" align="right" :content="{
                imageFix: 'https://admin.lindenholma.lv/storage/app/media/required/60bdd740c40814361287971.png',
                cube: {
                    text: $t('filter_block.cube.text'),
                    href: 'filters'
                },
                textSplit: $t('filter_block.title')

            }" :lineSplit="true" :absolute="true"
            :hasGallery="true" no-decor>            
        </BoxImage>
    </div>
</template>

<style lang="scss" scoped>
@use "@/assets/variables" as variables;

.section {
    padding-top: 65px;
    padding-bottom: 65px;
    @media (max-width: 950px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    :deep(.container) {
        padding-top: 0px;
        padding-bottom: 10px;
        height: 600px !important;

        @media (max-width: 950px) {
            flex-direction: column-reverse !important;
            padding-bottom: 0px !important;
            height: auto !important;
        }

        .image {
            max-width: 650%;
            flex: 0 0 65%;
            @media (max-width: 950px) {
                flex: initial;
                height: 70dvh;
            }

            img {
                object-fit: cover;
                width: 100% !important;

                @media (max-width: 950px) {
                    position: relative !important;
                }
            }
            
            .gallery {
                height: 100%;

                .carousel-wrapper {
                    height: 100%;
                }
            }
        }

        .text {
            width: 30% !important;

            @media (max-width: 950px) {
                width: 100% !important;
                position: relative !important;
                padding-top: 158px !important;
                padding-bottom: 308px !important;
            }

            .cube {
                top: 200px;
                left: 300px;
                z-index: 2;
                word-spacing: 100vw;
                text-align: center;
                line-height: 36px;
                @media (max-width: 950px) {
                    top: 301px !important;
                }
            }
        }

        .main-text {
            font-family: variables.$main-font !important;
            font-size: 66px !important;
            font-weight: 600 !important;
            line-height: 54px !important;
            padding-top: 26px !important;

            @media (max-width: 950px) {
                position: relative !important;                
                width: 100% !important;
                padding-left: 0px !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
            }
        }

        .headline {
            transform: unset;
            width: 560px;
            line-height: 150px;
            margin-top: 65px;
            overflow: visible;

            span {
                line-height: 124px;

                &:last-child {
                    margin-left: 95px;
                }
            }
        }

        .section-index {
            transform: rotateZ(-90deg);
            bottom: -66px;
            left: 94px;
        }
    }
}
</style>