<template>
    <div class="rentHeader">
        <div class="title" v-html="content.title"></div>
        <div class="wrapper">
            <div class="action">
                <SectionRentList />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        content: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>
.rentHeader {
    display: flex;
    flex-direction: row;

    &>.title {
        width: 678px;
        flex-shrink: 0;
    }

    &>.wrapper {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        & > .action {
            width: 345px;
        }
    }
}
</style>