<template>
  <div class="list">
    <p>{{ $t("apartments.rent.headline") }}</p>
    <NuxtLink :to="localePath('filters')" class="cursor-plus rent-button">
      {{ $t("filter_block.cube.text") }}
      <ArrowRight />
    </NuxtLink>
  </div>
</template>

<style lang="scss" scoped>
@use '@/assets/variables';

.list {
    margin-top: 50px !important;
    padding-right: 26px !important;

  p {
    font-size: 42px !important;
    line-height: 50px !important;
    font-family: variables.$main-font !important;
    font-weight: 600 !important;
    margin-bottom: 12px;

    @media (min-width: 950px) {
        font-size: 42px !important;        
    }
  }

  .rent-button {
    width: 100%;
    height: 55px;
    border: 1px solid $pitch !important;
    color: $pitch !important;
    background-color: $green !important;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;

    :deep(svg) {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      transition: right 0.49s ease;

      path,
      line {
        stroke: $pitch;
      }
    }

    &:hover {
      @media (min-width: 950px) {
        :deep(svg) {
          right: -50px;
        }
      }
    }
  }
}
</style>
