<template>
  <div class="apartment-modal__inner">
    <div class="image-wrapper">
      <img
        class="is-hidden-mobile"
        :src="$imagekit('/images/home-modal/popup-modal-desktop-02-12.jpg')"
        alt=""
      />
      <img
        class="is-hidden-tablet"
        :src="$imagekit('/images/home-modal/popup-modal-mobile-new-02-12.jpg')"
        alt=""
      />
    </div>
    <div class="button-wrapper">
      <nuxt-link
        :to="localePath({
          name: 'filters',
          query: {
            filter: 'banner',
          }
        })"
        class="cursor-plus button"
        @click.native="closeModal"
      >
        <span class="bg"></span>
        <span>
          izvēlies dzīvokli
        </span>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    closeModal() {
      this.$emit('closeModal');
    }
  },
}
</script>

<style lang="scss" scoped>
  $modal-bg-color: rgb(225, 230, 220);
  .apartment-modal__inner {
    padding: 0;
    width: 100%;
    max-width: 60rem;
    // background-color: #96a591;
    background-color: $modal-bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    z-index: 999;

    img {
      width: 100%;
    }

    @media (max-width: 1204px) {
      width: 90vw !important;
    }
  }

  .is-hidden-mobile {
    display: block;
  }
  .is-hidden-tablet {
    display: none;
  }

  @media (max-width: 1204px) {
    .is-hidden-mobile {
      display: none;
    }
    .is-hidden-tablet {
      display: block;
    }
  }

  .button-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: -1rem;
    padding-bottom: 1.4rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: 0px;
    display: inline-block;

    padding: 1rem 2rem;
    text-align: center;
    letter-spacing: 3px;
    font-size: 0.8rem;
    text-transform: uppercase;

    transition: all 300ms;

    display: block;
    position: relative;

    span {
      color: $modal-bg-color;
      z-index: 1;
      position: relative;
      transition: color 300ms;
    }

    .bg {
      width: 100%;
      height: 100%;
      background-color: #091218;
      display: block;
      position: absolute;
      top: 0;
      left: 0 ;
      z-index: 0;
      border: 1px solid #091218 !important;
      transition: all 300ms;
    }

    &:hover,
    &.is-active {
      span {
        color: #091218;
      }
      .bg {
        background-color: $modal-bg-color;
        transform: scale(1.1);
      }
    }
  }
</style>
