<template>

  <a v-if="isHome" class="blog-thumb cursor-plus" :class="{'is-blog-home': isHome}" :href="$i18n.locale+'/blogs/'+blog.slug">
    <div class="blog-thumb-image img-wrapper">
      <img :src="blog.main_image.path" alt="">
    </div>
    <div class="blog-thumb-body">
      <p class="blog-thumb-title" :class="{'medium-text': !isHome}">{{blog.title}}</p>
      <p v-if="!isHome" class="blog-thumb-excerpt">{{excerptShort}}</p>
    </div>
  </a>

  <NuxtLink v-else class="blog-thumb cursor-plus" :class="{'is-blog-home': isHome}" :to="'blogs/'+blog.slug">
    <div class="blog-thumb-image img-wrapper">
      <img :src="blog.main_image.path" alt="">
    </div>
    <div class="blog-thumb-body">
      <p class="blog-thumb-title" :class="{'medium-text': !isHome}">{{blog.title}}</p>
      <p v-if="!isHome" class="blog-thumb-excerpt">{{excerptShort}}</p>
    </div>
  </NuxtLInk>

</template>

<script>
export default {
  props: {
    blog: null,
    isHome: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    excerptShort() {
      let excerpt = this.blog.excerpt
      if (excerpt.length > 180) {
        excerpt = excerpt.slice(0,180)
        excerpt+= '...'
      }
      return excerpt
    }
  }
}
</script>
