<template>
	<div class="box-grid container flex-container">
        <div class="boxes">
            <div v-for="(row, indexRow) in content.boxes"
            :key="indexRow" class="row" :class="'col-'+cols">
                <div v-for="(box, index) in row"
                :key="index" class="box">
                    <p class="title">{{box.title}}</p>
                    <p class="text" v-html="global_fixSquareMeters(box.text)"></p>
                    <div class="image" v-if="box.image" >
                        <img :src="(box.image) | statically(900)" :alt="box.title"/>
                    </div>
                </div>
            </div>
		</div>
        <Headline v-if="content.headline && !noDecor" :content="content.headline"></Headline>
        <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <slot></slot>
	</div>
</template>
<script>
export default {
	props: {
        index:null,
        cols:null,
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        },
    },
	data() {
        return {

        }
    },
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.boxes {
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        flex-direction: row;
        .box {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 18px !important;
            }
            .title,.text {
            }
            .text {
                font-size: 13px;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .image {
                margin-top: auto;
                margin-bottom: 0px;
            }
        }
        &.col-2 {
            .box {
                max-width: 50%;
                flex: 0 0 50%;
            }
        }
        &.col-3 {
            .box {
                max-width: 33.33%;
                flex: 0 0 33.33%;
            }
        }
        &.col-4 {
            .box {
                max-width: 25%;
                flex: 0 0 25%;
            }
        }
        &:not(:first-child) {
            margin-top: 70px;
        }
    }
}
</style>
