<template>
  <div
    class="box-image container flex-container"
    :class="{
      'align-right': align == 'right',
      absolute: absolute,
      'simple-box': simpleBox,
    }"
  >
    <IndexLine v-if="indexLine" :index="indexLine"></IndexLine>
    <div class="image">
      <div v-if="mapBox" class="map-wrap">
            <client-only>
            <l-map :zoom="13" :maxZoom="18" :minZoom="8" :center="mapCenter">
                <l-tile-layer :url="mapBox"></l-tile-layer>
                <l-marker :lat-lng="mapCenter">
                    <l-icon
                        :icon-size="[93/2,124/2]"
                        :icon-anchor="[93/4,124/2]"
                        icon-url="/images/other/marker.png"/>
                </l-marker>
            </l-map>
            </client-only>
      </div>

      <div v-if="gallery" class="gallery">

        <client-only>
          <VueSlickCarousel v-if="$mq === 'sm' && gallery.tabs.length > 1" v-bind="slickOptions" class="tab-slider">
            <div v-for="(tab, index) in gallery.tabs" :key="index" class="tab-slide" :class="{'is-active': activeTabIndex === index}">
              <a @click.prevent="changeTab(tab.slug + 'Gallery', index)">{{tab.title}}</a>
            </div>
          </VueSlickCarousel>
        </client-only>

        <b-tabs v-if="gallery.tabs.length > 1" class="tabs" v-model="activeTabIndex">
          <b-tab-item
            v-for="(tab, index) in gallery.tabs"
            :key="index"
            class="tab"
            :label="tab.title"
            @click="changeTab(tab.slug + 'Gallery')"
          >
            <Gallery
              :content="tab.images"
              :ref="tab.slug + 'Gallery'"
            ></Gallery>
          </b-tab-item>
        </b-tabs>

        <Gallery v-else :content="gallery.tabs[0].images"></Gallery>
      </div>

      <div v-else-if="content.image && imgBox" :style="{ backgroundImage: 'url(/images/' + content.image + ')' }"></div>

      <v-lazy-image
        class="image-container-img"
        v-else-if="content.image"
        :src="('/images/' + content.image) | statically(1300)"
        :alt="content.title ? content.title : content.subText ? content.subText : content.text"
      />

      <v-lazy-image
        class="image-container-img"
        v-else-if="content.imageFix"
        :src="(content.imageFix) | statically(1300)"
        :alt="content.title ? content.title : content.subText ? content.subText : content.text"
      />

      <v-lazy-image
        class="image-container-img"
        v-if="content.imgTemp"
        :src="'/images/' + content.imgTemp"
        alt=""
      />

      <NuxtLink
        v-if="content.mediaInfo && mediaInfoIsLink"
        :to="localePath(content.mediaInfo.href)"
        class="media-info cursor-plus"
        >{{ content.mediaInfo.text }}</NuxtLink
      >

      <p v-else-if="content.mediaInfo" class="media-info">
        {{ content.mediaInfo }}
      </p>
    </div>
    <div class="text" :class="{ absolute: absolute }">
      <div class="text-box">
        <p v-if="content.title" class="title-text mobile-center">
          {{ content.title }}
        </p>
        <div
          v-if="content.textSplit"
          v-html="content.textSplit"
          class="main-text mobile-center"
        ></div>
        <p v-else class="main-text mobile-center">
          {{ content.text }}
        </p>

        <p v-if="content.subText" class="sub-text mobile-center">
          {{ content.subText }}
        </p>
        <NuxtLink
          v-if="content.button"
          :to="localePath(content.button.href)"
          class="button cursor-plus"
          >{{ content.button.text }}</NuxtLink
        >
      </div>
      <div class="sub-image-wrapper" v-if="content.subImage">
        <v-lazy-image class="sub-image" :src="(content.subImage) | statically(900)" :alt="`'sub image for ${content.title}'`" />
      </div>
      <NuxtLink
        v-if="content.cube"
        :to="localePath(content.cube.href)"
        class="cube mobile-center cursor-plus"
      >
        {{ content.cube.text }}
      </NuxtLink>
      <div v-if="content.multiCube" class="cube cube-multi mobile-center">
        <p
          v-for="(link, index) in content.multiCube"
          :key="index"
          class="cursor-plus"
        >
          {{ link.text }}
        </p>
      </div>

      <Headline
        v-if="content.headline && !noDecor"
        :content="content.headline"
        :lineSplit="lineSplit"
      ></Headline>
    </div>
    <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>

    <slot></slot>
  </div>
</template>
<script>
export default {
  props: {
    index: null,
    align: null,
    content: null,
    absolute: null,
    lineSplit: null,
    hasTabs: null,
    hasGallery: null,
    indexLine: null,
    simpleBox: null,
    mapBox: null,
    mediaInfoIsLink: null,
    gallery: null,
    imgBox: null,
    noDecor: {
      type: Boolean,
      default: false,
    },

  },
  data() {
    return {
      activeTabIndex: 0,
      mapCenter: [56.925214, 24.035924],
      slickOptions: {
        centerMode:true,
        slidesToScroll: 1,
        slidesToShow: 1,
        arrows: false,
        infinite: false,
        pauseOnHover: false,
        dots: false,
        variableWidth: true,
      },
    };
  },
  methods: {
    changeTab(tab, index) {
      if (typeof index !== 'undefined') {
        this.activeTabIndex = index;
      }

      this.$refs[tab][0].$refs.slick.goTo(0);
    },
  },
  computed: {
    selectedLocale() {
      return this.$i18n.locale;
    },
  },
  mounted() {},
};
</script>
<style lang="scss" scoped>
.box-image {
  .text {
    &.absolute {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      .main-text,
      .cube {
        position: absolute;
      }
    }
    .main-text {
      font-size: 15px;
      font-weight: 400;
    }
  }
  .image {
    img {
      height: auto;
      width: 100%;
    }
  }
  &:not(.simple-box) {
    @media (max-width: 950px) {
      .image {
        position: relative;
        .image-container-img {
          position: absolute;
          left: 50%;
          top: 0px;
          height: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &.simple-box {
    .text {
      max-width: 52%;
      flex: 0 0 52%;
      position: relative;
    }
    .image {
      max-width: 48%;
      flex: 0 0 48%;
    }
    .text-box {
      position: absolute;
      right: 205px;
      width: 300px;
      .main-text {
        margin-top: 38.5px;
        margin-bottom: 44.5px;
      }
    }
    .sub-image-wrapper {
      width: 447px;
      position: absolute;
      bottom: -167px;
      left: 28px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &.align-right {
      .text-box {
        left: 125px;
      }
      .sub-image-wrapper {
        left: unset;
        right: 57px;
        bottom: -181px;
      }
    }
  }
  &.absolute {
    .image {
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  &.align-right {
    flex-direction: row-reverse;
  }
}

.tab-slider {
  height: auto;
}
.tab-slide {
  height: auto;
  text-align: center;

  padding: 0 20px 20px;

  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  text-align: center;

  color: #96A591 !important;

  &.is-active {
    font-weight: 700;
  }
}
</style>
