<template>
	<div class="checkbox checkbox-square cursor-plus" :id="'checkbox-square-'+idefy(content.title)">
    <b-field>
      <b-checkbox-button v-model="myValue"
      :native-value="content.values">{{content.translate ? $t(content.title) : content.title}}
      </b-checkbox-button>
    </b-field>
	</div>
</template>
<script>


export default {
  props: {
    value: Array,
    content: Object
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
    idefy(str) {
      return str.replace('.','_')
    }
  },
  computed: {
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
};
</script>
<style lang="scss" scoped>
.checkbox {

}
</style>
