<template>
	<div class="checkbox cursor-plus">
    <b-field>
      <b-checkbox-button class="checkbox-square" v-model="myValue" :id="'checkbox-square-'+idefy(content.title)" :native-value="content.values">{{ content.title }}<span>{{ $t(content.slug) }}</span></b-checkbox-button>      
    </b-field>
	</div>
</template>
<script>


export default {
  props: {
    value: Array,
    content: Object
  },
  methods: {
    idefy(str) {
      return str.replace('.','_')
    }
  },
  computed: {
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.checkbox {
  .checkbox-square {
    display: flex;
    align-items: center;
    position: relative;
    span {
      position: absolute;
      left: calc(100% + 10px);
    }
    &:not(.disabled) {
      span {
        color: #19191C;
      }
    }
  }
}
</style>