<template>
	<div class="checkbox cursor-plus">
    <b-field>
      <b-checkbox v-model="myValue" :id="'checkbox-'+idefy(content.title)" :native-value="content.values">{{content.translate ? $t(content.title) : content.title}}</b-checkbox>
    </b-field>
	</div>
</template>
<script>
export default {
  props: {
    value: Array,
    content: Object
  },
  methods: {
    idefy(str) {
      return str.replace('.','_')
    }
  },
  computed: {
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
}
</script>
