<template>
  <transition name="fade">
    <section class="cookiebar">
        <div v-show="!$store.state.loading && !check">
            <div class="cookiebar__container" v-if="innerWidth > 1000">
                <div class="cookiebar__content">
                <div class="cookiebar__content-left">
                    <p>{{ $t("cookie.text.line1") }}</p>
                    <p>{{ $t("cookie.text.line2") }}</p>
                </div>
                <div class="cookiebar__content-right">
                    <a class="link cursor-plus" @click.prevent="setCookie()">
                    {{ $t("cookie.btn.accept") }}
                    </a>
                    <NuxtLink :to="localePath('privacy')" target="_blank" class="link">
                      {{ $t("cookie.btn.readMore") }}
                    </NuxtLink>
                </div>
                </div>
            </div>
            <div class="cookiebar__mobile-container" v-else>
                <div class="cookiebar__mobile-content">
                <div class="cookiebar__mobile-content-top">
                    <p>{{ $t("cookie.text.line1") }}</p>
                    <p>{{ $t("cookie.text.line2") }}</p>
                </div>

                <div class="cookiebar__mobile-content-bottom">
                    <a
                    :href="
                        $i18n.locale === 'lv'
                        ? 'lv/privacy'
                        : $i18n.locale === 'ru'
                        ? 'ru/privacy'
                        : 'en/privacy'
                    "
                    target="_blank"
                    class="link"
                    >{{ $t("cookie.btn.readMore") }}</a
                    >
                    <a class="link" @click.prevent="setCookie()">
                    {{ $t("cookie.btn.accept") }}
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>
  </transition>
</template>
<script>
export default {
  data() {
    return {
      check: false,
      innerWidth: 0,
    };
  },
  methods: {
    setCookie() {
      this.check = true;

      var d = new Date();
      d.setTime(d.getTime() + 365 * 24 * 60 * 60 * 1000);
      var expires = "expires=" + d.toUTCString();
      document.cookie = "consent=true;" + expires + ";path=/";

      //   this.checkCookie();
    },
    checkCookie() {
      return decodeURIComponent(document.cookie).indexOf("consent=true") !== -1;
    },
  },
  computed: {
      loading() {
          return this.$store.state.loading
      }
  },
  mounted() {
    this.check = this.checkCookie();
    this.innerWidth = window.innerWidth;
  },
};
</script>
<style lang="scss">
.modal-window-opened .cookiebar {
  visibility: hidden;
}
.cookiebar {
  z-index: 49;
  visibility: visible;
  position: fixed;
  bottom: 30px;
  width: 100%;

  &__mobile {
    &-container {
      width: 100%;
      // height: 540px;
      border-top: 1px solid #2a2d2d;
      background-color: $c-light;
      margin-bottom: -30px;
      position: relative;
      padding-bottom: 50px;
    }
    &-content {
      flex-direction: column;
      padding: 30px;
      justify-content: space-between;
      align-items: flex-start;

      p,
      a {
        display: block;
        font-size: 13px;
        font-family: $secondary-font;
        line-height: 24px;
        margin: 0;
        color: #2a2d2d;
      }
      &-bottom {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
        margin-left: auto;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        a {
          display: block;
        }
      }
    }
  }

  &__container {
    width: 1086px;
    padding: 25px 30px;
    margin: 0 auto;
    height: 92px;
    border: 1px solid #2a2d2d;
    background-color: $c-light;
  }
  &__content {
    display: flex;
    p,
    a {
      display: block;
      font-size: 13px;
      font-family: $secondary-font;
      line-height: 24px;
      margin: 0;
      color: #2a2d2d;
    }

    &-left {
      flex: 0 1 900px;
      //   width: 900px;
    }
    &-right {
      //   width: 160px;
      flex: 0 1 160px;
      text-align: right;
      border-left: 1px solid #2a2d2d;
    }
  }
}
</style>