<template>
	<div class="filter-group" ref="maxWidth">
      <div class="card-content">
        <p class="e-medium-text card-header">{{$t(content.title)}}</p>
          <div class="content">
              <div class="filter-group-list" :class="{'flex-row' : content.type == 'checkbox-square'}">
                <div class="filter-item" v-for="(choice,index) in content.choices" :key="index">
                  <Radio v-if="index + 1 > 5 - floorsCount" class="cursor-plus" :content="choice" :skipSecond="skipSecond" v-model="myValue"></Radio>
                </div>
                <div class="radio-elevator-btns">

                  <div class="radio-up radio-elevator-btn cursor-plus" @click="moveUp">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.707" height="18.707" viewBox="0 0 12.707 18.707">
                      <g id="Component_18_1" data-name="Component 18 – 1" transform="translate(0.354 0.707)">
                        <line id="Line_720" data-name="Line 720" y2="18" transform="translate(6 18) rotate(180)" fill="none" stroke="#19191c" stroke-width="1"/>
                        <path id="Path_682" data-name="Path 682" d="M-8410.961-2137l6,6-6,6" transform="translate(2137 -8404.961) rotate(-90)" fill="none" stroke="#19191c" stroke-width="1"/>
                      </g>
                    </svg>
                  </div>

                  <div class="radio-down radio-elevator-btn cursor-plus" @click="moveDown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.707" height="18.707" viewBox="0 0 12.707 18.707">
                      <g id="Component_17_1" data-name="Component 17 – 1" transform="translate(0.354)">
                        <line id="Line_721" data-name="Line 721" y2="18" transform="translate(6)" fill="none" stroke="#19191c" stroke-width="1"/>
                        <path id="Path_683" data-name="Path 683" d="M-8410.961-2137l6,6-6,6" transform="translate(-2125 8422.961) rotate(90)" fill="none" stroke="#19191c" stroke-width="1"/>
                      </g>
                    </svg>
                  </div>

                </div>
              </div>
          </div>
      </div>
	</div>
</template>
<script>

import _difference from "lodash/difference"

export default {
  props: {
    skipSecond: false,
    value: null,
    floorsCount: null,
    content: Object
  },
  data() {
    return {
      maxCount: 100,
      valuesFormated: '',
    }
  },
  methods: {
    moveDown() {
      if(this.myValue > 1) {
        this.myValue--
      }
    },
    moveUp() {
      if(this.myValue < this.floorsCount) {
          this.myValue++
      }
    },
  },
  mounted() {
  },

  computed: {
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
  watch: {
  }
};
</script>
<style lang="scss" scoped>
.filter-group {

}
</style>
