<template>
	<div class="filter-group" ref="maxWidth">
    <p v-if="content.type !== 'range' && content.type !== 'switch'" ref="textWidth" class="v-tiny-text background">{{valuesFormated}}</p>
    <b-collapse class="filter-collapse" animation="slide" :aria-id="content.slug">
      <template #trigger="props">
          <div class="card-header cursor-plus" role="button" aria-controls="contentIdForA11y3">
            <div class="header-top">
              <p class="card-header-title e-medium-text">
                {{$t(content.title)}}
              </p>
              <a class="card-header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" class="chevron" :class="{'rotate' : props.open}">
                  <g id="Chevron-Down" transform="translate(-355 -299)">
                    <rect id="Rectangle_362" data-name="Rectangle 362" width="22" height="22" transform="translate(355 299)" fill="#f0f4f0"/>
                    <path id="Path_665" data-name="Path 665" d="M-8410.96-2137l8,8-8,8" transform="translate(-1763 8716.96) rotate(90)" fill="none" stroke="#19191c" stroke-width="1"/>
                  </g>
                </svg>
              </a>
            </div>
            <div v-show="!props.open" class="header-bot" ref="headerBot">
              <p v-if="content.type == 'range'" class="v-tiny-text range-text">
                {{myValue[0]}}<span v-html="global_fixSquareMeters('m2')"></span> - {{myValue[1]}}<span v-html="global_fixSquareMeters('m2')"></span>
              </p>
              <p v-else-if="content.type == 'switch'" class="switch-text">{{myValue == true ? $t(content.text) : ''}}</p>
              <div v-else ref="headerBot" class="header-text-bot">
                <p class="v-tiny-text " v-html="valuesCropped"></p>
              </div>
            </div>
          </div>
      </template>

      <div class="card-content">
          <div class="content">
              <div class="filter-group-list" :class="{'flex-row' : ['checkbox-square'].includes(content.type)}">
                <Range class="filter-item" v-if="content.type === 'range'" v-model="myValue" :content="content"></Range>
                <SwitchBox class="filter-item" v-else-if="content.type === 'switch'" v-model="myValue" :content="content"></SwitchBox>
                <SwitchBox class="filter-item" v-if="content.hasFakeSwitch" :defaultVal="content.fakeVal.values" :disabledField="true" :content="content.fakeVal"></SwitchBox>
                
                <div v-else class="filter-item" v-for="(choice,index) in content.choices" :key="index" :class="content.type">
                  <Checkbox v-if="content.type === 'checkbox'" :content="choice" v-model="myValue"></Checkbox>
                  <CheckboxSquare v-else-if="content.type === 'checkbox-square'" :content="choice" v-model="myValue"></CheckboxSquare>
                  <CheckboxList v-else-if="content.type === 'checkbox-list'" :content="choice" v-model="myValue"></CheckboxList>
                  <SwitchList v-else-if="content.type === 'switch-list'" :content="choice" :choices="content.choices" v-model="myValue"></SwitchList>
                  <Radio v-else-if="content.type === 'radio'" :content="choice" v-model="myValue"></Radio>
                </div>
                <div v-if="content.type === 'checkbox'">
                  <p class="filter-btn v-tiny-text cursor-plus" :class="{'disabled' : allChecked}" @click="checkAll()">{{$t('filter_list.select_all')}}</p>
                </div>
                <div v-else-if="content.type === 'range'" class="reset-btn">
                  <p class="filter-btn v-tiny-text cursor-plus" :class="{'disabled' : maxRange}" @click="resetSlider()">{{$t('filter_list.reset')}}</p>
                </div>                
                <div v-else-if="['checkbox-square', 'checkbox-list'].includes(content.type)" class="reset-btn">
                  <p class="filter-btn v-tiny-text cursor-plus" :class="{'disabled' : !oneSelected}" @click="uncheckAll()">{{$t('filter_list.reset')}}</p>
                </div>
              </div>
          </div>
      </div>
    </b-collapse>
	</div>
</template>
<script>
export default {
  props: {
    value: null,
    content: Object
  },
  data() {
    return {
      maxCount: 100,
      valuesFormated: '',
    }
  },
  methods: {
    resetSlider() {
      if (!this.maxRange) {
        this.myValue = [this.content.minVal,this.content.maxVal]
      }
    },
    checkAll() {
      if (!this.allChecked) {
        let allValues = []
        this.content.choices.forEach(choice => {
          allValues.push(choice.values)
        });
        this.$emit('input', allValues)
      }
    },
    uncheckAll() {
      this.myValue = []
    }
  },
  mounted() {
  },

  computed: {
    oneSelected() {
      return this.myValue.length > 0
    },
    allChecked() {
      return this.myValue.length == this.content.choices.length
    },
    maxRange() {
      return this.myValue[0] == this.content.minVal && this.myValue[1] == this.content.maxVal
    },
    valuesCropped() {
      if (!Array.isArray(this.myValue)) return ''

      const list = this.myValue
        .slice(0, this.maxCount)
        .map(value => this.$t(value?.title))
        .join(', ')

      const more = this.myValue.length > this.maxCount ? ` +${this.myValue.length - this.maxCount}...` : ''

      return list + more
    },
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
  watch: {
    myValue(newVal,oldVal) {
      if (['checkbox', 'checkbox-square'].includes(this.content.type)) {
        const me = this
        this.valuesFormated = ''

        me.myValue.forEach((value) => {
          me.valuesFormated += me.$t(value.title) + ', '
          setTimeout(() => {
            const maxWidth = this.$refs.maxWidth.offsetWidth
            const width = this.$refs.textWidth.offsetWidth
            if (width >= maxWidth - 35) {
              if (newVal.length > oldVal.length && me.maxCount == 100) {
                me.maxCount = newVal.length - 1
              }
            } else {
              me.maxCount = 100
            }
          }, 150)
        });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.filter-group {

}
</style>
