<template>
	<div class="apply-form container flex-container">
		<div class="left">
			<h4>{{$t('form.titleOne')}}</h4>
			<b-form @submit.prevent.stop>
				<b-form-group :state="formGetFieldState(models.fullname)">
					<div class="form-input">
						<b-form-input
							:state="formGetFieldState(models.fullname)"
							v-model="models.fullname.value"
							type="text"
							name="name"
							id="name"
							:placeholder="$t('form.name')"
							class="cursor-plus"
						/>
					</div>
				</b-form-group>
				<b-form-group  :state="formGetFieldState(models.telephone)">
					<div class="form-input">
						<b-form-input
							:state="formGetFieldState(models.telephone)"
							v-model="models.telephone.value"
							type="text"
							name="tel"
							id="tel"
							:placeholder="$t('form.phone')"
							class="cursor-plus"
						/>
					</div>
				</b-form-group>
				<b-form-group  :state="formGetFieldState(models.email)">
					<div class="form-input">
						<b-form-input
							:state="formGetFieldState(models.email)"
							v-model="models.email.value"
							type="text"
							name="email"
							id="email"
							:placeholder="$t('form.email')"
							class="cursor-plus"
						/>
					</div>
				</b-form-group>
				<b-button class="submit-btn cursor-plus" type="submit"  @click="submit">{{$t('form.signUp')}}</b-button>
			</b-form>
		</div>
		<div class="right">
			<div class="top">
				<h4>{{$t('form.titleTwo')}}</h4>
			</div>
			<div class="bot">
				<div class="seller">
					<h4>{{$t('form.seller')}}</h4>
					<p>{{$t('form.sellerInfo')}}</p>
				</div>
				<!-- <div class="seller row">
					<p></p>
				</div>
				<div class="seller-info row">
					<p></p>
				</div> -->
				<a href="tel:+371 2633 8833" class="cursor-plus">
					<div class="phone row">
						<div class="circle-icon">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16.825"
								height="29.846"
								viewBox="0 0 16.825 29.846"
							>
								<g
									id="Component_3_1"
									data-name="Component 3 – 1"
									transform="translate(0.5 0.5)"
								>
									<rect
										id="Rectangle_156"
										data-name="Rectangle 156"
										width="15.825"
										height="28.846"
										rx="3"
										fill="none"
										stroke="#a06e64"
										stroke-miterlimit="10"
										stroke-width="1"
									/>
									<ellipse
										id="Ellipse_70"
										data-name="Ellipse 70"
										cx="1.278"
										cy="1.278"
										rx="1.278"
										ry="1.278"
										transform="translate(6.66 23.996)"
										fill="#a06e64"
									/>
								</g>
							</svg>
						</div>
						<p>+371 2633 8833</p>
					</div>
				</a>
				<a href="mailto:ANNA.VASKANE@VASTINT.EU" class="cursor-plus">
					<div class="email row">
						<div class="circle-icon">
							<svg
								id="Component_4_1"
								data-name="Component 4 – 1"
								xmlns="http://www.w3.org/2000/svg"
								width="24.056"
								height="16"
								viewBox="0 0 24.056 16"
							>
								<path
									id="Path_223"
									data-name="Path 223"
									d="M1274.109,177.255l-9.973,9.973a2.355,2.355,0,0,1-3.331,0l-9.973-9.973"
									transform="translate(-1250.407 -176.779)"
									fill="none"
									stroke="#a06e64"
									stroke-miterlimit="10"
									stroke-width="1"
								/>
								<line
									id="Line_442"
									data-name="Line 442"
									x2="7.384"
									y2="7.384"
									transform="translate(16.131 7.86)"
									fill="none"
									stroke="#a06e64"
									stroke-miterlimit="10"
									stroke-width="1"
								/>
								<line
									id="Line_443"
									data-name="Line 443"
									y1="7.384"
									x2="7.384"
									transform="translate(0.944 7.86)"
									fill="none"
									stroke="#a06e64"
									stroke-miterlimit="10"
									stroke-width="1"
								/>
								<g
									id="Rectangle_154"
									data-name="Rectangle 154"
									fill="none"
									stroke="#a06e64"
									stroke-width="1"
								>
									<rect width="24" height="16" stroke="none" />
									<rect
										x="0.5"
										y="0.5"
										width="23"
										height="15"
										fill="none"
									/>
								</g>
							</svg>
						</div>
						<p>ANNA.VASKANE@VASTINT.EU</p>
					</div>
				</a>
			</div>
		</div>
		<div class="bot">
			<div class="col-4">
        <!-- <div class="checkbox cursor-plus">
          <b-field>
            <b-checkbox v-model="checkBox1" :native-value="true"></b-checkbox>
          </b-field>
        </div> -->

        <Checkbox :content="checkBox1Content" v-model="agreedToTermsAndServies"></Checkbox><p>{{$t('form.privacyOne')}} <NuxtLink :to="'/'+ selectedLocale +'/privacy'" class="cursor-plus">{{$t('form.privacyLink')}}</NuxtLink>{{$t('form.privacyOneContinued')}}</p></div>
			<div class="col-4"><p>{{$t('form.privacyTwo')}} <a href="https://mailchimp.com/legal/privacy/" target="_blank" class="cursor-plus">{{$t('form.privacy')}}</a> {{$t('form.and')}} <a href="https://mailchimp.com/legal/terms/" target="_blank" class="cursor-plus">{{$t('form.userAgreement')}}</a>.</p></div>
			<div class="col-4"><p>{{$t('form.privacyThree')}} <a :href="'mailto:' + $t('form.emailTwo')" class="cursor-plus">{{$t('form.emailTwo')}}</a>.</p></div>
		</div>
		<div class="form-popup" :class="{'show': formResponse}">
			<div v-if="formResponse == 'success'" v-html="$t('form.response.success')"></div>
			<div v-if="formResponse == 'fail'" v-html="$t('form.response.fail')"></div>
			<div class="close-pop-up cursor-plus" @click="closePopUp">
				<img src="/images/burger/close.png" alt=""/>
			</div>
		</div>
	</div>
</template>
<script>
import formMixin from '~/mixins/formMixin';

export default {
	mixins: [formMixin],
	props: [],
	data() {
		return {
			models: this.initModels(),
			formResponse: null,
      agreedToTermsAndServies: true
		};
	},
	computed: {
    checkBox1Content() {
      return {
        title: '',
        values: {
          title: 'box1',
          values: 1
        },
        translate: false
      }
    },

		selectedLocale() {
			return this.$i18n.locale;
		},
	},
	methods: {
		initModels() {
			const urldata = JSON.stringify(this.$route.query)
			return {
				language    : this.formNewLanguageModel(),
				fullname    : this.formNewModel(),
				telephone   : this.formNewModel(),
				email       : this.formNewModel(),
				urldata		: {
					value: urldata,
					message: null
				}
			}
		},
		closePopUp() {
			this.formResponse = null
		},
		submit(e) {
      if (this.agreedToTermsAndServies) {
        this
        .formAxiosPromise('subscribe', this.models)
        .then((response) => {
          this.models = this.initModels();
          this.formResponse = response.data
        })
        .catch((error) => {
          this.formSetFieldMessages(this.models, error.response.data)
        })
        .finally(() => {
        })
      }
		},
	},
	mounted() {},
	watch: {
    checkBox1(newVal,oldVal) {
      
    },
    checkBox2(newVal,oldVal) {
      
    },
		formResponse(oldVal,newVal) {
			let me = this
			window.setTimeout(function() {
				me.formResponse = null
			}, 3500)
		}
	}
};
</script>
<style lang="scss" scoped>
.apply-form {
	.form-popup {
		position: fixed;
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
		display: flex;
		width: 276px;
		height: 276px;
		padding: 30px;
		background-color: $beige;
		border: 1px solid $pitch;
		z-index: 999;
		opacity: 1;
		transition: top 0s ease, opacity 0.3s ease;
		&:not(.show) {
			top: -50%;
			opacity: 0;
			transition: top 1.9s ease, opacity 0.3s ease;
		}
		p {
			font-size: 18px;
		}
		.close-pop-up {
			position: absolute;
			bottom: 21px;
			right: 21px;
			width: 19px;
			height: 19px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	fieldset {
		padding: 8px 0px;
		border: unset;
	}
    padding: 61px 96px 83px 96px;
    width: 1205px !important;
    max-width: 1205px !important;
    background-color: $bronze;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    h3,h4,p {
        color: $pitch !important;
    }
    h3 {
        font-size: 83px;
        line-height: 68px;
    }
    h4 {
		line-height: 40px;
        font-size: 52px;
    }
    .left, .right {
        display: flex;
        flex-direction: column;
    }
    .left {
		padding-right: 116px;
		max-width: 60%;
		flex: 0 0 60%;
        h3 {
            word-spacing: 999px;
        }
        form {
            margin-top: 60px;
            width: 100%;
            .form-input {
                width: 100%;
                &:not(:first-child) {
                    margin-top: 18px;
                }
                input {
                    padding-left: 10px;
                    width: 100%;
                    height: 46px;
                    background-color: transparent;
                    border: 1px solid $pitch;
                    color: $pitch;
					letter-spacing: 3.5px;
					text-transform: uppercase;
					font-size: 11px;
                    &::placeholder {
						color: $pitch;
						text-transform: uppercase;
                    }
					&.is-invalid {
						border-color: rgba($color: $beige, $alpha: 1.0);
					}
                }
            }
            .submit-btn {
                height: 46px;
                width: 175px;
                margin-top: 20px;
                border-radius: 50px;
                border: unset;
                background-color: $pitch;
                &:hover {
                    cursor: pointer;
                }
                span {
                  color: $bronze;
                  font-weight: 600;
                  letter-spacing: 3px;
                  font-size: 11px;
                  text-transform: uppercase;
                  font-family: $third-font;
                }
            }
        }
    }
    .right {
		max-width: 40%;
		flex: 0 0 40%;
        .top {
            h4 {
                margin-top: 10px;
            }
        }
        .bot {
            margin-bottom: 65px;
			margin-top: auto;
			.seller {
				margin-bottom: 21px;
				h4 {
					margin-bottom: 15px;
				}
				p {
					font-size: 12px;
                    letter-spacing: 3.5px;
					text-transform: uppercase;
				}
			}
			.row {
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
				height: 51.5px;
				margin-left: -75px;
                p {
                    font-size: 12px;
                    letter-spacing: 3.5px;
					text-transform: uppercase;
                }
				&:not(:first-child) {
					margin-top: 10px;
				}
				&.email.row, &.phone.row {
					margin-top: 10px;
				}

			}

        }
    }
	> .bot {
		max-width: 100%;
		flex: 0 0 100%;
		display: flex;
		margin-top: 21px;
		p {
			font-size: 13px;
		}
		.col-4 {
			max-width: 33.33%;
			flex: 0 0 33.33%;
			padding: 8px;
      > p {
        display: inline;
      }
      .checkbox {
        display: inline-block;
      }
			a {
				text-decoration: underline;
			}
		}
	}
    .circle-icon {
        margin-right: 23px;
		width: 51.5px;
		min-width: 51.5px;
        height: 51.5px;
        border-radius: 50%;
        background-color: $pitch;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
</style>
