<template>
    <div class="full-container" :style="styles">
        <div v-if="hasImage" class="bg-image">

        </div>
        <div v-if="hasHtmlImage" class="image-container">
            <img :src="source" alt=""/>
        </div>
        <div v-if="hasVideo" class="bg-video">
            <video ref="video" autoplay="true" muted="true" loop="true" class="bg-video-wrapper" poster="images/home/videoposter.jpg">
                <source :src="source" type="video/mp4">
            </video>
        </div>
    </div>

</template>
<script>
export default {
	props: [
        "media",
        "source"
        ],
	data() {
        return {}
    },
    computed: {
        hasHtmlImage() {
            return this.media == 'html-image'
        },
		hasImage() {
            return this.media == 'image'
        },
        hasVideo() {
            return this.media == 'video'
        },
         styles() {
            return {
                "--bg-image-medium": `url(${this.global_statically(this.source, 2000)})`,
                "--bg-image-large": `url(${this.global_statically(this.source, 4000)})`
            };
        }
	},
	methods: {},
	mounted() {
    if(this.hasVideo) {
        this.$refs.video.volume = 0
        this.$refs.video.muted = true
        this.$refs.video.play()
    }
  },
};
</script>
<style lang="scss" scoped>
.full-container {
    width: 100%;
    height: 100%;
}
.image-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    img {
        height: 100%;
        width: auto;
    }
}
.bg-image ,.bg-video {
	width: 100%;
	height: 100%;
}
.bg-image {
    background-image: var(--bg-image-medium);
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 2001px) {
        background-image: var(--bg-image-large);
    }
}
.bg-video {
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    .bg-video-wrapper {
        width: 100%;
        object-fit: cover;
    }
    video {
        width: 100%;
        height: auto;
    }
    video::-webkit-media-controls-fullscreen-button {
        display: none !important;
    }
}
</style>
