<template>
  <div class="carousel-wrapper">
    <div class="carousel-prev" @click="prevSlide"></div>
    <div class="carousel-next" @click="nextSlide"></div>
    <VueSlickCarousel
      ref="slick"
      v-if="showCarousel && code"
      v-bind="slickOptions"
    >
      <div
        v-for="(slide, index) in content"
        :key="slideId(slide)"
        class="slide slide-wrapper"
        :v-if="code===true"
      >
        <p v-if="code" class="apartment-code">{{slide.bedroom_code}}</p>
          <img :src="slide.path | statically(865)" :alt="`'apartment code ${slide.bedroom_code}'`"/>
      </div>
    </VueSlickCarousel>

    <VueSlickCarousel
      ref="slick"
      v-if="showCarousel && code == false"
      v-bind="slickOptions"
    >
      <div
        v-for="(slide, index) in content"
        class="slide bg-image"
        :key="slideId(slide)"
      >
        <div
          class="img-wrapper"
          :class="{'img-contain' : imageContain }"
          :style="{ backgroundImage: 'url(' + global_statically(slide.path, 1250) + ')' }"
          :alt="`slider gallery image ${slideId(slide)}`"
        >
        </div>

      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
export default {

  props: {
    content: {
      type: Array,
      default: () => {
        return [];
      },
    },
    code: Boolean,
    imageContain: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      showSlick: true,

      slickOptions: {
        slidesToScroll: 1,
        slidesToShow: 1,
        arrows: false,
        infinite: true,
        pauseOnHover: true,
        dots: true,
      },
    };
  },
  methods: {

    isWide(slide) {
      if (slide.hasOwnProperty('layout') && slide.layout.hasOwnProperty('image_base')) {
        if (slide.layout.image_base.info.width > slide.layout.image_base.info.height) {
            return true
        }
      } else {

      }
    },
    prevSlide() {
      this.$refs.slick.prev()
    },
    nextSlide() {
      this.$refs.slick.next()
    },
    /**
     * Maybe unique ID for slide means that VUE knows
     * what to do when slides changes.
     *
     * Later Real Image ID could be used
     */
    slideId(slide) {
      let id = Math.floor(Math.random() * 100);
      return id;
    }
  },

  computed: {

    showCarousel() {
      // Main rule.
      if (!this.showSlick) {
        return false;
      }

      // Other rules
      let doShow = false;
      let content = this.content;

      if (content.length > 0) {
        doShow = true;
      }

      // mybe some other tests will be needed
      return doShow;
    }
  },

  mounted() {
  },

  watch: {
    content(newVal, oldVal) {
      let me = this;

      /**
       * Hide slider for one tick
       * so it refreshes
       */
      me.showSlick = false;
      this.$nextTick(() => {
          me.showSlick = true;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.carousel-wrapper {
  height: 665px;
  position: relative;
  .carousel-prev,.carousel-next {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 50%;
    z-index: 700;
    @media(max-width: 950px) {
      display: none;
    }
  }
  .carousel-prev {
    left: 0px;
  }
  .carousel-next {
    right: 0px;
  }
  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    width: 100% !important;
    height: 100% !important;

    object-fit: cover;
    object-position: center;
  }
  .slide-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    img {
      height: 100% !important;
      width: auto !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &.wide {
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

</style>
