<template>
    <div class="full-container intro-new" :style="styles">
        <div v-if="hasImage" class="bg-image">
            
        </div>
        <div v-if="hasVideo" class="bg-video">
            <video>
                <source :src="content.media" type="video/mp4">
            </video>
        </div>
        <Headline v-if="content.headline && !noDecor" :content="content.headline"></Headline>
        <SectionIndex v-if="index && !noDecor" :index="index"></SectionIndex>
        <slot></slot>
    </div>

</template>
<script>
export default {
	props: {
        index:null,
        media:null,
        content:null,
        noDecor: {
            type: Boolean,
            default: false,
        },
    },
	data() {
        return {}
    },
    computed: {
        hasHtmlImage() {
            return this.media == 'html-image'
        },
		hasImage() {
            return this.media == 'image'
        },
        hasVideo() {
            return this.media == 'video'
        },
        styles() {
            return {
                "--bg-image-medium": `url(${this.global_statically(this.content.media, 2100)})`,
                "--bg-image-large": `url(${this.global_statically(this.content.media, 4000)})`
            };
        }
	},
	methods: {},
	mounted() {},
};
</script>
<style lang="scss" scoped>
.full-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.image-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    img {
        height: 100%;
        width: auto;
    }
}
.bg-image ,.bg-video {
	width: 100%;
	height: 100%;
}
.bg-image {
    background-image: var(--bg-image-medium);
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 2101px) {
        background-image: var(--bg-image-large);
    }
}
.bg-video {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
        width: 100%;
        height: auto;
    }
}
</style>