<template>
	<div class="filter-item-apartment" :class="data.is_duplicate == true ? 'is-duplicate has-bronze-color' : ''">
    <div class="col col-1">
      <p v-if="data.is_duplicate" class="has-bronze-color v-medium-text left">{{$t('filter_single.good_price')}}</p>
      <p class="apt-nr v-small-text"> {{$t('filter_list.apt_nr')}} {{data.nr}}</p>
      <p class="address v-medium-text">{{data.address}}</p>
      <div class="type">
        <div v-if="data.furnished !== 'empty'" class="type-box noborder">
          <FurnishedFully v-if="data.furnished == 'fully'" />
          <FurnishedPartially v-if="data.furnished == 'partially'" />
        </div>
        <div class="type-box">
          <p class="v-small-text">{{data.block_type}}</p>
        </div>
        <p class="v-small-text">{{data.code}}</p>
      </div>
      <div class="chevron">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
          <g id="Chevron-Down" transform="translate(-355 -299)">
            <rect id="Rectangle_362" data-name="Rectangle 362" width="22" height="22" transform="translate(355 299)" fill="#f0f4f0"/>
            <path id="Path_665" data-name="Path 665" d="M-8410.96-2137l8,8-8,8" transform="translate(8772.96 2439)" fill="none" stroke="#19191c" stroke-width="1.2"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="col col-2">
      <p class="v-tiny-text center">{{$t('filter_list.bedrooms')}}</p>
      <p class="medium-text-3 center">{{data.bedrooms}}</p>
    </div>
    <div class="col col-3">
      <p class="v-tiny-text center">{{$t('filter_list.area')}}</p>
      <p class="medium-text-3 center">{{data.area}}</p>
    </div>
    <div class="col col-4">
      <p class="v-tiny-text center">{{$t('filter_list.floor')}}</p>
      <p class="medium-text-3 center">{{romanWriting(data.floor)}}</p>
    </div>
    <div class="col col-5">
      <p v-if="data.is_duplicate && data.rent_price_with_heating" class="has-bronze-color v-small-text left">{{$t('filter_list.price_with_heating')}}</p>
      <p v-else class="v-tiny-text left">{{$t('filter_list.price')}}</p>
      <p v-if="data.is_duplicate && data.rent_price_with_heating" class="has-bronze-color v-medium-text left">€{{data.rent_price_with_heating}}</p>
      <p v-else class="v-medium-text left">€{{data.price}}</p>
      <div class="price-type-box left">
        <p class="v-small-text">
          {{data.is_for_rent ? $t('filter_list.rent') : $t('filter_list.buy')}}
        </p>
      </div>
    </div>
	</div>
</template>
<script>

export default {
  props: {
    data: Object
  },
  mounted() {
  },
  data() {
    return {
      romanNumbers: {
        1: 'I',
        2: 'II',
        3: 'III',
        4: 'IV',
        5: 'V',
        6: 'VI'
      }
    }
  },
  methods: {
    romanWriting(number) {
      return this.romanNumbers[number]
    }
  },
  computed: {
  },
};
</script>
<style lang="scss" scoped>
@use '@/assets/variables';

.filter-item-apartment {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid $pitch;
  align-items: center;
  align-content: center;
  .col {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    justify-content: center;
    max-width: 235px;
    min-width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    .center {
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
    .type {
      display: flex;
      align-content: center;
      align-items: center;
    }
    .type-box {
      width: 28px;
      height: 18px;
      border: 1px solid $pitch;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-right: 10px;
      &.noborder {
        border: none;
      }
    }
    .price-type-box {
      display: flex;
      width: fit-content;
      padding-left: 9px;
      padding-right: 9px;
      border: 1px solid $pitch;
      border-radius: 20px;
    }
    &.col-1 {
      margin-left: 0px;
      margin-right: auto;
    }
    &.col-2,&.col-3,&.col-4, &.col-5 {
      max-width: 165px;
      flex: 0 0 165px;
    }
    &.col-2,&.col-3,&.col-4 {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        bottom: 13px;
        right: 1px;
        width: 1px;
        height: 40px;
        background-color: $pitch;
      }
    }
    &.col-3 {
      max-width: 180px;
      flex: 0 0 180px;
    }
    &.col-4 {
      max-width: 125px;
      flex: 0 0 125px;
    }
    &.col-5 {
      max-width: 220px;
      flex: 0 0 220px;
      margin-bottom: auto;
    }

  }
}
</style>
