<template>
	<div class="apply-form container flex-container">
		<div class="left">
			<h4>{{$t('form.enterEmail')}}</h4>
			<b-form @submit.prevent.stop>

				<b-form-group  :state="formGetFieldState(models.email)">
					<div class="form-input">
						<b-form-input
							:state="formGetFieldState(models.email)"
							v-model="models.email.value"
							type="text"
							name="email"
							id="email"
							:placeholder="$t('form.email')"
							class="cursor-plus"
						/>
					</div>
				</b-form-group>
				<b-button class="submit-btn submit-green cursor-plus" type="submit"  @click="submit">{{$t('form.signUp')}}</b-button>
			</b-form>
		</div>

		<div class="form-popup" :class="{'show': formResponse}">
			<div v-if="formResponse == 'success'" v-html="$t('form.response.success')"></div>
			<div v-if="formResponse == 'fail'" v-html="$t('form.response.fail')"></div>
			<div class="close-pop-up cursor-plus" @click="closePopUp">
				<img src="/images/burger/close.png" alt=""/>
			</div>
		</div>
	</div>
</template>
<script>
import formMixin from '~/mixins/formMixin';

export default {
	mixins: [formMixin],
	props: [],
	data() {
		return {
			models: this.initModels(),
			formResponse: null
		};
	},
	computed: {
		selectedLocale() {
			return this.$i18n.locale;
		},
	},
	methods: {
		initModels() {
			return {
				email       : this.formNewModel(),
			}
		},
		closePopUp() {
			this.formResponse = null
		},
		submit(e) {
			this
			.formAxiosPromise('apartments/layout/sendpdf/'+1+'/'+this.selectedLocale, this.models)
			.then((response) => {
				this.models = this.initModels();
				this.formResponse = response.data
			})
			.catch((error) => {
				this.formSetFieldMessages(this.models, error.response.data)
			})
			.finally(() => {
			})
		},
	},
	mounted() {},
	watch: {
		formResponse(oldVal,newVal) {
			let me = this
			window.setTimeout(function() {
				me.formResponse = null
			}, 3500)
		}
	}
};
</script>
<style lang="scss" scoped>
.apply-form {
	.form-popup {
		position: fixed;
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
		display: flex;
		width: 276px;
		height: 276px;
		padding: 30px;
		background-color: $beige;
		border: 1px solid $pitch;
		z-index: 999;
		opacity: 1;
		transition: top 0s ease, opacity 0.3s ease;
		&:not(.show) {
			top: -50%;
			opacity: 0;
			transition: top 1.9s ease, opacity 0.3s ease;
		}
		p {
			font-size: 18px;
		}
		.close-pop-up {
			position: absolute;
			bottom: 21px;
			right: 21px;
			width: 19px;
			height: 19px;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	fieldset {
		padding: 8px 0px;
		border: unset;
	}
    padding: 61px 96px 83px 96px;
    width: 1205px !important;
    max-width: 1205px !important;
    background-color: $green;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    h3,h4,p {
        color: $pitch !important;
    }
    h3 {
        font-size: 83px;
        line-height: 68px;
    }
    h4 {
		line-height: 40px;
        font-size: 52px;
    }
    .left, .right {
        display: flex;
        flex-direction: column;
    }
    .left {
		padding-right: 116px;
    padding-left: 116px;
		max-width: 100%;
		flex: 0 0 100%;
        h3 {
            word-spacing: 999px;
        }
        form {
            margin-top: 30px;
            width: 100%;
            .form-input {
                width: 100%;
                &:not(:first-child) {
                    margin-top: 18px;
                }
                input {
                    padding-left: 10px;
                    width: 100%;
                    height: 46px;
                    background-color: transparent;
                    border: 1px solid $pitch;
                    color: $pitch;
					letter-spacing: 3.5px;
					text-transform: uppercase;
					font-size: 11px;
                    &::placeholder {
						color: $pitch;
						text-transform: uppercase;
                    }
					&.is-invalid {
						border-color: rgba($color: $beige, $alpha: 1.0);
					}
                }
            }
            .submit-btn {
                height: 46px;
                width: 175px;
                margin-top: 20px;
                border-radius: 50px;
                border: unset;
                background-color: $pitch;
                &:hover {
                    cursor: pointer;
                }
                span {
                  color: $green;
                  font-weight: 600;
                  letter-spacing: 3px;
                  font-size: 11px;
                  text-transform: uppercase;
                  font-family: $third-font;
                }
            }
        }
    }

}
</style>
