<template>
	<div class="radio cursor-plus">
    <b-radio ref="btn" v-model="myValue" name="filter"
    :native-value="content.values">{{$t(title)}}</b-radio>
	</div>
</template>
<script>


export default {
  props: {
    skipSecond: Boolean,
    value: null,
    content: Object,
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    title() {
      if (this.skipSecond && this.content.values == 2) {
        return this.content.title.split('_')[0] + '_3'
      }
      return this.content.title
    },
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
};
</script>
<style lang="scss" scoped>
.radio {

}
</style>
