<template>
	<div class="range-slider">
    <div class="texts">
      <div class="left">
        <p class="e-tiny-text">{{$t('filter_list.from')}} <span v-html="global_fixSquareMeters('m2')"></span></p>
        <p class="v-small-text">{{myValue[0]}}</p>
      </div>
      <div class="right">
        <p class="e-tiny-text">{{$t('filter_list.to')}} <span v-html="global_fixSquareMeters('m2')"></span></p>
        <p class="v-small-text">{{myValue[1]}}</p>
      </div>
    </div>
    <b-field>
      <b-slider v-model="myValue" lazy :tooltip="false" :min="content.minVal" :max="content.maxVal" :step="0.1">
      </b-slider>
    </b-field>
	</div>
</template>
<script>


export default {
  props: {
    value: Array,
    content: Object
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    myValue: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
};
</script>
<style lang="scss" scoped>
.range-slider {
  .texts {
    display: flex;
    .left {
      margin-left: 0px;
      margin-right: auto;
    }
    .right {
      margin-right: 0px;
      margin-left: auto;
    }
  }
}
</style>
