<template>
	<div class="switch-list" :class="{'disabled': disabledField}">
    <b-field>
      <b-switch v-model="myValue" :disabled="disabledField" :native-value="content.values">
        <FurnishedFully v-if="content.base == 'fully'" />
        <FurnishedPartially v-if="content.base == 'partially'" />

        <span>{{ $t(content.title) }}</span>
      </b-switch>
    </b-field>
	</div>
</template>
<script>
/*
      values: [
        {base: 'fully', value: true},
        {base: 'partially', value: false}
      ]
*/
export default {
  props: {
    value: null,
    content: null,
    defaultVal: null,
    disabledField: false,
    choices: Array,
  },
  computed: {
    myValue: {
      get() {
        return this.value.find(choice => choice.base == this.content.base)?.value || this.defaultVal
      },
      set(newVal) {  
        const newValues = this.value.map(choice => {
          if (choice.base === this.content.base) {
            return {base: choice.base, value: newVal}
          }
          return JSON.parse(JSON.stringify(choice))
        })
        this.$emit('input', newValues)
      }
    }
  },
};
</script>
<style lang="scss" scoped>
.switch-list {
  :deep(.control-label) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
</style>
