<template>
	<div class="switch-container" :class="{'disabled': disabledField}">
    <b-field>
      <b-switch v-model="myValue" :disabled="disabledField" :native-value="content.values">{{content.hasOwnProperty('text') ? $t(content.text) : content}}</b-switch>
    </b-field>
	</div>
</template>
<script>


export default {
  props: {
    value: null,
    content: null,
    defaultVal: null,
    disabledField: false
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    myValue: {
      get() {        
        if (this.disabledField) {
          return this.defaultVal
        }
        return this.value.values;
      },
      set(newVal) {

        this.$emit('input', newVal)
      }
    }
  },
};
</script>
<style lang="scss" scoped>
.switch-container {

}
</style>
