<template>
  <div class="text-carousel-wrapper">
    <VueSlickCarousel
      ref="slick"
      v-bind="slickOptions"
      v-if="content[0].link"
    >
      <a
        v-for="(slide, index) in content"
        class="box text-slide"
        :key="index"
        :href="slide.link"
      >
        <p class="title">{{slide.title}}</p>
        <p class="text" v-html="global_fixSquareMeters(slide.text)"></p>
        <img v-if="slide.image && !imgWrap" :src="'../'+slide.image" alt=""/>
        <div v-else-if="slide.image && imgWrap" class="img-wrap">
          <v-lazy-image :src="(slide.image) | statically(273)" alt=""/>
        </div>
      </a>

    </VueSlickCarousel>

    <VueSlickCarousel
      ref="slick"
      v-bind="slickOptions"
      v-else
    >
      <div
        v-for="(slide, index) in content"
        class="box text-slide"
        :key="index"
      >
        <p class="title">{{slide.title}}</p>
        <p class="text" v-html="global_fixSquareMeters(slide.text)"></p>
        <v-lazy-image v-if="slide.image" :src="(slide.image) | statically(273)" alt=""/>
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
export default {

  props: {
    content:null,
    imgWrap:null
  },
  data() {
    return {
      showSlick: true,

      slickOptions: {
        initialSlide:0,
        slidesToScroll: 1,
        slidesToShow: 1,
        arrows: false,
        infinite: true,
        pauseOnHover: true,
        dots: true,
      },
    };
  },

  methods: {
    /**
     * Maybe unique ID for slide means that VUE knows
     * what to do when slides changes.
     *
     * Later Real Image ID could be used
     */

  },

  computed: {

  },

  mounted() {},

  watch: {

  }
};
</script>

<style lang="scss" scoped>
.carousel-wrapper {
  height: 665px;

}
</style>
